.right-navigation-wrapper > .cmp-container .form-container-component.form-yellow-wrapper {
  background-color: #FFCB05 !important; }
  .right-navigation-wrapper > .cmp-container .form-container-component.form-yellow-wrapper .icon-text .icon-style {
    background: linear-gradient(#004C6C, #003946); }

.right-navigation-wrapper > .cmp-container .form-container-component .cmp-form-options--drop-down {
  width: 100%;
  margin: 6px 0 16px 0; }
