<template data-sly-template.view="${ @ buttonObj}">

	<a href="${buttonObj.link @ extention = 'html'}" target="${buttonObj.target}" data-toggle="" data-title="${buttonObj.dataTitle}" class="${buttonObj.spacing} sl-btn btn ${buttonObj.buttonType}">
		<span data-sly-test="${!buttonObj.iconPosition}" class="icon-before">
			  <i class="icon-class fa ${buttonObj.icon}" role="presentation"></i>
		</span>
		${buttonObj.text}
		<span data-sly-test="${buttonObj.iconPosition}" class="icon-after"><i class="icon-class fa ${buttonObj.icon}" role="presentation"></i></span>
	 </a>
</template>

<a>
   
	

