@import '../../../base/core';
.featured-content-list-tools.social-icon-rte-wrapper {
    ul {
        li {
            &:not(:last-child) {
                border-bottom: 2px dotted $light-grey-color;    
            }
            .icon-parent {
                padding:0;
            }
            .icon-texts {
                padding-bottom: 0;
            }
        }
    } 
}