@import "../../../base/core";

.mega-menu-wrapper-desk {
	.aem-GridColumn--default--10 {
		.aem-Grid--default--6 {
			.aem-Grid--default--3 {
				.text {
					.cmp-text {
						padding-left: 0;
						ul {
							padding-left: 0!important;
						}
					}
				}
			}
		}
		.text {
			.cmp-text {
				ul {
					li {
						&:before {
							content: '';
						}
					}
				}
			}
		}
	}
	.aem-GridColumn.aem-GridColumn--default--10 {
		>.cmp-container {
			padding: 48px 24px;
			.row div[class^="col-"]{
				padding: 0;
			}
		}
	}
	.cmp-container {
		div[class^="col-"]{
			.text {
				.cmp-text {
					ul {
						margin-left: 0;
						li{
							padding:5px 0;
							line-height: 16px;
							&:before{
								display:table-cell;
							}
						}

					}
				}
			}
		}
	}
}

.nav-active {
	> span {
		border-bottom: 2px solid $medium-blue-color;
	}
}

.mega-menu-wrapper-desk .lists-wrapper .links {
    float: right;
}
