a {
  color: #002D3D; }
  a:hover {
    color: #004C6C; }

/* Footer Styles */
#mainfooter {
  background-color: #F3EEEE; }
  #mainfooter .row[data-section="footer-middle-layer"] > div {
    border-top: 1px solid #ffffff; }
    #mainfooter .row[data-section="footer-middle-layer"] > div:last-child .lists-wrapper .links a {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: #424242; }

.view-all-category:after {
  color: #d0651e; }

/* Not mobile styles starts here */
@media (min-width: 768px) {
  #mainfooter .social-link-icon-wrapper ul {
    transform: none; } }

/* Not mobile styles starts here */
/* Turn bullet points to #D0651E as per DSM */
.cmp-text ul li::before, .text-section ul li::before, .icon-texts ul li::before, .article-wrapper .article-body ul li::before {
  color: #d0651e; }
