@import '../../../base/core';
.button-wrapper {
    .primary-blue-button {
        background-color: $medium-blue-color;
        color: $white-shade;
    }
    .primary-yellow-button {
        background-color: $medium-yellow-background;
        color: $medium-blue-color;
    }
    .secondary-button {
        background-color: $transparent;
        color: $medium-blue-color;
        border: 2px solid $medium-blue-color;
    }
}