div.druglist table {
    border: none;
    font-size: 16px;
    width: 100%;
    table-layout: fixed;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
div.druglist table thead tr {
    border-bottom: 1px solid #000;
    height: 60px;
}
div.druglist table tbody tr {
    cursor: pointer;
    height: 60px;
    border-bottom: 1px solid #e1e1e1;
}
div.druglist table th,
table td {
    text-align: left;
    padding: 20px;
}
div.druglist table tbody {
    box-sizing: border-box;
}
div.druglist .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
div.druglist .no-display{
    display: none;
}

div.druglist .loading-spinner {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}
div.druglist .loading-spinner ::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
div.druglist .loading-spinner p {
    font-family: agenda-medium-webfont, helvetica-neue, helvetica, arial, sans-serif;
}
div.druglist .loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari and Chrome */
    -o-transform: translate(-50%, -50%); /* Opera */
    -moz-transform: translate(-50%, -50%); /* Firefox */
    width: 100%;
    color: #003946;
}
div.druglist .loading-container p {
    font-size: 16px;
    margin: 0;
}
div.druglist .white-container {
    margin: 20%;
    width: 90%;
    max-width: 300px;
    border-radius: 6px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-color: white;
    height: 300px;
}
div.druglist .fa-spinner {
    font-size: 64px !important;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}