@import "../../../base/core";
@import "../../../../core/components/content/container/style";

.company-highlight-blue-yellow-background {
    @extend .company-highlight-yellow-grey-background;
    background: linear-gradient(to bottom, $medium-blue-color 50%, $light-grey-20 50%);
    .cmp-text {
        color: $white-shade;
    }
}

/** For display graphic yellow ring image in background for desktop**/
@media (min-width: $desktop-screen-min) {
    .company-highlight-blue-yellow-background {
        background: url(/content/dam/sunlife/internal/source/images/yellow_rings.jpg) right top no-repeat, linear-gradient(to bottom, $medium-blue-color 50%, $light-grey-20 50%);
    } 
}
