@import '../../../base/core';

/* Stripe apearing on the very top of the header */
.yellow-stripe {
  background: #FFCB05; /* For browsers that do not support gradients IE9 and older */ 
  background-image: linear-gradient(to left, $medium-orange 10%, $cherry-red 40%, $dark-maroon 90%);
}

.full-header{
  a:hover{
   color: $dark-blue;   
  }

  .utility-nav-wrapper .utility-nav-links {
    .lang-btn {
      color: $dark-blue;
    }
    .srch-btn::after{
      color: $dark-blue;
    }
  }

  .slf-header-wrapper{
    /* Mobile header styles start here */
    .slf-mobile-header-wrapper{
      .mobile-header-navbar {
        .mobile-sign-in-box {
          .mobile-signin-icon {
            color: $dark-blue;      /* Mobile sign-in color */
          }
        }
        .hamburger-menu{
          .navbar-toggle {
            .icon-bar{
              background: $dark-blue;      /* Hamburger menu icon color */
            } 
          }
        }
      }
      .hamburger-menu-wrapper {         /* Hamburger menu styles here */
        .language-region {
          .mobile-language-region .tab-content {
            background-color: $white-smoke;
          }
        }
        .close-hamburger-menu {
          color: $dark-blue;
        }
        .second-level-navigation {
          background: $white-smoke;
          .go-back {
            background-color: $dark-blue;
            &::before{
              color: $white-shade;
            }
            a {
              color: $white-shade;
            }
          }
        }
        .third-level-navigation {
          background: $white-smoke;
        }
        .navigation-menu a {
          color: $dark-blue;
        }
        .hamburger-search {
          background: $light-grey-shade-color;
          .slf-search-mobile .form-wrapper .input-wrapper{
            .search-field{
              background: $light-grey-shade-color;
            }
          }
        }
      }
    }
    /* Mobile header styles end here */
    .desktop-header-wrapper{
      .desktop-header-content{ 
        .desktop-utility-nav {
          .utility-nav-wrapper {
            .utility-nav-links {
              padding-top: 8px;
              .srch-btn {
                padding: 0;
              }
            }
          }
        } 
        .desktop-sign-button .signIn-button .button-class { /* Desktop sign-in styles */
          color: $dark-blue;
          &:hover{
            background: $dark-blue !important;
          }
        }
        /* Desktop mega-menu styles start here */
        .desktop-mega-menu {
          .dropdown {
            .dropdown-menu{
              p {
                padding-left: 20px;
              
              }
              .list-unstyled {
                padding-left: 20px;
              }
              .aem-Grid {
                > .text, > .container-component{
                  padding: 20px 0;
                }
              }
              .mega-menu-wrapper-desk {
                .links{
                  h1, h2, h3, h4, h5, h6 {
                    margin-top: 10px;
                    padding-left: 20px;           
                  }
                }
                a{
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }
    /* Desktop mega-menu styles end here */
  }
}

.full-header.public-header:lang(fr) {
  .arrow .dropdown-toggle {
    padding-left: 8px !important;
    padding-right: 8px !important; 
  }
  .slf-header-wrapper {
    .desktop-header-wrapper {
      .desktop-header-content {
        .desktop-sunlife-navigation{
          .desktop-navigation{
            margin-left:160px;
          }
        }
      }  
    }
  }
}
/*
//the signin button breaks to next line when making screen size smaller due to large margins
@media (min-width: $tab-screen-max) and (max-width: 1280px){
  .desktop-header-wrapper{
    .desktop-header-content{ 
      .desktop-sunlife-navigation {
        .desktop-navigation{
          margin-left: 164px !important;
        }
      }
    }
  }
  #signinbutton:lang(fr) {
    margin-top: -54px !important;
    padding-top: 4px !important;
    padding-bottom: 5px !important;
}
}
*/
@media(max-width:$tab-screen-max){ 
  .margin-top-fifty {
    margin-top: 50px !important;
  }
}