<sly data-sly-use.list="ca.sunlife.web.cms.core.models.AnnouncementList">
    <sly data-sly-test="${list.newsType == '2'}">
        <div class="announcement-list-container">
                <ul class="clearfix" id="tertiary" data-sly-list.yearsToShow="${list.yearsToShow}">
                    <li class="${yearsToShow == list.activeYear ? 'cmp-tabs__tab cmp-tabs__tab--active' : 'cmp-tabs__tab'}" >
                        <a x-cq-linkchecker="skip" href="${list.relativeURL}/${yearsToShow}/">
                            <span class="slf-tab-title">${yearsToShow}</span>
                        </a>
                    </li>
                </ul>
                <div data-sly-repeat.yearsTab="${list.yearsToShow}" role="tabpanel" tabindex="0" class="${yearsTab == list.activeYear ? 'cmp-tabs__tab cmp-tabs__tab--active' : 'cmp-tabs__tab'}" data-cmp-hook-tabs="tabpanel">
                    <sly data-sly-test="${yearsTab == list.activeYear}">
                        <dl class="news-listing" data-sly-test.announcementPresent="${list.listItems}" data-sly-list="${list.listItems}">
                            
                                <div class="news-article">
                                    <sly data-sly-list.element="${item.elements}">
                                        <sly data-sly-test="${element.name == 'newsroomPagePath'}" data-sly-test.pageLink="${element.value}" />
                                        <sly data-sly-test="${element.name == 'newsroomHeading'}" data-sly-test.headline="${element.value}" />
                                        <sly data-sly-test="${element.dataType == 'calendar'}" data-sly-use.tpl="sunlife/core/components/templates/calendar.html" data-sly-test.date="${element.value}" />
                                        <sly data-sly-test="${element.name == 'newsroomMiniDesc'}" data-sly-test.miniDesc="${element.value}" />
                                    </sly>

                                    <dt data-sly-call="${tpl.element @ date = date, format = list.dateFormat, pageLocale = list.pageLocale}"></dt>
                                    <dd>
                                        <a class="title" href="${pageLink @ extension = 'html'}">${headline}</a>
                                        ${miniDesc @context='html'}
                                    </dd>

                                </div>

                            <sly data-sly-test="${!announcementPresent}">
                                <div class="news-article">
                                    <p>${list.noNewsMessage @ context='html'}</p>
                                </div>
                            </sly>

                        </dl>
                         <sly data-sly-test="${list.pagination.totalPages>1}">
                                <sly data-sly-test="${list.pagination}" data-sly-use.tpl="sunlife/core/components/templates/pagination.html" data-sly-call="${tpl.pagination @ paginationObj = list.pagination, pageUrl = list.pageUrl}" />
                            </sly>
                        </div>
                    </sly>
                </div>
        </div>
    </sly>
</sly>
<div data-sly-test="${!list.parentPath}" class="cq-placeholder" data-emptytext="${component.title}"></div>
