
// //   CDT-2251
// /* COMMIT: https://bitbucket.sunlifecorp.com/projects/DESIGN_SYS/repos/ui-components-react/commits/fcea1820e9c51ee7063bb9cfb443ccb1d0a18486 */
// /* cards.scss */

// .sl-cards.horizontal .card .card-body {
//     flex-shrink: 0;
//   }

// CDT-2242 Issue 2 and 3
  /* COMMIT: https://bitbucket.sunlifecorp.com/projects/DESIGN_SYS/repos/ui-components-react/commits/270781f431b0aae7420c800e74789c0c4d9df48e */
  /* header.scss */
  /* tab */
  @include media-breakpoint-down(lg) {
    .sl-header .sl-nav .utility-nav-item-container {
      height: 4.5rem;
    }
    .sl-header .sl-nav .sl-logo img {
      min-width: 8rem;
      min-height: 2rem;
    }
  }
  /* mob */
  @include media-breakpoint-down(sm) {
    .sl-header .sl-nav .utility-nav-item-container {
      height: 3.5rem;
    }
    .sl-header .sl-nav .sl-logo img {
      min-width: 7rem;
      min-height: 1.75rem;
    }
  }

  // CDT-2242 Issue 5 and 6
  /* COMMIT: https://bitbucket.sunlifecorp.com/projects/DESIGN_SYS/repos/ui-components-react/commits/6d862327d1a0b47a35f7eeb10666523ae7e87936 */
  /* megaMenu.scss */
  @include media-breakpoint-down(lg) {
    .sl-mega-menu .dropdown .main-nav-item-container {
      align-items: center;
    }
  }
  @include media-breakpoint-up(lg) {
    .sl-mega-menu
      .dropdown
      .dropdown-menu
      .extensive-menu
      .menu-header-container {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

//   CDT-2250
  /* COMMIT: https://bitbucket.sunlifecorp.com/projects/DESIGN_SYS/repos/ui-components-react/commits/1d14cfd05df7e251b8b4b63f5df2df48111e8c07 */
  /* banner.scss */
  .sl-banner.login .login-form {
    background-color: rgba(249, 250, 250, 0.95);
  }
  .sl-banner.default .card-img-overlay .dark {
    background-color: rgba(0, 57, 70, 0.92);
  }
  .sl-banner.default .card-img-overlay .neutral {
    background-color: rgba(255, 255, 255, 0.92);
  }
  .sl-banner.default .card-img-overlay .bright {
    background-color: rgba(255, 248, 224, 0.92);
  }
  
