@import 'bootstrap/scss/mixins';
@import '@sunlife/ui-styles/base/variables.scss';

//Footer 1.1 from Helios
.sl-footer {
    width: 100%;
  
    .container {
      padding-top: 6rem;
      padding-bottom: 2.5rem;
    }
  
    .sl-divider {
      margin: 0;
    }
  
    ul {
      padding-left: 0;
      list-style: none;
      margin: 0;

      &.footer-menu-list {
        position: inherit !important;
        inset: inherit !important;
        transform: none !important;
      }

    }
    .footer-menu-items {
      margin: 0;
      line-height: 1.313rem;
  
      a {
        @include sl-body-small;
        text-decoration: none;
  
        &:hover {
          text-decoration-line: underline;
        }
  
        &:focus-visible {
          outline: solid 0.125rem var(--brand-tertiary-500);
        }
      }
    }
  
    .footer-menus-container {
      width: 100%;
  
      // Default - screen size is greater than md
      .footer-menus {
        margin: 1.5rem 0; //SPACE FOR DIVIDER
  
        .footer-menu {
          padding: 0;
          margin: 0;
  
          .footer-menu-header {
            @include sl-body-medium;
            margin-bottom: 1rem;
          }
        }
  
        .footer-menu-items {
          padding: 0 0 0.5rem 0;
  
          &:last-child {
            padding: 0;
          }
  
          a {
            cursor: pointer;
            padding: 0.25rem 0.5rem;
            position: relative;
            left: -0.5rem;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
          }
        }
      }
  
      // Dropdown - screen size is md and lower
      .footer-menu.footer-menus-dropdown {
        border-bottom: solid;
        border-bottom-width: 0.063rem;
        border-color: var(--grey-300);
        &:last-child {
          border: none;
        }
  
        .footer-menu-header {
          padding: 1.5rem 0;
          display: flex;
          justify-content: space-between;
          margin: 0;
          width: 100%;
          border: none;
          border-radius: 0;
          background-color: transparent;
          text-align: left;
  
          .menu-content {
            flex: 1;
          }
  
          .sl-icon {
            vertical-align: middle;
          }
          &[aria-expanded='true'] .fa-chevron-down {
            transform: rotate(180deg);
          }
  
          &:focus-visible {
            outline: solid 0.125rem var(--brand-tertiary-500);
          }
        }
        ul {
            margin-bottom: 1.5rem !important;
            position: unset !important;
            inset: unset !important;
            transform: none !important;
            border: none;
            padding: 0;
        }
  
        .footer-menu-items {
          padding: 0.5rem 0;
  
          a {
            padding: 0 0.5rem;
          }
        }
      }
  
      @include media-breakpoint-down(lg) {
        .footer-menus {
          margin: 0;
        }
      }
    }
  
    .footer-content-container {
      .footer-content {
        margin: 1.5rem 0; //SPACE FOR DIVIDER
  
        .footer-tagline {
          @include sl-h4;
          margin: 0 0 0.5rem 0;
        }
        .footer-body {
          @include sl-body-small;
          margin: 0 0 0.5rem 0;
          color: var(--grey-900);
        }
        .footer-copy {
          @include sl-body-small;
          margin: 0;
          color: var(--grey-700);
        }
      }
    }
  
    .footer-utility-menu-container {
      .footer-utility-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        &.col-gap {
          column-gap: 3.5rem;
        }
  
        .footer-utility-submenu {
          .footer-menu-items {
            @include sl-body-small;
            display: flex;
  
            a:focus-visible {
              padding: 4px 8px;
              margin: -4px -8px;
            }
  
            .sl-divider.vr {
              margin: auto 1.5rem;
            }
          }
        }
  
        .footer-utility-submenu,
        .footer-icons-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 0.5rem;
          flex-wrap: wrap;
        }
        .footer-icon-tag-container {
          flex: 1;
          display: flex;
          justify-content: space-between;
          @include media-breakpoint-down(lg) {
            flex-direction: column;
          }
          &.flex-0 {
            flex: 0;
          }
        }
  
        .footer-menu-items,
        .footer-icons-container .sl-social-media {
          margin-top: 1rem;

          a {
            color: var(--black);
          }

          .fa-youtube {
            height: 2rem;
            width: 2rem !important;
          }
        }
  
        @include media-breakpoint-down(lg) {
          flex-direction: column;
          align-items: baseline;
  
          .footer-utility-submenu,
          .footer-icons-container {
            justify-content: initial;
            align-items: center;
          }
        }
  
        .acronym-text {
          @include sl-body-small;
          margin-top: 1.5rem;
        }
      }
    }
  
    .footer-lang-dropdown.footer-lang-dropdown {
      margin: 0 0 24px 0;
      padding: 0;
  
      .sl-menu-dropdown {
        @include media-breakpoint-down(lg) {
          width: 100%;
        }
      }
      .dropdown-toggle.nav-link.utility-nav-item-container {
        padding: 0;
        @include sl-body-medium;
  
        .dropdown-label-icon {
          .sl-icon {
            vertical-align: bottom;
            margin-right: 0.5rem;
          }
        }
  
        .dropdown-label {
          padding-right: 0.5rem;
          margin-right: 0;
        }
  
        .sl-icon {
          vertical-align: middle;
        }
  
        @include media-breakpoint-down(lg) {
          padding: 16px 0;
        }
      }
  
      .dropdown-menu {
        top: calc(100% + 16px);
  
        a.dropdown-item,
        button.dropdown-item {
          @include sl-body-small;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          &.active,
          &:active {
            @include sl-body-small-bold;
            padding-left: 22px;
            padding-right: 22px;
          }
        }
  
        @include media-breakpoint-down(lg) {
          position: relative;
          top: 100%;
          padding: 0;
        }
      }
      @include media-breakpoint-down(lg) {
        margin: 0;
      }
    }
  
    @include media-breakpoint-down(lg) {
      .container {
        padding-top: 5.5rem;
        padding-bottom: 2.5rem;
      }
    }
  
    @include media-breakpoint-down(md) {
      .container {
        padding-top: 5rem;
        padding-bottom: 2rem;
      }
    }
  }