<sly data-sly-use.newsArticle="ca.sunlife.web.cms.source.models.NewsArticleModel"></sly>
<sly data-sly-test.notEmpty="${newsArticle.fragmentPath}">
   <div class="news-article-wrapper">
      <div>
         <h1 data-sly-test="${newsArticle.articleData.heading}" class="heading-2">
            ${newsArticle.articleData.heading}
         </h1>
		 <div data-sly-test="${newsArticle.checkboxDisplayTags && newsArticle.tagList}" class="article-tags">
            <sly data-sly-list="${newsArticle.tagList}">
               <span class="tag" data-sly-test="${item != 'Unavailable'}">${item}</span>
            </sly>
         </div>
         <div data-sly-test="${!newsArticle.checkboxHideDate}" class="date">
            ${newsArticle.articleData.publishedDate}
         </div>
      </div>
      <section class="article-body">
         ${newsArticle.articleData.articleContent  @context='html'}
         <div><sly data-sly-resource="${'layout-container' @ resourceType=newsArticle.layoutResourceType}"></sly></div>
      </section>
      <sly data-sly-test="${newsArticle.checkboxDisplayRating}">
         <!--/* Rating  Goes here */-->
		 <sly data-sly-test.rateStoryVar = '${"rateStory" @ i18n}' />
         <div data-component-render="react" data-component-render-name="article-ratings" data-component-render-props='{"rateStory":"${rateStoryVar}", "apiPath":"${request.RequestPathInfo.ResourcePath}"}'>
         	<sly data-sly-test="${wcmmode.edit}">Article ratings updated</sly>
         </div>
      </sly>
      <sly data-sly-test="${newsArticle.checkboxDisplayComments}">
         <!--/* Comments Goes here */-->
		 <sly data-sly-test.commentsVar = '${"comments" @ i18n}' />
		 <sly data-sly-test.commentsToolTipVar = '${"commentsToolTip" @ i18n}' />
		 <sly data-sly-test.writeCommentVar = '${"writeComment" @ i18n}' />
		 <sly data-sly-test.addCommentVar = '${"addComment" @ i18n}' />
		 <sly data-sly-test.deleteCommentVar = '${"deleteComment" @ i18n}' />
		 <sly data-sly-test.deleteCommentConfirmVar = '${"deleteCommentConfirm" @ i18n}' />
		 <sly data-sly-test.cancelVar = '${"cancel" @ i18n}' />
		 <sly data-sly-test.deleteVar = '${"delete" @ i18n}' />
		 <sly data-sly-test.editVar = '${"edit" @ i18n}' />
         <div data-component-render="react" data-component-render-name="article-comments" data-component-render-props='{"comments":"${commentsVar}", "commentsToolTip":"${commentsToolTipVar}", "writeComment":"${writeCommentVar}", "addComment":"${addCommentVar}", "deleteComment":"${deleteCommentVar}", "deleteCommentConfirm":"${deleteCommentConfirmVar}", "cancel":"${cancelVar}", "delete":"${deleteVar}", "edit":"${editVar}", "apiPath":"${request.RequestPathInfo.ResourcePath}"}'>
         	<sly data-sly-test="${wcmmode.edit}">Article comments updated</sly>
         </div>
      </sly>
   </div>
</sly>
<div data-sly-test="${!notEmpty}" class="cq-placeholder" data-emptytext="${component.title}"></div>