@import '../../../base/core';
@import '../../../../core/base/core.scss';

.editorial-hero-banner {
  .right-image-position, .left-image-position  {
    background: $white-smoke;
  }
}

.editorial-hero-banner.editorial-hero-banner-orange{
  .right-image-position, .left-image-position  {
    background: $light-orange-20;
  }
}
.round-border {
  img {
      border: 4px solid $cinnamon-orange;
  }
}

.circle-150-desktop, .circle-220-desktop, .circle-150-mobile{
  .left-item{
    background-image: none;
  }
}

//from mobile to ipad (not ipad pro since css is different for ipad pro
@media (min-width: $mobile-screen-min) and (max-width: 1023px){
  .banner-section {
      .hide-in-editorial.text-section{
          margin: 0 27px;
      }
  }
}