{{>core-components-content-button}}
<div class="modal fade sign-in-modal-wrapper" data-section="header-sign-in" id="signin-widget-modal" role="dialog">
        <div class="modal-dialog sign-in-modaldialog">
                <!-- Modal content-->
                <div class="modal-content modal-main horizontal-middle-align ca-modal">
                        <div class="modal-header signin-modal-header">
                                <button type="button" class="fa fa-remove collapse-x close-modal" aria-label="Close"
                                        data-dismiss="modal" id="closeSignInModal">
                                </button>
                                <img src="//cdn.sunlife.com/static/canada/signin/ca/loadingimg.gif" width="350"
                                        height="251" class="loading" alt="">
                        </div>
                        <div class="modal-body">
                                <div class="slf-icon-reg">
                                        <span class="icon-reg fa fa-user fa-inverse fa-stack-1x"></span>
                                </div>
                                <div class="login-container" id="signin-widget">
                                        <h4 id="customerSignInHeader" class="customerSignInHeader">Client sign in</h4>
                                        <div class="download-app">
                                                <a href="/content/sunlife/external/ca/en/support/sign-in-help/my-sun-life-mobile.html"
                                                        target="_blank">
                                                        <img alt="Sun Life App"
                                                                src="https://www.sunlife.ca/static/slfglobal/globalweb/responsive/images/en/sunlife-app-logo.png" />
                                                </a>
                                                <div class="download-text">
                                                        <p>For the best mobile experience</p>
                                                        <p class="download-text-bold">download the my Sun Life app</p>
                                                </div>
                                        </div>
                                        <form name="form_signon_modal" id="form_signon" action="" method="post">
                                                <input name="SMENC" type="hidden" value="ISO-8859-1">
                                                <input name="SMLOCALE" type="hidden" value="US-EN">
                                                <input name="DOMAIN" type="hidden" value="CONSUMER">
                                                <input name="CONTEXT" type="hidden" value="INTERNET">
                                                <input name="LANGUAGE" type="hidden" value="E">
                                                <input name="PLATFORM" type="hidden" value="WEB">
                                                <input name="SIGNINSITE" type="hidden" value="SLF">
                                                <input name="LOGLANG" type="hidden" value="en-ca">
                                                <input name="ESTABLISHSESSION" type="hidden" value="TRUE">
                                                <input name="REQUESTTYPE" type="hidden" value="SUBMIT">
                                                <input name="REDIRECTPATH" type="hidden">
                                                <input name="ERRORREDIRPATH" type="hidden"
                                                        value="https://sit.sunnet.sunlife.com/signin/mysunlife/home.wca?refer=caHome">
                                                <input name="TARGET" type="hidden"
                                                        value="https://sit.sunnet.sunlife.com/mbrportal/req/secure/login/sunlife">
                                                <input name="SMAGENTNAME" type="hidden" value="">
                                                <input name="REALMOID" type="hidden" value="">
                                                <input name="ClientIP" id="ClientIP" type="hidden" value="">
                                                <input name="SAVEIDIDENTIFIER" type="hidden" value="SLFMEMBER">
                                                <input name="SCREENRES" type="hidden" value="">
                                                <input name="BROWSERID" type="hidden" value="">
                                                <input name="BROWSERVER" type="hidden" value="">
                                                <input name="BROWSERDESC" type="hidden" value="">
                                                <input name="SAVEIDSUBMISSION" type="hidden" value="FALSE">
                                                <input name="LOGONUSINGSAVEID" type="hidden" value="FALSE">
                                                <input name="ESAVEID" type="hidden">
                                                <div class="form-group">
                                                        <div class="help-block" id="generalError" style="display:none;">
                                                                <span id="ERROR_HTML" name="ERROR_HTML">&nbsp;
                                                                </span><span id="APOL_HTML"
                                                                        name="APOL_HTML">&nbsp;</span></div>
                                                </div>
                                                <div role="group" aria-labelledby="form_signon">
                                                        <div class="form-group form-first" id="userIdDiv">
                                                                <label class="sr-only" id="accessIDModalLabel"
                                                                        for="USER">Access ID</label>
                                                                <input name="USER" id="USER" class="accessid"
                                                                        type="text" placeholder="Email/Access ID"
                                                                        autocomplete="off"
                                                                        aria-label="Enter email/acess Id" />
                                                        </div>
                                                        <div class="form-group form-second text-left">
                                                                <input name="SAVEIDCHECK" id="rememberIDModal"
                                                                        type="checkbox" onclick="remember(this)"
                                                                        class="accessid" />
                                                                <label id="remembermelabel" class="remeberme"
                                                                        for="rememberIDModal">
                                                                        Remember me</label>
                                                        </div>
                                                </div>
                                                <label class="sr-only" for="PASSWORD"> Password</label><input
                                                        name="PASSWORD" class="password-input" id="PASSWORD"
                                                        type="password" placeholder="Password" autocomplete="off"
                                                        aria-label="Enter Password">
                                                <input class="btn btn-blue" onclick="CheckClicksCa(event)"
                                                        type="submit" alt="Sign in" value="Sign in" />
                                        </form>
                                        <p class="signin-links"><span class="signin-help-link">
                                                        <a href="/content/sunlife/external/ca/en/support/sign-in-help.html"
                                                                target="_blank">Sign-in help</a> </span>
                                                <span class="signin-register">
                                                        <a href="https://stage.sunnet.sunlife.com/mysunlife/signin/register/bregister.asp"
                                                                target="_blank">Register</a>
                                                </span>
                                                <span class="sr-only" aria-hidden="true"> now</span>
                                        </p>
                                        <div class="signin-terms">By signing in, you agree to these<a
                                                        href="/content/sunlife/external/ca/en/support/sign-in-help/terms-and-conditions.html"
                                                        target="_blank">terms and conditions.</a>
                                        </div>
                                        <div class="sign-plans"><a
                                                        href="/content/sunlife/external/ca/en/support/sign-in-help/plan-sponsor-and-advisors.html"
                                                        class="signin-sponsor" target="_blank">Plan sponsors and
                                                        advisors</a>
                                        </div>
                                </div>
                                <div class="login-container" id="contigency-widget" style="display: none;">
                                        <h4 id="contingency-customerSignInHeader">Client sign in</h4>
                                        <p>Please sign in through mySunlife.ca</p>
                                        <button class="btn btn-blue mar-left-10" id="blockpagebutton"
                                                style="width: auto;"
                                                onclick="window.location.href='https://stage.sunnet.sunlife.com/signin/mysunlife/home.wca'; return false;"
                                                type="submit">Sign in</button>
                                        <p class="mar-top-10">Not registered? <a style="display: inline-block;"
                                                        href="https://stage.sunnet.sunlife.com/Registration/register.wca"
                                                        target="_blank">Register<span class="sr-only"
                                                                aria-hidden="true"> now</span></a></p>
                                        <p class="pad-top-30"><a
                                                        href="/content/sunlife/external/ca/en/support/sign-in-help/plan-sponsor-and-advisors.html"
                                                        class="signin-sponsor" target="_blank">&nbsp;Plan sponsors and
                                                        advisors</a></p>
                                        <p class="signin-terms">By signing in, you agree to these <a
                                                        href="/content/sunlife/external/ca/en/support/sign-in-help/terms-and-conditions.html"
                                                        target="_blank">terms and conditions.</a></p>
                                </div>
                        </div>
                </div>
        </div>
</div>