@import '../../../base/core';
#form_signon {

    .help-block:before,
    .arrow-help-block:before {
        content: '\f12a';
        font-family: FontAwesome;
        color: $white-shade;
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .help-block {
        margin-bottom: 10px;
    }

    .help-block,
    .arrow-help-block {
        background: $medium-red-color;
        color: $white-shade !important;
        position: relative;
        min-height: 48px;
        top: 6px;
        padding: 10px 10px 4px 17px;
        text-align: left;
    }

    [type="checkbox"]:disabled+label {
        color: $grey-checkbox-color;
        opacity: 0.4;
    }

    [type="checkbox"]:disabled {
        color: $grey-checkbox-color;
        opacity: 0.4;
    }
}

.sign-in-modal-wrapper {

    //styles for contigency-widget for signin
    #contigency-widget {
        #blockpagebutton {
            width: 100% !important;
        }

        .mar-top-10 {
            margin-top: 10px !important;
        }

        .pad-top-30 {
            padding-top: 30px !important;
        }

        .signin-terms {
            padding-top: 8px;
            margin-bottom: 5px;
            margin-top: 0px;
            line-height: 24px;
        }
    }

    //styles for contigency-widget for signin end
    opacity: 1;
    background-color: $background-black-ovrelay-color;
    padding: 0;
    position: fixed;
    padding-left:0;

    .sign-in-modaldialog {
        position: relative;
        margin-top: 30px;
    }

    .modal-main {
        background: $medium-yellow-background;
        padding: 24px 24px 40px 24px;
        width: 366px;
    }

    .modal-body {
        padding: 0;
    }

    .signin-modal-header {
        border-bottom: none;
        padding: 10px 24px;
    }

    .close-modal {
        background: none;
        border: none;
        position: absolute;
        top: 24px;
        right: 24px;
        color: $medium-blue-color;

        .collapse-x {
            font-size: 1rem;
        }
    }

    .slf-icon-reg {
        border: 2px solid $white-shade;
        border-radius: 100%;
        margin: 0 auto;
        position: relative;
        font-size: 2rem;
        height: 60px;
        width: 60px;
        background: linear-gradient($medium-blue-color, $blue-gradient-color);
    }

    .icon-reg {
        top: 18px;
    }

    .fa-inverse {
        color: $white-shade;
    }

    .form-first {
        margin-bottom: 6px;
        color: $dark-grey-color;
    }

    .accessid {
        width: 317px;
        padding: 0 10px;
        height: 48px;
        border: 1px solid $light-grey-color;
    }

    .password-input {
        width: 317px;
        padding: 0 10px;
        height: 48px;
        border: 1px solid $light-grey-color;
        color: $dark-grey-color;
    }

    .login-container {
        text-align: center;
        margin-top: 16px;

        .btn-blue {
            width: 100%;
            height: 48px;
            margin-top: 16px;
            background: $medium-blue-color;
            color: $white-shade;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 700;
            border-radius: 4px;
        }

        .signin-links {
            font-size: 0.8125rem;
            padding-top: 16px;
            display: inline-block;
            margin-bottom: 32px;
            width: 100%;

            .signin-help-link {
                float: left;
                line-height: 18px;

                a {
                    font-size: 0.875rem;
                    line-height: 18px;
                }
            }

            .signin-register {
                @extend .signin-help-link;
                float: right;
            }
        }

        .signin-terms {
            margin-top: -11px;
            font-size: 0.875rem;
            display: inline-block;
            margin-bottom: 40px;
            line-height: 18px;
            width: 100%;

            a {
                font-size: 0.875rem;
                display: block;
                line-height: 18px;
            }
        }

        .signin-plans {
            a {
                font-size: 1rem;
            }
        }

        .signin-sponsor:before {
            font-family: FontAwesome;
            content: "\f0a9";
            margin-right: 5px;
            color: $dark-grey-color;
        }

        .download-app {
            background: $light-cool-blue-color;
            height: 66px;
            width: 364px;
            margin-left: -25px;
            padding: 8px 24px;
            margin-bottom: 16px;
            text-align: center;

            a {
                font-weight: 400;
                float: left;

                img {
                    border-radius: 6px;
                    width: 50px;
                    height: 50px;
                }
            }

            .download-text {
                line-height: 20px;
                padding-top: 5px;

                p {
                    margin: 0;
                }

                .download-text-bold {
                    color: $medium-blue-color;
                    font-weight: 700;
                }
            }
        }

        .sign-plans {
            margin-top: -1px;
            font-size: 0.875rem;
            line-height: 18px;
        }
    }

    .customerSignInHeader {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 24px;
        margin-top: 0;
    }

    .form-second {
        margin-bottom: 16px;
    }

    .remeberme {
        font-size: 1rem;
        font-weight: 400;
        margin: 0 0 0 30px;
    }

    input[type=checkbox] {
        height: 20px;
        width: 20px;
        margin: 2px 0 0 0px;
        transition: all 0.2s;
        padding-left: 1px;
    }

    input[type=checkbox]:checked {
        height: 20px;
        width: 20px;
    }
}

.modal-backdrop {
    position: relative;
}

.modal-open {
    padding-right: 0;
}

@media (max-width: 992px) and (min-width: $mobile-screen-min) {
    .sign-in-modal-wrapper {
        .modal-dialog.sign-in-modaldialog {
            margin: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (min-width: $tab-screen-min) {
    .sign-in-modal-wrapper {
        .download-app {
            display: none;
        }
    }
}

@media (max-width: $mobile-screen-max) {
    .sign-in-modal-wrapper {
        .customerSignInHeader {
            margin-bottom: 16px;
        }
    }
}