@import '../../../base/core';
.footer-copyright-wrapper{
  background-color: $dark-blue;
  .top-part{
    .slf-legal{
      > ul {
        line-height: 26px;
      }
    }
  }
}

#mainfooter {
  .row[data-section="footer-middle-layer"]{
    > div:last-child {
      .lists-wrapper {
        .links {
          a[href] {
            pointer-events: initial;
            cursor: pointer;
            color:$dark-blue;
          }
          a[href]:hover {
            color: #004C6C;
            text-decoration: underline; 
          }
        }
      }
    }
  }
}
/* Tablet Only Styles Start*/
@media (min-width: $tab-screen-min){
  .footer-copyright-wrapper{
    display: inline-flex;
    flex-direction: row-reverse;
    width: 100%;
    .bottom-part{
      width: 80%;
    }
  }
}
/* Tablet Only Styles End */

/* Mobile Only Styles Start*/
@media (max-width: $mobile-screen-max){
}
/* Mobile Only Styles End*/
