<sly data-sly-use.breadcrumb="ca.sunlife.web.cms.core.models.BreadcrumbModel"></sly>
<nav class="vertical-middle-align no-gutter clearfix ${wcmmode.edit ? 'breadcrumb-author' : ''}" aria-label="${'Breadcrumb' @ i18n}"  
	data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-test.hasItems="${breadcrumb.items.size > 0}" data-section="nav-breadcrumb">
    <div class="left-area">
        <ol class="breadcrumb-row" data-sly-list.navItem="${breadcrumb.items}">
            <li lang="${navitemList.index > 0 ? breadcrumb.langcode : ''}" class="${navItem.active ? 'active' : ''}" >
                <a href="${navItem.URL}" data-sly-unwrap="${navItem.active}">
                    <span >${navItem.title @context = 'html'}</span>
                </a>
            </li>
        </ol>
    </div>
    <div data-sly-test="${breadcrumb.socialShareReqd}" class="right-area">
		<div class="social-link-icon-wrapper" data-sly-resource="${'socialIcons' @ resourceType='sunlife/core/components/content/icon-text', selectors='breadcrumb' }"></div>
    </div>
</nav>
<div data-sly-element="${'script' @context='unsafe'}" data-sly-attribute.type="application/ld+json">
{
 "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":[
   	 <sly data-sly-list.navItem="${breadcrumb.items}">
     <sly data-sly-use.breadcrumbParsing = "${'breadcrumb-parsing.js' @ path=navItem.URL}">
	 {
        "@type": "ListItem",
		"position": ${navItemList.count},
		"name": "${navItem.title}",
		 "item": "${breadcrumbParsing.completeURL}"
     }
        </sly>
		<sly data-sly-test="${navItemList.count < breadcrumb.items.size}">,</sly>
        </sly>
	]
}
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=breadcrumb.items.size == 0, classAppend='cmp-breadcrumb'}"></sly>
