<sly data-sly-use.breadcrumb="com.adobe.cq.wcm.core.components.models.Breadcrumb"
	data-sly-use.breadcrumbModel="com.sunlife.core.models.Breadcrumb"> 
	<sly data-sly-test="${breadcrumbModel.startLevel}">
        <div class="breadcrumb-wrapper no-gutter" data-sly-test.hasItems="${breadcrumb.items.size > 0}">
                <ul role="navigation" aria-label="Breadcrumb" class="breadcrumb-row clearfix vertical-middle-align" itemscope itemtype="http://schema.org/BreadcrumbList" data-sly-list.navItem="${breadcrumb.items}">
                    <sly data-sly-test.isActive="${navItem.active}">
                        <li class="active">
                            <span >${navItem.title}</span>                                    
                        </li>
                    </sly>
                    <sly data-sly-test.isInactive="${!navItem.active}">
                        <li>
                            <a href="${navItem.URL}" data-sly-unwrap="${navItem.active}">
                                <span >${navItem.title}</span>
                            </a>
                        </li>
                    </sly>
                </ul>
			<div data-sly-test="${breadcrumbModel.socialShareReqd}" data-sly-resource="${'socialIcons' @ resourceType='sunlife/core/components/content/social-icons' }"></div>
        </div>
	</sly>
    	<div data-sly-test="${!breadcrumbModel.startLevel}" class="cq-placeholder" data-emptytext="${component.title}"></div>
</sly>


