<sly data-sly-use.listModel="ca.sunlife.web.cms.core.models.ListModel"/>
<sly data-sly-test.empty="${!listModel.title}" />
<div data-sly-test="${wcmmode.edit && empty}" class="cq-placeholder" data-emptytext="${component.title}"></div>
<div class="lists-wrapper clearfix" data-sly-test="${!empty}"> 
	<div class="links">
		<h3 class="accordion-heading" aria-expanded="false" tabindex ="0">${listModel.title}</h3>
			<div class="collapse list-div">				
				  <ul class="list-unstyled" data-sly-list.links="${listModel.links}">
					<li>
					   <a lang ="${links.langCode}" href ="${links.linkUrl @ extension = 'html'}" target ="${links.target}">${links.linkName}</a>
					 </li>
				  </ul>				
			</div>
	</div>
</div>