<div class="outage">
    <div class="outage-date">
         October 19, 2018     
    </div>
    <div class="outage-title">
        <h1>Return of Premium not displaying</h1>
    </div>
    <div class="outage-status">
        Status: Open
    </div>
    <div class="outage-description">
        Thanks to the rising popularity of probiotics, we’re now more aware than ever that not all bacteria is bad. In fact, some bacteria are good for you. Falling in the friendly category: probiotics, which are live bacteria or yeast that, when taken in sufficient amounts, can help to maintain good health.

        Mainstream understanding of probiotics links fermented foods like kimchi, miso and sauerkraut to health. But Natasha Haskey, registered dietitian and co-author of Gut Microbiota: Interactive Effects on Nutrition and Health, says that there are several misconceptions concerning probiotics:
    </div>
</div>