@import '../../../base/core';
.lifemoments-apac {
	background: url(/content/dam/sunlife/legacy/assets/slfglobal/globalweb/responsive/images/circleoutline_side.png) top center no-repeat,linear-gradient(#eaab00,#ffdd36);
	text-align: center;
	h2,h3,h4,h5,h6 {
		font-size: 2rem;
		line-height: 41px;
	}
	p {
		font-size: .875rem;
		line-height: 18px;
		padding-left: 20%;
		padding-right: 20%;
		margin: 0;
	}
	.links {
		.list-div {
			display: block;
			ul {
				min-height: 48px;
				margin: 16px 0 24px 0;
				display: inline-flex;
				li {
					text-align: center;
					align-items: center;
					justify-content: center;
					display: flex;
					flex: auto;
					padding-left: 24px;
					a {
						font-size: .875rem;
						line-height: 20px;
						font-weight: 400;
					}
					strong {
						font-size: 1.25rem;
						font-weight: 700;
					}
				}
			}
		}
	}
	.life-moments-wrapper-desktop {
		.links {
			.list-div {
				ul {
					li {
						&:not(:last-child) {
							&:after {
								content: "";
								display: block;
								border-right: 2px solid #fd0;
								margin: 10px auto;
								height: 35px;
								padding-right: 24px;
							}
						}
					}
				}
			}
		}
	}
	.bright-start {
		text-align: left;
	}
}
@media (max-width:767px) {
	.lifemoments-apac {
		background: url(/content/dam/sunlife/legacy/assets/slfglobal/globalweb/responsive/images/circleoutline_vertical.png) top center no-repeat,linear-gradient(#eaab00,#ffdd36);
		background-size: cover;
		height: auto;
		padding: 48px 16px;
		.life-moments-wrapper-desktop {
			display: none;
		}
		.links {
			.list-div {
				ul {
					display: block;
					margin-top: 24px;
					margin: 24px 0 48px 0;
					li {
						&:not(:last-child) {
							border: 0;
							padding-bottom: 24px;
						}
						text-align: left;
						padding-left: 0;
						padding-right: 0;
						a {
							&:after {
								font-family: FontAwesome;
								content: " \f105";
								font-weight: 100;
								float: right;
							}
						}
					}
				}
			}
		}
		.life-moments-wrapper-mobile {
			.links {
				.list-div {
					ul {
						li {
							display: block;
							a {
								width: 100%;
								font-weight: 700;
							}
						}
					}
				}
			}
		}
		img {
			display: none;
		}
	}
}
@media (min-width:768px) {
	.lifemoments-apac {
		h2,h3,h4,h5,h6 {
			padding-top: 20px;
		}
		.life-moments-wrapper-mobile {
			display: none;
		}
	}
}
