@import '../../../base/core';
.layout-container.product-card-wrapper{
    div[class^="col-"]{
        padding:0 15px;
    }
}
.product-card-wrapper{
    .thumbnail{
        padding: 0;
        &:hover {
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
            transform: scale(1.05, 1.05);
            z-index: 1;
        }
    }
    .feature-card {
        border-radius: 5px;
        background-color: $light-cool-blue-color ;
        box-shadow: 0px 0px 10px $light-grey-shade; //clarification pending
        .topright{
            display:block;
            position: absolute;
            top: 0px;
            right: 0px;
        }
        .imageCard{
            border-bottom: 2px solid $product-card-yellow-border;
        }
    }
    .topright{
        display:none;
    }
    .imageCard{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .caption{
        padding: 14px;
    }
    .product-name{
        font-size: 1rem;
        color: $blue-gradient-color;
        margin: 0;
        line-height: 120%;
    }
    p {
        color: $dark-grey-color;
        font-size: 1rem;
        margin-top: 5px;
        text-align: left;
        margin-bottom: 0px;
        line-height: 110%;
    }
    ul {
        margin-left: 14px;
        list-style: none;
        padding: 0;
        margin-bottom: 10px;
        li {
            font-size: 1rem;
            line-height: 110%;
        }
        li::before {
            content: "\2022";
            color: $blue-gradient-color;
            font-weight: bold;
            display: inline-block;
            width: 1rem;
            margin-left: -1em;
            font-size: 1rem;
        }
    }
    a {
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        text-indent: -100000px;
    }
}

@media (min-width: $mobile-screen-min) and (max-width: $tab-screen-max)
{
    .layout-container.product-card-wrapper{
        div[class^="col-"]{
           width: 100% !important;
        }
    }
    .product-card-wrapper{
        .imageCard{
            display: none;
        }
        .feature-card {
            border-radius: 5px;
            border-bottom: 2px solid $product-card-yellow-border;
        }
    }
}