@import '../../../base/core';
.layout-container.product-card-wrapper{
    div[class^="col-"]{
        padding:0 15px;
    }
}
.product-card-wrapper{
    .thumbnail{
        padding: 0;
        &:hover {
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
            transform: scale(1.05, 1.05);
            z-index: 1;
        }
    }
    .topright{
        display:none;
    }
    .imageCard{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .caption{
        padding: 14px;
    }
    .product-name{
        font-size: 16px;
        color: $blue-gradient-color;
        margin: 0;
        line-height: 26px;
    }
    p {
        color: $dark-grey-color;
        font-size: 16px;
        margin-top: 5px;
        text-align: left;
        margin-bottom: 0px;
    }
    ul {
        margin-left: 14px;
        list-style: none;
        padding: 0;
        li::before {
            content: "\2022";
            color: $blue-gradient-color;
            font-weight: bold;
            display: inline-block;
            width: 10px;
            margin-left: -1em;
            font-size: 16px;
        }
    }
    a {
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        text-indent: -100000px;
    }
}

@media (min-width: $mobile-screen-min) and (max-width: $tab-screen-max)
{
    .layout-container.product-card-wrapper{
        div[class^="col-"]{
           width: 100% !important;
        }
    }
    .product-card-wrapper{
        .imageCard{
            display: none;
        }
    }
}