<div class="modal slf-modal inputModal in" id="signin-widget-modal-hk" role="dialog" aria-describedby="form-body"
    aria-labelledby="customerSignInHeader" aria-modal="true" tabindex="-1" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content slf-r-gradient">
            <div class="modal-body" id="form-body"><button class="close-modal" aria-label="Close"
                    data-dismiss="modal"><span class="sr-only">Close signin</span> <span
                        class="fa fa-remove collapse-x">&nbsp;</span> </button> &nbsp;
                <!--<img width="350" height="251" class="loading" alt="" />-->
                <div>
                    <div class="mar-top-30">
                        <div class="slf-icon-reg"><span class="icon-reg fa fa-user fa-inverse fa-stack-1x"> </span>
                        </div>
                        <div id="phsigninerr"
                            style="color: #fff !important; background-color: #a4383d; position: relative; display: none;">
                            <center><strong>Server Error</strong></center>
                        </div>
                        <div id="signin-widget" class="login-container">
                            <div class="h4 text-center" id="customerSignInHeader">MY SUN LIFE</div>
                            <div class="h4 text-center mar-bottom-20">CLIENT ACCOUNT</div>
                            <div class="download-app hidden-md hidden-lg"><a style="font-size: 16px;"
                                    href="/PH/Insurance/Tools+and+services/The+Sun+Life+PH+mobile+app?vgnLocale=en_CA"
                                    target="_blank"> <img alt="Sun Life PH App"
                                        src="//cdn.sunlife.com/static/slfglobal/globalweb/responsive/images/en/sunlife-app-logo.png">For
                                    the best mobile experience download the <strong>Sun Life PH mobile app</strong></a>
                            </div>
                            <div><img src="https://cdn.sunlife.com/static/canada/signin/ca/loadingimg.gif" alt=""
                                    class="loading" width="350" height="251"
                                    style="z-index: 1000; position: absolute; display: none; top: 17%;"></div>
                            <div id="signErr"
                                style="background-color: #a4383d; position: relative; color: #ffffff !important; display: none; margin-bottom: 5%;">
                            </div>
                            <form role="form" id="form_signon" name="form_signon" method="" action="">
                                <div id="userIdDiv" class="form-group mar-bottom-20"><label for="accessIDHome"
                                        class="sr-only" style="display: block;">Email</label> <input autocomplete="off"
                                        type="text" name="USER" id="accessIDHome" placeholder="Email"></div>
                                <div id="passwordDiv" class="form-group mar-bottom-20"><label for="accessPasswordHome"
                                        class="sr-only" style="display: block;">Password</label> <input
                                        autocomplete="off" type="password" id="accessPasswordHome"
                                        class="password-input" placeholder="Password" name="PASSWORD"><input
                                        onclick="validateUser();" type="button"
                                        class="btn btn-blue mar-left-10 no-break" alt="LOGIN" value="LOGIN"
                                        style="padding: 0 !important;"></div>
                            </form>
                            <p class="signin-links"><a style="text-decoration: underline;"
                                    href="https://mobile.sunlife.com.ph/Sunlife/apps/services/www/Sunlife/mobilewebapp/default/index.html#/forgot-password"
                                    id="userIdForgot" target="_blank">Forgot Password?</a></p>
                            <p class="signin-terms mar-bottom-20"><a
                                    href="https://mobile.sunlife.com.ph/Sunlife/apps/services/www/Sunlife/mobilewebapp/default/index.html#/register"
                                    id="userIdRegiste" target="_blank">Register now</a></p>
                        </div>
                        <div id="contigency-widget" class="login-container" style="display: none;">
                            <div class="h4 text-center">CUSTOMER SIGN IN</div>
                            <p class="">Please sign</p>
                            <button id="blockpagebutton" onclick="" data-="" href="#" class="btn btn-blue mar-left-10"
                                type="submit" style="width: auto;">Sign in</button>
                            <p class="mar-top-10">Not registered? <a style="display: inline-block;" href="#"
                                    target="_blank">Register</a></p>
                            <p class="signin-terms"><a
                                    href="https://sv591529.ph.sunlife/Sunlife/apps/services/www/Sunlife/mobilewebapp/default/index.html#/register"
                                    target="_blank">Register now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>