<div class="articleList-wrapper"> 
 <!--<div class="articleList_editorial-wrapper"> -->
    <article class="cmp-contentfragment cmp-contentfragment--article-fragment-2" data-cmp-contentfragment-model="sunlife/models/article-model">

	<div class="articleImage--cmp-contentfragment__elements ">
		<img src="{{image-link}}">
	</div>
	
	<div class="cmp-contentfragment__elements ">
		<div class="articlePublishedDate" data-cmp-contentfragment-element-type="calendar">
			{{article-publish-date}}
		</div>
		<div class="articleHeadline" data-cmp-contentfragment-element-type="string">
			<p><a href="{{article-headline}}">Can Optimism Improve Your Finances?</a></p>
		</div>
		<div class="articleMiniDescription" data-cmp-contentfragment-element-type="string">
			<p>It may be hard to believe, but being optimistic can lead to better financial health. Can you really be optimistic even if you’re generally not a glass-half-full sort of person? Absolutely! Here’s how.</p>
		</div>
	</div>
</article>
<hr class="article-seperator">
</div>