<div class="articleList contentfragmentlist">

    <section class="cmp-contentfragmentlist">

        <article class="cmp-contentfragment cmp-contentfragment--article-fragment-2"
            data-cmp-contentfragment-model="sunlife/models/article-model">





            <dl class="cmp-contentfragment__elements">

                <div class="cmp-contentfragment__element cmp-contentfragment__element--articleImage"
                    data-cmp-contentfragment-element-type="string">
                    <dd class="cmp-contentfragment__element-value">



                        <img src="/content/dam/sunlife/getty-463028747-awards-and-recognition-rectangle.jpg">
                    </dd>
                </div>



                <div class="cmp-contentfragment__element cmp-contentfragment__element--articlePublishedDate"
                    data-cmp-contentfragment-element-type="calendar">
                    <dd class="cmp-contentfragment__element-value">




                        February 11, 2020




                    </dd>
                </div>



                <div class="cmp-contentfragment__element cmp-contentfragment__element--articleHeadline"
                    data-cmp-contentfragment-element-type="string">
                    <dd class="cmp-contentfragment__element-value">


                        <p><a
                                href="https://www.sunlife.ca/ca/Tools+and+Resources/Money+and+Finances/Managing+your+money?vgnLocale=en_CA">Can
                                Optimism Improve Your Finances?</a></p>


                    </dd>
                </div>



                <div class="cmp-contentfragment__element cmp-contentfragment__element--articleMiniDescription"
                    data-cmp-contentfragment-element-type="string">
                    <dd class="cmp-contentfragment__element-value">


                        <p>It may be hard to believe, but being optimistic can lead to better financial health. Can you
                            really be optimistic even if you’re generally not a glass-half-full sort of person?
                            Absolutely! Here’s how.</p>


                    </dd>
                </div>

            </dl>


        </article>



        <article class="cmp-contentfragment cmp-contentfragment--testing-article-3"
            data-cmp-contentfragment-model="sunlife/models/article-model">





            <dl class="cmp-contentfragment__elements">

                <div class="cmp-contentfragment__element cmp-contentfragment__element--articleImage"
                    data-cmp-contentfragment-element-type="string">
                    <dd class="cmp-contentfragment__element-value">



                        <img src="/content/dam/sunlife/sunlife-team-up-against-diabetes-en.jpg">
                    </dd>
                </div>



                <div class="cmp-contentfragment__element cmp-contentfragment__element--articlePublishedDate"
                    data-cmp-contentfragment-element-type="calendar">
                    <dd class="cmp-contentfragment__element-value">




                        February 12, 2020




                    </dd>
                </div>



                <div class="cmp-contentfragment__element cmp-contentfragment__element--articleHeadline"
                    data-cmp-contentfragment-element-type="string">
                    <dd class="cmp-contentfragment__element-value">


                        <p><a href="#">Q4 market update: How global trade concerns have affected the market</a></p>


                    </dd>
                </div>



                <div class="cmp-contentfragment__element cmp-contentfragment__element--articleMiniDescription"
                    data-cmp-contentfragment-element-type="string">
                    <dd class="cmp-contentfragment__element-value">


                        <p>The global economy in the fourth quarter sent mixed signals to investors. Here’s what
                            happened.</p>


                    </dd>
                </div>

            </dl>


        </article>



        <article class="cmp-contentfragment cmp-contentfragment--article-fragment-4"
            data-cmp-contentfragment-model="sunlife/models/article-model">





            <dl class="cmp-contentfragment__elements">

                <div class="cmp-contentfragment__element cmp-contentfragment__element--articleImage"
                    data-cmp-contentfragment-element-type="string">
                    <dd class="cmp-contentfragment__element-value">



                        <img src="/content/dam/sunlife/getty-463028747-awards-and-recognition-rectangle.jpg">
                    </dd>
                </div>



                <div class="cmp-contentfragment__element cmp-contentfragment__element--articlePublishedDate"
                    data-cmp-contentfragment-element-type="calendar">
                    <dd class="cmp-contentfragment__element-value">




                        February 18, 2020




                    </dd>
                </div>



                <div class="cmp-contentfragment__element cmp-contentfragment__element--articleHeadline"
                    data-cmp-contentfragment-element-type="string">
                    <dd class="cmp-contentfragment__element-value">


                        <p>Can optimism improve your finances?</p>


                    </dd>
                </div>



                <div class="cmp-contentfragment__element cmp-contentfragment__element--articleMiniDescription"
                    data-cmp-contentfragment-element-type="string">
                    <dd class="cmp-contentfragment__element-value">


                        <p>It may be hard to believe, but being optimistic can lead to better financial health. Can you
                            really be optimistic even if you’re generally not a glass-half-full sort of person?
                            Absolutely! Here’s how.</p>


                    </dd>
                </div>

            </dl>


        </article>

    </section>





</div>