@import 'bootstrap/scss/mixins';
@import '@sunlife/ui-styles/base/variables.scss';


@include media-breakpoint-up(md) {
 
    .form-container-component form .layout-container .button:has(.inline-button) {
        display: inline-block;
    }
    
    .form-container-component form .layout-container .inline-button {
        margin-right: 24px;
    }

    .sl-segmented-blocks.multi .card .grouped-form .sl-btn {
        width: 100%;
        max-width: inherit;
    }
}