@import '../../../base/core';

.right-navigation-wrapper{
    padding: 0;
    .content-label{
        text-align: center;
        margin: 20px 0;
        p{
            font-size: 18px;
            font-weight: 700;
        }
    }
    .yellow-horizontal-separator{
        width: 100%;
        .horizontal-middle-align{
            width: 40%;
        }
    }
    .right-nav-icon-text-wrapper{
        .icon-inside-trans{
            font-size: 2.250rem;
            cursor: pointer;
        }
    }
    .right-nav-link-wrapper{
        text-align: center;
    }
    .right-nav-cta-wrapper{
        background-color: $right-nav-cta-background;
        text-align: center;
        .right-nav-cta-button-wrapper{
            .CTA-wrapper{
                .button-class{
                    max-width: 100% ;
                    width: 100%;
                    margin: 15px 0 15px 0;
                }
                
            }
        }
    }
    .right-nav-form-wrapper{
        text-align: center;
        input{
           
            padding: 10px;
        }
        .demo-class{
            width: 100%;
        }
        input[type=submit],input[type=button]{
            width: 100%;
            max-width: 100%;
        }
    }
  
}

@media (min-width: 768px) and (max-width:1025px)
{
    .yellow-horizontal-separator{
        display: none;
    }
   
}