@import '../../../base/core';
.right-navigation-wrapper{
    padding: 0;
    text-align: center;
    background-color: $light-cool-blue-color;
    .lists-wrapper{
        .links{
            width: 100%;
            a{
                font-weight: 700;
            }
            .collapse {
                display: block !important;
            }
        }
        .accordion-heading[aria-expanded="false"]:before {
            display: none;
        }
    }
 
    .right-nav-cta-orange{
       background-color: $light-orange-20;
    }
    .yellow-horizontal-separator{
        width: 100%;
        .horizontal-middle-align{
            width: 40%;
        }
    }
    .CTA-wrapper{
        .button-class{
                max-width: 100% ;
                width: 100%;
                margin: 15px 0 15px 0;
            }
                
            }
    input[type=submit],input[type=button],input[type=text]{
            width: 100%;
            max-width: 100%;
            padding: 10px;
           
    }
    .button-wrapper .primary-blue-button{
        max-width: 100%;
        width: 100%;
    }
    .light-orange{
        background-color: $light-orange-20;
    }
    .cool-blue{
        background-color: $light-cool-blue-color;
    }
    .phone-numbers{
        font-family: 'sunlife-sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 120%; 
    }
    &>*{
        float: left;
       
    }
   
}
@media (min-width: $tab-screen-min) and (max-width:$tab-screen-max)
{
    .right-navigation-wrapper{
        .yellow-horizontal-separator{
            display: none;
        }
        &>*{
            
            padding: 15px;
            display: inherit;
            
        }
    }
   
}
