
@import 'bootstrap/scss/mixins';
@import '@sunlife/ui-styles/design-system.scss';
@import '@sunlife/ui-styles/base/variables.scss';
@import '@sunlife/ui-styles/components/header';


@mixin padding-utility-bar-region-menu {
  padding: 0.5rem 1rem 0.5rem 3rem;
  @include media-breakpoint-only(md) {
    padding: 0.5rem 1rem 0.5rem 5.75rem;
  }
  @include media-breakpoint-only(sm) {
    padding: 0.5rem 1rem 0.5rem 4rem;
  }
}
.sl-utility-bar, .sl-header{
  width: 100vw;
  left: 50%;
  margin-left: calc(100vw/-2);
}
.sl-utility-bar {
  position: relative;
  z-index: $zindex-fixed;
  @include media-breakpoint-down(lg) {
    display: none;
  }
  .content-container {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 2.5rem;
    li:first-child {
      margin-right: 0.5rem;
    }
    .menu-container{
      margin-right: 40px !important;
        .menu-list{
          display: flex;
          list-style: none;
          padding: 0;
         li:last-child {
           margin-right: 0;
           order: 1;
         }
         .menu-item{
          margin-right: 1.5rem;
         }
        }
    }
    .dropdown-menu {
      padding: 0;
      border: none;
      box-shadow: $box-shadow;
      margin-top: 0.125rem !important;
    }
    .dropdown-toggle, .menu-content {
      padding: 0.5rem 0.5rem;
      background: none;
      border: none;
      @include sl-body-medium;
      color: var(--grey-800);
      &::after {
        content: none;
      }
      @include focus-visible();
      &[aria-expanded=true]{ .fa-chevron-down {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform-origin: 50% 50%
       }
      }
      .dropdown-label{
        margin-right: 0.125rem;
      }
    }
    .region-menu {
      min-width: 51.5rem;
      height: 28.125rem;
      padding: 1.5rem;
      .region-content-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 1.5rem;
        column-gap: 4rem;
        padding-bottom: 1.5rem;
        height: 365px;
        .region-content {
          width: 13.5rem;
          .country-header {
            @include sl-body-medium;
            color: var(--grey-900);
            a {
              @include sl-body-medium;
              color: var(--grey-900);
              text-decoration: none;
              &:hover {
                text-decoration: underline;
                background: none;
              }
              &:active,
              &.active {
                @include sl-body-small-bold;
                color: var(--brand-tertiary-900);
                      }
              @include focus-visible();
            }
          }
          ul {
            list-style: none;
            padding: 0;
            margin: 1rem 0 0 0;
            a,
            button {
              &.dropdown-item {
                --bs-dropdown-link-active-bg: transparent; // $dropdown-link-active-bg
                @include sl-body-small;
                white-space: break-spaces;
                padding: 0;
                margin-top: 0.75rem;
                color: var(--grey-600);
                text-decoration: none;
                &:active,
                &.active {
                  @include sl-body-small-bold;
                  color: var(--brand-tertiary-900);
                }
                &:focus {
                  background: none;
                }
              }
              @include focus-visible();
              &:hover {
                text-decoration: underline;
                background: none;
              }
            }
          }
        }
      }
      hr {
        margin: 0 0 1rem 0;
      }
      .world-wide-content {
        padding: 0;
        text-decoration: none;
        @include sl-body-small;
        color: var(--grey-600);
        &:hover {
          text-decoration: underline;
          background: none;
        }
        @include focus-visible();
      }
    }
    @include media-breakpoint-up(lg) {
        .sl-menu-dropdown.sl-menu-dropdown .dropdown-menu {
          box-shadow:0 4px 8px 3px rgba(0,0,0,.08);
          padding: 1.5rem 0;
          width: 16.875rem;
        }
      }
    .sl-menu-dropdown {
      .utility-nav-item-container {
        padding: 0.5rem 0.5rem !important;
        &:hover {
          text-decoration: none !important;
        }
        .dropdown-label {
          padding-right: 0 !important;
          margin-right: 0.125rem; // aem customisation
        }
      }
      .dropdown-menu {
        li {
          margin: 0;
        }
      }
    }
  }
  .region-divider {
    border-top: 0.0625rem solid;
    margin: -0.125rem 0 0 0;
    display: block;
  }
}
.sl-divider{
.hr {
  border-top: .063rem solid;
  margin: .5rem 0;
  width: 100%
}
}
.header {
  position: sticky;
  z-index:  $zindex-sticky;
  @include media-breakpoint-up(lg) {
    top: -38.5px;
  }
  @include media-breakpoint-down(lg) { 
    top: 0;
  }
}
.sl-header{
  z-index: auto;
  position: relative;
  top: auto;
}
.sl-header-offcanvas {
  .offcanvas-header {
    .canvas-close {
      padding: 0;
    }
  }
  .offcanvas-body {  
    @include media-breakpoint-down(lg) {
      .nav-link {
        padding: 0;
        margin: 1.5rem 0;
        @include focus-visible(offcanvas);
        &.dropdown-toggle.nav-link.utility-nav-item-container {
          padding: 0;
        }
        .sl-icon{
          @include media-breakpoint-down(lg) {
            margin-left:auto;
            margin-right: 0.5rem;
          }
        }
      }
      .sl-utility-nav {
        .nav-link {
          margin: 1rem 0;
        }
      }
      .sl-utility-bar-offcanvas {
        .container{
          padding: 0;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          position: static !important;
          transform: none !important;
          inset: unset !important;
        }
        .sl-region-menu {
          .region-menu-container {
            .label-container {
              border-top: 0.063rem solid var(--grey-300);
              padding: 1rem 0;
              margin: 0 1rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              @include media-breakpoint-only(md) {
                margin: 0 3.75rem;
              }
              @include media-breakpoint-only(sm) {
                margin: 0 2rem;
              }
            }
            .dropdown-toggle {
              background: none;
              border: none;
              @include sl-body-medium;
              color: var(--grey-800);
              width: 100%;
              display: flex;
              align-items: center;
              margin: 0;
              &[aria-expanded='true'] {  // added for utility nav icon change
                .fa-chevron-down {
                  transform: rotate(180deg);
                  -webkit-transform: rotate(180deg);
                  transform-origin: 50% 50%;
                }
              }
              &::after {
                content: none;
              }
              @include focus-visible();
              .sl-icon{
                @include media-breakpoint-down(lg) {
                margin-left:auto;
                }
              }
            }
            .dropdown-menu {
              padding: 0;
              margin: 0;
              border: none;
              width: 100%;
              position: static !important;
              transform: none !important;
              inset: unset !important;
              .region-menu {
                margin-bottom: 1rem;
                .region-content {
                  margin-bottom: 0.5rem;
                  .country-header {
                    @include sl-body-medium;
                    color: var(--grey-800);
                    a {
                      display: block;
                      @include padding-utility-bar-region-menu;
                      @include sl-body-medium;
                      color: var(--grey-900);
                      text-decoration: none;
                      &:hover {
                        text-decoration: underline;
                        background: none;
                      }
                      &:active,
                      &.active {
                        @include sl-body-small-bold;
                        color: var(--brand-tertiary-900);
                      }
                      @include focus-visible();
                    }
                    span {
                      display: block;
                      @include padding-utility-bar-region-menu;
                    }
                  }
                }
                ul {
                  list-style: none;
                  padding: 0;
                  margin: 0;
                  a,
                  button {
                    &.dropdown-item {
                      --bs-dropdown-link-active-bg: transparent; // $dropdown-link-active-bg
                      @include padding-utility-bar-region-menu;
                      @include sl-body-small;
                      color: var(--grey-700);
                      text-decoration: none;
                      &:active,
                      &.active {
                        @include sl-body-small-bold;
                        color: var(--grey-900);
                        border-left: 0.125rem solid var(--brand-tertiary-800);
                        padding: 0.5rem 1rem 0.5rem 2.875rem;
                        @include media-breakpoint-only(md) {
                          padding: 0.5rem 1rem 0.5rem 5.625rem;
                        }
                        @include media-breakpoint-only(sm) {
                          padding: 0.5rem 1rem 0.5rem 3.875rem;
                        }
                      }
                    }
                    @include focus-visible();
                    &:hover {
                      text-decoration: underline;
                      background: none;
                    }
                  }
                }
                hr {
                  margin: 0.5rem 1rem;
                  width: auto;
                  @include media-breakpoint-only(md) {
                    margin: 0.5rem 3.75rem;
                  }
                  @include media-breakpoint-only(sm) {
                    margin: 0.5rem 2rem;
                  }
                }
                a,
                button {
                  &.world-wide-content {
                    --bs-dropdown-link-active-bg: transparent; // $dropdown-link-active-bg
                    display: block;
                    @include padding-utility-bar-region-menu;
                    @include sl-body-small;
                    color: var(--grey-700);
                    text-decoration: none;
                    &:active,
                    &.active {
                      @include sl-body-small-bold;
                      color: var(--grey-900);
                      border-left: 0.125rem solid var(--brand-tertiary-800);
                    }
                  }
                  &.dropdown-item {
                    padding-top: 1rem;
                  }
                  @include focus-visible();
                  &:hover {
                    text-decoration: underline;
                    background: none;
                  }
                }
              }
            }
          }
        }
        .sl-menu-dropdown {
          .dropdown-toggle {
            margin: 0;
            .item-content-container {
              margin: 0 1rem;
              @include media-breakpoint-only(md) {
                margin: 0 3.75rem;
              }
              @include media-breakpoint-only(sm) {
                margin: 0 2rem;
              }
              padding: 1rem 0;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              border-top: 0.063rem solid var(--grey-300);
            }
          }
          .dropdown-menu {
            .dropdown-menu-title,
            .dropdown-item {
              @include padding-utility-bar-region-menu;
              &.active,
              &:active {
                padding: 0.5rem 1rem 0.5rem 2.875rem;
                @include media-breakpoint-only(md) {
                  padding: 0.5rem 1rem 0.5rem 5.625rem;
                }
                @include media-breakpoint-only(sm) {
                  padding: 0.5rem 1rem 0.5rem 3.875rem;
                }
              }
            }
          }
        }
        .menu-container{
          margin-top: 32px;
          .menu-item{
            border: none;
            .menu-content{
              margin: 0.75rem 0;
            }
          }
        }
      }
    }
  }
}

#nav-header .mobile-logo a img {
  max-height: -webkit-fill-available;
}