@import '../../../base/core';
.text-on-image-banner {
    .image-text-wrapper {
        .text-section {
            width: 100%;
            text-align: center;
        }
    }
}

@media (min-width: $mobile-screen-min) and (max-width: $mobile-screen-max){
.text-on-image-banner {
        .image-text-wrapper {
            .left-image-position{
                .left-item {
                    position: absolute !important;
                }
                .text-section {
                    position: relative !important;
                    background: transparent !important;
                }
            }
            .right-image-position{
                .right-item {
                    position: absolute !important;
                }
                .text-section {
                    position: relative !important;
                    background: transparent !important;
                }
            }

        }
    }

}