<sly data-sly-use.stockTicker="ca.sunlife.web.cms.core.models.StockTicker"></sly>
<div data-sly-test.header="${stockTicker.position=='Header'}">
<div class="displayStockTicker advanced">
	<div class="mega-share hidden-sm hidden-xs">
		<div class="mega-share-body">
			<div class="h4">${stockTicker.title}</div>
			<div class="mega-tsx">
				
			</div>
			<div class="mega-nyse">
				
			</div>
			<p class="mega-stock-disclaimer">${stockTicker.delayText} 
                <a href="javascript:WindowDisclaimer('${disclaimerLink}');">${stockTicker.disclaimerText}</a>
			</p>
		</div>
	</div>
</div>
</div>

<div data-sly-test.body="${stockTicker.position=='body'}">
<div class="displayStockTicker stock-widget new" data-section="hp investor">
	<div class="row share-performance new">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row stock-row new">
				<div class="col-md-1 visible-md visible-lg">
					<div class="slf-icon-reg circle-gradient-blue stock-icon">
						<span class="icon-reg fa fa-bar-chart fa-inverse fa-stack-1x"> </span>
					</div>
				</div>
				<div class="col-sm-4 col-md-3 stock-label new">
					<h2 class="pad-bottom-10-xs">${stockTicker.title}</h2>
				</div>
				<div class="col-sm-8 col-md-8 stock-detail new">
					
					<span>${stockTicker.viewAll @context='html'}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 visible-md visible-lg"></div>
				<div class="col-xs-12 col-sm-12 col-md-11">
                <sly data-sly-test.disclaimerLink="${stockTicker.disclaimerLink @extension='html'}" >
					<p class="stock-disclaimer new">${stockTicker.delayText}  
                        <a href="javascript:WindowDisclaimer('${disclaimerLink}');">${stockTicker.disclaimerText}</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div data-sly-test="${!stockTicker.position}" class="cq-placeholder" data-emptytext="${component.title}"></div>