<div class="{{text-wrapper}} text-parent">
    <p class="{{tool-tip-box}}">The math is math math math ma The math is math math math ma The math is math math math ma The math is math math math ma The math is math math math ma The math is math math math ma The math is math math math ma The math is math math math ma The math is math math math ma The math is math math math ma.</p>
    {{!-- {{>core-components-content-icon-text}} --}}
</div>
