<div class="{{text-wrapper}} text-parent" >
    <p>This is sample text.</p>
  
     {{!-- {{>core-components-content-icon-text}} --}}
</div>

<div class="cmp-container">
        
        <div class="text">
<div class="cmp-text">
    <p>Hi <a href="javascript:void(0)" title="" class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" data-html="true" data-original-title="<p>this animesh 1</p><p>this is aishik</p><p>this akash</p>"> </a><span class="tool-tip-box" style="display: none;">this animesh 1</span></p>

</div>

    

</div>
<div class="text">
<div class="cmp-text">
    <p>oi <span class="tool-tip-box" style="display: none;">this is aishik</span></p>

</div>

    

</div>

        
    </div>
