@import '../../../base/core';
.grey-border-box {
    padding: 32px 16px;
    border: 1px solid $light-grey-color;
    p {
        margin: 0;
    }
}
.grey-background-box {
    @extend .grey-border-box;
    border: none;
    background-color: $light-cool-blue-color;
}
.text-parent {
    .mega-menu-icon-wrapper {
        .icon-parent {
        margin-right: 2px;
        }
        .icon-style {
            background: none;
            border-radius: inherit;
            height: 0;
            width: 20px;
            padding: 0;
            border: none;
            color: $medium-blue-color;
            font-size: 1rem;
            text-align: center;
        }
    }
}
/* tool tip text starts here*/

.tool-tip-box{
    color: $white-shade;
    margin-left: 18px;
    background-color: $medium-blue-color;
    padding: 16px;
    line-height: 26px;
    border-radius: 10px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
    p {
        margin: 0;
    }

    .tool-tip-box::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -11px;
    z-index: 1;
    border: solid 6px transparent;
    border-right-color: $medium-blue-color;
    }
    .fa-info-circle{
     margin-top: 27px;
     position: absolute;
     color: $medium-blue-color;
    }
    .fa-info-circle:hover{
        cursor:pointer;
    }


/* tool tip text ends here*/