<div class="breadcrumb-wrapper no-gutter">
			<ul role="navigation" aria-label="Breadcrumb" class="breadcrumb-row clearfix vertical-middle-align">
				{{#each page-redirection-link}}
				<li class="{{class-name}}"><a href="{{link}}">{{text}}</a>
				</li>
				{{/each}}
			</ul>
</div>