@import '../../../base/core';
.breadcrumb-wrapper{
    background: $light-cool-blue-color;
  .breadcrumb-row {
    margin:0 0 0 15px;
    padding: 16px 0 16px 14px;
      li{
        font-weight:700;
        float: left;
        line-height:14px;
        a{
          font-size:0.875rem;
          line-height:14px;
        }
        :hover{
            text-decoration: none;
        }
        &:before{
          font-size:0.875rem;
        }
      }
      .active {
        a{
          font-weight: 400;
          color:#424242;
          font-size:0.875rem;
          pointer-events: none;
        }
      }
  }
  .breadcrumb-row > li + li:before {
    content: "\f105";
    font-weight: 400;
    font-family: FontAwesome;
    color: $medium-blue-color;
    padding: 0 5px;
  }
}
@media (max-width: 1024px){
  .breadcrumb-wrapper{
    display: none;
  }
  .breadcrumb-author{
    display:block;
  }
}