@import '../../../base/core';
/*.no-padding .col-sm-4:last-child .yellow-icon-white-background .cmp-container > .text:last-child .cmp-text
{
	position: relative;
}*/
.no-padding .col-sm-4:last-child .yellow-icon-white-background .cmp-container > .text:last-child .cmp-text p .primary-blue-button-rte
{
    margin-top: 0;
	/*position: absolute;
    bottom: 0;
    width: calc(100% - 32px);*/
}

@media (min-width: $mobile-screen-min) and (max-width: $mobile-screen-max) {
	.no-padding {
		.yellow-icon-white-background >* {
			border-top: 1px solid $light-grey-color;			
		}
	} 
}
//IE fix
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .mobileapp {
        .col-sm-6:first-of-type{
            .image{
                text-align:center;
            }
        }
    }
}