@import '../../../base/core';
@media (min-width: $mobile-screen-min) and (max-width:$mobile-screen-max) {
    .lead-gen-wrapper {
        #Contactus {
            .options {
                input[type="radio"]{
                    margin-right: 10px;
                }
                .cmp-form-options__field-description{
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}