@import '../../../prerequisite/base/styles/core.scss';

.news-details {
    ul > li::before {
        content: "\2022";
        color: $medium-yellow-background;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em; 
    }
    ul {
        margin: 12px 0 12px 12px;
        padding: 0;
        list-style: none;
        vertical-align: middle;
        min-height: 48px;
        }
    ul > li {
        font-size: 16px;
        padding: 0 0 4px 14px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: 0 .5em;
        line-height: 140%; 
    }
}


	