<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{!-- <link rel="stylesheet" href="https://www.sunlife.com.hk//static/slfglobal/globalweb/responsive/styles/main.css">
        <script type="text/javascript" src="https://cdn.sunlife.com/static/hk/page%20embedded/validate-parsley.js"> --}}
        <link rel="stylesheet" href="https://cdn.sunlife.com/static/hk/styles/id.css"/>
        <!--------------- Quick Quote START---------------->
        
</div>