@import '../../../base/core';
/* qc_main.ccs starts here */
.qc_main {
	min-width: 320px;
	width: 100%;
	height: 330px;
	position: relative;
	display: none;
}


.qc_remarks_txt {
	text-align: left;
	font-size: 14px;
	font-weight: 400;
	color: #003946;
}

.qc_reamarks_detail {
	font-size: 13px;
	font-weight: 100;
	display: inline-block;
	display: table-cell;
}

.qc_9col {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.qc_main_9col {
	width: 100%;
	position: relative;
	padding: 20px 20px;
}

.qc_q1_start {
	
}

#qc_q2 {
	
}

#qc_q3 {
	
}

.qc_close_btn {
	position: absolute;
	float: right;
	right: 0px;
	width: 20px;
	height: 20px;
	color: #003946;
	margin: 15px;
	cursor: pointer;
}

.qc_calculator::before {
	font-family: FontAwesome;
	content: "\f073";
	font-size: 28px;
	padding-right: 10px;
	cursor: pointer;
}

.qc_btn_calendar_main {
	padding: 20px !important;
	background: none;
	border: 0;
	display: inline-block;
	margin-left: -25px;
}

.qc_btn_calendar::before {
	font-family: FontAwesome;
	content: "\f073";
	font-size: 20px;
	padding-right: 10px;
	cursor: pointer;
	color: #003946;
}

.qc_background {
	background-image: url('/static/hk/Quickquote/sun_bg_desktop_grey.jpg');
	background-position: center center;
	background-repeat: no-repeat;
}

.qc_main_title {
	margin: auto;
	font-family: "agenda";
	font-size: 30px;
	color: #003946;
	line-height: 30px;
	text-align: center;
	padding-top: 51px;
	font-weight: 400;
	padding-bottom: 10px;
}

.qc_main_question {
	margin: auto;
	font-family: "agenda";
	font-weight: 200;
	font-style: normal;
	font-size: 20px !important;
	color: #003946;
	line-height: 24px;
	text-align: center;
	padding-top: 15px;
	transform: scale(1);
	transition: transform 0.3s ease;
}

.form-control-qc {
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: 'agenda';
	font-weight: 400;
	font-size: 20px;
	height: auto;
	padding-right: 30px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 30px;
	background-image:
		url('/static/hk/Quickquote/form-ui-select-dropdown-arrow.png');
}

.form-control-qc-text {
	border: none !important;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: 'agenda';
	font-weight: 400;
	font-size: 20px;
	height: auto;
	padding-right: 30px;
	background-color: transparent;
}

#qc_q1_ans_main {
	margin-left: 1px;
	margin-right: 1px;
	padding-bottom: 5px;
	border-bottom: 1px solid #757575;
}
#qc_q1_ans{
	max-width: 7%;
    min-width: 0;
    text-align: center;
}

#qc_q5_ans_main {
	padding-bottom: 5px;
	border-bottom: 1px solid #757575;
	position: relative;
}

.qc_button_group {
	display: inline-block;
}

.qc_button_group .btn {
	min-width: 100px;
	max-width: 100px;
	margin: 0 5px !important;
}

.qc_dropdown {
	border-bottom: 1px solid #757575 !important;
	min-height: 27px !important;
	padding-right: 30px;
}

.qc_dropdown::-ms-expand {
	display: none;
}

.qc_text {
	min-height: 27px !important;
	padding-right: 30px;
	min-width: 100px;
	font-family: 'agenda' !important;
	font-weight: 400 !important;
	font-size: 20px !important;
}

.qc_submit_btn {
	margin: auto;
	text-align: center;
	padding-top: 39px;
	padding-bottom: 20px;
}

.qc_submit_btn .btn {
	background-color: #424242;
	color: #FFF;
}

.qc_q_start {
	transform: scale(1.2);
	transition: transform 0.3s ease;
	display: block !important;
}

.isAns {
	border-bottom-width: 1px !important;
	border-bottom-color: #EAAB00 !important;
}

.isAnsOut {
	border-bottom-color: #EAAB00 !important;
}

.qc_break {
	display: none;
}

#qc_result {
	display: none;
}

#qc_result_main {
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: #eaab00;
	display: table;
	width: 100%;
}

.qc_result_title {
	text-align: center;
	font-family: "agenda";
	font-size: 24px;
	font-weight: 700;
	padding: 20px 0px;
}

.qc_result_4col {
	width: 25%;
	padding: 4px;
	display: table-cell;
	position: relative;
}

.qc_result_3col {
	width: 33%;
	padding: 10px;
	display: table-cell;
	position: relative;
}

.qc_result_2col {
	width: 50%;
	padding: 10px;
	display: table-cell;
	position: relative;
}

.qc_result_col {
	padding: 10px;
	display: table-cell;
	position: relative;
}

.qc_bg_grey {
	background-color: #f4f5f7;
}

.qc_bg_yellow {
	background-color: #faf2cb;
}

.qc_error_msg {
	color: #D30000;
	font-family: "agenda";
	font-size: 14px;
	font-weight: 200;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-top: 25px;
}

.qc_returnzero_error_msg {
	color: #D30000;
	font-family: "agenda";
	font-size: 20px;
	font-weight: 200;
	position: absolute;
	left: 31%;
	top: 58%;
	margin-top: 25px;
}

.qc_returnzero_error_msg::before {
	content: "\f06a";
	font-family: FontAwesome;
	font-size: 20px;
	padding-right: 10px;
	color: #D30000;
}

.qc_error_msg::before {
	content: "\f06a";
	font-family: FontAwesome;
	font-size: 14px;
	padding-right: 10px;
	color: #D30000;
}

.qc_result_plan_title {
	text-align: center;
	font-family: "agenda";
	font-size: 20px;
	font-weight: 400;
	padding: 11px 0px;
}

.qc_result_plan_title_hightlight {
	text-align: center;
	font-family: "agenda";
	font-size: 20px;
	font-weight: 700;
	padding: 11px 0px;
	color: #003946;
}
.qc_recommend {
    text-align: center;
    font-weight: 700;
}
.qc_result_price {
	text-align: center;
	font-family: "agenda";
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 5px;
	color: #003946;
}

.qc_plan_separator {
	background-color: #eaab00;
	height: 1px;
	margin: 5px 0px 10px 0px;
}

.qc_plan_content {
	padding: 10px 10px;
	margin-bottom: 40px;
}

.qc_plan_item_main {
	/*display:inline-block;*/
	
}

.qc_plan_item {
	padding-bottom: 5px;
	padding-right: 15px;
	display: table;
}

.qc_plan_item .item_text {
	text-align: left;
	font-family: "agenda";
	font-size: 18px;
	font-weight: 200;
	display: inline-block;
	display: table-cell;
	vertical-align: top;
}

.qc_plan_item .item_icon_tick {
	display: table-cell;
}

.qc_plan_item .item_icon_cross {
	display: table-cell;
}

.qc_plan_item .item_icon_tick::before {
	font-family: FontAwesome;
	content: "\f00c";
	font-size: 28px;
	color: #eaab00;
	padding-right: 10px;
}

.qc_plan_item .item_icon_cross::before {
	display: inline-block;
	font-family: FontAwesome;
	content: "\f00d";
	font-size: 30px;
	color: #4A7295;
	padding-right: 15px;
}

.qc_plan_cta {
	padding: 20px 0px 12px 0px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin-left: -10px;
}

.qc_loading_ani {
	padding-top: 20px;
	margin: 0px auto 0;
	width: 70px;
	text-align: center;
	display: none;
}

.qc_loading_ani>div {
	width: 13px;
	height: 13px;
	background-color: #333;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.qc_loading_ani .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.qc_loading_ani .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}


@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
@media ( min-width : 220px) and (max-width: 767px) {
	#qc_q1_ans{
	max-width: 22%;   
}
	.qc_loading_ani {
		padding-bottom: 20px;
		padding-top: 0px;
	}
	.qc_error_msg {
		position: relative;
		margin-top: 0px;
	}
	.qc_returnzero_error_msg {
		position: relative;
		margin-top: 0px;
		top:0px;
		left:0px;
		
	}
	.qc_result_4col {
		width: 100% !important;
		display: inline-block;
	}
	.qc_result_3col {
		width: 100% !important;
		display: inline-block;
	}
	.qc_result_2col {
		width: 100% !important;
		display: inline-block;
	}
	.qc_result_col {
		width: 100% !important;
	}
	.qc_plan_item_main {
		display: inline-block;
		width: 100%;
	}
	.qc_plan_item .item_text {
		display: inline-block;
	}
	.qc_plan_content {
		margin-bottom: 0px;
	}
	.qc_plan_cta {
		margin-left: 0px;
		position: relative;
	}
	.qc_plan_cta .btn {
		margin-bottom: 0px !important;
	}
	.qc_button_group {
		display: inherit;
	}
	.qc_button_group .btn {
		max-width: 100px;
		margin-bottom: 0px !important;
	}
	.qc_background {
		background-image: url('/static/hk/Quickquote/sun_bg_mobile_grey.jpg')
			!important;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.qc_main {
		height: 400px;
	}
	.qc_main_9col {
		padding: 20px 20px;
	}
	.qc_break {
		display: block !important;
		height: 3px;
	}
	.qc_main_question {
		padding-top: 20px;
	}
	.qc_submit_btn {
		padding-top: 19px;
		padding-bottom: 0px;
	}
}
/* qc_main.ccs ends here */