@import '../../../base/core';
.slf-mobile-header-wrapper{
    .hamburger-menu-wrapper{
        .second-level-navigation, .third-level-navigation{
            background: $light-taupe-50;
        }
    }
    .mobile-header-navbar{
        background: $medium-yellow-background;
    }
    .mobile-sign-in-box{
        background: $medium-blue-color;
    }
    .mobile-signin-icon {
        color: $white-shade;
    }
}

.signIn-button {
    .button-class {
        background-color: $medium-blue-color;
        color: $white-shade;
    }
}