.breadcrumb-section {
  height: 50px !important; }
  .breadcrumb-section .social-link-icon-wrapper {
    float: left; }
    .breadcrumb-section .social-link-icon-wrapper li {
      float: left;
      padding-left: 5px; }
      .breadcrumb-section .social-link-icon-wrapper li a {
        pointer-events: all !important; }

.breadcrumb-wrapper-light-cool-blue, .breadcrumb-wrapper-cool-blue, .breadcrumb-wrapper-blue {
  height: 43px;
  padding: 0 15px;
  background: #F4F7F6; }
  .breadcrumb-wrapper-light-cool-blue ol, .breadcrumb-wrapper-cool-blue ol, .breadcrumb-wrapper-blue ol {
    list-style-type: none;
    padding: 0; }
  .breadcrumb-wrapper-light-cool-blue .breadcrumb-row, .breadcrumb-wrapper-cool-blue .breadcrumb-row, .breadcrumb-wrapper-blue .breadcrumb-row {
    line-height: 18px;
    margin: 0; }
    .breadcrumb-wrapper-light-cool-blue .breadcrumb-row li, .breadcrumb-wrapper-cool-blue .breadcrumb-row li, .breadcrumb-wrapper-blue .breadcrumb-row li {
      font-weight: 700;
      float: left;
      line-height: 18px; }
      .breadcrumb-wrapper-light-cool-blue .breadcrumb-row li:before, .breadcrumb-wrapper-cool-blue .breadcrumb-row li:before, .breadcrumb-wrapper-blue .breadcrumb-row li:before, .breadcrumb-wrapper-light-cool-blue .breadcrumb-row li a, .breadcrumb-wrapper-cool-blue .breadcrumb-row li a, .breadcrumb-wrapper-blue .breadcrumb-row li a {
        font-size: 0.875rem;
        line-height: 18px; }
      .breadcrumb-wrapper-light-cool-blue .breadcrumb-row li :hover, .breadcrumb-wrapper-cool-blue .breadcrumb-row li :hover, .breadcrumb-wrapper-blue .breadcrumb-row li :hover {
        text-decoration: none; }
    .breadcrumb-wrapper-light-cool-blue .breadcrumb-row .active, .breadcrumb-wrapper-cool-blue .breadcrumb-row .active, .breadcrumb-wrapper-blue .breadcrumb-row .active {
      line-height: 18px;
      font-size: 0.875rem; }
      .breadcrumb-wrapper-light-cool-blue .breadcrumb-row .active a, .breadcrumb-wrapper-cool-blue .breadcrumb-row .active a, .breadcrumb-wrapper-blue .breadcrumb-row .active a, .breadcrumb-wrapper-light-cool-blue .breadcrumb-row .active span, .breadcrumb-wrapper-cool-blue .breadcrumb-row .active span, .breadcrumb-wrapper-blue .breadcrumb-row .active span {
        font-weight: 400;
        color: #424242;
        font-size: 0.875rem;
        pointer-events: none; }
    .breadcrumb-wrapper-light-cool-blue .breadcrumb-row li:last-child, .breadcrumb-wrapper-cool-blue .breadcrumb-row li:last-child, .breadcrumb-wrapper-blue .breadcrumb-row li:last-child {
      line-height: 18px;
      font-size: 0.875rem; }
      .breadcrumb-wrapper-light-cool-blue .breadcrumb-row li:last-child a, .breadcrumb-wrapper-cool-blue .breadcrumb-row li:last-child a, .breadcrumb-wrapper-blue .breadcrumb-row li:last-child a, .breadcrumb-wrapper-light-cool-blue .breadcrumb-row li:last-child span, .breadcrumb-wrapper-cool-blue .breadcrumb-row li:last-child span, .breadcrumb-wrapper-blue .breadcrumb-row li:last-child span {
        font-weight: 400;
        color: #424242;
        font-size: 0.875rem; }
    .breadcrumb-wrapper-light-cool-blue .breadcrumb-row > li:not(:first-child):before, .breadcrumb-wrapper-cool-blue .breadcrumb-row > li:not(:first-child):before, .breadcrumb-wrapper-blue .breadcrumb-row > li:not(:first-child):before {
      content: "\f105";
      font-weight: 400;
      font-family: FontAwesome;
      color: #004C6C;
      padding: 0 5px; }
  .breadcrumb-wrapper-light-cool-blue .left-area, .breadcrumb-wrapper-cool-blue .left-area, .breadcrumb-wrapper-blue .left-area {
    width: 75%;
    float: left;
    padding-left: 14px; }
  .breadcrumb-wrapper-light-cool-blue .right-area, .breadcrumb-wrapper-cool-blue .right-area, .breadcrumb-wrapper-blue .right-area {
    width: auto;
    float: right;
    line-height: 18px; }
  .breadcrumb-wrapper-light-cool-blue .side-text, .breadcrumb-wrapper-cool-blue .side-text, .breadcrumb-wrapper-blue .side-text {
    font-size: 0.875rem;
    font-weight: 700;
    color: #424242;
    float: left;
    margin-top: 1px; }
  .breadcrumb-wrapper-light-cool-blue .social-link-icon-wrapper, .breadcrumb-wrapper-cool-blue .social-link-icon-wrapper, .breadcrumb-wrapper-blue .social-link-icon-wrapper {
    cursor: pointer; }
    .breadcrumb-wrapper-light-cool-blue .social-link-icon-wrapper .icon-style, .breadcrumb-wrapper-cool-blue .social-link-icon-wrapper .icon-style, .breadcrumb-wrapper-blue .social-link-icon-wrapper .icon-style {
      color: #004C6C;
      font-size: 1.25rem; }
    .breadcrumb-wrapper-light-cool-blue .social-link-icon-wrapper ul, .breadcrumb-wrapper-cool-blue .social-link-icon-wrapper ul, .breadcrumb-wrapper-blue .social-link-icon-wrapper ul {
      float: left; }
  .breadcrumb-wrapper-light-cool-blue .social-links, .breadcrumb-wrapper-cool-blue .social-links, .breadcrumb-wrapper-blue .social-links {
    float: left;
    margin: 0; }
    .breadcrumb-wrapper-light-cool-blue .social-links li, .breadcrumb-wrapper-cool-blue .social-links li, .breadcrumb-wrapper-blue .social-links li {
      float: left;
      font-size: 1.25rem;
      padding: 3px; }

.breadcrumb-wrapper-cool-blue {
  background: #4A7283; }
  .breadcrumb-wrapper-cool-blue .breadcrumb-row li a, .breadcrumb-wrapper-cool-blue .breadcrumb-row li span, .breadcrumb-wrapper-cool-blue .breadcrumb-row .active a, .breadcrumb-wrapper-cool-blue .breadcrumb-row .active span {
    color: #ffffff; }
  .breadcrumb-wrapper-cool-blue .breadcrumb-row > li:not(:first-child):before {
    color: #ffffff; }
  .breadcrumb-wrapper-cool-blue .breadcrumb-row li:last-child a, .breadcrumb-wrapper-cool-blue .breadcrumb-row li:last-child span {
    color: #ffffff; }
  .breadcrumb-wrapper-cool-blue .side-text {
    color: #ffffff; }
  .breadcrumb-wrapper-cool-blue .social-link-icon-wrapper .icon-style {
    color: #ffffff;
    font-size: 1.25rem; }

@media (max-width: 1024px) {
  .breadcrumb-wrapper-light-cool-blue, .breadcrumb-wrapper-cool-blue, .breadcrumb-wrapper-blue, .breadcrumb-wrapper-cool-blue {
    /* height: 37px !important; */
    display: block;
    visibility: hidden; }
  .breadcrumb-author {
    display: block; } }

.breadcrumb-wrapper-blue {
  /* Extend from main breadcrumb css style */
  background-color: #F3EEEE;
  /* White Smoke */ }
  .breadcrumb-wrapper-blue .social-link-icon-wrapper {
    top: 0%; }
    .breadcrumb-wrapper-blue .social-link-icon-wrapper .icon-style {
      color: #002D3D; }
