@import '../../../base/core';
.articleList-wrapper{
    padding-top:10px;
    .article-separator{
        display:none;
    }
    .cmp-contentfragment{
        display: table-row;
        height:230px;
        .articleImage--cmp-contentfragment__elements{
            float:left;
            padding-right:14px;
            img{
                height: 220px;
                width: 220px;
            }
        } 
        .cmp-contentfragment__elements{
           .articlePublishedDate{
                font-family: 'sunlife-sans';
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase; 
                padding-top: 10px;       
           }
           .articleHeadline{
               padding-top:10px;
               padding-bottom:10px;
               p{
                   padding-top: 10px;                
               }
               a{
                font-family: 'sunlife-sans';
                font-weight: 400;
                font-size: 24px !important;
                line-height: 31px;
                }
           }
        }
    }
} 
.article-disabled {
        display:none;
    }

.articleList_editorial-wrapper{
    padding: 10px;
    .article-separator{
        display:none;
    }
    .cmp-contentfragment{
        width: 33%;
        float: left;
        .articleImage--cmp-contentfragment__elements{
            text-align: center;
            img{
                height: 220px;
                width: 220px;
                border-radius: 50%;
                border: 5px solid $light-yellow-color;
            }
    } 
    .cmp-contentfragment__elements{
        text-align: center;
       .articlePublishedDate{
            font-family: 'sunlife-sans';
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase; 
            padding-top: 10px;       
       }
       .articleHeadline{
            padding-top:10px;
            padding-bottom:10px;
           p{
               padding-top: 10px;             
           }
           a{
            font-family: 'sunlife-sans';
            font-weight: 400;
            font-size: 24px !important;
            line-height: 31px;
           }
       }
       
    }
  }
}
    @media (min-width: $tab-screen-min) and (max-width:$tab-screen-max) {
        .articleList-wrapper{
            .cmp-contentfragment{
                .articleImage--cmp-contentfragment__elements{
                    padding-right: 10px;
                    img{
                        height: 220px;
                        width: 220px;
                    }
                }           
            }
          }
        }
    

    @media (max-width: $mobile-screen-max) {
        .articleList-wrapper{
             hr:last-child {
                display:none!important;
              }
            .article-separator{
                width: 30%;
                border-top: 2px solid;
                display:block;
                color: $container-border-color;
            }
            .cmp-contentfragment{
                .articleImage--cmp-contentfragment__elements{
                    display: none;
                }
            }
            .cmp-contentfragment__elements{
                text-align: center;
            }
        }
        .articleList_editorial-wrapper{
            hr:last-child {
                display:none!important;
              }
            .article-separator{
                width: 30%;
                color: $light-yellow-color;
                border-top: 2px solid;
                display:block;
            }
            .cmp-contentfragment{
                width:100%;
                float:none;
                .cmp-contentfragment__elements{
                    text-align: center;
                    width:100%;               
                }
            }
        }
    }
