@import '../../../base/core';

.slf-mobile-header-wrapper{

    /* Hamburger Menu Start */
    .hamburger-menu-wrapper{
      .language-region{
        .mobile-language-region{
          .go-back{
            background-color: $dark-blue;
          }
          .slf-tab-region{
            background-color: $white-smoke;
            .tab-content {
              background-color: $white-smoke;
            }
            .slf-tab {
              background-color: $white-smoke;
              &.first{
                display: none;  //Regions tab should not appear
              }
            }
          }
        }
        .second-level-navigation {
          background-color: $white-smoke;
        }
      }
    }
    /* Hamburger Menu End */

}