@import '../../../base/core';

.leadgen-wrapper {
    .modal {
        .modal-content {
            background-color: $white-shade;
            border-radius: 4px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            min-height: auto;
            .text {
                margin-bottom: 20px;
            }
        }
    }
}

.leadgen-wrapper .modal .modal-content .close-popup  {
    display:none;
}