#mainfooter .image {
  padding: 16px 0 15px 15px; }

#mainfooter .text img {
  background-image: url("/content/dam/sunlife/legacy/assets/com/Global/IT%20Site%20Administration/images/Globe_grey.png");
  background-repeat: no-repeat; }
  #mainfooter .text img:hover {
    background-image: url("/content/dam/sunlife/legacy/assets/com/Global/IT%20Site%20Administration/images/Globe_blue.png"); }

.light-taupe-50-bg {
  background-color: #F0EDE8; }

.audio-file-icon::before {
  content: "\f1c7";
  font-family: fontawesome;
  margin-right: 5px; }

@media (max-width: 767px) {
  #mainfooter .image {
    display: none; } }
