<div class="modal fade sign-in-modal-wrapper horizontal-middle-align" data-section="header-sign-in-hk"
        id="signin-widget-modal" role="dialog">
        <div class="modal-dialog sign-in-modaldialog">
            <!-- Modal content-->
            <div class="modal-content modal-main horizontal-middle-align">
                <div class="modal-header signin-modal-header">
                    <button type="button" class="fa fa-remove collapse-x close-modal" aria-label="Close"
                        data-dismiss="modal" id="closeSignInModal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="slf-icon-reg">
                        <span class="icon-reg fa fa-user fa-inverse fa-stack-1x"></span>
                    </div>
                    <div class="login-container" id="signin-widget-modal">
                        <h4 id="customerSignInHeader" class="customerSignInHeader">CLIENT LOG ON</h4>
                        <div name="form_signon_modal" id="form_signon">
                            <div role="group" aria-labelledby="form_signon">
                                <div class="form-group form-first" id="userIdDiv">
                                    <p id="userIdTextArea" class="module-body">Select your Sun Life service:</p>
                                </div>
                               <div class="form-group form-second" id="passwordDiv">
                                    <p class="moreon" id="passMpfDiv"><a
                                            href="https://www.sunlife.com.hk/HK/Online+Pension+Services+Centre?vgnLocale=en_CA"
                                            target="_blank">MPF</a></p>
                                    <p class="moreon" id="passlifeDiv"><a
                                            href="https://clients.sunlife.com.hk/wps/portal/hkclient/!ut/p/a1/04_Sj9CPykssy0xPLMnMz0vMAfGjzOJ9DV0dPUzcDbwMXIxNDTzDQr0NQw3dDQ28zYEKIoEKDHAARwNC-sP1o8BKnN2BKsx9gHpMLIwMPF2cPFzMLX0NDDzNoQrwWFGQG2GQ6aioCAA3_2Kf/dl5/d5/L0lDUmlTUSEhL3dHa0FKRnNBLzRKVXBDQSEhL2VuX1VT"
                                            target="_blank">Individual Life</a></p>
                                    <p class="moreon" id="passGroupDiv"><a
                                            href="https://www.sunlifegroupinsurance.com.hk/groupwebportal/main.aspx?vgnLocale=en_CA"
                                            target="_blank">Group Insurance</a></p>
                                    <p class="moreon" id="passOrsoDiv"><a
                                            href="https://www.sunlife.com.hk/HK/Online+Pension+Services+Centre?vgnLocale=en_CA"
                                            target="_blank">ORSO</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>