<sly data-sly-use.article="ca.sunlife.web.cms.core.models.ArticleModel"></sly>
<sly data-sly-test.notEmpty="${article.fragmentPath}">
   <article class="article">
      <div class="article-header">
         <div class="date" data-sly-test="${!article.checkboxHideDate}">${article.articleData.articlePublishedDate}</div>
         <h2>${article.articleData.articleHeadline @context='html'}</h2>
         <div data-sly-test="${article.articleData.authorName}" class="byline">${'By' @ i18n} ${article.articleData.authorName @context='html'}</div>
         <ul class="article-socials-md list-inline">
            <li><a href="javascript:void(0);" data-socialmedia="linkedin" class="icon-linkedin adSocialMedia"> <span class="sr-only">Share this on Linkedin</span></a></li>
            <li><a href="javascript:void(0);" data-socialmedia="facebook" class="icon-facebook adSocialMedia"> <span class="sr-only">Share this on Facebook</span></a></li>
            <li><a href="javascript:void(0);" data-socialmedia="twitter" class="icon-twitter adSocialMedia"> <span class="sr-only">Share this on Twitter</span></a></li>
            <li><a href="mailto:?body=" class="icon-email adicon-email"><span class="sr-only">Share this in Email</span></a></li>
         </ul>
      </div>
      <p data-sly-test="${article.articleData.articleMiniDescription}"> ${article.articleData.articleMiniDescription} </p>
      <figure>
         <img src="${article.articleData.articleImage}" alt="${article.articleData.articleHeadline}" aria-hidden="true"/>
      </figure>
      <div class="article-body">
         ${article.articleData.articleMainDescription  @context='html'}
      </div>
      <ul class="article-socials-md list-inline">
         <li><a href="javascript:void(0);" data-socialmedia="linkedin" class="icon-linkedin adSocialMedia"> <span class="sr-only">Share this on Linkedin</span></a></li>
         <li><a href="javascript:void(0);" data-socialmedia="facebook" class="icon-facebook adSocialMedia"> <span class="sr-only">Share this on Facebook</span></a></li>
         <li><a href="javascript:void(0);" data-socialmedia="twitter" class="icon-twitter adSocialMedia"> <span class="sr-only">Share this on Twitter</span></a></li>
         <li><a href="mailto:?body=" class="icon-email adicon-email"><span class="sr-only">Share this in Email</span></a></li>
      </ul>
      <div class="article-footer">
      </div>
   </article>
</sly>
