@import '../../../base/core';
.accordion-container{
    .cmp-accordion__item{
        margin-bottom:5px;
        background-color:$light-cool-blue-color;
        padding-left:16px;
        cursor:pointer;
        .cmp-accordion__header{
            font-size:1rem;
            height:56px;
            padding-right:32px;
            margin:0;
            font-weight:700;
            color:$dark-grey-color;
            .accordion-arrow{
                font-family: FontAwesome;
                content: "\f0da";
                font-size:1rem;
            }
            .cmp-accordion__button{
                display:flex;
                padding:0;
                border:none;
                background:none;
                border-width:0;
                text-align:left;
                line-height:18px;
                .cmp-accordion__icon{
                    &[aria-expanded="false"] {
                        &::before {
                        @extend  .accordion-arrow;
                        }
                    }
                    &[aria-expanded="true"] {
                        &::before {
                            @extend  .accordion-arrow;
                            content: "\f0d7";
                        }
                    }
                }
                .cmp-accordion__title{
                    padding-left:7px;
                }
            }
        }
        .cmp-accordion__panel{
            padding:0 32px 24px 16px;
            font-size:0.875rem;
            .grey-horizontal-separator div {
                float:none;
                display: inline-block;
            }
            .link-list{
                .lists-wrapper .links {
                    float:none;
                    border-top:none;
                    padding:0;
                }
            }
        }
   } 
}
.expand-collapse{
    @extend .accordion-container;
    .cmp-accordion__item{
        margin-bottom:10px;
        //padding: 24px 0px;
        .cmp-accordion__header{
            color:$medium-blue-color;
            .cmp-accordion__button{
                .cmp-accordion__icon{
                    &[aria-expanded="false"] {
                        &::before {
                            content: "\f055";
                            color:$medium-yellow-background;
                            padding-right:3px;
                            //margin-left: 16px;
                        }
                    }
                    &[aria-expanded="true"] {
                        &::before {
                            content: "\f056";
                            color:$medium-yellow-background;
                            padding-right:3px;
                            //margin-left: 16px;
                        }
                    }
                }
                .cmp-accordion__title{
                    padding-left:2px;
                }
            }
        }
    }
}
@media (max-width: 767px /*$mobile-screen-max*/){
    .accordion-container {
        .cmp-accordion__item {
            .cmp-accordion__header{
                 height:auto;
                 min-height: 56px;
                 display: inline-flex;
            }
            .cmp-accordion__panel{
                padding-top:5px;
            }
        }
        .cmp-accordion__header{
            .cmp-accordion__button{
                transform: translateY(0%);
            }
        }
    }
    .expand-collapse{
        .cmp-accordion__item {
            .cmp-accordion__header{
                 height:auto;
            }
            .cmp-accordion__panel{
                padding-top:5px;
            }
        }
        .cmp-accordion__header{
            .cmp-accordion__button{
                transform: translateY(0%);
            }
        }
    }
}