@import '../../../base/core';
.blue-background-wrapper{
    color: $white-shade;
    background: url(https://www.sunlife.com/static/slfglobal/globalweb/responsive/images/circleoutline_side_blue.png) bottom center no-repeat,linear-gradient(#004C6C, #002C3C);
    height: 382px;
    padding-top: 48px;
    text-align: center;
    position: relative;
    h3{
        margin: 0 0 16px 0;
    }
    p{
        font-size: 0.875rem;
        line-height: 18px;
        padding-left: 20%;
        padding-right: 20%;
        margin: 0;
    }
    .links{
        width: 100%;
        .accordion-heading{
            display: none;
        }
        .list-div{
            display: block;
            ul{
                min-height: 48px;
                margin: 16px 0 24px 0;
                display: inline-flex;
                li{
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex: auto;
                    padding: 0 18px;
                    a{
                        font-size: 0.875rem;
                        line-height: 20px;
                        font-weight: 400;
                        color: $light-yellow-color;
                    }
                    strong{
                        font-size: 1.25rem;
                        font-weight: 700;
                        color: $light-yellow-color;
                    }
                }
                li:not(:last-child){
                    border-right: 2px solid $light-yellow-color;
                }
                .selected{
                    background-color: $medium-blue-color;
                    a{
                        color: $white-shade;
                    }
                }
                .border-right{
                    border-right-color: $medium-grey-background;
                }
            }
        }
    }
    .bright-start{
        padding-left: 60px;
        h4{
            margin: 0 0 16px 0;
            line-height: 18px;
        }
        a{
            color: $light-yellow-color;
        }
        img{
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .view-all-category {
        &:after{
            font-weight:400;
        }
    }
    // .life-link-text:after{
    //     content: '\f138';
    //     font-family: FontAwesome;
    //     padding-left: 5px;
    //}
}
.yellow-background-wrapper{
    color: $dark-grey-color;
    background: url(https://www.sunlife.com/static/slfglobal/globalweb/responsive/images/circleoutline_side.png) top center no-repeat,linear-gradient(#eaab00, #ffdd36);
    padding-top: 48px;
    background-size: 120% 100%;
    text-align: center;
    position: relative;
    h3{
        margin: 0 0 16px 0;
    }
    p{
        font-size: 0.875rem;
        line-height: 18px;
        padding-left: 20%;
        padding-right: 20%;
        margin: 0;
    }
    .links{
        width: 100%;
        .accordion-heading{
            display: none;
        }
        .list-div{
            display: block;
            ul{
                min-height: 48px;
                margin: 16px 0 24px 0;
                display: inline-flex;
                li{
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex: auto;
                    padding: 0 18px;
                    a{
                        font-size: 0.875rem;
                        line-height: 20px;
                        font-weight: 400;
                    }
                    strong{
                        font-size: 1.25rem;
                        font-weight: 700;
                     }
                }
                li:not(:last-child){
                    border-right: 2px solid $light-yellow-color;
                }
                .selected{
                    background-color: $medium-blue-color;
                    a{
                        color: $white-shade;
                    }
                }
                .border-right{
                    border-right-color: $medium-grey-background;
                }
            }
        }
    }
    .bright-start{
        padding-left: 60px;
        h4{
            margin: 0 0 16px 0;
            line-height: 18px;
        }
        img{
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .view-all-category {
        &:after {
            color: $medium-blue-color;
            font-weight:400;
        }
    }
    // .life-link-text:after{
    //     content: '\f138';
    //     font-family: FontAwesome;
    //     padding-left: 5px;
    // }
}
@media (max-width: $mobile-screen-max) {
    .blue-background-wrapper{
        background: url("https://www.sunlife.ca/static/slfglobal/globalweb/responsive/images/circleoutline_vertical_blue.png") top center no-repeat,linear-gradient(#004C6C, #002C3C);
        background-size: cover;
        height: auto;
        padding: 48px 16px;
        h3{
            margin: 0 0 24px 0;
        }
        .bright-start{
            padding: 0;
            h4{
                line-height: 26px;
            }
        }
        p{
            padding: 0;
        }
        .links{
            .list-div{
                ul{
                    display: block;
                    margin-top: 24px;
                    margin: 24px 0 48px 0;
                    li:not(:last-child){
                        border: none;
                        padding-bottom: 24px;
                    }
                    li{
                        text-align: left;
                        padding-left: 0;
                        padding-right: 0;
                        a{
                            width: 100%;
                            font-weight: 700;
                        }
                        a:after{
                            font-family: FontAwesome;
                            content: " \f105";
                            font-weight: 100;
                            float: right;
                        }
                    }
                }
            }
        }
        img{
            display: none;
        }
    }
    .yellow-background-wrapper{
        background: url("https://www.sunlife.ca/static/slfglobal/globalweb/responsive/images/circleoutline_vertical.png") top center no-repeat,linear-gradient(#eaab00, #ffdd36);
        background-size: cover;
        height: auto;
        padding: 48px 16px;
        h3{
            margin: 0 0 24px 0;
        }
        .bright-start{
            padding: 0;
            h4{
                line-height: 26px;
            }
        }
        p{
            padding: 0;
        }
        .links{
            .list-div{
                ul{
                    display: block;
                    margin-top: 24px;
                    margin: 24px 0 48px 0;
                    li:not(:last-child){
                        border: none;
                        padding-bottom: 24px;
                    }
                    li{
                        text-align: left;
                        padding-left: 0;
                        padding-right: 0;
                        a{
                            width: 100%;
                            font-weight: 700;
                        }
                        a:after{
                            font-family: FontAwesome;
                            content: " \f105";
                            font-weight: 100;
                            float: right;
                        }
                    }
                }
            }
        }
        img{
            display: none;
        }
    }
}