<ul class="nav navbar-nav navbar-left navbar-new main-nav nav-auth" role="navigation" aria-label="Main">
  
	<!--iterate through the list of channels build it -->
	<!-- Building top navigation with DOM. -->
<li class="dropdown nav-item">
    <a data-toggle="dropdown" class="dropdown-toggle subnav-trigger" href="/ca/Explore+products?vgnLocale=en_CA">
        <span class="nav-item-heading">Explore products</span></a>
        <div role="menu" class="dropdown-menu menu-content">
        
                {{!-- <div class="mega-menu-col mega-menu-quicklinks hidden-sm hidden-xs">
<h2 class="menu-category-heading">Quick links</h2>
<ul class="list-unstyled">
<li><a href="/ca/Tools+and+Resources/Life+moments?vgnLocale=en_CA">Life moments</a></li>
<li><a href="/ca/Tools+and+Resources/Financial+planning+and+advice?vgnLocale=en_CA">Financial planning &amp; advice</a></li>
<li><a href="/ca/Tools+and+Resources/Tools+and+Calculators?vgnLocale=en_CA">Tools &amp; Calculators</a></li>
<li><a href="/ca/Find+an+advisor?vgnLocale=en_CA">Find an advisor</a></li>
<li><a href="/ca/Get+a+quote?vgnLocale=en_CA">Get a quote</a></li>
<li><a href="/ca/Tools+and+Resources/Health+and+Wellness/Lumino+health?vgnLocale=en_CA">Find a provider</a></li>
<li><a href="/ca/Support/Submit+or+track+a+claim?vgnLocale=en_CA">Submit a claim</a></li>
</ul>
</div> --}}
{{>core-components-content-mega-menu}}
</div>
</li>

<li class="dropdown nav-item">
    <a data-toggle="dropdown" class="dropdown-toggle subnav-trigger" href="/ca/Tools+and+Resources?vgnLocale=en_CA">
    <span class="nav-item-heading">Tools &amp; Resources</span></a>
    <div role="menu" class="dropdown-menu menu-content">
 <div class="mega-menu-col mega-menu-quicklinks hidden-sm hidden-xs">
<h2 class="menu-category-heading">Quick links</h2>
<ul class="list-unstyled">
<li><a href="/ca/Tools+and+Resources/Financial+planning+and+advice?vgnLocale=en_CA">Financial planning &amp; advice</a></li>
<li><a href="/ca/Explore+products/Insurance?vgnLocale=en_CA">Insurance products</a></li>
<li><a href="/ca/Explore+products/Investments?vgnLocale=en_CA">Investment products</a></li>
<li><a href="/ca/Find+an+advisor?vgnLocale=en_CA">Find an advisor</a></li>
<li><a href="/ca/Get+a+quote?vgnLocale=en_CA">Get a quote</a></li>
<li><a href="/ca/Tools+and+Resources/Health+and+Wellness/Lumino+health?vgnLocale=en_CA">Find a provider</a></li>
<li><a href="/ca/Support/Submit+or+track+a+claim?vgnLocale=en_CA">Submit a claim</a></li>
</ul>
</div>



</div>
</li>

	<!--last append li from collection -->
</ul>