<div class="desktop-primary-navigation">
<ul class="nav navbar-nav navbar-left navbar-new main-nav nav-auth primary-navigation" role="navigation" aria-label="Main">
  {{#each navigation}}
<li class="dropdown nav-item navigation" id="{{navigation-id}}">
    <a data-toggle="dropdown" id={{navigation-id-1}} class="dropdown-toggle subnav-trigger" href="/ca/Explore+products?vgnLocale=en_CA">
        <span class="nav-item-heading">{{navigation-heading}}</span></a>
        <div role="menu" id={{navigation-menu-id}} class="dropdown-menu menu-content">
 {{>core-components-content-mega-menu}}
</div>
</li>
{{/each}}
</ul>
</div>