@import '../../../base/core';

.desktop-primary-navigation{
    .navigation{
        position: static;
        padding: 0;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
        padding: 0;
        margin-top: -8px;
      }
      .menu-content{
          position: absolute;
          margin-top: -8px;
          
      }
      .nav>li>:hover{
        background-color: $white-shade;
        box-shadow: 0 35px 0 0 white, 0 10px 15px 0 rgba(0, 0, 0, 0.25); 
        
      }
      .nav>li>a{
        background-color: transparent;
        padding:15px 24px;
      }
      .nav>li>a:hover{
        background-color: transparent;
        z-index:9999;
        padding-bottom: 0;
        cursor: pointer;
      }
      .nav>li>a:hover .dropdown-menu {
        display: block;
        padding: 0;
        margin-top: -8px;
      }
      .primary-navigation{
        margin-left: 166px;
        li{
            position: static;
        }
      }
      .navbar-new .nav-item>a:after {
        font-family: FontAwesome;
        content: " \f107";
    }
    .box-class{
      z-index: 9999;
      padding-bottom: 0 !important;
      box-shadow: 0 35px 0 0 white, 0 10px 15px 0 rgba(0, 0, 0, 0.25); 
    }
   

}
body>:last-child{
  display: none;
}


