<div class="{{icon-text-wrapper}} {{border-right-present}}">
  {{!-- <span class="heading-4">Getting Started</span>  --}}
  <ul>
    {{#each iconTextList}}
    <li>
      <div class="icon-parent">
        <a class="icon-style fa {{fa-icon}}" href="{{href}}"></a>
      </div>
      <div class="icon-texts">

      </div>
    </li>
    {{/each}}
  </ul>
</div>