@import '../../../prerequisite/base/styles/core.scss';
.icon-style {
    &:hover {
        text-decoration: none;
    }
}
.icon-parent {
    text-align: center;
    a:hover{
        color:$cool-blue-color;
        }
}
.social-link-icon-wrapper{
        .icon-texts{
            display: none;
        }
}
.right-nav-icon-wrapper{
    text-align: center;
    .icon-parent{
        a[href] {
            pointer-events:visible;
        }
    }
    .icon-style {
        font-size: 2.25rem;
        color: $medium-blue-color;
        margin-top: 20px;
        pointer-events: none;
        &:hover {
            text-decoration: none;
            pointer-events: none;
        }
    }
    .icon-texts{
        margin-top: 16px;
        a {
            text-align: center;
            font-size: 1rem;
        }
    }
    .sun-icon {
        font-family: "sunlife-custom";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1.25em;
        font-size: 3.850rem;
        margin-right: .2em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        margin-left: .2em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .icon-lifeinsurance{
        margin-top: 15px;
        &:before {
            content: '\e804';
        }
    }
}
.cta-content-icon-wrapper {
    .icon-style {
    background: linear-gradient($medium-yellow-background, $primary-yellow-background);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 19px;
    border: 2px solid $white-shade;
    color: $white-shade;
    font-size: 2.5rem;
    &:hover {
        text-decoration: none;
        pointer-events: none;
    }
    }
    .icon-texts {
        padding-top: 24px;
        padding-bottom: 0;
        h1, h2, h3, h4, h5, h6, a{
            text-align: center;
        }
        h1, h2, h3, h4, h5, h6{
            margin-top: 0;
           // padding-top: 24px;
        }
    }
}
.overview-highlights-wrapper {
    .icon-style {
    background: linear-gradient($medium-blue-color, $blue-gradient-color);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 18px;
    border: 2px solid $white-shade;
    color: $white-shade;
    font-size: 2.5rem;
    &:hover {
        text-decoration: none;
        pointer-events: none;
    }
    }
    .icon-texts {
        padding-top: 32px;
        padding-bottom: 0;
        word-wrap: break-word;
        -ms-word-wrap: break-word;
        h1, h2, h3, h4, h5, h6, a{
            text-align: center;
        }
        h1, h2, h3, h4, h5, h6{
            margin: 0;
           // padding-top: 24px;
        }
        p{
            padding-bottom:22px;
        }
        p:last-child{
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}
.mega-menu-icon-wrapper {
    .icon-parent {
        text-align: left;
        float: left;
        margin-right: 5px;
    }
    .icon-style {
        background: linear-gradient($medium-yellow-background, $primary-yellow-background);
        border-radius: 50%;
        height: 30px;
        width: 30px;
        padding: 6px;
        border: 2px solid $white-shade;
        color: $white-shade;
        font-size: 0.875rem;
        text-align: center;
        &:hover {
            text-decoration: none;
            pointer-events: none;
        }
    }
    ul{
        margin-top: 0px;
    }
}

.getting-started-icon-wrapper
{
    margin-top: 20px;
    height: auto;
    border: 1px solid $medium-grey-background;
    text-align: center;
    position: relative;
    border-radius: 4px;
    .h2,.h3,.h4,.h5,.h6,.heading-2,.heading-3,.heading-4,.heading-5,.heading-6{
        font-weight: 700;
        font-size:1.5rem;
        line-height: 30px;
        padding: 0 25px 9px 25px; //clarification.
        top: -15px;
        background-color: $white-shade;
        float: left;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    ul{
        width: 100%;
        display: inline-flex;
        text-align: center;
        padding-bottom: 24px;
        &>:not(:last-child)
        {
            border-right: 2px solid $medium-grey-background;
        }
        li{
            flex: 1;
            display:inline-block;

        }

    }
    .icon-style {
        color: $dark-grey-color;
        font-size: 2rem;
        text-align: center;
        line-height: 41px;
    }
    .icon-texts{
        text-align: center;
        padding: 6px;
    }
}
.text-border-right {
    .icon-texts {
        border-right: 2px solid $medium-grey-background;
        padding-right: 16px;
    }
}

.social-icon-rte-wrapper{
        .icon-parent {
            text-align: left;
            float: left;
            margin-right: 5px;
            padding: 0px 0px 20px 0px;
        }
        .icon-texts {
            text-align: left;
            padding: 0px 0px 20px 20px;
        }
}
@media (min-width: $tab-screen-min) and (max-width:$tab-screen-max)
{ .overview-highlights-wrapper{
     .icon-parent{
        .icon-style {
              height: 60px;
              width: 60px;
              padding: 13px;
              font-size: 34px;
              position: relative;
              bottom: 49px;
              pointer-events: none;
              }
            }
         }
      }

@media (min-width: $mobile-screen-min) and (max-width:$mobile-screen-max)
{
    .text-border-right {
        .icon-texts {
            border-right: none;
            padding-right: 0;
        }
    }
  .getting-started-icon-wrapper
    {
       height: auto;
       margin-right:10px;
       margin-left:10px;
       .h2,.h3,.h4,.h5,.h6,.heading-2,.heading-3,.heading-4,.heading-5,.heading-6{
           padding-bottom: 0px;
       }
        ul{
            width: 100%;
            padding: 0;
            display: block;
            margin-top: 15px;
            &>:not(:last-child)
            {
                border-right: none;
                border-bottom: 1px solid $medium-grey-background;
            }
            li{
                flex: none;
                width: 100%;
                display: block;
                padding: 24px 24px 14px 24px;
            }
        }

    }
    .overview-highlights-wrapper{
        .icon-parent{
           .icon-style {
                 height: 60px;
                 width: 60px;
                 padding: 13px;
                 font-size: 34px;
                 position: relative;
                 bottom: 49px;
                 pointer-events: none;
                 }
               }
            }
}

