<div class="advisorhub-sunlife-content-page">
    <div class="adv-search-bar-wrapper collapse in" data-section="{{data-section-search}}" id="sun-search">

        <div class="global-search">
            <form name="searchform-bottom" class="slf-search" action="{{action}}" method="get"
                data-value=""><label class="sr-only" for="q-top">Search</label>
                <h3 class="search-heading">{{heading-text}}</h3>
                <div class="form-wrapper">
                        {{>core-components-form-text}}
                        <div class="search-autocomplete">
                            <ul class="search-autocomplete-list">
                                <li>&nbsp;</li>
                            </ul>
                            <ul class="search-sayt-list" data-section="type-ahead-html-listing">
                                <div class="seperate horizontal-middle-align">
                                    <li>&nbsp;</li>
                                </div>
                            </ul>
                        </div>
                        {{>core-components-form-button}}
                </div>
                <input name="action" type="hidden" value="input" />
            </form>
        </div>
    </div>
</div>