<sly data-sly-use.articleCustom="ca.sunlife.web.cms.core.models.ArticleModel"></sly>
<article class="article-wrapper">
    <div class="article-intro">
        <div class="article-date">
            ${articleCustom.date}
        </div>
        <div class="article-title heading-2">
           ${articleCustom.title}
        </div>
        {{#if author-present}}
        <div class="article-author-name">
           ${articleCustom.author}
        </div>
        {{/if}}
    </div>
    <div class="article-teaser">
        {{article-teaser}}
    </div>
	<sly data-sly-test.Image="${articleCustom.fileReference}">
    <figure class="article-image">
        <img src="${Image @context='uri'}" alt="{{article-image-alt}}">
    </figure>
	</sly>
    <div class="article-body">
		${articleCustom.headline}
       ${articleCustom.description @context ='html'}
    </div>
    <div class="article-rating">
        <div class="mar-bottom-30" id="pd_rating_holder_7600084"></div>
        <script type="text/javascript">
            PDRTJS_settings_7600084 = {
            "id" : "7600084",
            "unique_id" : "8d314f8aaab44610VgnVCM1000001794d09fRCRD",
            "title" : "Canada’s new Food Guide: Get a head start on a healthier diet with these 7 tips",
            "permalink" : "https://www.sunlife.ca/ca/Tools+and+Resources/Health+and+Wellness/Eating+well/Get+a+head+start+on+a+healthier+diet+with+these+7+tips?vgnLocale=en_CA"
            };
        </script>
    </div>
</article>
</sly>

<div data-sly-element="${'script' @context='unsafe'}" data-sly-attribute.type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Article","author",
"item": {"@type": "Person","name":${articleCustom.author}},
"datePublished":${articleCustom.date},
"headline":${articleCustom.title},
"image":[${articleCustom.fileReference}],
"publisher":{"@type":"Organization","name":"Sun Life Assurance Company of Canada",
"logo":{"@type":"ImageObject","height":"60","width":"309","url":"https://www.sunlife.ca/static/slfglobal/globalweb/responsive/images/en/sunlife-logo-mobile-en-amp.png"}
},
"dateModified":${articleCustom.jcrLastModified},
"description":${articleCustom.headline},
"mainEntryOfPage":${currentPage.path}}
</div>

