<template data-sly-template.element="${@ element='The content fragment element'}">
     <div class="cmp-contentfragment__element cmp-contentfragment__element--${element.name}" data-cmp-contentfragment-element-type="${element.dataType}">     
	<article class="article-wrapper">
    <div class="article-intro">
		<sly data-sly-test="${element.name == 'articlePublishedDate'}">
			<div class="article-date">
<sly data-sly-test="${element.dataType == 'calendar'}" data-sly-use.tpl="sunlife/core/components/content/article/calendar.html" data-sly-call="${tpl.element @ date = element.value}"></sly>
			</div>
		</sly>   	        	
	<sly data-sly-test="${element.dataType != 'calendar' && element.dataType != 'boolean'}">
		<sly data-sly-test.headline="${element.name == 'articleHeadline' ? element.value : ''}">
			<div class="article-title heading-2">
				${headline @context='html'}
			</div>
		</sly>
	</sly>	
	<sly data-sly-test="${element.dataType != 'calendar' && element.dataType != 'boolean'}">		
		<sly data-sly-test.articleAuthor="${element.name == 'articleAuthor' ? element.value : ''}">
			<div class="article-author-name">
				By ${articleAuthor @context='html'}
			</div>
		</sly> 
	</sly>	
	</div>	
	<sly data-sly-test="${element.dataType != 'calendar' && element.dataType != 'boolean'}">
	<sly data-sly-test.miniDescription="${element.name == 'articleMiniDescription' ? element.value : ''}">
		<div class="article-mini-description">
			${miniDescription @context='html'}
		</div>
    </sly>
	</sly>	
	<sly data-sly-test="${element.dataType != 'calendar' && element.dataType != 'boolean'}">
	<sly data-sly-test.articleImage="${element.name == 'articleImage' ? element.value : ''}">
	<figure class="article-image">
	<img src="${articleImage @context='uri'}" />
	</figure>
    </sly>
	</sly>	
	<sly data-sly-test="${element.dataType != 'calendar' && element.dataType != 'boolean'}">
	     <sly data-sly-test.mainDescription="${element.name == 'articleMainDescription' ? element.value : ''}">
			<div class="article-body">	
			${mainDescription @context='html'}
			</div>
		</sly>
		</sly>
</article>
</div>
</template>
