<template data-sly-template.contentFragment="${@ fragment='The content fragment', fragmentPath='', wcmmode='WCM mode'}">

    <article class="cmp-contentfragment cmp-contentfragment--${fragment.name}"
             data-cmp-contentfragment-model="${fragment.type}"
             data-sly-attribute.data-cmp-contentfragment-path="${fragmentPath}"
             data-json="${!wcmmode.disabled && fragment.editorJSON}">
        <!-- <h3 class="cmp-contentfragment__title">${fragment.title}</h3> -->
        <sly data-sly-test="${fragment.description}">
            <p class="cmp-contentfragment__description">${fragment.description}</p>
        </sly>

        <sly data-sly-test.isParagraphMode="${fragment.elements.size == 1 && fragment.elements[0].isMultiLine && properties.displayMode == 'singleText'}">
            <sly data-sly-call="${paragraphs @ fragment=fragment}"></sly>
        </sly>
        <sly data-sly-test="${!isParagraphMode}">
            <sly data-sly-call="${elements @ fragment=fragment, wcmmode=wcmmode}"></sly>
        </sly>
    </article>
</template>

<!-- This template should not be used/called by the content fragment list component -->
<template data-sly-template.paragraphs="${@ fragment='The content fragment'}">
    <div class="cmp-contentfragment__elements">
        <div data-sly-resource="${'par0' @ resourceType=fragment.gridResourceType}"></div>
        <div data-sly-list="${fragment.paragraphs}">
            ${item @ context="html"}
            <div data-sly-resource="${'par{0}' @ format=itemList.count, resourceType=fragment.gridResourceType}"></div>
        </div>
    </div>
</template>

<template data-sly-template.elements="${@ fragment='The content fragment', wcmmode='WCM mode'}">
    <dl class="cmp-contentfragment__elements${!wcmmode.disabled ? ' cq-dd-contentfragment' : ''}"
        data-sly-list.element="${fragment.elements}"
        data-sly-use.elementTemplate="sunlife/core/components/content/article/element.html">
        <sly data-sly-call="${elementTemplate.element @ element=element}"></sly>
    </dl>
	<div data-sly-element="${'script' @context='unsafe'}" data-sly-attribute.type="application/ld+json">
    <sly data-sly-use.seoModel="ca.sunlife.web.cms.core.models.BasePageModel" />
        <sly data-sly-list.elementList="${fragment.elements}">
			<sly data-sly-test="${elementList.value}">
				<sly data-sly-test="${elementList.name == 'articleAuthor'}">
                	<sly data-sly-test.author="${elementList.value }"></sly>
                </sly>
                <sly data-sly-test="${elementList.name == 'articleHeadline'}">
                	<sly data-sly-test.headline="${elementList.value }"></sly>
                </sly>
                <sly data-sly-test="${elementList.name == 'articleImage'}">
                	<sly data-sly-test.articleImage="${elementList.value }"></sly>
                </sly>
                <sly data-sly-test="${elementList.name == 'articleMiniDescription'}">
                	<sly data-sly-test.miniDescription="${elementList.value }"></sly>
                </sly>
			</sly>
         </sly>
          {
		"@context": "http://schema.org",
		"@type": "Article","author",
		"item": {"@type": "Person","name":${author}},
		"datePublished":<sly data-sly-list.elementList="${fragment.elements}" data-sly-unwrap><sly data-sly-test="${elementList.name == 'articlePublishedDate'}" data-sly-unwrap><sly data-sly-test="${elementList.dataType == 'calendar'}" data-sly-use.tpl="sunlife/core/components/content/article/calendar.html" data-sly-call="${tpl.element @ date = elementList.value}" data-sly-unwrap></sly></sly></sly>,
		"headline":${headline},
		"image":[${articleImage}],
		"publisher":{"@type":"Organization","name":"Sun Life Assurance Company of Canada",
		"logo":{"@type":"ImageObject","height":"60","width":"309","url":"https://www.sunlife.ca/static/slfglobal/globalweb/responsive/images/en/sunlife-logo-mobile-en-amp.png"}
		},
		"description":${miniDescription},
		"mainEntryOfPage":${seoModel.seoCanonicalUrl}}      
	</div>


    <div data-sly-element="${'script' @context='unsafe'}" data-sly-attribute.type="application/ld+json">
    <sly data-sly-use.seoModel="ca.sunlife.web.cms.core.models.BasePageModel" />
                {
            "id" : "${fragment.articleID}",
            "unique_id" : "${fragment.articleUniqueID}",
            "title" : "${headline}",
            "permalink" : "${seoModel.seoCanonicalUrl}"
            }
    </div>

</template>