.footer-copyright-wrapper {
  background-color: #004C6C;
  padding: 24px 15px; }
  .footer-copyright-wrapper .top-part {
    display: inline-block;
    width: 100%;
    line-height: 18px; }
    .footer-copyright-wrapper .top-part .slf-tagline {
      color: #FFCB05;
      font-size: 1.125rem;
      float: left;
      font-weight: 700;
      line-height: 23px; }
    .footer-copyright-wrapper .top-part .slf-legal {
      float: right;
      font-weight: 700; }
      .footer-copyright-wrapper .top-part .slf-legal li {
        display: inline-block;
        color: #ffffff;
        padding: 0 6px; }
      .footer-copyright-wrapper .top-part .slf-legal a {
        color: #ffffff;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 18px; }
      .footer-copyright-wrapper .top-part .slf-legal a.border-present {
        border-right: 2px solid;
        padding-right: 12px; }
      .footer-copyright-wrapper .top-part .slf-legal li:last-child {
        padding-right: 0; }
  .footer-copyright-wrapper .bottom-part {
    display: inline-block;
    width: 100%;
    line-height: 20px; }
    .footer-copyright-wrapper .bottom-part .slf-acronym {
      color: #ffffff;
      font-size: 0.875rem;
      font-weight: 400;
      float: right;
      max-width: 50%; }
    .footer-copyright-wrapper .bottom-part .not-slf-acronym {
      color: #ffffff;
      font-size: 0.875rem;
      font-weight: 400;
      float: right;
      max-width: 50%; }
    .footer-copyright-wrapper .bottom-part .slf-copyright {
      color: #ffffff;
      font-size: 0.875rem;
      line-height: 18px;
      float: left; }

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-copyright-wrapper {
    height: 116px;
    padding: 32px 15px; } }

@media (max-width: 767px) {
  .footer-copyright-wrapper {
    height: auto;
    padding: 32px 15px; }
    .footer-copyright-wrapper .top-part {
      display: block; }
      .footer-copyright-wrapper .top-part .slf-tagline, .footer-copyright-wrapper .top-part .slf-legal {
        float: none;
        text-align: center; }
      .footer-copyright-wrapper .top-part .slf-legal {
        padding-top: 32px; }
        .footer-copyright-wrapper .top-part .slf-legal ul li:nth-child(4) {
          padding-right: 0; }
        .footer-copyright-wrapper .top-part .slf-legal ul li:nth-child(6) {
          padding-left: 0;
          margin-left: -12px; }
    .footer-copyright-wrapper .bottom-part {
      display: block; }
      .footer-copyright-wrapper .bottom-part .slf-copyright, .footer-copyright-wrapper .bottom-part .slf-acronym, .footer-copyright-wrapper .bottom-part .not-slf-acronym {
        float: none;
        text-align: center; }
      .footer-copyright-wrapper .bottom-part .slf-copyright {
        padding-top: 40px; }
      .footer-copyright-wrapper .bottom-part .slf-acronym, .footer-copyright-wrapper .bottom-part .not-slf-acronym {
        padding-top: 16px; } }
