@import '../../../base/core';
footer {
    background-color: $light-cool-blue-color;
}
.footer-section-1, .footer-section-2, .footer-section-3 {
    padding: 0;
}
.footer-section-1{
    padding: 0;
    .image-text-wrapper{ 
        float: left; 
        margin: 16px 32px 16px 15px ;
        
   
 }
 .social-icon-wrapper {
    float: right;
    margin-right: 15px;
    li {
      float: left;
      font-size: 2rem;
      padding: 10px;
      color: $medium-blue-color;
    }
  }
}  

@media (min-width: $mobile-screen-min) and (max-width:$mobile-screen-max) {
    .footer-section-1 {
       .image-text-wrapper{
            display: none;
       }
       .social-icon-wrapper{
           float: none;
           text-align: center;
           margin: 32px 0px;
       }
    }
}
@media(min-width: $tab-screen-min){
    .footer-section-1{
        height: 128px;
    }
}
@media (min-width: $tab-screen-min) and (max-width:$tab-screen-max) {
    .footer-section-2{
        .links{
            padding: 32px 0 32px 32px;
        }
    }
    .footer-wrapper {
        .image-text-wrapper {
            width: 60%;
            .side-text {
                white-space: inherit;
                float: none;
            }
        }
    }

}
@media (min-width: $desktop-screen-min) {
 
    .footer-section-2{
        display: flex;
        .lists-wrapper{
            width: 20%;
            .links{
                padding: 32px 0 32px 32px;
            }
        }
    }
    
}




 
