@import '../../../base/core';
footer {
    background-color: $light-cool-blue-color;
}
.footer-section-1{
    .image-text-wrapper{  
        .image-wrapper{
        margin: 16px 32px 16px 15px ;
    }
    .side-text{
        margin: 0;
        font-size: 24px;
    }
 }
 .social-icon-wrapper{
    
     margin-left:15px;
     margin-top:30px;
     li{
         a{
             font-size: 2rem;
         }
     }
 }

}
@media (max-width: 767px) {
    .footer-section-1 {
        display: none;
    }
}
 
