<div class="carousel carousel-wrapper">
    <div class="cmp-carousel" role="group" aria-roledescription="carousel" data-cmp-is="carousel" data-cmp-autoplay=""
        data-cmp-delay="3000">
        <div class="cmp-carousel__content">
            <div class="cmp-carousel__item cmp-carousel__item--active" role="tabpanel" aria-label="Slide 1 of 3"
                data-cmp-hook-carousel="item">
                <div class="teaser banner-section clearfix white-box text-right-align">

                </div>
            </div>
            <div class="cmp-carousel__item" role="tabpanel" aria-label="Slide 2 of 3" data-cmp-hook-carousel="item">
                <div class="teaser banner-section clearfix white-box text-right-align">

                </div>
            </div>
            <div class="cmp-carousel__item" role="tabpanel" aria-label="Slide 3 of 3" data-cmp-hook-carousel="item">
                <div class="teaser">

                </div>
            </div>
            <ol class="cmp-carousel__indicators" role="tablist" aria-label="Choose a slide to display"
                data-cmp-hook-carousel="indicators">
                <li class="cmp-carousel__indicator cmp-carousel__indicator--active" role="tab" aria-label="Slide 1"
                    data-cmp-hook-carousel="indicator">Slide1</li>
                <li class="cmp-carousel__indicator" role="tab" aria-label="Slide 2" data-cmp-hook-carousel="indicator">
                    Slide2</li>
                <li class="cmp-carousel__indicator" role="tab" aria-label="Slide 3" data-cmp-hook-carousel="indicator">
                    Slide3</li>

            </ol>
        </div>

    </div>
</div>