@import '../../../base/core';
.primary-blue-button {
        background-color: $medium-blue-color;
        color: $white-shade;
        line-height: 34px;
        .icon-class {
            display: none;
        }
} 
.primary-yellow-button {
        background-color: $medium-yellow-background;
        color: $medium-blue-color;
        line-height: 34px;
        .icon-class {
            display: none;
        }
} 
.secondary-button {
        background-color: $transparent;
        color: $medium-blue-color;
        line-height: 34px;
        border: 2px solid $medium-blue-color;
        .icon-class {
            display: none;
        }
}
.button-text {
    margin: 0;
}
.signIn-button {
        background-color: $medium-yellow-background;
        color: $medium-blue-color;
        height: 40px !important;
        min-width:92px;
        width:auto;
        font-size: 0.875rem;
        .icon-class {
            display: inherit;
            right: 3px;
            position: relative;
        }
}
