@import '../../../base/core';
.button-wrapper {
    .primary-blue-button {
        background-color: $medium-blue-color;
        color: $white-shade;
        .icon-class {
            display: none;
        }
    } 
    .primary-yellow-button {
        background-color: $medium-yellow-background;
        color: $medium-blue-color;
        .icon-class {
            display: none;
        }
    } 
    .secondary-button {
        background-color: $transparent;
        color: $medium-blue-color;
        border: 2px solid $medium-blue-color;
        .icon-class {
            display: none;
        }
    }
    .signIn-button {
        background-color: $medium-yellow-background;
        color: $medium-blue-color;
        height: 40px !important;
        min-width: 92px !important;
        width: 92px !important;
        font-size: 0.875rem;
        .icon-class {
            display: inherit;
        }
    }
}
