@import '../../../base/core';
.primary-blue-button {
    .button-class {
        background-color: $medium-blue-color;
        color: $white-shade;
        line-height: 26px;
        .icon-class {
            display: none;
        }
    }
}
.primary-blue-button-rte{
    background-color: $medium-blue-color;
    color: $white-shade;
    line-height: 26px;
    min-height: 48px;
    //max-height: 72px;
    min-width: 136px;
    max-width: 275px;
    border-radius: 4px;
    padding: 6px 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: inline-block;
    text-decoration: none;
        &:hover {
            background-color: $cool-blue-color;
            color: $white-shade;
            text-decoration: none;
        }
        .icon-class {
            display: none;
        }
}
.primary-yellow-button {
    .button-class {
        background-color: $medium-yellow-background;
        color: $medium-blue-color;
        line-height: 26px;
        .icon-class {
            display: none;
        }
    }
}
.primary-yellow-button-rte{
    background-color: $medium-yellow-background;
    color: $medium-blue-color;
    line-height: 26px;
    min-height: 48px;
    //max-height: 72px;
    min-width: 136px;
    max-width: 275px;
    border-radius: 4px;
    padding: 6px 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: inline-block;
    text-decoration: none;
    &:hover {
        background-color: $cool-blue-color;
        color: $white-shade;
        text-decoration: none;
        a{
            text-decoration: none;
        }
    }
    .icon-class {
        display: none;
    }
}
.secondary-button {
    .button-class {
        background-color: $transparent;
        color: $medium-blue-color;
        line-height: 26px;
        border: 2px solid $medium-blue-color;
        .icon-class {
            display: none;
        }
	&:hover{
		border: 2px solid $cool-blue-color;
	}	
    }
}
.secondary-button-rte
{
    background-color: $transparent;
    color: $medium-blue-color;
    line-height: 26px;
    border: 2px solid $medium-blue-color;
    min-height: 48px;
    //max-height: 72px;
    min-width: 136px;
    max-width: 275px;
    border-radius: 4px;
    padding: 6px 16px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: inline-block;
    text-decoration: none;
    &:hover {
        background-color: $cool-blue-color;
		border: 2px solid $cool-blue-color;
        color: $white-shade;
        text-decoration: none;
    }
    .icon-class {
        display: none;
    }
}
.button-text {
    margin: 0;
}
/* button horizonal center align */
.btn-center-align{
    display: flex;
    justify-content: center;
}

/* button horizonal center align */
div.button {
    .button-class {
        padding: 10px 16px;
    }
}

.signIn-button {
    .button-class {
        background-color: $medium-yellow-background;
        color: $medium-blue-color;
        height: 40px !important;
        min-width:92px;
        min-height: 40px;
        font-size: 0.875rem;
        padding:7px 16px;
        border-radius:4px;
        .icon-class {
            display: inherit;
            right: 3px;
            position: relative;
        }
    }
    .button-class{
        &:hover{
            background: $cool-blue-color !important;
            color: $white-shade !important;
        }
    }
    a {
		&:hover {
            text-decoration: none;
        }
        &:focus{
            text-decoration: none;
        }
	}
}
span.user-icon {
	background-color: $medium-yellow-background;
	color: $medium-blue-color;
	display: inline-block;
	min-width: 92px;
	min-height: 40px;
	font-size: 0.875rem;
	padding: 7px 16px;
	border-radius: 4px;
	padding: 12px 16px !important;
	&:hover {
		background: $cool-blue-color !important;
		color: $white-shade !important;
	}
}
.user-icon-style {
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}

@media(max-width:$mobile-screen-max){
    .primary-blue-button-rte{
        display:flex;
       margin:0 auto;
    }
    
    .primary-yellow-button-rte{
        display:flex;
         margin:0 auto;
    }
    
    .secondary-button-rte{
        display:flex;
         margin:0 auto;
     }
}


    
@media(min-width:$tab-screen-min){
    .primary-blue-button-rte{
    display:inline-flex;
    }
    
    .primary-yellow-button-rte{
     display:inline-flex;
    }
    
    .secondary-button-rte{
         display:inline-flex;
        }
}
 
//removing underline on hover
a[role='button']:hover{
    text-decoration:none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    a[role='button']{
        display:-ms-inline-flexbox;
    }
    .right-navigation-wrapper {
        a[role='button'] {
            display: inherit;
        }
    }
}