@import '../../../base/core';
.title-bar-wrapper.title-yellow-color{
    background: url(https://www.sunlife.ca/static/slfglobal/globalweb/responsive/images/Yellow_Header_OLSun_5_YL_RGB.png) bottom right no-repeat,$medium-yellow-background;
    background-size: contain;
    padding:32px 0 32px 15px;
    color:$dark-grey-color;
    h1{
      margin:0;
      font-size:1.75rem;
    }
}
.title-bar-wrapper.title-blue-color{
  @extend .title-bar-wrapper.title-yellow-color;
  background:url(https://www.sunlife.com/static/Global/images/CircleOutline_bg.png) right no-repeat,$medium-blue-color;
  background-size: auto;
  color: $medium-yellow-background;
}
@media (max-width:$mobile-screen-max){
  .title-bar-wrapper.title-yellow-color{
    background:$medium-yellow-background;
    height:88px;
  }
  .title-bar-wrapper.title-blue-color{
    height:88px;
    background:$medium-blue-color;
  }
}
@media (min-width:$tab-screen-min) and (max-width:$tab-screen-max){
  .title-bar-wrapper{
    height:92px;
  }
}
@media (min-width: $desktop-screen-min){
  .title-bar-wrapper{
    height:93px;
  }
}