<div class="smartbanner smartbanner--android js_smartbanner">
    <div class="app-wrapper">
        <a href="https://play.google.com/store/apps/details?id=com.sunlife.hk.mysunlife" target="_blank"
            class="captureClick">
            <div class="smartbanner__icon">
            </div>
            <div class="smartbanner__info">
                <div>
                    <div class="smartbanner__info__title">My Sun Life HK Mobile app</div>
                    <div class="smartbanner__info__author">Sun Life Financial</div>
                    <div class="smartbanner__info__price">A one stop solution for Claim Submission</div>
                </div>
            </div>
        </a>
        <a href="javascript:void()" class="smartbanner__exit js_smartbanner__exit  fa fa-remove"></a>
    </div>
    <div class="java-button">
        <a href="https://play.google.com/store/apps/details?id=com.sunlife.hk.mysunlife" target="_blank"
            class="smartbanner__button">
            <span class="smartbanner__button__label">DOWNLOAD</span>
        </a>
    </div>
</div>