.desktop-primary-navigation .navigation {
  position: static;
  padding: 0 24px 0 24px; }
  .desktop-primary-navigation .navigation:first-child {
    padding-left: 48px; }

.desktop-primary-navigation .dropdown:hover .dropdown-menu {
  display: block;
  padding: 0; }

.desktop-primary-navigation .menu-content {
  position: absolute;
  margin-top: -8px; }

.desktop-primary-navigation .nav > li > :hover {
  background-color: #ffffff;
  box-shadow: 0 35px 0px 0px white, 0 -15px 0px 0px white, 0px 0 15px -5px rgba(0, 0, 0, 0.25), 0px 0 15px 0px rgba(0, 0, 0, 0.25) !important; }

.desktop-primary-navigation .nav > li > a {
  background-color: transparent; }

.desktop-primary-navigation .nav > li > a:hover {
  background-color: transparent;
  z-index: 9999;
  padding-bottom: 0; }

.desktop-primary-navigation .primary-navigation {
  margin-left: 166px; }
  .desktop-primary-navigation .primary-navigation li {
    position: static; }

.desktop-primary-navigation .navbar-new .nav-item > a:after {
  font-family: FontAwesome;
  content: " \f107"; }

.desktop-primary-navigation .box-class {
  z-index: 9999;
  padding-bottom: 0 !important;
  box-shadow: 0 35px 0px 0px white, 0 -15px 0px 0px white, 0px 0 15px -5px rgba(0, 0, 0, 0.25), 0px 0 15px 0px rgba(0, 0, 0, 0.25) !important; }
