@import "../../../base/core";
@import "../../../../core/components/content/container/style";

.orange-icon-blue-background {
  @extend .blue-icon-yellow-background;
}

/* .orange-icon-blue-background style for 2-CTA's and Overview Highlight */
.orange-icon-blue-background {
  > * {
    background-color: $dark-blue;
    .icon-style{
      background: none;
      background-color: $cinnamon-orange;      
    }
    .icon-texts {
      color: $white-shade;
    }
  }
}

.mega-menu-icon-wrapper .icon-style {
  background: none;
  background-color: $cinnamon-orange;
}

/* Overview Highlights Wrapper Start */
.overview-content-wrapper {
  .orange-icon-blue-background {
    .cmp-container {
      background: linear-gradient($medium-blue-color, $dark-blue) !important;
    }
  }
}
/* Overview Highlights Wrapper End*/

/* Tripple CTA Start */
.cta-three-column-wrapper {
  border: 1px solid $white-smoke;
  > * {
    background-color: $light-grey-color;
    .icon-style {
      background: none;
      background-color: $cinnamon-orange;      
    }
  }
}
/* Tripple CTA End*/

/* Homepage Triple CTA */
.orange-icon-white-background {
  @extend .yellow-icon-white-background;
  border: 1px solid $light-grey-separator-color;
  .cta-content-icon-wrapper {
    .icon-style {
      background-color: $cinnamon-orange;
      background-image: none;
    }
    .icon-texts {
      h3:first-child{
        min-height: 3rem;
      }
      p:last-child {
        padding-top: 24px;
      }
      > * {
        span.button-class{
          width: 100%;
        }
      }
    }
  }
}

.company-highlight-blue-orange {
  @extend .company-highlight-yellow-grey-background;
  background: linear-gradient(to bottom, $dark-blue 50%, $white-smoke 50%);

  h2, h3, h4, h5, h6, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6{
    color: $white-shade;
  }
  .view-all-category::after {
    color: $cinnamon-orange;  /* Turn chevron dark-blue */
  }
}

/* Tool Card Main Wrapper Starts Here*/
.tool-card-main-wrapper {
  .container-component {
    background-color: $white-smoke;
  }
}
/* Tool Card Main Wrapper Ends Here*/

/* Styles For Related Resources Start */
.cmp-related-resource {
  background: $white-smoke;
  .icon-parent {
    background: none;
    background-color: $cinnamon-orange;
  }
}
/* Styles For Related Resources Ends */

/* Cross Sell Cta Wrapper Starts Here */
.cross-cta-wrapper {
  background-color: $light-orange-30;
  .mega-menu-icon-wrapper {
    .icon-style {
      background: none;
      background-color: $cinnamon-orange;
    } 
  }
}
/* Cross Sell Cta Wrapper Ends Here */

/* Desktop only styles start */
@media (min-width: $desktop-screen-min){
  .cta-content-icon-wrapper .icon-style.fa-map-o {
    padding: 17px 15px 15px 15px;   /* Center Map-Icon within circle */
  }
  .orange-icon-white-background {
    .cta-content-icon-wrapper {
      .icon-texts{
        p{
          &:lang(en):nth-of-type(1){
            min-height: 80px;
          }
          &:lang(fr):nth-of-type(1){
            min-height: 120px;
          }
        }
      }
    }
  }
}
/* Desktop only styles end */

/* Tablet only styles start */
@media (min-width: $tab-screen-min ) and (max-width: $tab-screen-max){
  a.icon-style.fa.fa-map-o {
    padding: 11px 11px 11px 8px;
  }
  .orange-icon-white-background {
    .cta-content-icon-wrapper {
      .icon-texts{
        p{
          &:lang(en):nth-of-type(1){
            min-height: 120px;
          }
          &:lang(fr):nth-of-type(1){
            min-height: 170px;
          }
        }
      }
    }
  }

}
/* Tablet only styles end */

/* Mobile only styles start*/
@media (max-width: $mobile-screen-max) {
  a.icon-style.fa.fa-map-o {
    padding: 11px 11px 11px 8px;
  }
}
/* Mobile only styles end*/

/* Not Mobile */
@media (min-width: $tab-screen-min) {
  #mainfooter {
    background-color: $white-smoke;
  }
}