<div data-component-render="react" data-component-render-name="dynamic-form"
data-component-render-props='{
    "form":"true",
    "primaryPath":"/content/dam/sunlife/external/hk/en/primaryFile.json", 
    "secondaryPath":"/content/dam/sunlife/external/hk/en/secondaryFile.json", 
    "apiURL": "https://sv84607.sunlifecorp.com:463/ph/uat/ebao/controller/v1/verify" 
    }'>
</div>


 