.desktop-region-language-menu-wrapper .slf-region .content-region ul li a:hover {
  background-color: #F0EDE8; }

.desktop-region-language-menu-wrapper .slf-region .content-region .nav-select {
  background-color: #F0EDE8; }

.desktop-region-language-menu-wrapper .content-language ul li:hover {
  background-color: #F0EDE8; }

.desktop-region-language-menu-wrapper .content-language ul .nav-select {
  background-color: #F0EDE8; }

.mobile-region-language-menu-wrapper .slf-tab-region .active {
  color: #004C6C; }

.mobile-region-language-menu-wrapper .tab-content .region-tab .list-unstyled .nav-select, .mobile-region-language-menu-wrapper .tab-content .language-tab .list-unstyled .nav-select {
  background-color: #F0EDE8; }
