@import '../../../base/core';

//  sign-in-framework starts here
.mySlfSignIn {
    // width:100%;
    height: auto;
    background-color: $medium-yellow-background;
    padding: 24px 24px 40px 24px;

    .h2 {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 24px;
        color: $dark-grey-color;
        margin: 16px 0 10px 0;
    }

    .form-sign-in {
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        max-width: 317px;
        width: 100%;

        .form-group {
            margin: 0;

            &.text-left {
                text-align: left;
                flex-direction: row;
                display: block;
            }

            input {
                display: block;
                padding: 0 10px;
                width: 100%;
                max-width: 317px;
                height: 48px;
                border: 1px solid $light-grey-color;
                font-size: 1rem;
                font-weight: 400;
                color: $dark-grey-color;
                line-height: 26px;
            }

            input::placeholder {
                color: $dark-grey-color;
                line-height: 26px;
                font-size: 1rem;
                font-weight: 400;
            }

            input[name="USER"] {
                margin-bottom: 8px;
            }

            input[name="SAVEIDCHECK"] {
                height: 20px;
                width: 20px;
                margin-bottom: 16px;

                &:checked::after {
                    margin-left: -8px;
                }
            }

            span.remember-text {
                font-size: 1rem;
                font-weight: 400;
                line-height: 26px;
                color: $dark-grey-color;
                padding-left: 30px;
                margin-bottom: 16px;
                display: inline-block;
            }

            .password-input {
                margin-bottom: 16px;
            }

            .btn.btn-blue {
                width: 100%;
                height: 48px;
                background: $medium-blue-color;
                color: $white-shade;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 700;
                border-radius: 4px;
                margin-bottom: 16px;
            }
        }
    }

    #form_signon {
        .has-error {
            margin-bottom: 10px;

            input[type="password"],
            input[type="text"] {
                border: 1px solid $medium-red-color;
                background-color: $medium-red-10;
            }

            .arrow-help-block,
            .help-block {
                background: $medium-red-color;
                color: $white-shade;
                display: inline-block;
                position: relative;
                width: 100%;
                text-align: left;
                margin-top: 0;
                padding-left: 20px;
                height: auto;
                min-height: 48px;

                &:before {
                    content: '\f12a';
                    font-family: FontAwesome;
                    color: $white-shade;
                    position: absolute;
                    left: 10px;
                    top: 10px;
                }
                a{
                    color: $white-shade;
                }
            }

            .arrow-help-block {
                margin-bottom: 20px;
                margin-top: -10px;
                padding-top: 10px;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 20px;
                    bottom: 100%;
                    width: 0;
                    height: 0;
                    border-bottom: 5px solid $medium-red-color;
                    border-top: 5px solid transparent;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                }

                &#accessIdError {
                    margin-top: -2px;
                    margin-bottom: 5px;
                }
            }
        }

        .help-block {
            margin-bottom: 5px;
        }

        .arrow-help-block,
        .help-block {
            display: none;
        }
    }

    .parsley-errors-list.filled {
        top: 2px;

        li {
            padding: 8px 10px 4px 16px;
        }
    }

    #passwordDiv {
        .parsley-errors-list {
            top: -6px;
        }
    }

    .signin-links {
        font-size: 0.8125rem;
        display: flow-root;
        //margin-bottom: 32px;
        width: 100%;
        font-weight: 700;
        margin-bottom: 0;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        max-width: 317px;
        width: 100%;

        .signin-help {
            float: left;
            line-height: 18px;

            a {
                font-size: 0.875rem;
                line-height: 18px;
                color: $medium-blue-color;
            }
        }

        .signin-register {
            @extend .signin-help;
            float: right;
        }
    }

    /*  for aem styles */
    .right-item.signin-links-two {
        padding: 0;
        margin-bottom: 0;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        width: 100%;
        max-width: 317px;
        text-align: center;
        font-size: 0.875rem;
        line-height: 18px;
        font-weight: 400;
        color: $dark-grey-color;

        p {
            margin: 32px 0 0 0;
            font-size: 0.875rem;
            line-height: 18px;
            font-weight: 400;
            color: $dark-grey-color;
            max-width: 317px;

            a {
                font-size: 0.875rem;
                font-weight: 700;
                color: $medium-blue-color;
            }

            &.no-margin-top {
                margin: 0;
            }

            .no-margin-top {
                margin: 0;
            }
        }
    }

    .download-app {
        min-height: 66px;
        height: auto;
        margin: 0 0 16px 0;
        background-color: $light-cool-blue-color;
        width: calc(100% + 48px);
        position: relative;
        margin-left: -24px;
        padding: 0 24px;

        .download-app-wrapper {
            height: auto;
            width: 100%;
            max-width: 317px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            position: relative;

            .mobile-app-text {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                position: relative;

                p {
                    width: 100%;
                    margin-bottom: 0;
                    font-weight: 400;
                    line-height: 20px;
                    font-size: 1rem;
                    color: $dark-grey-color;

                    &:active,
                    &:hover {
                        text-decoration: none;
                    }

                    strong {
                        font-size: 1rem;
                        font-weight: 700;
                        line-height: 20px;
                        color: $medium-blue-color;
                    }
                }

                p:first-child {
                    margin-top: 10px;
                }
            }

            .mobile-app-text.app-logo {
                display: inline-block;

                p:first-child {
                    float: left;
                    margin: 0;

                    img {
                        width: 50px;
                        height: 50px;
                        margin-top: 8px;
                    }
                }

                p {
                    width: auto;
                    float: none;
                    margin: 0 0 0 60px;
                    font-weight: 400;
                    line-height: 20px;
                    font-size: 1rem;
                    color: $dark-grey-color;
                    position: relative;
                    word-break: break-word;
                    overflow: hidden;

                    &:active,
                    &:hover {
                        text-decoration: none;
                    }

                    strong {
                        font-size: 1rem;
                        font-weight: 700;
                        line-height: 20px;
                        color: $medium-blue-color;
                    }
                }

                p:nth-child(2) {
                    margin-top: 12px;
                }
            }
        }
    }

    .download-app.no-text {
        min-height: 0;
        display: none;
        margin-bottom: 0;
    }
}

.sign-in.cool-blue {
    .mySlfSignIn {
        @extend .mySlfSignIn;
        background-color: $light-cool-blue-color;

        .download-app {
            background-color: $white-shade;
            margin: 0 0 16px 0;
            margin-left: -24px;
        }

        .download-app.no-text {
            min-height: 0;
            display: none;
            margin-bottom: 0;
        }

        .right-item.signin-links-two {
            margin-bottom: 0;
        }
    }
}

//  sign-in-framework ends here 
@media (max-width: $mobile-screen-max) {

    // .row.flex-layout-container,
    // .row.flex-height.flex-layout-container {
    //     display: flex;
    //     flex-direction: column;

    //     .col-sm-8 {
    //         order: 2;
    //     }

    //     .col-sm-4 {
    //         order: 1;
    //     }
    // }

    .mySlfSignIn {
        .h2 {
            margin-bottom: 16px;
        }
    }
}

// iframe
iframe {
    border: 0;
}

.sign-out-link {
    font-weight: 700;
    color: $medium-blue-color;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    background-color: $transparent;
}
//sign-in eye-toggle
.password-div {
    position: relative;
}

.eye-icon {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 10px;
    transform: scale(1.2);
}

.fa-eye:before {
    content: "\f06e";
}

/* mfa modal starts here */
// .sign-in {
//     .transmit-modal {
//         background-color: $background-black-ovrelay-color;
//         padding: 0;
//         padding-right: 0 !important;

//         .modal-dialog {
//             width: 100%;
//             height: 100%;
//             margin: 0;
//             position: relative;

//             .transmit-modal-content {
//                 margin: 30px 0 0 0;
//                 width: 80%;
//                 position: relative;
//                 left: 50%;
//                 transform: translateX(-50%);
//                 // top: 50%;
//                 //transform: translate(-50%, -50%);

//                 .transmit-modal-header {
//                     .close-transmit {
//                         margin: 0;
//                         padding: 0;
//                         font-size: 1.5rem;
//                         color: $black-shade;
//                         font-weight: 700;
//                     }
//                 }
//                 #sign_in_modal_container{
//                     position:relative;
//                     width:100%;
//                     #sign_in_modal_content_container {
//                         width:80%;
//                     }
//                 }
//             }
//         }
//     }
// }

/* mfa modal ends here */