<div data-component-render="react" data-component-render-name="news-tiles" 
    data-component-render-props='{
        "newsToolBar":"true",
        "newsListContainer":"true",
        "toolbarLeftText":"News",
        "moreText":"More",
        "toolbarRightText":"Preferences",
        "preferenceModalHeading":"Your Preferences",
        "selectAllText":"Select all",
        "preferenceModalHeadingbtn1":"Apply",
        "preferenceModalHeadingbtn2":"Clear all",
        "iconName": "fa-sliders",
        "moreNewsText":"More News",
        "moreNewsImg":"/content/dam/sunlife/internal/source/images/news-icon-tile.png",
        "moreNewsLink":"/content/sunlife/internal/source-backup-20200923/en/dev-test/test-news/news-lis",
        "workdayText":"Find information on all your core HR processes and latest Workday announcements",
        "workdayLinkText":"Go to Workday",
        "workdayLink":"/content/sunlife/external.html",
        "workdayImg":"/content/dam/sunlife/internal/source/images/workday.jpg",
        "workplaceText":"Connect and collaborate with your colleagues across the globe",
        "workplaceLinkText":"Go to Workplace",
        "workplaceLink":"https://sunlife.workplace.com",
        "workplaceImg":"/content/dam/sunlife/internal/source/images/workplace.png",
        "resourcePath":"/content/sunlife/internal/source/en/news/jcr:content/root/layout_container/container1/generic",
        "getPrefernceListUrl":"/content/cq:tags/sunlife/source",
        "loading": "Loading...",
        "loadingText": "One moment please",
        "genericImage":""
        }'></div>