<div data-component-render="react" data-component-render-name="news-tiles" 
    data-component-render-props='{
        "newsToolBar":"true",
        "newsListContainer":"true",
        "toolbarLeftText":"News",
        "moreText":"More",
        "toolbarRightText":"Preferences",
        "preferenceModalHeading":"Your Preferences",
        "selectAllText":"Select all",
        "preferenceModalHeadingbtn1":"Apply",
        "preferenceModalHeadingbtn2":"Clear all",
        "iconName": "fa-sliders",
        "moreNewsText":"More News",
        "workdayText":"Find information on all your core HR processes and latest Workday announcements",
        "workdayLinkText":"Go to Workday",
        "workdayLink":"/content/sunlife/external.html",
        "workplaceText":"Connect and collaborate with your colleagues across the globe",
        "workplaceLinkText":"Go to Workplace",
        "workplaceLink":"https://sunlife.workplace.com"
        }'></div>