@import '../../../base/core'; 

.secondary-button-form {
    button{
    border: 2px solid $medium-blue-color !important;
 
    }
}
.cmp-form-options--checkbox{
    .cmp-form-options__field-label {
        .cmp-form-options__field-description{
            font-weight: 400 !important;
        }
    }
} 

.news-wrapper{
    .news-tool-bar {
        .tool {
            padding: 16px 15px;
            .left-text{
                font-size: 24px;
                font-weight: 700;
                margin: 0;
            }
            .right-text{
                span{
                    padding-left: 5px;
                }
                
            }
        }
        .horizontal-middle-align{
            border-bottom: 2px solid $medium-yellow-background;
            margin-bottom: 24px;
        }
    }
    .news-list-container{
        .news-image{
            width: 200px;
        }
        .dynamic-news-tile{
            padding: 0;
            .tile{
                padding: 0 16px 0 0;
            }
        }
        .tile{
            height: 290px;
            margin-bottom: 16px;
        }
        .static-news-tile{
            padding: 0;
            .workday-tile{
                padding: 20px;
                background: #026CB5;
                color: $white-shade;
            }
            .workplace-tile{
                padding: 20px;
                background: $light-grey-color;
            }
        }
    }

    .preference-popup-wrapper{
        opacity: 1;
        background-color: $background-black-ovrelay-color;
        padding: 0;
        position: fixed;
        padding-left:0;
        .preference-modaldialog {
            margin-top: 20px;
        }
        .modal-content{
            border-radius: 0;
            .heading-text{
                font-weight: 700;
                margin-bottom: 8px;
            }
            .chk-lbl{
                margin-left:30px;
                vertical-align: middle;
            }
            .preference-modal-header{
                border-bottom: none;
                padding: 16px 16px 0px 16px;
                p{
                    margin: 0;
                }
            }
            .close-modal {
                background: none;
                border: none;
                position: absolute;
                right: 16px;
                color: $medium-blue-color;
                .collapse-x {
                    font-size: 1rem;
                }
            }
            .preference-modal-body {
                padding: 6px;
                overflow-y: auto; 
                -webkit-overflow-scrolling: touch;
                max-height: calc(100vh - 250px) !important;
                
                .prefernce-col-list{
                    li{
                        margin-bottom: 5px; 
                    }
                }
            }
            .preference-modal-footer{
                margin: 20px;
                padding: 16px;
                border-top: none;
                text-align: justify;
            }
        }
    }
}

@media (min-width: $desktop-screen-min) {
    .news-wrapper{
        .preference-popup-wrapper{
            .modal-content{
                min-width: 900px;
            }
            .preference-modal-body {
                ul.topic-col {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(12, 1fr);
                    grid-auto-flow: column;
                  }
            }
        }
    }
}