@import "../../../base/core";

/* Primary Blue Button */
.primary-blue-button {
  .button-class {
    background-color: $dark-blue;
  }
}
.primary-blue-button-rte {
  background-color: $dark-blue;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

/* Primary Yellow Button */
.primary-yellow-button {
  .button-class {
    color: $dark-blue;
  }
}
.primary-yellow-button-rte {
  color: $dark-blue;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

/* White version-blue */
.secondary-button {
  .button-class {
    background-color: $white-shade;
    color: $dark-blue;
    border: 2px solid $dark-blue;
  }
}
.secondary-button-rte{
  background-color: $white-shade;
  color: $dark-blue;
  border: 2px solid $dark-blue;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

/* Sign-in button */
.signIn-button {
  .button-class {
    color: $dark-blue;
  }
}
/* Sign-in button class */