@import "../../../base/core";
.primary-blue-button-form {
  button {
    background-color: $medium-blue-color;
    color: $white-shade;
  }
}

.primary-blue-button-rte {
  background-color: $dark-blue;
}
