@import '../../../base/core';
.right-navigation-wrapper{
     > .cmp-container{
    /*.icon-text  {
        p {
            a{
                .button-class {
                    margin: 0 0 14px 0;
                }
            }
        }
        p:last-child {
            a{
                .button-class {
                    margin: 0;
                }
            }
        }
    }*/
    
    .lists-wrapper{
        .accordion-heading{
            line-height: 23px;
        }
    }
    form{
        h2,h3,h4,h5,h6{ 
            line-height: 23px;
        }
    }
    .right-nav-icon-wrapper
    {
        h2,h3,h4,h5,h6,.heading-2,.heading-3,.heading-4,.heading-5,.heading-6{
            line-height: 23px;
        }

    }
    .social-icon-rte-wrapper{
        h2,h3,h4,h5,h6,.heading-2,.heading-3,.heading-4,.heading-5,.heading-6 {
            line-height: 23px;
        }
      }
    }

}
