@import "../../../../../prerequisite/base/styles/core.scss";
.sl-table {
    table {
        border: none;
    }
    tr{
        border-color: var(--bs-border-color);
        &:first-child {
            td {
                font-size: 1rem;
                background: var(--brand-secondary-100);
                color: var(--grey-900);
                font-weight: 400;
                line-height: 1.5rem;
                border-style: hidden;
            }
        }
        th {
            font-size: 1rem;
            background: var(--brand-secondary-100);
            color: var(--grey-900);
            font-weight: 400;
            line-height: 1.5rem;
            border-style: hidden;
        }
        td {
            border-color: var(--bs-border-color);
        }
    }
    .fa-check-circle-yes {
        font-size: 30px;
        color: rgb(21, 72, 15);
    }
    .fa-close-circle {
        font-size: 30px;
        color: rgb(124, 19, 40);
    }
}