.newStyleClass {
  color: #000000;
}

.sign-in html, body {
  margin: 0px;
  padding: 0px;
}

.sign-in .content {
  margin: auto;
  margin-top: 40px;
  background-color: white;
  color: darkslategray;
}

.sign-in .header {
  color: #000000;
}

.sign-in .button_submit {
  display: block;
  width: 150px;
  height: 40px;
  height: 30px;
  margin-top: 20px;
  padding: 4px;
}

.sign-in #home_content {
  display: block;
}

.sign-in .option_button {
  width: 80%;
  height: 30px;
  margin-top: 10px;
}

.sign-in .hidden_container {
  display: none !important;
}

.sign-in .selected_span {
  margin-left: 5px;
  color: green;
}

.sign-in #sign_in_modal_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.sign-in #sign_in_modal_content_container {
  margin: auto;
  margin-top: 10%;
  width: 20%;
  background-color: rgb(206, 209, 15);
  padding: 10px;
}

.sign-in .sign_in_input {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

.sign-in #sign_in_button {
  width: 100%;
  margin-top: 10px;
  background-color: rgb(37, 87, 197);
  color: white;
}

.sign-in #sign_in_cancel_button {
  width: 100%;
  margin-top: 10px;
  color: rgb(230, 32, 32);
}


.sign-in .modal{
  padding-right: 0px !important;
}
.sign-in .modal-header{
  border-bottom: 0px;
}
.sign-in .modal-footer {
  border-top: 0px;
}
.sign-in .modal-content {
  border-top: 6px solid #eaab00;
  margin: auto;
  padding: 0px;
  width: 100%;
  max-width: 1032px;
  border-radius: 4px !important;
}

.modal-dialog {
  width : 100%;
  margin: 0px;
  vertical-align: middle !important;
  padding-bottom: 150px;
}

@media (min-width: 1025px) {
  .modal-dialog {
      margin-top : 96px;
  }
}

@media (max-width: 767px) and (min-width:320px) {
  .modal-dialog {
      width : 100%;
      margin: 0px;
      height: calc(100%);
      vertical-align: middle !important;
      padding-bottom: 0px;
  }
  
  .sign-in .modal-content {
    border-top: 6px solid #eaab00;
      margin: 0px;
      padding: 0px;
      width: 100%;
      border-radius: 0px;
      min-height: calc(100%);
    }
}

.sign-in  .mfa-label{
  font-weight: 400 !important;
}


.sign-in #mfa-container #step-up-phone-list-container .wrapper div:first-child {
  border-top: 1px solid #d7d7d7;
  border-bottom: 0;
  border-radius: .4rem .4rem 0 0 ! important;
}


.sign-in #mfa-container  #step-up-phone-list-container .wrapper div:last-child {
  border-radius: 0 0 .4rem .4rem ! important;
  border-bottom: 1px solid #d7d7d7;
}

#mfa_signin_modal{
  width: 100% !important;
}

#mfa-container .slf-alert-box.slf-green-bg-10 {
  border: 1px solid;
  background: #edf0ea;
  color: #536b2d;
  padding: 20px;
}

#mfa-container .sub-container .slf-alert-box:before {
  content: "\f058";
}

#mfa-container .slf-alert-box:before {
  content: "\f05a";
  font-family: FontAwesome;
  font-size: 30px;
  padding-right: 15px;
  padding-top: 2px;
}

#mfa-container .sub-container .legend-normal {
   font-size: 18px;
}

.modal-backdrop{
  position: fixed;
}

#mfa-container .page-separator{
  margin-top: 20Px;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}

input.parsley-error{
  background-color: #fff;
  border: 2px solid #b81f41 !important;
}

#newCodeSentTxt{
  margin: 0px;
}

.sign-in .close {
  font-size: 20px;
}
#step-up-input-otp-code-screen-input::-ms-clear{
  display: none;
}
#step-up-input-otp-code-screen-input:-ms-input-placeholder{   
  color:#757575;
}