<sly data-sly-use.lumino="ca.sunlife.web.cms.advisorhub.models.LuminoModel" />
<sly data-sly-test="${lumino.language == 'en'}">
<div data-lumino-widget='ProviderSearchLauncher' 
         data-lumino-default-location='${properties.location}' 
         data-lumino-default-specialty='${properties.specialty}'
         data-lumino-language='${lumino.language}'
         data-lumino-google-api-key='${currentStyle.googleapikey}'
         data-lumino-service-host='services.sunlife.com'
         data-lumino-redirect-host='luminohealth.sunlife.ca'
         data-lumino-partner-name=' ${currentStyle.partnername}'
         data-lumino-page-name='${currentPage.title}'>
</div>
</sly>
<sly data-sly-test="${lumino.language == 'fr'}">
<div data-lumino-widget='ProviderSearchLauncher' 
         data-lumino-default-location='${properties.location}' 
         data-lumino-default-specialty='${properties.specialty}'
         data-lumino-language='${lumino.language}'
         data-lumino-google-api-key='${currentStyle.googleapikey}'
         data-lumino-service-host='services.sunlife.com'
         data-lumino-redirect-host='luminosante.sunlife.ca'
         data-lumino-partner-name=' ${currentStyle.partnername}'
         data-lumino-page-name='${currentPage.title}'>
</div>
</sly>
<script src="https://luminohealth.sunlife.ca/lumino-ps-launcher-widget/js/luminowidget.bundle.js"></script>

