<sly data-sly-use.lumino="ca.sunlife.web.cms.advisorhub.models.LuminoModel"/>

<div data-lumino-widget='ProviderSearchLauncher'
     data-sly-use.lumino="ca.sunlife.web.cms.advisorhub.models.LuminoModel"
     data-lumino-language='${lumino.language}'
     data-lumino-default-location='${properties.location}'
     data-lumino-default-specialty='${properties.specialty}'
     data-lumino-init-mode='LUMINO'
     data-lumino-test-host='https://sit-luminohealth.ca.sunlife'
     data-lumino-search-modes='SPECIALTY,TEXT'
     data-lumino-google-api-key='${currentStyle.googleapikey}'
     data-lumino-linkedfrom='slfadvisorhub:${lumino.analyticsName}'
     data-lumino-target-new-tab
     data-lumino-header-text=' '
     data-lumino-footer-text=''
></div>
<script src="https://luminohealth.sunlife.ca/lumino-ps-launcher-widget/js/securewidget.bundle.js"></script>
