<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"/>
<sly data-sly-call="${templates.placeholder @ isEmpty = !text}"></sly>
<div class="footer-copyright-wrapper-asd" data-sly-use.footercopyright="com.sunlife.core.models.FooterCopyrightModel">
   <div class="top-part clearfix">
   <div data-sly-test="${footercopyright.title}" class="slf-tagline">${footercopyright.title}</div>
	   <div class="slf-legal" data-sly-list.product="${resource.listChildren}">
			 <ul data-sly-list="${product.listChildren}">
				<li data-sly-test="${!item.checkboxHide}">
					<a href="${item.url @ extension = 'html'}" target="${item.windowSelection}" class="${ item.checkboxSeparator ? 'border-present' : ''}">${item.label}</a>
				</li>
			 </ul>
	   </div>
	  </div>
   <div class="bottom-part">
      <div data-sly-test="${footercopyright.richTitle}" class="slf-copyright">${footercopyright.richTitle @context='html'}</div>
	  <div data-sly-test="${footercopyright.slfText}"class="slf-logo">${footercopyright.slfText}</div>
   </div>
</div>