<div class="social-icon-wrapper">
	<ul class="footer-socials">
		{{#each iconlist}}
		<li>
			<a href="{{icon-link}}" target="_blank">
				<i class="{{icon}}" aria-hidden="true"></i>
			</a>
		</li>
		{{/each}}
	</ul>
</div>