@import '../../../base/core';
.form-wrapper{
  text-align: center;
  width: 50%;

}
.form-wrapper-simple{
    border: 1px solid $black-shade;
    padding: 15px;
    .cmp-form-options--drop-down
  {
      width: 100%;
  }
}
.form-container-component{
    padding:16px;
}
.form-yellow-wrapper{
    background-color:$medium-yellow-background;

}
.form-alignment-left{
    text-align: left;
}
.form-alignment-right{
    text-align: right;
}
.form-alignment-center{
    text-align: center;
}
.parsley-errors-list.filled {
    background: $medium-red-color;
    color: $white-shade;
    position: relative;
    margin: 1px 0px 9px 0px;
    display: table-cell;
    height: 48px;
    top: 6px;

}


.parsley-errors-list li {
    padding: 4px 10px 4px 17px;
    background-image: none;
    text-align: left;
}



.parsley-custom-error-message {
    margin: 5px 10px;
}


.filled:before {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 5px solid $medium-red-color;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.parsley-error {
    background-color: $medium-red-10!important;
    border: 1px solid $medium-red-color !important;
}

.editorial-nav-mobile-wrapper{
    width: 100%;
    background-color: $medium-yellow-background;
    .options{
        padding: 0 5px;
        .cmp-form-options{
            height: 68px;
            width: 100%;
            float: right;
            transform: translateY(11px);
            .cmp-form-options__label{
                display: none;
            }
            .cmp-form-options__field{
                background-color: $white-shade;
            }
        }
        .cmp-form-options--drop-down::before{
            z-index: 1;
        }
    }
    .button-wrapper{
        margin: 0;
        transform: translateY(11px);
        .cmp-form-button{
            width: 53.44px;
            min-width: 0;
        }
    }
    .layout-container{
        .col-xs-10, .col-xs-2{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.subscribe-popup-form-wrapper form .button-wrapper .cmp-form-button{
    width:100%;
    min-width:100%;
    max-width:100%;
    }
.cta-form-wrapper form .button-wrapper .cmp-form-button{
        width:100%;
        min-width:100%;
        max-width:100%;
    }


    .subscribe-main-form-wrapper form .button-wrapper .cmp-form-button {
        width: 100%;
        min-width: 100%;
        max-width: 100%; }
       .subscribe-main-form-wrapper{
          padding:0px !important;
              }
/*Thank You wrapper Starts Here*/

.thankyou-wrapper{
	background-color: $medium-yellow-background;
    text-align:center;
    padding: 32px 0 22px 0;
    form{
        width:66.66%;
        display:inline-block;
        .cmp-text{ 
            .heading-1,.heading-2,.heading-3,.heading-4,.heading-5,.heading-6,h2,h3,h4,h5,h6{
            font-size: 1.5rem;
            line-height:30px;
            font-weight:400;
            margin: 0;
            }
        }
        .text,.dropdown {
            width:50% !important;
             padding: 0 8px;
             margin-bottom: 16px;
        }
        .dropdown .cmp-form-options--drop-down {
            width:100%;
        }
        .cmp-form-button{
            width: 100%;
            margin-top: 16px;
            margin-bottom: 16px;
        
        }
    }
    div.text:first-of-type {
        width: 80% !important;
        float:none !important;
        padding:0 30px;
        display:inline-block;
        margin-bottom:32px;
    }
    div.text:last-child {
       width: 100% !important;
       margin-bottom:0px;
       padding: 0 50px;
   }
   .text.form-element-full-width-wrapper, .dropdown.form-element-full-width-wrapper{
        width: 80% !important;
        float: none !important;
        padding: 0 30px;
        display: inline-block;
    }
    textarea {
        width:100%;
    }
} 
/*Thank You wrapper Ends Here*/
@media (max-width: $mobile-screen-max) {
.subscribe-popup-form-wrapper{
    padding:0 ;
    form  :not(:last-child){
        padding-bottom:16px !important;
    }
    }
    .thankyou-wrapper{
        padding: 32px 16px 22px 16px;
        form {
            width:100%;
            display:inline-block;
            .text, .dropdown {
                width:100% !important;
                 padding: 0;
                 margin-bottom: 16px;
            }
            .text.form-element-full-width-wrapper, .dropdown.form-element-full-width-wrapper{
                width: 100% !important;
            }
        } 
    }
}
@media (min-width: $tab-screen-min)  {
.editorial-nav-mobile-wrapper {
    display: none; }

	.subscribe-popup-form-wrapper{
        padding:24px;
        form{
            display: table;
            .button-wrapper{
                width:25% !important;
            }
          }
        form :not(:last-child)
        {
            padding-right:16px !important;
        }
    }
}
@media (max-width: $tab-screen-max){
    .cta-form-wrapper{
    	padding-right:16px;
        padding-left:16px;
        form{
            .text,.dropdown{
                width:83.33% !important;
            }
            .button-wrapper{
                width:16.66%  !important;
            }
        }
    }

}
@media (min-width: $tab-screen-min) and (max-width: $tab-screen-max) {
    .thankyou-wrapper {
        padding: 32px 32px 22px 32px;
        form{
            width:100%;
            display:inline-block;
            .text, .dropdown {
                width:100% !important;
                padding: 0;
                margin-bottom: 16px;
            }
            .text.form-element-full-width-wrapper, .dropdown.form-element-full-width-wrapper{
                width: 100% !important;
            }
        }
    }
}
//style for cta form input form alignment
@media (max-width: $tab-screen-max){
    .cta-form-wrapper{
        .cmp-form-text{
            input{
                width: 100%;
            }
        } 
    } 
}
@media (min-width: $desktop-screen-min)
{
	.cta-form-wrapper{
    	padding-right:40px;
        padding-left:40px;
        form{
            .text,.dropdown{
                min-width: 41.8% !important;
                width: auto !important;
                max-width: 50% !important;
                margin: 0 auto !important;
                display: inline-block !important;
            }
            .button-wrapper{
                min-width: 41.8% !important;
                width: auto  !important;
                max-width: 50%  !important;
    	        margin: 0 auto !important;
                display: inline-block !important;
            }
            .aem-GridColumn--default--12{
                float:none !important;
            }
            .cmp-form-options--drop-down{
                width: 100%;
            }
        }
    }

    .subscribe-main-form-wrapper .text{
        width:58.31%!important;
        padding-right:16px;
            }

    .subscribe-main-form-wrapper .button{
        width:41.65% !important;
            }
}
