@import '../../../base/core';
.form-wrapper{
  text-align: center;
  width: 50%;
 
}
.form-wrapper-simple{
    border: 1px solid $black-shade;
    padding: 15px;
    .cmp-form-options--drop-down
  {
      width: 100%;
  }
}
.form-yellow-wrapper{
    background-color:$medium-yellow-background;
   
}
.form-alignment-left{
    text-align: left;
}
.form-alignment-right{
    text-align: right;
}
.form-alignment-center{
    text-align: center;
}
.parsley-errors-list.filled {
    background: $medium-red-color;
    color: $white-shade;
    position: relative;
    margin: 1px 0px 9px 0px;
    display: table-cell;
    height: 48px;
    top: 6px;
    
}


.parsley-errors-list li {
    padding: 4px 10px 4px 17px;
    background-image: none;
    text-align: left;
}



.parsley-custom-error-message {
    margin: 5px 10px;
}


.parsley-errors-list:before {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 5px solid $medium-red-color;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.editorial-nav-mobile-wrapper{
    width: 100%;
    background-color: $medium-yellow-background;
    .cmp-form-options{
        height: 68px;
        width: 79%;;
        display: inline-block;
        padding-right: 5px;
        transform: translateY(-12px);
        .cmp-form-options__label{
            display: none;
        }
        .cmp-form-options__field{
            background-color: $white-shade;
        }
    }
    .cmp-form-options--drop-down::before{
        z-index: 1;
    }
    .button-wrapper{
        display: inline-block;
        transform: translateY(-11px);
        .cmp-form-button{
            width: 53.44px;
            min-width: 0;
        }
    }
}

@media (min-width: $mobile-screen-max) {
    .editorial-nav-mobile-wrapper{
        display: none;
    }
}