@import '../../../base/core';
.form-wrapper{
  text-align: center;
  width: 50%;
 
}
.form-wrapper-simple{
    border: 1px solid $black-shade;
    padding: 15px;
    .cmp-form-options--drop-down
  {
      width: 100%;
  }
}
.form-container-component{
    padding:16px;
}
.form-yellow-wrapper{
    background-color:$medium-yellow-background;
   
}
.form-alignment-left{
    text-align: left;
}
.form-alignment-right{
    text-align: right;
}
.form-alignment-center{
    text-align: center;
}
.parsley-errors-list.filled {
    background: $medium-red-color;
    color: $white-shade;
    position: relative;
    margin: 1px 0px 9px 0px;
    display: table-cell;
    height: 48px;
    top: 6px;
    
}


.parsley-errors-list li {
    padding: 4px 10px 4px 17px;
    background-image: none;
    text-align: left;
}



.parsley-custom-error-message {
    margin: 5px 10px;
}


.parsley-errors-list:before {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 5px solid $medium-red-color;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.editorial-nav-mobile-wrapper{
    width: 100%;
    background-color: $medium-yellow-background;
    .options{ 
        padding: 0 5px;
        .cmp-form-options{
            height: 68px;
            width: 100%;
            float: right;
            transform: translateY(11px);
            .cmp-form-options__label{
                display: none;
            }
            .cmp-form-options__field{
                background-color: $white-shade;
            }
        }
        .cmp-form-options--drop-down::before{
            z-index: 1;
        }
    }
    .button-wrapper{
        margin: 0;
        transform: translateY(11px);
        .cmp-form-button{
            width: 53.44px;
            min-width: 0;
        }
    }
    .layout-container{
        .col-xs-10, .col-xs-2{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.subscribe-popup-form-wrapper form .button-wrapper .cmp-form-button{
    width:100%;
    min-width:100%;
    max-width:100%;
    }
.cta-form-wrapper form .button-wrapper .cmp-form-button{
        width:100%;
        min-width:100%;
        max-width:100%;
    }

@media (max-width: $mobile-screen-max) {
.subscribe-popup-form-wrapper{
    padding:0 ;
    form  :not(:last-child){
        padding-bottom:16px !important;
    }
    }
}
@media (min-width: $tab-screen-min)  {
.editorial-nav-mobile-wrapper {
    display: none; } 

	.subscribe-popup-form-wrapper{
        padding:24px;
        form{
            display: table;
            .button-wrapper{
                width:25% !important;
            }
          }
        form > *
        {
            padding-right:16px !important;
        }
    }
}
@media (max-width: $tab-screen-max){
    .cta-form-wrapper{
    	padding-right:16px;
        padding-left:16px;
        form{
            .text,.dropdown{
                width:83.33% !important;
            }
            .button-wrapper{
                width:16.66%  !important;
            }
        }
    }
	
}
@media (min-width: $desktop-screen-min)
{
	.cta-form-wrapper{
    	padding-right:40px;
        padding-left:40px;
        form{
            .text,.dropdown{
                width:41.8% !important;
                margin: 0 auto !important;
                display: inline-block !important;
            }
            .button-wrapper{
                width:33.33%  !important;
    	        margin: 0 auto !important;
                display: inline-block !important;
            }
            .aem-GridColumn--default--12{
                float:none !important;
            }
            .cmp-form-options--drop-down{
                width: 100%;
            }
        }
    }
}
