.slf-header-wrapper .desktop-header-wrapper {
  height: 100px; }
  .slf-header-wrapper .desktop-header-wrapper .desktop-sign-in .button-class {
    display: none; }
  .slf-header-wrapper .desktop-header-wrapper .yellow-stripe {
    height: 8px;
    background-color: #FFCB05;
    padding: 0; }
  .slf-header-wrapper .desktop-header-wrapper .desktop-header-content {
    padding: 0 15px 18px 15px;
    height: 92px;
    /*Utility Nav starts here*/
    /* Utility Nav Ends here */ }
    .slf-header-wrapper .desktop-header-wrapper .desktop-header-content .desktop-utility-nav {
      float: right;
      padding: 0; }
      .slf-header-wrapper .desktop-header-wrapper .desktop-header-content .desktop-utility-nav .utility-nav-wrapper {
        padding: 0; }
        .slf-header-wrapper .desktop-header-wrapper .desktop-header-content .desktop-utility-nav .utility-nav-wrapper .utility-nav-links .search-icon-container {
          padding-right: 0; }
    .slf-header-wrapper .desktop-header-wrapper .desktop-header-content .desktop-sunlife-navigation {
      padding: 0;
      /*Logo starts here*/
      /*Logo end here*/
      /*Mega Menu strats here*/ }
      .slf-header-wrapper .desktop-header-wrapper .desktop-header-content .desktop-sunlife-navigation .desktop-sunlife-logo {
        float: left;
        padding: 0;
        height: 100%; }
        .slf-header-wrapper .desktop-header-wrapper .desktop-header-content .desktop-sunlife-navigation .desktop-sunlife-logo img {
          width: 149px;
          height: 36px;
          cursor: pointer;
          margin-top: 13px; }
      .slf-header-wrapper .desktop-header-wrapper .desktop-header-content .desktop-sunlife-navigation .desktop-navigation {
        position: static;
        float: left;
        margin: -5px 0 0 58px;
        /*Mega Menu end here*/ }
        .slf-header-wrapper .desktop-header-wrapper .desktop-header-content .desktop-sunlife-navigation .desktop-navigation .desktop-mega-menu .desktop-primary-navigation .primary-navigation {
          margin-left: 0px; }
      .slf-header-wrapper .desktop-header-wrapper .desktop-header-content .desktop-sunlife-navigation .desktop-sign-button {
        max-width: 375px;
        float: right; }

@media (max-width: 1024px) {
  .desktop-header-wrapper {
    display: none; } }

@media (min-width: 1025px) {
  .mobile-header {
    display: none; } }
