@import "../../../base/core";

@media (max-width: $mobile-screen-max){
    .middle-aligned-text {
        .right-image-position {
            .text-section {
                margin: 0 auto;
            }
        }
        .left-image-position {
            .text-section {
                margin: 0 auto;
            }
        }
    }
    .bottom-aligned-text {
        .right-image-position {
            .text-section {
                margin: 0 auto;
            }
        }
        .left-image-position {
            .text-section {
                margin: 0 auto;
            }
        }
    }
}
@media (min-width: $desktop-screen-min) {
    .landing-page-hero-banner.text-right-align .right-item.text-section {
		margin-right: 50px !important;    
    }
}