@import '../../../../core/base/core.scss';
.desktop-header-content .desktop-mega-menu .mega-menu-wrapper-desk li::before
{
content: none; 
}
.full-header .slf-header-wrapper .desktop-header-wrapper .desktop-header-content .desktop-mega-menu .dropdown .dropdown-menu .mega-menu-wrapper-desk a
{
font-weight: 400; 
}
.desktop-header-content .desktop-mega-menu .mega-menu-wrapper-desk .text ul
{
margin-left: 10px; 
}