<sly data-sly-use.baseModel="ca.sunlife.web.cms.core.models.BasePageModel" />
<sly data-sly-test="${baseModel.coveoSearchEnabled == 'true' @context='unsafe'}">
    <form name="search-url" action="${baseModel.searchUrl @ extension = 'html'}"></form>
    <script src="https://static.cloud.coveo.com/searchui/v2.10095/js/CoveoJsSearch.Lazy.min.js"></script>
    <script src="https://static.cloud.coveo.com/searchui/v2.10095/js/cultures/${baseModel.siteLocale @context='unsafe'}.js"></script>
    <script type="text/javascript" src="https://static.cloud.coveo.com/coveo.analytics.js/coveoua.js"></script>
    <script type="text/javascript">
        var coveoSearchlanguage = "${baseModel.searchLanguage @context='unsafe'}"
        var searchConfig = {
            orgId: "${baseModel.orgId @context='unsafe'}",
            token: "${baseModel.searchToken @context='unsafe'}",
            restUri: "${baseModel.restUri @context='unsafe'}",
            searchHub: "${baseModel.searchHub @context='unsafe'}",
            searchUrl: $('form[name="search-url"]').attr('action')
        };
        //Configure a search endpoint.
        Coveo.SearchEndpoint.configureCloudV2Endpoint('', searchConfig.token, searchConfig.restUri);

        //Coveo UA
        coveoua("init", searchConfig.token);
        coveoua("send", "pageview", {
            contentIdKey: "url",
            contentIdValue: utag_data.page_canonical_url,
            contentType: utag_data.page_category
        });
    </script>
</sly>