@import '../../../base/core';

    //accordian styling (advisor location tab)
.google-map{
    .accordion-heading {
        font-family: 'sunlife-sans';
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        color: $medium-blue-color;
    }
    .slf-accordion-plus {
        .accordion-heading {
            padding: 10px 20px;
            cursor: pointer;
            background: $medium-yellow-background;
        }
        .accordion-heading[aria-expanded="true"]:before {
            content: "\f056";
            font-family: FontAwesome;
            font-size: 22px;
            padding-right: 10px;
        }
        .accordion-heading[aria-expanded="false"]:before {
            content: "\f055";
            font-family: FontAwesome;
            font-size: 22px;
            padding-right: 10px;
        }
    }
}
.row-advisor.p-std-advisor{
    line-height: 24px !important;
    padding-bottom: 30px;

    ul:not(.nav):not(.list-unstyled):not(.list-inline):not(.option-table):not(.footer-socials):not(.list-group):not(.slf-tabs):not(.list-topic):not(.content-list):not(.feature-content):not(.dotted):not(.social-network-list):not(.map-dotted):not(.sitemap):not(.wgt-cs-list):not(.dropdown-menu):not(.wgt-AM-form-selDd):not(.wgt-AM-listPlain):not(.x-menu-list):not(.x-tab-strip):not(.x-tree-root-ct):not(.x-tree-lines):not(.x-tree-root-ct):not(.x-tree-node):not(.pagination):not(.x-tree-node-ct):not(.vui-grid-actions):not(.life-moments):not(.life-moments-flex):not(.filter-options):not(.view-all-category):not(.parsley-errors-list) > li::before {
        content: "\2022";
        color: $medium-yellow-background;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
    ul:not(.nav):not(.list-unstyled):not(.list-inline):not(.option-table):not(.footer-socials):not(.list-group):not(.slf-tabs):not(.list-topic):not(.content-list):not(.feature-content):not(.dotted):not(.social-network-list):not(.map-dotted):not(.sitemap):not(.wgt-cs-list):not(.dropdown-menu):not(.wgt-AM-form-selDd):not(.wgt-AM-listPlain):not(.x-menu-list):not(.x-tab-strip):not(.x-tree-root-ct):not(.x-tree-lines):not(.x-tree-root-ct):not(.x-tree-node):not(.pagination):not(.x-tree-node-ct):not(.vui-grid-actions):not(.life-moments):not(.filter-options) {
        margin: 12px 0 12px 12px;
        padding: 0;
        list-style: none;
        vertical-align: middle;
        min-height: 48px;
        > li {
            font-size: 16px;
            padding: 0 0 4px 14px;
            background-image: none;
            background-repeat: no-repeat;
            background-position: 0 .5em;
            line-height: 140%;
        }
    }
    .row-advisor-contact-social
        {
            text-align: end;
        }
    .row-advisor-disclaimer {
        font-size: 0.75em;
        line-height: 1.5em;
        padding-bottom: 30px;
    }
    .row-advisor-0{
        padding: 0 0 10px;
        h1{
        font-family: 'sunlife-sans';
        font-size: 16px !important;
        line-height: 120%;
        text-transform: none;
        }
    }
    .row-advisor-1{
        padding-bottom: 30px;
        .col-sm-6.col-advisor-grid-block{
            padding-top: 30px;
        }
        h4{
            font-family: 'sunlife-sans';
            font-size: 16px !important;
            line-height: 120%;
            text-transform: none;
            }
    }
    .row-advisor-details{
        .content-label{    
            margin: 0 10px 10px
            }
        .row-advisor-email {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .col-advisor-grid-block{    
            .row{
                margin: 0 -15px 0;      
            }
        }
    }
    .fa-facebook:before{
        content: "\f08c";
        font-family: FontAwesome;
        font-weight: normal;
    }
    .fa-linkedin:before {
        content: "\f082";
        font-family: FontAwesome;
        font-weight: normal;
    }
    .icon-twitter:after {
        content: "\f081";
        font-family: FontAwesome;
        font-weight: normal;
    }
     .row-advisor-socials{
        li {
            a {
                font-size: 2.5em;
                color: $blue-gradient-color;
            }
            a:hover:before{
                color: $primary-yellow-background;
            }
        }
    }
}

@media (max-width:$mobile-screen-max) and (min-width: $mobile-screen-min){
    .row-advisor.p-std-advisor{
        .row-advisor-0{
            .row-advisor-email {
                padding-bottom: 20px;
            }
        }
        
        .row-advisor-contact-social {
            padding-top: 20px;
            text-align: center;
        }
        .row-advisor-desc-xs {
            margin-top: 20px;
        }
        text-align: center;
        p{
            margin-bottom: 10px;
        }
        .row-advisor-0{
            h1{
            text-align: left;
            }
        }
        .row-advisor-1{
            text-align: center;
        }
    }
    .row-advisor-desc-xs.col-xs-12 {
        padding: 0 5px;
    }
}

@media (max-width:$tab-screen-min) and (min-width: $tab-screen-min){
    .row-advisor.p-std-advisor{
        .row-advisor-disclaimer {
            text-align: center;
        }
        .row-advisor-contact-social
        {
            text-align: center;
        }
        .row-advisor-0{
            text-align: left;
        }
        .row-advisor-1{
            text-align: center;
            .col-sm-6.col-advisor-grid-block{
                text-align: left;
            }
        }
    }
}
