{{!-- sign-in-framework starts here  --}}
<div class="col-xs-12 row">
        <div class="col-sm-8">some banner content goes down in mobile view</div>
        <div class="col-sm-4">
                <div class="sign-in">
                        {{!-- transmit modal starts here --}}
                        {{!-- <div class="modal fade transmit-modal" id="transmitModal" role="dialog" data-keyboard="false"
                                data-backdrop="static">
                                <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content transmit-modal-content" id="transmitModalContent">
                                                <div class="modal-header transmit-modal-header">
                                                        <button type="button" class="close close-transmit"
                                                                data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Transmit Journey</h4>
                                                </div>
                                                <div class="modal-body transmit-modal-body" id="transmitModalBody">
                                                        <p>This is some content.</p>
                                                        <div id="sign_in_modal_container">
                                                                <div id="sign_in_modal_content_container"
                                                                        class="centered_container">
                                                                        <label>Sign In</label>
                                                                        <br />
                                                                        <input id="sign_in_client_id_input"
                                                                                class="sign_in_input" type="text"
                                                                                placeholder="client id" />
                                                                        <input id="sign_in_password_input"
                                                                                class="sign_in_input" type="password"
                                                                                placeholder="password" />
                                                                        <button onclick="onSignInClick();"
                                                                                id="sign_in_button">Sign In</button>
                                                                        <button onclick="onSignInCancelClick();"
                                                                                id="sign_in_cancel_button">Cancel</button>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div> --}}
                        {{!-- transmit modal ends here --}}
                        <div class="login-container mySlfSignIn" id="slfSignIn">
                                <h2 class="h2 text-center">Client sign in
                                </h2>
                                <div class="download-app visible-xs no-text">
                                        <div class="download-app-wrapper" onclick="window.open('')">
                                                <div class="mobile-app-text">

                                                </div>
                                        </div>
                                </div>
                                <form id="form_signon" name="form_signon" method="POST" action="" class="form-sign-in">
                                        <input name="SMENC" type="hidden" value="ISO-8859-1">
                                        <input name="SMLOCALE" type="hidden" value="US-EN">
                                        <input name="SMAGENTNAME" type="hidden" value="">
                                        <input name="REALMOID" type="hidden" value="">

                                        <input name="DOMAIN" type="hidden" value="CONSUMER">
                                        <input name="TARGET" type="hidden"
                                                value="https://sit-www.sunnet.sunlife.com//mbrportal/req/secure/pphp/personalizedWelcome">
                                        <input name="IPKey" type="hidden" value="">
                                        <input name="CONTEXT" type="hidden" value="INTERNET">
                                        <input name="LANGUAGE" type="hidden" value="E">
                                        <input name="PLATFORM" type="hidden" value="WEB">
                                        <input name="SIGNINSITE" type="hidden" value="SLF">
                                        <input name="SCREENRES" type="hidden" value="">
                                        <input name="LOGLANG" type="hidden" value="en-ca">
                                        <input name="BROWSERID" type="hidden" value="">
                                        <input name="BROWSERVER" type="hidden" value="">
                                        <input name="BROWSERDESC" type="hidden" value="">
                                        <input id="ClientIP" name="ClientIP" type="hidden" value="">
                                        <input name="ESTABLISHSESSION" type="hidden" value="TRUE">
                                        <input name="SAVEIDSUBMISSION" type="hidden" value="FALSE">
                                        <input name="LOGONUSINGSAVEID" type="hidden" value="FALSE">
                                        <input name="ESAVEID" type="hidden" value="">
                                        <input name="REQUESTTYPE" type="hidden" value="SUBMIT">
                                        <input name="SAVEIDIDENTIFIER" type="hidden" value="SLFMEMBER">
                                        <input name="REDIRECTPATH" type="hidden" value="">
                                        <input name="ERRORREDIRPATH" type="hidden"
                                                value="https://sit-www.sunnet.sunlife.com/signin/mysunlife/home.wca">



                                        <div class="form-group">
                                                <div class="help-block" id="generalError"><span id="ERROR_HTML"
                                                                name="ERROR_HTML">&nbsp;
                                                        </span><span id="APOL_HTML" name="APOL_HTML"></span></div>
                                        </div>
                                        <div class="form-group"><label for="USER" class="sr-only">Email/Access
                                                        ID</label> <input id="USER" autocomplete="off" name="USER"
                                                        size="30" type="text" placeholder="Email/Access ID"
                                                        data-parsley-required="true"
                                                        data-parsley-required-message="Required Field">
                                                <div id="accessIdError" class="arrow-help-block"></div>
                                        </div>
                                        <div class="form-group text-left">
                                                <label for="rememberID" class="sr-only">
                                                        Remember me
                                                </label>
                                                <input type="checkbox" name="SAVEIDCHECK" id="rememberID"><span
                                                        class="remember-text">Remember me</span>
                                        </div>
                                        <div id="passwordDiv" class="form-group"><label for="PASSWORD"
                                                        class="sr-only">Password</label>
                                                <input id="PASSWORD" autocomplete="off" name="PASSWORD" size="30"
                                                        type="password" class="password-input" placeholder="Password"
                                                        data-parsley-required="true"
                                                        data-parsley-required-message="Required Field">
                                                <div id="passwordError" class="arrow-help-block"></div>
                                                <input name="signin" class="btn btn-blue mar-left-10 no-break"
                                                        value="Sign in" type="submit">
                                        </div>
                                </form>
                                <p class="signin-links"><span class="signin-help"><a
                                                        href="https://www.sunlife.ca/en/support/sign-in-help/"
                                                        target="_blank">Sign-in help
                                                </a></span> <span class="signin-register"><a
                                                        href="https://www.sunnet.sunlife.com/mysunlife/mbrregistration/req/pub/guestConsumerRegistration"
                                                        target="_blank">Register</a></span></p>
                                {{!-- <div class="right-item text-section signin-links-two">
                                <p>By sigining in, you agree to these <a
                                                href="https://www.sunlife.ca/en/support/sign-in-help/terms-and-conditions/"
                                                target="_blank">terms and conditions.</a></p>

                        </div> --}}
                                <div class="right-item text-section signin-links-two">
                                        <p style="text-align: center;">Don't have an Access ID?&nbsp;<a
                                                        href="https://cmssit-auth.ca.sunlife/content/sunlife/external/signin/en/mysunlife.html"
                                                        target="_blank">Register now</a>
                                        </p>
                                        <p style="text-align: center;">By sigining in, you agree to these<br>
                                        </p>
                                        <p style="text-align: center;"><a
                                                        href="https://cmssit-auth.ca.sunlife/content/sunlife/external/signin/en/mysunlife.html"
                                                        target="_blank"><span class="no-margin-top">terms and
                                                                conditions</span></a></p>
                                        <p><span class="legal-text">Note: If you've signed up for access with another
                                                        plan or previous employer, you can use your same ID and
                                                        password. You don't need to register again. If you need to
                                                        register, you'll need your account number. It's 06211 plus the
                                                        first 8 digits of your employee ID.</span></p>
                                </div>
                        </div>
                </div>
        </div>
</div>
{{!-- sign-in-framework ends here  --}}