@import '../../../base/core';
.abc{
    font-size: 48px;
    line-height: 100px;
}
.subscribe-popup-wrapper{
    opacity: 1;
    background-color: $background-black-ovrelay-color;
    padding: 0;
    position: fixed;
    padding-left:0;
    .modal-open {
        overflow: hidden;
    }
    .modal-content{
        background: $medium-yellow-background;
        padding: 40px;
        width: 800px;
        border-radius: 0;
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .close-popup{
            font-size:1.125rem;
            opacity:1;
            margin:0;
            cursor:pointer;
            position: relative;
            top: -22px;
            left: 22px;
        }
        .modal-body{
            padding:0;
            form{
                display: table;
                &>*{
                    display: table-cell;
                    margin-right: 0;

                }
                .primary-blue-button-form{
                    .cmp-form-button{

                        min-width: 100%;
                    }
                }

            }
        }
    }
    .blue-icon-yellow-background{
        padding-bottom: 0;
        .cmp-container > :last-child{
            padding-bottom: 0px;
        }
        form .button{
            padding:0;
        }
        .cta-content-icon-wrapper{
            padding:0px;
            margin-top: -18px;
            h1,h2,h3,h4,h5,h6,.heading-1,.heading-2,.heading-3,.heading-4,.heading-5,.heading-6{
                font-size:24px;
                line-height:30px;
                margin-bottom: 16px;
            }
            .icon-style{
                bottom: 0;
                height:60px;
                width:60px;
                padding: 10px;
            }
            .icon-parent{
                height:auto;
            }
        }

    }
    .cmp-text{
        padding: 0 20px;
        text-align: left;
    }
}

#myModal .modal-content {
    background-color: $white-shade;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    min-height: auto;

    .text {
        margin-bottom: 20px;
    }
}
#errorModal .modal-content {
    background-color: $white-shade;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

    .text {
        margin-bottom: 20px;
    }
}
#contactusModal .modal-content {
    background-color: $white-shade;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    .text {
        margin-bottom: 20px;
    }
}

#contactusModal .close-popup ,#myModal .close-popup, #errorModal .close-popup {
    display:none;
}
@media (min-width: $tab-screen-min) and (max-width:$tab-screen-max)
{
    .subscribe-popup-wrapper {
        .modal-content {
            .close-popup {
                left: 0;
            }
        }
    }
    .subscribe-popup-wrapper{
        .modal-content{
            width:624px;
            padding:40px 16px;
        }
        .cmp-text{
            padding: 0;
            text-align: left;
        }
        .blue-icon-yellow-background {
            .cmp-container > :not(:last-child)
            {
                padding-bottom:0px ;
            }
            .cta-content-icon-wrapper .icon-texts {
                padding-bottom:16px;
            }
            .subscribe-popup-form-wrapper{
                padding-bottom:16px !important;
            }
        }
    }
}
@media (max-width: $mobile-screen-max){
    .subscribe-popup-wrapper {
        .modal-content {
            transform: translate(-50%, -25%);        }
    }
}

@media (max-width: $mobile-screen-max){
    .subscribe-popup-wrapper {
        .modal-content {
            .close-popup {
                left: 0;
            }
        }
    }
    .subscribe-popup-wrapper{
        .modal-content{
            width:90%;
        }
        .blue-icon-yellow-background{
            .cta-content-icon-wrapper{
                padding-bottom: 32px !important;
                h1,h2,h3,h4,h5,h6,.heading-1,.heading-2,.heading-3,.heading-4,.heading-5,.heading-6{
                    font-size:24px;
                    line-height:30px;
                   &:last-child{
                       margin-bottom: 24px;
                   }
                }
                .icon-parent{
                    display :none;
                }
                .icon-texts{
                    padding-top:0px;

                }
            }
            .text{
                padding-left: 0px;
                padding-right: 0px;
            }

        }
        .cmp-text {
            padding: 0 ;
            text-align: left; }
    }
}