@import '../../../base/core';
.right-navigation-wrapper{
    > .cmp-container{
        .form-container-component.form-yellow-wrapper {
                background-color: $medium-yellow-background !important;
                .icon-text  .icon-style {
                    background: linear-gradient( $medium-blue-color , $blue-gradient-color);
                }
            }
            .form-container-component  {
                .cmp-form-options--drop-down {
                    width: 100%;
                    margin: 6px 0 16px 0;
                }
            }
        }
        
    }

 