@import '../../../../../prerequisite/core-base/styles/includes/bootstrap-mixins.scss';
@import '../../../../../prerequisite/core-base/styles/includes/lego-typography.scss';

.sl-footer {

      .container {
        @include media-breakpoint-down(lg) {
          padding-left: 0px;
          padding-right: 0px;
        }
      }

      ul.footer-menu-list {
        position: inherit !important;
        inset: inherit !important;
        transform: none !important;
      }

      .footer-menus-container .footer-menu.footer-menus-dropdown {

        ul {
          margin-bottom: 1.5rem !important;
          position: unset !important;
          inset: unset !important;
          transform: none !important;
          border: none;
          padding: 0;
        }
      
      
        .footer-menu-header {
              &[aria-expanded='true'] .fa-chevron-down {
                  transform: rotate(180deg);
              }
              
              .sl-icon {
                  vertical-align: middle;
              }
        }
      }

      .footer-content-container .footer-content {      
        .footer-copy {
          color: var(--grey-600)
        }
      }
    
    .footer-utility-menu-container .footer-utility-menu {
        &.col-gap {
            column-gap: 3.5rem;
        }
        .footer-icon-tag-container {
            flex: 1;
            display: flex;
            justify-content: space-between;
            @include media-breakpoint-down(lg) {
              flex-direction: column;
            }
            &.flex-0 {
              flex: 0;
            }
        }

        .footer-menu-items,
        .footer-icons-container .sl-social-media {
          ul {
            margin-bottom: 0px;
          }
          a {
            color: var(--black);
          }

          .fa-youtube {
            height: 2rem;
            width: 2rem !important;
          }
        }
  
        .acronym-text {
          @include sl-body-small;
          margin-top: 1.5rem;
        }
    }
}