<sly data-sly-use.userInfo="ca.sunlife.web.cms.core.models.UserInfo" />
<script type="text/javascript">
    utag_data['user_buildinglocation'] = "${userInfo.buildingLocation @context='unsafe'}";
	utag_data['user_businessgroup'] = "${userInfo.businessGroup @context='unsafe'}";
	utag_data['user_businessunit'] = "${userInfo.businessUnit @context='unsafe'}";
	utag_data['user_country'] = "${userInfo.country @context='unsafe'}";
	utag_data['user_joblevel'] = "${userInfo.jobLevel @context='unsafe'}";
	utag_data['user_userid'] = "${userInfo.acf2Id @context='unsafe'}";
    hasUserGroups = ${userInfo.hasUserGroups @context='unsafe'};
	var userName = "${userInfo.userName @context='unsafe'}";
	var profileData = ${userInfo.profile @context='unsafe'};
	$(document).ready(function(){
		ContextHub.removeItem('profile');
		ContextHub.setItem('profile', profileData);
		var segment = ContextHub.SegmentEngine.getResolvedSegments();
        var segmentArray = [];
        for(i=0;i<segment.length;i++){
         segmentArray.push(segment[i]["title"]);
        }
        utag_data['user_segment'] = segmentArray;
	});
</script>