<sly data-sly-use.listModel="ca.sunlife.web.cms.core.models.signin.SignInModel">
    <sly data-sly-test.backgroundColour="${listModel.backgroundColour}" />
    <sly data-sly-test.actionUrl="${listModel.actionUrl}" />

    <div class="login-container mySlfSignIn ${backgroundColour == 'cool-blue' ? 'cool-blue' : ''}">
        <div class="h4 text-center" id="customerSignInHeader">CLIENT SIGN IN</div>
        <div class="download-app visible-xs">
            <div class="download-app-wrapper"><a
                    href="https://www.sunlife.ca/ca/Customer+support/Sign+in+help/my+Sun+Life+Mobile?vgnLocale=en_CA"
                    target="_blank"><img
                        src="https://www.sunlife.ca/static/canada/signin/mysunlife/images/sunlife-app-logo.png"
                        alt="Sun Life App"></a>
                <p><a href="https://www.sunlife.ca/ca/Customer+support/Sign+in+help/my+Sun+Life+Mobile?vgnLocale=en_CA"
                        target="_blank">For the best mobile experience, <strong>download the my
                            Sun Life
                            app.</strong></a></p>
            </div>
        </div>
        <form id="form_signon" name="form_signon" method="POST" action="${actionUrl}" class="form-sign-in">
            <input name="SMENC" type="hidden" value="ISO-8859-1" /> <input name="SMLOCALE" type="hidden"
                value="US-EN" /> <input name="SMAGENTNAME" type="hidden" value="" /> <input name="REALMOID"
                type="hidden" value="" /> <input name="DOMAIN" type="hidden" value="CONSUMER" />
            <input name=" IPKey" type="hidden" value="" /> <input name="CONTEXT" type="hidden" value="INTERNET" />
            <input name="LANGUAGE" type="hidden" value="E" /> <input name="PLATFORM" type="hidden" value="WEB" />
            <input name="SIGNINSITE" type="hidden" value="SLF" /> <input name="SCREENRES" type="hidden" value="" />
            <input name="LOGLANG" type="hidden" value="en-ca" /> <input name="BROWSERID" type="hidden" value="" />
            <input name="BROWSERVER" type="hidden" value="" /> <input name="BROWSERDESC" type="hidden" value="" />
            <input id="ClientIP" name="ClientIP" type="hidden" value="" /> <input name="ESTABLISHSESSION" type="hidden"
                value="TRUE" /> <input name="SAVEIDSUBMISSION" type="hidden" value="FALSE" /> <input
                name="LOGONUSINGSAVEID" type="hidden" value="FALSE" /> <input name="ESAVEID" type="hidden" value="" />
            <input name="REQUESTTYPE" type="hidden" value="SUBMIT" />
            <input name="SAVEIDIDENTIFIER" type="hidden" value="" /> <input name="REDIRECTPATH" type="hidden"
                value="" /> <input name="ERRORREDIRPATH" type="hidden" value="" />
            <input name="TARGET" type="hidden" value="/mbrportal/req/secure/pphp/personalizedWelcome" />
            <div class="form-group">
                <div class="help-block" id="generalError"><span id="ERROR_HTML" name="ERROR_HTML">&nbsp;
                    </span><span id="APOL_HTML" name="APOL_HTML"></span></div>
            </div>
            <div class="form-group"><label for="USER" class="sr-only">Access ID</label> <input id="USER"
                    autocomplete="off" name="USER" size="30" type="text" placeholder="Email/Access ID">
                <div id="accessIdError" class="arrow-help-block"></div>
            </div>
            <div class="form-group text-left">
                <input type="checkbox" name="SAVEIDCHECK" id="rememberID"><label
                    for="rememberID">Remember me</label></div>
            <div id="passwordDiv" class="form-group"><label for="PASSWORD" class="sr-only">Password</label>
                <input id="PASSWORD" autocomplete="off" name="PASSWORD" size="30" type="password" class="password-input"
                    placeholder="Password">
                <div id="passwordError" class="arrow-help-block"></div>
                <input name="signin" class="btn btn-blue mar-left-10 no-break" value="Sign in" type="submit"
                    onclick="return CheckClicks('e');">

            </div>
        </form>
        <p class="signin-links"><span class="signin-help"><a
                    href="https://www.sunlife.ca/ca/Support/Sign+in+help?vgnLocale=en_CA" target="_blank">Forgot Access
                    ID?</a></span> <span class="signin-register"><a href="/mysunlife/signin/register/bregister.asp"
                    target="_blank">Forgot
                    password?</a></span></p>
        <p class="signin-links-two">Don't have Access ID?<a
                href="https://www.sunlife.ca/ca/Customer+support/Sign+in+help/Plan+sponsor+and+advisors?vgnLocale=en_CA#"
                class="signin-sponsor" target="_blank">&nbsp;Register now</a></p>
        <p class="signin-terms">By signing in, you agree to these <a
                href="https://www.sunlife.ca/ca/Support/Sign+in+help/Terms+and+conditions?vgnLocale=en_CA"
                target="_blank">terms and conditions.</a></p>
    </div>