@import './core.scss';

//font style 1 start

// @font-face {
//     font-family: "sunlife-sans-v1";
//     src: url("../resources/SunLifeSans-Light.eot");
//     src: url("../resources/SunLifeSans-Light.eot?#iefix") format("embedded-opentype"), url("../resources/SunLifeSans-Light.woff") format("woff"), url("../resources/SunLifeSans-Light.ttf") format("truetype"), url("../resources/SunLifeSans-Light.svg") format("svg");
//     font-weight: 200;
//     font-style: normal;
//     font-stretch: normal;
// }

// @font-face {
//     font-family: "sunlife-sans-v1";
//     src: url("../resources/SunLifeSans-Regular.eot");
//     src: url("../resources/SunLifeSans-Regular.eot?#iefix") format("embedded-opentype"), url("../resources/SunLifeSans-Regular.woff") format("woff"), url("../resources/SunLifeSans-Regular.ttf") format("truetype"), url("../resources/SunLifeSans-Regular.svg") format("svg");
//     font-weight: 400;
//     font-style: normal;
//     font-stretch: normal;
// }

// @font-face {
//     font-family: "sunlife-sans-v1";
//     src: url("../resources/SunLifeSans-Bold.eot");
//     src: url("../resources/SunLifeSans-Bold.eot?#iefix") format("embedded-opentype"), url("../resources/SunLifeSans-Bold.woff") format("woff"), url("../resources/SunLifeSans-Bold.ttf") format("truetype"), url("../resources/SunLifeSans-Bold.svg") format("svg");
//     font-weight: 700;
//     font-style: normal;
//     font-stretch: normal;
// }

//font style 1 ends

/*
@font-face {
  font-family: 'giovanni-book';
  src: url("../resources/Giovanni-BookItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.giovanni-book-italic {
  font-family: 'giovanni-book';
}
*/

@font-face {
    font-family: 'sunlife-custom';
    src: url("../resources/sunlife-custom.eot?38299477");
    src: url("../resources/sunlife-custom.eot?38299477#iefix") format("embedded-opentype"), url("../resources/sunlife-custom.woff?38299477") format("woff"), url("../resources/sunlife-custom.ttf?38299477") format("truetype"), url("../resources/sunlife-custom.svg?38299477#sunlife-custom") format("svg");
    font-weight: normal;
    font-style: normal;
}

//font style 2 start

@font-face {
    font-family: "sunlife-sans";
    src: url("../resources/SunLifeSans-Black.eot");
    src: url("../resources/SunLifeSans-Black.eot?#iefix") format("embedded-opentype"), url("../resources/SunLifeSans-Black.woff") format("woff"), url("../resources/SunLifeSans-Black.woff2") format("woff2"), url("../resources/SunLifeSans-Black.ttf") format("truetype"),url("../resources/SunLifeSans-Black.svg") format("svg");
    }
    
    @font-face {
    font-family: "sunlife-sans";
    src: url("../resources/SunLifeSans-BlackItalic.eot");
    src: url("../resources/SunLifeSans-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../resources/SunLifeSans-BlackItalic.woff") format("woff"), url("../resources/SunLifeSans-BlackItalic.woff2") format("woff2"), url("../resources/SunLifeSans-BlackItalic.ttf") format("truetype"), url("../resources/SunLifeSans-BlackItalic.svg") format("svg");
    }
     
     @font-face {
    font-family: "sunlife-sans";
    src: url("../resources/SunLifeSans-Bold.eot");
    src: url("../resources/SunLifeSans-Bold.eot?#iefix") format("embedded-opentype"), url("../resources/SunLifeSans-Bold.woff") format("woff"), url("../resources/SunLifeSans-Bold.woff2") format("woff2"), url("../resources/SunLifeSans-Bold.ttf") format("truetype"), url("../resources/SunLifeSans-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    }
    
    @font-face {
    font-family: "sunlife-sans";
    src: url("../resources/SunLifeSans-BoldItalic.eot");
    src: url("../resources/SunLifeSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../resources/SunLifeSans-BoldItalic.woff") format("woff"), url("../resources/SunLifeSans-BoldItalic.woff2") format("woff2"), url("../resources/SunLifeSans-BoldItalic.ttf") format("truetype"), url("../resources/SunLifeSans-BoldItalic.svg") format("svg");
    }
    
    @font-face {
    font-family: "sunlife-sans";
    src: url("../resources/SunLifeSans-Italic.eot");
    src: url("../resources/SunLifeSans-Italic.eot?#iefix") format("embedded-opentype"), url("../resources/SunLifeSans-Italic.woff") format("woff"), url("../resources/SunLifeSans-Italic.woff2") format("woff2"), url("../resources/SunLifeSans-Italic.ttf") format("truetype"), url("../resources/SunLifeSans-Italic.svg") format("svg");
    }
    
    @font-face {
    font-family: "sunlife-sans";
    src: url("../resources/SunLifeSans-Light.eot");
    src: url("../resources/SunLifeSans-Light.eot?#iefix") format("embedded-opentype"), url("../resources/SunLifeSans-Light.woff") format("woff"), url("../resources/SunLifeSans-Light.woff2") format("woff2"), url("../resources/SunLifeSans-Light.ttf") format("truetype"), url("../resources/SunLifeSans-Light.svg") format("svg");
     font-weight: 200;
    font-style: normal;
    font-stretch: normal;
                 }
                 
    @font-face {
    font-family: "sunlife-sans";
    src: url("../resources/SunLifeSans-LightItalic.eot");
    src: url("../resources/SunLifeSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../resources/SunLifeSans-LightItalic.woff") format("woff"), url("../resources/SunLifeSans-LightItalic.woff2") format("woff2"), url("../resources/SunLifeSans-LightItalic.ttf") format("truetype"), url("../resources/SunLifeSans-LightItalic.svg") format("svg");
    }
    
      @font-face {
    font-family: "sunlife-sans";
    src: url("../resources/SunLifeSans-Medium.eot");
    src: url("../resources/SunLifeSans-Medium.eot?#iefix") format("embedded-opentype"), url("../resources/SunLifeSans-Medium.woff") format("woff"), url("../resources/SunLifeSans-Medium.woff2") format("woff2"), url("../resources/SunLifeSans-Medium.ttf") format("truetype"), url("../resources/SunLifeSans-Medium.svg") format("svg");
    }
    
    @font-face {
    font-family: "sunlife-sans";
    src: url("../resources/SunLifeSans-MediumItalic.eot");
    src: url("../resources/SunLifeSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../resources/SunLifeSans-MediumItalic.woff") format("woff"), url("../resources/SunLifeSans-MediumItalic.woff2") format("woff2"), url("../resources/SunLifeSans-MediumItalic.ttf") format("truetype"), url("../resources/SunLifeSans-MediumItalic.svg") format("svg");
    }
    
    @font-face {
    font-family: "sunlife-sans";
    src: url("../resources/SunLifeSans-Regular.eot");
    src: url("../resources/SunLifeSans-Regular.eot?#iefix") format("embedded-opentype"), url("../resources/SunLifeSans-Regular.woff") format("woff"), url("../resources/SunLifeSans-Regular.woff2") format('woff2'), url("../resources/SunLifeSans-Regular.ttf") format('truetype'), url("../resources/SunLifeSans-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
     }
       
    @font-face {
    font-family: "sunlife-sans";
    src: url("../resources/SunLifeSans-RegularItalic.svg") format("svg");
    }
    
    
  /*body{
  font-family:"sunlife-sans"}
  */

//font style 2 ends

html {
    /*overflow-x: hidden;*/ /*We are deleting this line of code so the sign-in link in the footer will not jump to the top of the page*/
    font-size: 16px;
    height: 100%;
    scroll-behavior: auto;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    font-family: "sunlife-sans";
    font-weight: 400;
    font-variant-ligatures: none;
    line-height: 26px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-variant-ligatures: none;
    word-wrap: break-word;
    height: 100%;
    width: 100%;
    color: $dark-grey-color;
    font-size: 16px;
}


/* Heading */

.heading-0 {
    font-size: 0.875rem;
}

h1, .heading-1{
    font-size:2.25rem;
    line-height:46px;
}

h2, .heading-2 {
    font-size: 2rem;
    line-height:41px;
}

h3, .heading-3 {
    font-size: 1.75rem;
    line-height:36px;
}

h4, .heading-4 {
    font-size: 1.5rem;
    line-height:30px;
}

h5, .heading-5 {
    font-size: 1.25rem;
    line-height:23px ;
}

h6, .heading-6 {
    font-size: 1.125rem;
    line-height:23px;
}
.heading-1{
    h1,h2,h3,h4,h5,h6{
        font-size:2.25rem;
        line-height:46px;
    }
}
.heading-2{
    h1,h2,h3,h4,h5,h6{
        font-size:2rem;
        line-height:41px;
    }
}
.heading-3{
    h1,h2,h3,h4,h5,h6{
        font-size:1.75rem;
        line-height:36px;
    }
}
.heading-4{
    h1,h2,h3,h4,h5,h6{
        font-size:1.5rem;
        line-height:30px;
    }
}
.heading-5{
    h1,h2,h3,h4,h5,h6{
        font-size:1.25rem;
        line-height:23px ;
    }
}
.heading-6{
    h1,h2,h3,h4,h5,h6{
        font-size:1.125rem;
        line-height:23px ;
    }
}

a {
    font-weight: 700;
    color: $medium-blue-color;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.error-msg-style {
    background: $error-help-red-color;
    color: $white-shade !important;
    margin: 0 0 10px 0;
    line-height: 110% !important;
    display: inline-block;
    width: 100%;
    position: relative;
    p {
        padding: 8px 10px 0 10px;
        color: $white-shade;
    }
    a {
        color: $white-shade !important;
    }
}
.no-gutter {
    padding: 0 !important;
}
.white-font {
    color: #ffffff !important;
}

.blue-font {
    color: #003946 !important;
}
#quickquote .col-sm-6{
    padding: 0 15px;
}
.mt-0{
    margin-top:0px;
    h1,h2,h3,h4,h5,h5{
        margin-top:0px;
    }
   
}
.mt-20{
    margin-top:20px;
}
.mt-30{
    margin-top:30px;
}

.mb-20{
    margin-bottom:20px;
}
.mb-30{
    margin-bottom:30px;
}

.mt-40{
    margin-top:40px;
}

.mt-80{
    margin-top:80px;
}
.mb-40{
    margin-bottom:40px;
}

.mb-18{
    margin-bottom:18px;
}

.mt-18{
    margin-top:18px;
}

.container {
    padding: 0px;
    margin: 0;
}
.slf-gradient-yellow-new {
    background: linear-gradient($medium-yellow-background, $primary-yellow-background);
}
.with-margin {
    .container-component {
        &:not(:first-child) {
            padding-left: 10px;
        }
        &:not(:last-child) {
            padding-right: 10px;
        }
    }
}
.vertical-middle-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.horizontal-middle-align {
    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.white-background {
    background-color: $white-shade;
}
.padding-15 {
    padding: 15px !important;
}
.border-bottom-dotted {
    border-bottom: 2px dotted $light-grey-color;
}
.yellow-colored-font {
    color: $medium-yellow-background;
}
.view-all-category {
    &:after {
        content: '\f138';
        font-family: fontawesome;
        color: $medium-yellow-background;
        margin-left: 5px;
        display:inline-block;
        text-decoration: none;
    }
}
.blue-chevron-arrow{
    &:after {
        content: '\f138';
        font-family: fontawesome;
        color: $medium-blue-color;
        margin-left: 5px;
        display:inline-block;
        text-decoration: none;
    }
}
.pdf-link {
    &::before {
        content: "\f1c1";
        font-family: fontawesome;
        margin-right: 5px;
    }
}
.user-icon{
    &::before{
        content: "\f007";
        font-family: fontawesome;
        margin-right: 5px;
        font-weight: normal;
    }
}
.legal-text{
    font-size: 0.875rem;
    line-height: 18px;
    color:$blue-legal-text-color;
    a {
        font-size: 0.875rem;
        line-height: 18px;
    }
}
#mainfooter {
    margin-top: 40px;
    background-color: $light-cool-blue-color;
    .social-link-icon-wrapper {
        ul {
            float: right;
            position: relative;
    		top: 50%;
    		transform: translateY(-50%);

        }
        li {
            float: left;
            padding-left: 5px;
            padding-right: 7px;
        }
        .icon-style {
            font-size: 2rem;
        }
    }
    .teaser {
        padding: 16px 0 15px 15px;
        h1, h2, h3, h4, h5, h6, .heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
            font-size: 1.5rem;
            line-height: 30px;
        }
        .side-image{
            width: auto;
        }
    }
    .bottom-footer-section, .top-footer-section {
        border-top: 1px solid $white-shade;
        padding: 12px 0 24px 0 !important;
    }
    .lists-wrapper{
        .links {
            border-top: none;
            padding: 0 5px;
        }
    }
    h1, .h1, h2, .h2, h3, .h3 {
        margin-bottom: 8px;
    }
    .lists-wrapper {
        .list-div {
            margin-top: 0;
        }
        .list-unstyled li {
            margin-bottom: 8px;
        }
    }
    
    /** Disclaimer css start **/
    .disclaimer {
        background: #ffffff;
    }
    /** Disclaimer css end **/
}
.ca-sunlife-home-page {
    #mainfooter {
        margin-top: 0px;
    }
}
.border-right {
    border-right: 2px solid $light-grey-20;
}
.container-border-right {
    border-right: 2px solid $container-border-color;
}
.company-highlight-box-shadow {
    box-shadow: 0px 0px $grey-shadow, 0px 0px $grey-shadow, 0 12px 5px -3px $grey-shadow;
}
.yellow-bullet-list {
    ul {
        margin-left: 2em;
        li::before {
            content: "\2022";
            color: $medium-yellow-background;
            font-weight: bold;
            font-family: "sunlife-sans";
            display: inline-block;
            width: 1rem;
            // padding-left: 16px;
            margin-left: -1em;
        }
        ol li::before{
            content:"";
        }
    }
}
.cmp-text{
@extend .yellow-bullet-list;
}
.text-section {
    @extend .yellow-bullet-list;
}
.icon-texts {
    @extend .yellow-bullet-list;
}
.article-wrapper .article-body{
    @extend .yellow-bullet-list;
}
ul {
    list-style: none;
    padding: 0;
}
.social-link-icon-wrapper,.right-nav-icon-wrapper,.cta-content-icon-wrapper,.mega-menu-icon-wrapper,.getting-started-icon-wrapper,.banner-section,.editorial-hero-banner,#mainfooter,.footer-copyright-wrapper,.right-navigation-wrapper,.demo-class,.form-group-wrapper{
    .cmp-text{
        ul{
            list-style: none;
            padding: 0;
            li::before {
                content: "";
                padding:0;
                margin:0;
            }
        }
    }
}
.primary-blue-button, .primary-yellow-button, .secondary-button {
    .button-class {
        min-height: 48px;
       // max-height: 72px;
        min-width: 136px;
        max-width: 275px;
        border-radius: 4px;
        padding: 6px 16px;
        text-align: center;
        cursor: pointer;
        border: none;
        font-weight: 700;
        display: inline-block;
        text-decoration: none;
        &:hover {
            background-color: $cool-blue-color;
            color: $white-shade;
            text-decoration: none;
        }
    }
}
//skip to main content (accessibility css)
a.skip-main {
    left: -999px;
    position: absolute;
}
a.skip-main:focus, a.skip-main:active {
    color: #000;
    left: 0;
    width: auto;
    height: auto;
}
.transparent-box {
    background-color: $transparent;
}

.clicking{
    outline: none;
}

.banner-box-shadow {
    box-shadow: 0px 10px 15px rgba(124, 124, 124, 0.4), -5px 5px 5px rgba(216, 213, 212, 0.4), 5px 5px 5px rgba(216, 213, 212, 0.4);
}

.phone-numbers{
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
}
/*media query*/

@media (min-width: $large-desktop-screen-min) {
    .container {
        max-width: 1064px;
        width: 100%;
      /*  position: relative;
        left: 50%;
        transform: translateX(-50%); */
        margin:0 auto;
        padding: 0;
        width: 100%;
    }
}

@media (min-width: $desktop-screen-min) and (max-width:$desktop-screen-max) {
    .container {
        max-width: $desktop-screen-min;
        width: 100%;
      /*  position: relative;
        left: 50%;
        transform: translateX(-50%); */
        margin:0 auto;
        padding: 0;
        width: 100%;
    }
}

@media (min-width: $tab-screen-min) and (max-width:$tab-screen-max) {
    .container {
        max-width: 100%;
        width: 100%;
    }
    #mainfooter {
        .top-footer-section, .bottom-footer-section {
            padding: 20px 0 32px 0 !important;
        }
    }
}

@media (min-width: $mobile-screen-min) and (max-width:$mobile-screen-max) {
    #mainfooter {
        .social-link-icon-wrapper {
            height: auto !important;
            ul {
                float: left;
                top: inherit;
                left: 50%;
                transform: translateX(-50%);
                padding: 32px 0;
            }
        }
        .accordion-heading {
            margin: 0;
            padding: 8px 0;
        }
        .col-xs-12 {
            border-top: 1px solid $white-shade;
        }
        .top-footer-section, .bottom-footer-section {
            border-top: none;
            padding: 0 !important;}
    }
    .container {
        max-width: 100%;
        width: 100%;
    }
      /*  h1,
        h2 {
            font-size: 1.625rem;
        } */

    .container-border-right {
    border-right: none;  
    }

}
/* light orange background*/
.light-orange-background-wrapper{
    background-color:$light-orange-20;
    padding:32px 16px;
}
/* aem class starts here */
.container-component{
    padding:0
}
.xf-content-height{
    margin:0 !important;
}
.aem-GridColumn{
    padding:0
}
/* aem class ends here */
.icon-text{
    a:not([href]){
        pointer-events:none;
    }
}
/* contact us box styles start here */
.cmp-contact-us {
	.aem-GridColumn--default--12 {
		.text {
			padding: 0px 32px;
			.cmp-text {
				h3 {
					margin-top: 32px;
				}
				p {
					&:first-of-type {
						margin: 16px 0 56px 0;
					}
				}
			}
		}
		.button {
			margin: 24px 0 32px 0;
		}
	}
}

/*contact us box styles end here */

/* Sunlife find an advisor css starts*/
#SunLifeFindAnAdvisor{
    text-align: -webkit-center;
    label {
        font-family: "sunlife-sans" !important;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .slf-faa-input {
        line-height: 40px !important;
        width: auto;
        border: none;
        margin-bottom: 20px !important;
    }
    .btn-blue {
        background-color: #004C6C;
        color: #ffffff;
        line-height: 26px;
        min-height: 48px;
        min-width: 136px;
        max-width: 275px;
        border-radius: 4px;
        padding: 6px 16px;
        text-align: center;
        cursor: pointer;
        border: none;
        font-weight: 700;
        display: inline-flex !important;
        flex-direction: column;
        justify-content: center;
        display: inline-block;
        text-decoration: none;
    }
    .btn-blue:hover {
        background-color: #4A7283;
        color: #ffffff;
        text-decoration: none;
    }
}
#SunLifeFindAnAdvisor-modal{
    .slf-icon {
        background: url("/content/dam/sunlife/legacy/assets/ca/faa-modal/images/app-am-sprite-legacy.png") no-repeat;
        display: inline-block;
        overflow: hidden;
        text-decoration: none;
        vertical-align: inherit;
    }
} 
@media (max-width: $mobile-screen-max){
    #SunLifeFindAnAdvisor {
        .slf-faa-input {
            width: 80%;
        }
        #slf-locate-advisors-btn {
            align-items: center;
            width: 80%;
            max-width: inherit;
        }
    }
}
@media (min-width: 576px){
    #SunLifeFindAnAdvisor{
        #consumerPC {
            margin-right: 10px;
        }
    }
}
/* Sunlife find an advisor css ends*/

/*For news-announcement-list manual*/

.announcement-list-container {
    .tabs-wrapper {
        .tab-accordian-heading[aria-expanded="true"]:before , .tab-accordian-heading[aria-expanded="false"]:before
        {
            content: '' !important;
            padding-right: 7px;
            padding-left: 0;
        }
    } 
    .tab-accordian-heading[aria-expanded="true"] {
        a span:before {
            content: "\f0d7";
            font-family: FontAwesome;
            padding-right: 10px;
        }
    }
    .tab-accordian-heading[aria-expanded="false"] {
        a span:before {
            content: "\f0da";
            font-family: FontAwesome;
            padding-right: 10px;
        }
    }
}

// superscript inside table with sticky header
.table-stickyheader sup{
	position: static;
    vertical-align: super;
}

//Skip to Links
.skip-to-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-shade;

    .skip-to:focus {
        position: relative !important;
        height: 28px;
        margin: 8px 0px;
    }
}

//.clickable-tile = Source NewsTiles, dropdown-toggle - mega menu links
a:focus:not([role=button]):not(.clickable-tile):not(.dropdown-toggle) {
    outline-offset: 4px;
}