// remove once local code deleted
$header-size: 2em;
$font-color: #343434;
$content-width: 1200px;
// Color-variables
$white-shade: #ffffff;
$dark-grey-color: #424242;
$light-blue-color:#00B4BD;
$medium-blue-color: #004C6C;
$light-cool-blue-color:#F4F7F6;
$light-cool-blue-toggle-color:#F1F5F6;
$light-grey-20: #F7F7F7;
$light-grey-shade-color:#F4F7F8;
$light-grey-background:#f8f8f8;
$light-grey-background-10:#ececec;
$light-taupe-50: #F0EDE8;
$light-orange-20:#FEEDD2;
$light-orange-40:#FDDBA5;
$transparent:transparent;
$medium-yellow-background:#FFCB05;
$primary-yellow-background:#EAAB00;
$medium-grey-background:#9a9a9a;
$cool-blue-color: #4A7283;
$light-grey-color: #D7D7D7;
$light-orange-color: #FEEDD2;
$blue-gradient-color:#003946;
$black-shade:#000000;
$border-grey-color:#aaaaaa;
$background-black-ovrelay-color:rgba(0,0,0,0.5);
$dark-grey-shade:#888888;
$light-grey-shade:#B4B4B4;
$medium-red-color:#B81F41;
$medium-green-color: #0b713a;
$medium-red-10:#F8E8EC;
$blue-search-color:#4a7295;
$grey-shadow: #D8D5D4;
$blue-colour-focus:#AED6F1;
$light-grey-separator-color:#E5E7E9;
$light-yellow-color:#FFDD00;
$dark-grey-legal-color:rgb(66,66,66);
$grey-search-border-color:rgba(153, 153, 153, 0.5);
$blue-search-color:#4a7295;
$grey-previous-background-color:#DDDDDD;
$blue-legal-text-color:rgb(0,57,70);
$container-border-color:#E1E1E1;
$product-card-yellow-border:#EFCC33;
$product-card-shadow-color:#e6e6e6;
$captcha-background-color:#eeeeee;
$grey-checkbox-color:#757575;
$error-help-red-color:#a4383d;
$logo-separator-grey-shade:#CECECE;


// media-query variables
$mobile-screen-min: 320px;
$mobile-screen-max: 767px;
$tab-screen-min: 768px;
$tab-screen-max: 1024px;
$desktop-screen-min: 1025px;
$desktop-screen-max: 1280px;
$large-desktop-screen-min: 1281px;
