// remove once local code deleted
$header-size: 2em;
$content-width: 1200px;
//Colour Palette
$brand-primary-50: #FFFAE0;
$brand-primary-100: #FFF4C2;
$brand-primary-200: #FFE994;
$brand-primary-300: #FFDB52;
$brand-primary-400: #FFCB05;
$brand-primary-500: #FEBE10;
$brand-primary-600: #D3980D;
$brand-primary-700: #B27A0A;
$brand-primary-800: #8B5C04;
$brand-primary-900: #6F4901;
$brand-secondary-50: #F1F7F7;
$brand-secondary-100: #E6EFEF;
$brand-secondary-200: #D6E3E6;
$brand-secondary-300: #C0D3D8;
$brand-secondary-400: #ACC3CB;
$brand-secondary-500: #7097A3;
$brand-secondary-600: #4A7283;
$brand-secondary-700: #315F6E;
$brand-secondary-800: #184A58;
$brand-secondary-900: #003946;
$brand-tertiary-50: #E1F8FF;
$brand-tertiary-100: #C6ECFB;
$brand-tertiary-200: #94D9F4;
$brand-tertiary-300: #6FCDF1;
$brand-tertiary-400: #00AFF0;
$brand-tertiary-500: #0093CF;
$brand-tertiary-600: #007EB8;
$brand-tertiary-700: #0068A1;
$brand-tertiary-800: #00588B;
$brand-tertiary-900: #004570;
$grey-50: #F9FAFA;
$grey-100: #F4F4F5;
$grey-200: #EAEBEB;
$grey-300: #DCDEDF;
$grey-400: #C3C8CB;
$grey-500: #A0A5A7;
$grey-600: #71777A;
$grey-700: #5B6062;
$grey-800: #3D4142;
$grey-900: #202223;
$green-50: #F0FCEE;
$green-100: #E5F9E2;
$green-200: #CCEAC7;
$green-300: #ADDDA7;
$green-400: #94D289;
$green-500: #5BB54B;
$green-600: #479A39;
$green-700: #367E2A;
$green-800: #25611C;
$green-900: #15480F;
$teal-50: #E6F9F6;
$teal-100: #D4F0EB;
$teal-200: #B0E3DB;
$teal-300: #86D6CA;
$teal-400: #63C8B9;
$teal-500: #35AC9D;
$teal-600: #269287;
$teal-700: #1C7770;
$teal-800: #0E5D59;
$teal-900: #014646;
$purple-50: #F9F0F8;
$purple-100: #F2DFEE;
$purple-200: #E5BEDD;
$purple-300: #DAA4CE;
$purple-400: #CB76B8;
$purple-500: #B04598;
$purple-600: #9D3A86;
$purple-700: #832F70;
$purple-800: #6E215B;
$purple-900: #5B1549;
$red-50: #FEF6F6;
$red-100: #FDE2E3;
$red-200: #FAB7BC;
$red-300: #F499A2;
$red-400: #EA677A;
$red-500: #DC2E4A;
$red-600: #D0203D;
$red-700: #B81F39;
$red-800: #9E1A30;
$red-900: #7C1328;
$orange-50: #FFF5EB;
$orange-100: #FFECD6;
$orange-200: #FFDAB2;
$orange-300: #FFCB8F;
$orange-400: #FFB866;
$orange-500: #FFA13D;
$orange-600: #FB8B23;
$orange-700: #DA6A10;
$orange-800: #B8540F;
$orange-900: #9D461B;
$taupe-50: #FAF6EF;
$taupe-100: #F0E9E0;
$taupe-200: #E2D9D0;
$taupe-300: #D3C9C0;
$taupe-400: #BAACA1;
$taupe-500: #968679;
$taupe-600: #867769;
$taupe-700: #76685B;
$taupe-800: #5D5246;
$taupe-900: #493D32;
$white: #FFFFFF;

// Color-variables
$font-color: $grey-800;
$white-shade: $white;
$dark-grey-color: $grey-700;
$light-blue-color:$teal-400;
$medium-blue-color: $brand-secondary-800;
$light-cool-blue-color: $brand-secondary-50;
$light-cool-blue-toggle-color: $brand-secondary-50;
$light-grey-20: $grey-100;
$light-grey-shade-color: $grey-200;
$light-grey-background: $grey-50;
$light-grey-background-10: $grey-200;
$light-taupe-50: $taupe-100;
$light-orange-20: $orange-100;
$light-orange-40: $orange-200;
$transparent:transparent;
$medium-yellow-background: $brand-primary-400;
$primary-yellow-background: $brand-primary-600;
$medium-grey-background: $grey-500;
$cool-blue-color: $brand-secondary-600;
$light-grey-color: $grey-300;
$light-orange-color: $orange-100;
$blue-gradient-color: $brand-secondary-900;
$black-shade:#000000;
$border-grey-color: $grey-500;
$background-black-ovrelay-color:rgba(0,0,0,0.5);
$dark-grey-shade: $grey-600;
$light-grey-shade: $grey-500;
$medium-red-color: $red-700;
$medium-green-color: $green-800;
$medium-red-10: $purple-50;
$blue-search-color: $brand-secondary-600;
$grey-shadow: $grey-300;
$blue-colour-focus: $brand-tertiary-100;
$light-grey-separator-color: $grey-300;
$light-yellow-color: $brand-primary-300;
$dark-grey-legal-color: $grey-800;
$grey-search-border-color:rgba(153, 153, 153, 0.5);
$blue-search-color: $brand-secondary-600;
$grey-previous-background-color: $grey-300;
$blue-legal-text-color: $brand-secondary-900;
$container-border-color: $grey-300;
$product-card-yellow-border: $brand-primary-300;
$product-card-shadow-color: $grey-50;
$captcha-background-color: $grey-100;
$grey-checkbox-color: $grey-600;
$error-help-red-color: $red-800;
$logo-separator-grey-shade: $grey-400;


// media-query variables
$mobile-screen-min: 320px;
$mobile-screen-max: 767px;
$tab-screen-min: 768px;
$tab-screen-max: 1024px;
$desktop-screen-min: 1025px;
$desktop-screen-max: 1280px;
$large-desktop-screen-min: 1281px;