@import '../../../base/core';
@import '../../../../core/base/core.scss';

.editorial-related-articles{
    .editorial-article-content {
        .editorial-image:before{
            background-image:none;
            border:5px solid $cinnamon-orange;
        }
    }
} 

.editorial-nav-desktop-wrapper {
    .links{
        .list-div{
            ul{
                background-color: $dark-blue;
                li{
                    a{
                        color:$white-shade;
                    }
                }
                li {
                    &:not(:last-child) {
                        border-right: 2px solid #BB8800;
                    }
                }
                li.selected{
                    background-color:$medium-yellow-background;
                    a{
                        color: $dark-blue;
                    }
                }
            }
        }
    } 
} 

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .editorial-nav-desktop-wrapper {
        .links {
            .list-div {
                ul {
                    li {
                        min-height: 50px;
                        display: inline-flex;
                    }
                }
            }
        }
    }
}