<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"></sly>
<sly data-sly-use.colcontrolmodel="com.sunlife.core.models.ColControler"></sly>
<sly data-sly-test.columnLayout=${colcontrolmodel.colcontroler}></sly>
<sly data-sly-test.oneColumnLayout=${colcontrolmodel.onecolumnconfig}></sly>
<sly data-sly-test.twoColumnLayout=${colcontrolmodel.twocolumnconfig}></sly>
<sly data-sly-test.threeColumnLayout=${colcontrolmodel.threecolumnconfig}></sly>

<sly data-sly-test="${wcmmode.edit}">
	Column controller
</sly>

<div class="one-column-wrapper" data-sly-test.oneColumn="${columnLayout=='onecolumn'}">

	<div data-sly-test.oneColumnLayoutStructure="${oneColumnLayout==empty}">
		Please select one column structure
	</div>

	<div class="one-column-variation-one"  data-sly-test.oneColumnLayoutStructure="${oneColumnLayout=='onecolvar1'}">
		
        <div data-analytics="${colcontrolmodel.analyticstextcol1}" data-sly-resource="${'onecolvaronepar' @ resourceType='wcm/foundation/components/parsys'}"></div>
	</div>
</div>



<div class="two-column" data-sly-test.twoColumn="${columnLayout=='twocolumn'}">

	<div data-sly-test.twoColumnLayoutStructure="${twoColumnLayout==empty}">
		Please select two column structure
	</div>
    <div class="two-column-variation-one"  data-sly-test.twoColumnLayoutStructure="${twoColumnLayout=='twocolvar1'}">
		
        <div class="col-xs-8" data-analytics="${colcontrolmodel.analyticstextcol2par1}" data-sly-resource="${'twoColumnvaronepar1' @ resourceType='wcm/foundation/components/parsys'}"></div>
        <div class="col-xs-4" data-analytics="${colcontrolmodel.analyticstextcol2par2}" data-sly-resource="${'twoColumnvaronepar2' @ resourceType='wcm/foundation/components/parsys'}"></div>
	</div>
    <div class="two-column-variation-two" data-sly-test.twoColumnLayoutStructure="${twoColumnLayout=='twocolvar2'}">
		
        <div class="col-xs-4" data-analytics="${colcontrolmodel.analyticstextcol2par1}" data-sly-resource="${'twoColumnvartwopar1' @ resourceType='wcm/foundation/components/parsys'}"></div>
        <div class="col-xs-8" data-analytics="${colcontrolmodel.analyticstextcol2par2}" data-sly-resource="${'twoColumnvartwopar2' @ resourceType='wcm/foundation/components/parsys'}"></div>
	</div>
    <div class="two-column-variation-three" data-sly-test.twoColumnLayoutStructure="${twoColumnLayout=='twocolvar3'}">
		
        <div class="col-xs-6" data-analytics="${colcontrolmodel.analyticstextcol2par1}" data-sly-resource="${'twoColumnvarthreepar1' @ resourceType='wcm/foundation/components/parsys'}"></div>
        <div class="col-xs-6" data-analytics="${colcontrolmodel.analyticstextcol2par2}" data-sly-resource="${'twoColumnvarthreepar2' @ resourceType='wcm/foundation/components/parsys'}"></div>
	</div>
    <div class="two-column-variation-four" data-sly-test.twoColumnLayoutStructure="${twoColumnLayout=='twocolvar4'}">
		
        <div class="col-xs-9" data-analytics="${colcontrolmodel.analyticstextcol2par1}" data-sly-resource="${'twoColumnvarfourpar1' @ resourceType='wcm/foundation/components/parsys'}"></div>
        <div class="col-xs-3" data-analytics="${colcontrolmodel.analyticstextcol2par2}" data-sly-resource="${'twoColumnvarfourpar2' @ resourceType='wcm/foundation/components/parsys'}"></div>
	</div>
    <div class="two-column-variation-five" data-sly-test.twoColumnLayoutStructure="${twoColumnLayout=='twocolvar5'}">
		
        <div class="col-xs-3" data-analytics="${colcontrolmodel.analyticstextcol2par1}" data-sly-resource="${'twoColumnvarfivepar1' @ resourceType='wcm/foundation/components/parsys'}"></div>
        <div class="col-xs-9" data-analytics="${colcontrolmodel.analyticstextcol2par2}" data-sly-resource="${'twoColumnvarfivepar2' @ resourceType='wcm/foundation/components/parsys'}"></div>
	</div>
    <div class="two-column-variation-six" data-sly-test.twoColumnLayoutStructure="${twoColumnLayout=='twocolvar6'}">
		
        <div class="col-xs-7" data-analytics="${colcontrolmodel.analyticstextcol2par1}" data-sly-resource="${'twoColumnvarsixpar1' @ resourceType='wcm/foundation/components/parsys'}"></div>
        <div class="col-xs-5" data-analytics="${colcontrolmodel.analyticstextcol2par2}" data-sly-resource="${'twoColumnvarsixpar1' @ resourceType='wcm/foundation/components/parsys'}"></div>
	</div>
    <div class="two-column-variation-seven" data-sly-test.twoColumnLayoutStructure="${twoColumnLayout=='twocolvar7'}">
		
        <div class="col-xs-5" data-analytics="${colcontrolmodel.analyticstextcol2par1}" data-sly-resource="${'twoColumnvarsevenpar1' @ resourceType='wcm/foundation/components/parsys'}"></div>
        <div class="col-xs-7" data-analytics="${colcontrolmodel.analyticstextcol2par2}" data-sly-resource="${'twoColumnvarsevenpar2' @ resourceType='wcm/foundation/components/parsys'}"></div>
	</div>
    <div class="two-column-variation-eight" data-sly-test.twoColumnLayoutStructure="${twoColumnLayout=='twocolvar8'}">
		
        <div class="col-xs-2" data-analytics="${colcontrolmodel.analyticstextcol2par1}" data-sly-resource="${'twoColumnvareightpar1' @ resourceType='wcm/foundation/components/parsys'}"></div>
        <div class="col-xs-10" data-analytics="${colcontrolmodel.analyticstextcol2par2}" data-sly-resource="${'twoColumnvareightpar1' @ resourceType='wcm/foundation/components/parsys'}"></div>
	</div>
</div>

<div class="three-column-wrapper" data-sly-test.threeColumn="${columnLayout=='threecolumn'}">

	<div data-sly-test.threeColumnLayoutStructure="${threeColumnLayout==empty}">
		Please select three column structure
	</div>
	<div class="three-column-variation-one" data-sly-test.threeColumnLayoutStructure="${threeColumnLayout=='threecolvar1'}">
		
        <div class="col-xs-4" data-analytics="${colcontrolmodel.analyticstextcol3par1}" data-sly-resource="${'threecolvaronepar1' @ resourceType='wcm/foundation/components/parsys'}"></div>
        <div class="col-xs-4" data-analytics="${colcontrolmodel.analyticstextcol3par2}" data-sly-resource="${'threecolvaronepar2' @ resourceType='wcm/foundation/components/parsys'}"></div>
        <div class="col-xs-4" data-analytics="${colcontrolmodel.analyticstextcol3par3}" data-sly-resource="${'threecolvaronepar3' @ resourceType='wcm/foundation/components/parsys'}"></div>
	</div>
    
    
    <div class="three-column-variation-two" data-sly-test.threeColumnLayoutStructure="${threeColumnLayout=='threecolvar2'}">
		
        <div class="col-xs-3" data-analytics="${colcontrolmodel.analyticstextcol3par1}" data-sly-resource="${'threecolvarfourpar1' @ resourceType='wcm/foundation/components/parsys'}"></div>
        <div class="col-xs-5" data-analytics="${colcontrolmodel.analyticstextcol3par2}" data-sly-resource="${'threecolvarfourpar2' @ resourceType='wcm/foundation/components/parsys'}"></div>
        <div class="col-xs-4" data-analytics="${colcontrolmodel.analyticstextcol3par3}" data-sly-resource="${'threecolvarfourpar3' @ resourceType='wcm/foundation/components/parsys'}"></div>
	</div>
    
</div>

