.editorial-hero-banner .right-image-position, .editorial-hero-banner .left-image-position {
  background: #F3EEEE; }

.editorial-hero-banner.editorial-hero-banner-orange .right-image-position, .editorial-hero-banner.editorial-hero-banner-orange .left-image-position {
  background: #FEEDD2; }

.round-border img {
  border: 4px solid #d0651e; }

.circle-150-desktop .left-item, .circle-220-desktop .left-item, .circle-150-mobile .left-item {
  background-image: none; }

@media (min-width: 320px) and (max-width: 1023px) {
  .banner-section .hide-in-editorial.text-section {
    margin: 0 27px; } }
