@import '../../../base/core';
.cta-home-wrapper{
    background-color: $grey-cta-background;
    .row{
        margin-top: 0;
        top: -40px;
    }
}

@media  (max-width: $tab-screen-max) {
    //ASC search result page
    .col-xs-12.no-gutter {
        .search-container {
            padding: 0 10px;
        }
    }
}

@media (min-width: $mobile-screen-min) and (max-width: $mobile-screen-max) {
	.no-padding {
		.yellow-icon-white-background >* {
			border-top: 1px solid $light-grey-color;			
		}
    } 
    .asc-sunlife-home-page, .asc-sunlife-content-page {
        .row[data-section="footer-top-layer"] {
            .teaser.circular-image.round-border {
                display: none;
            }
        }
    }
    .company-highlight-yellow-grey-background, .company-highlight-blue-grey-background {
        .teaser .image-text-wrapper {
            width: 100%;
        }
    }
}
@media (min-width: $tab-screen-min){
    .cta-home-wrapper {
        .yellow-icon-white-background{
            .cmp-container{
                display:flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}
