@import '@sunlife/ui-styles/base/variables';
@import 'bootstrap/scss/mixins';

.sl-anchor-links {
    @include media-breakpoint-up(xl) { 
        position: sticky;
    }
    ul {
        @include media-breakpoint-down(xl) {        
            margin-bottom: 30px;
        }
    }
    &.no-sticky {
        position: inherit;
    }
}
.aem-AuthorLayer-Edit .sl-anchor-links {
    position: inherit;
}