@import "../../../base/core";

.mar-bottom-10 {
  margin-bottom: 10px !important;
}
.pad-top-10 {
  padding-top: 10px !important;
}

.sign-in-modal-wrapper {
  .modal-content {
    background: $medium-yellow-background;
    width: 366px;
    margin: auto;

    .modal-body {
      padding: 40px 40px;

      /* Close Button Styles Start*/
      .close-modal {
        top: 4px;
        right: 1px;
        color: $dark-blue;
        .collapse-x {
          margin: 15px 15px 0 0;
        }
      }
      /* Close Button Styles End */

      .login-container {
        margin-top: 0;
        .btn-blue {
          background: $dark-blue;
        }
        hr.hard-separator-center {
          display: block;
          border: 0;
          border-bottom: 2px solid #4A443F;
          padding: 0px 0px 10px 0px;
          position: static;
          width: 300px;
        }
      }

      #signin-widget {
        form {
          .form-group {
            margin-bottom: 10px;
            /* Input Section */
            input[type="radio"] {
              width: 13px;
              height: 13px;
              margin: 4px 0 0;
              & + label {
                position: relative;
                padding-left: 10px;
                &:before {
                  background-clip: content-box;
                  background-color: $white-shade;
                  border: solid 1px $medium-grey-background;
                  border-radius: 20px;
                  content: "";
                  height: 24px;
                  width: 24px;
                  left: -24px;
                  position: absolute;
                  transition: background-color ease-in-out 0.15s, padding ease-in-out 0.25s,
                    box-shadow ease-in-out 0.25s;
                }
              }
              &:checked + label:before {
                background-color: $blue-gradient-color;
                padding: 2px;
              }
            }
            /* Checkbox Section */
            #rememberIDModal {
              position: absolute !important;
              opacity: 0 !important;
              clip: rect(0 0 0 0) !important;
            }
            input[type="checkbox"] {
              width: 14px;
              height: 14px;
              border: 1px solid $light-grey-color;
              margin: 4px 0 0;
              box-sizing: border-box;
              padding: 0;
              &:not(:checked) {
                /* Checkbox is unchecked show empty checkbox */
                & + label::after {
                  opacity: 0;
                  transform: scale(0);
                }
              }
              & + label {
                position: relative;
                padding-left: 25px;
                cursor: pointer;
                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 2px;
                  width: 20px;
                  height: 20px;
                  border: 1px solid $border-grey-color;
                  background: $white-shade;
                }
                &::after {
                  content: '\f00c';
                  font-family: FontAwesome;
                  position: absolute;
                  top: 2px;
                  left: 2px;
                  font-size: 14px;
                  color: $dark-blue;
                  transition: all 0.2s;
                  line-height: 18px;
                }
              }
            }
            input[type=text], input[type=email], input[type=password] {
              padding: 0 10px;
              border: solid 1px $medium-grey-background;
              margin-bottom: 5px;
            }
            /* Password Field */
            .password-input {
              width: 100%;
            }
          }
        }
        .signin-help{
          p{
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
