@import '../../../base/core'; 
.rating-wrapper{
    margin:20px 10px;
    .star-rating{
        font-size:1.25rem;
        .fa-star{
            cursor: pointer;
        }
        .fa-star.active{
            color:$medium-yellow-background;
        }
        .fa-star.yellow{
            color:$medium-yellow-background;
        }
        .fa-star.grey{
            color:$black-shade;
            &.active{
                color:$black-shade;
            }
        }
    }
    .no-of-rating{
        margin-left:10px;
    }
}