body {
    width: 960px;
    margin: 0 auto;
}
.header {
    height: 140px;
}
.yellow-bar {
    height: 8px;
    background-color: #ffcb05;
    padding: 0;
    width: 100%;
 }
.header > .logo {
    height: 50px;
    margin: 25px;
}
.main-content {
    margin: 0 25px;
}