@import '@sunlife/ui-styles/base/variables';
@import 'bootstrap/scss/mixins';
@import '@sunlife/ui-styles/base/container';
@import '@sunlife/ui-styles/base/functions';
@import '../../../../../prerequisite/core-base/styles/includes/lego-typography.scss';

/* Style overirde for font-awesome icon fixes */ 
.card {
    .sl-link {
        .svg-inline--fa {
            width: 20px !important;
            height: 20px !important;
            margin-bottom: -2px;
        }
    }
    .content-container {
        .sl-cards & {
            width: 100%;
        }
    }
}

.sl-card-icon {
    height: 4rem !important;
    width: 4rem !important;
}

/* Style for banner content block */ 
.sl-banner-content-block  {
    --viewportWidth: calc(100vw - var(--scrollbarWidth, 17px));
    margin-left: 50%;
    transform: translateX(-50%);
    width: var(--viewportWidth);

    .caption-container p {
        @include sl-body-small;
        display: flex;
        margin: 0;
    }
}

/* Style for avatar content block */ 
.sl-avatar-blocks {
    .card {
        .card-body {
            flex: 1 1 !important;
        }
        .body-quote {
            width: 100%;
        }
    }
}

/* Style for media content block */ 
.sl-media-block {
    .sl-article-video iframe {
        width: 100% !important;
    }
    .card-text{
        padding-bottom: 0 !important;
    }
}

.sl-media-block, 
.sl-banner-content-block {
    .card-text p:last-child {
        margin-bottom: 0;
    }
}
/* Style for banner-image content block */ 
.sl-banner-image-block {
    &.banner-image-block-left,
    &.banner-image-block-right {
      .card-body {
        .card-text {
          .caption-text p {
            @include sl-body-small;
            color: var(--grey-700);
            margin-bottom: 0;
            margin-top: 0.5rem;
          }
        }
      }

      .btn {
        width: fit-content;
      }
    }
}
  

// TODO: Helios-bugfix - Need to remove once helios fix it
.sl-cards.horizontal .card picture {
    @include media-breakpoint-up(md) {
        width: 50%;
    }
}

// MP-2317 Ensure Vertical Cards in MD/SM Span Full Width. 
.sl-cards {
    &.vertical {
      .card {
        &.multi-v {
            @include media-breakpoint-down(md) {
                flex-basis: 100%;
            }
        }
      }
    }
}

.sl-banner-content-block .grouped-form form {
    width: 100%;
}