@import '../../../base/core';

.prvprfl-main-content-wrapper {
    padding: 0 15px;
    .row .col-md-8, .row .col-md-4 {
        padding: 0 !important;
    }
    .prvprfl-sidebar-wrapper{
        max-width: 334px !important;
        button.btn.btn-blue {
            background: $medium-blue-color !important;
            color: $white-shade !important;
            font-size: 16px !important;
            padding: 11px 19px !important;
            border: 2px;
            min-height: 48px !important;
            white-space: normal;
            font-family: 'sunlife-sans';
            font-weight: 700;
        }
        button.btn.btn-blue:hover {
            background: $cool-blue-color !important;
            color: $white-shade !important;
            border: 2px solid $cool-blue-color;
        }
    }
    .prvprfl-provider-section{
        .prvprfl-provider-name {
            margin-top: 0;
        }
    }
    .row .col-lg-1, .row .col-lg-2, .row .col-lg-3, .row .col-lg-4, .row .col-lg-5, .row .col-lg-6, .row .col-lg-7, .row .col-lg-8, .row .col-lg-9, .row .col-lg-10, .row .col-lg-11, .row .col-lg-12{
        padding: 0 !important;
    }
    ul.prvprfl-ul > li::before {
        content: "\2022";
        color: $medium-yellow-background;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
    ul.prvprfl-ul > li{
        font-size: 16px;
        padding: 0 0 4px 14px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: 0 .5em;
        line-height: 140%;
    }
}
@media (max-width: $tab-screen-max) and (min-width: $tab-screen-min){
    .prvprfl-main-content-wrapper{
        .prvprfl-sidebar-wrapper {
            margin-left: 15px !important;
            max-width: 315px;
        }
    }
}
