<sly data-sly-use.productCardModel="ca.sunlife.web.cms.core.models.ProductCardModel">
    <sly data-sly-test="${productCardModel.topc=='static'}">
        <div class="thumbnail ${productCardModel.pcData.featuredCard ? 'feature-card' : ''}">
            <img src="${productCardModel.pcData.productCardImage}" alt="${productCardModel.pcData.productCardHeading}" class="imageCard">
            <span data-sly-test="${productCardModel.pcData.featuredCard}"><img src="${productCardModel.featuredImagePath}" alt="" class="topright"></span>
            <div class="caption">
                <h2 class="product-name">${productCardModel.pcData.productCardHeading}</h2> 
                ${productCardModel.pcData.productCardContent @context='html'}
            </div>
            <a href="${productCardModel.pcData.productCardPagePath}">${productCardModel.pcData.productCardHeading}</a>
        </div>
    </sly>
    <div class="product-card-wrapper layout-container" data-sly-test="${productCardModel.topc=='dynamic'}">
        <div class="row flex-height">
        <sly data-sly-test.pcFeaturedCardImage="${productCardModel.featuredImagePath}"></sly>
        <div data-sly-list.cardDetails="${productCardModel.itemList}">
            <div class="col-sm-4">
            <div class="container-component">
            <div class="cmp-container">
            <sly data-sly-list.element="${cardDetails.elements}">
                <sly data-sly-test="${element.name == 'productCardImage'}" data-sly-test.pcImage="${element.value}" />
                <sly data-sly-test="${element.name == 'featuredCard'}" data-sly-test.pcFeaturedCard="${element.value}" />
                <sly data-sly-test="${element.name == 'productCardHeading'}" data-sly-test.pcHeading="${element.value}" />
                <sly data-sly-test="${element.name == 'productCardContent'}" data-sly-test.pcContent="${element.value}" />
                <sly data-sly-test="${element.name == 'productCardPagePath'}" data-sly-test.pcPath="${element.value}" />
            </sly>
            <div class="thumbnail ${pcFeaturedCard ? 'feature-card' : ''}">
            <img src="${pcImage}" alt="${pcHeading}" class="imageCard">
            <span data-sly-test="${pcFeaturedCard}"><img src="${pcFeaturedCardImage}" alt="" class="topright"></span>
            <div class="caption">
                <h2 class="product-name">${pcHeading}</h2> 
                ${pcContent @context='html'}
            </div>
                <a href="${pcPath}">${pcHeading}</a>
          </div>
          </div>
          </div>
          </div>
        </div></div>
    </div>
    <div class="row module-1" data-sly-test="${productCardModel.topc=='rightNav'}">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                ${productCardModel.title}
            </div>
            <div data-section="product-secondary-CTA">
                <sly data-sly-test="${productCardModel.cardIsFeatured=='yes'}"><img src="${productCardModel.featuredImagePath}" alt="Featured"></sly>
                <div class="fa ${productCardModel.icon}"></div>
                ${productCardModel.text @ context='html'}
            </div>
        </div>
    </div>
</sly>
<div data-sly-test="${!productCardModel.topc}" class="cq-placeholder" data-emptytext="${component.title}"></div>