@import "../../../base/core";

.title-wrapper-blue-yellow-rings {
  background:url(/content/dam/sunlife/regional/global-marketing/images/source/yellow-rings.jpg) right no-repeat;
  background-color:$medium-blue-color;
  color: $medium-yellow-background;
  background-size: contain;
}

@media (max-width:$mobile-screen-max){
  .title-wrapper-blue-yellow-rings {
    background-image: none;
  }
}