@import "../../../base/core";

.title-wrapper-blue-yellow-rings {
  background:url(/content/dam/sunlife/internal/source/images/yellow_rings.jpg) right no-repeat;
    background-color:$medium-blue-color;
  color: $medium-yellow-background;
}