@import '../../../base/core'; 
.stock-ticker-wrapper{
    .share-performance {
        background: #f3cd66;
        border-top: 1px solid #eaab00;
        border-bottom: 1px solid #eaab00;
        font-size: 18px;
        padding: 24px 0 11px;
    }
    .share-performance.new {
        background: #ffcb05;
        border-top: 1px solid #ffcb05;
        border-bottom: 1px solid #ffcb05;
        font-size: 16px;
        padding: 24px 0 11px;
    }
    .share-performance.new {
        padding-left: 3%;
        padding-right: 5%;
    }
    .stock-row.new {
        margin-bottom: 0%;
    }
    .slf-icon-reg {
        border: 2px solid white;
        border-radius: 100%;
        margin: 0 auto;
        top: -7px;
        position: relative;
        font-size: 32px;
        height: 64px;
        width: 64px;
    }
    .circle-gradient-blue {
        background: linear-gradient(#004C6C, #003946) !important;
    }
    .icon-reg {
        top: 18px;
    }
    .fa-bar-chart-o:before, .fa-bar-chart:before {
        content: "\f080";
    }
    .stock-label.new {
        padding-top: 1%;
    }
    h2{
        margin-top: 0 !important;
    }
    .pad-bottom-10-xs {
        padding-bottom: 10px !important;
    }
    .stock-label h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 35px;
    }
    .stock-label h2 {
        line-height: 23px;
    }
    .stock-detail.new {
        padding-top: 1% !important;
    }
    .stock-label.new {
        padding-top: 1% !important;
    }
    strong {
        font-family: sunlife-sans;
        font-weight: 700;
    }
    .share-performance .share-separator {
        border-right: 1px solid #bea35b;
        height: 30px;
        display: inline-block;
        /* margin: 0 18px; */
        margin: 0px 16px 0px 11px;
        vertical-align: middle;
    }
    .stock-disclaimer a {
        font-size: 14px;
    }
    .stock-disclaimer {
        font-size: 14px;
        margin-top: -30px;
    }
    .stock-disclaimer.new, .stock-disclaimer {
        line-height: 18px;
    }
    .mega-menu-col3 {
        width: 224px;
        padding-right: 0px;
        float: left;
         .mega-share {
           
            background: #D7D7D7;
            width: 246px;
            display: block;
            margin: 15px;
            padding: 10px 30px 0 30px;
            text-align: center;
        }
        .mega-share-body {
            padding-bottom: 24px;
        }
        .mega-share .h4 {
            padding-left: 0 !important;
        }
        .h4 {
            font-family: sunlife-sans;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
        }
        .mega-tsx {
            font-size: 18px;
            border-bottom: 1px solid #c1c1c1;
            margin-bottom: 10px;
        }
        .mega-nyse {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .mega-stock-disclaimer {
            font-size: 12px;
            line-height: 16px;
        }
        .mega-tsx p:first-of-type {
            font-family: sunlife-sans;
            font-weight: 700;
            font-size: 16px;
            padding: 10px 0 0 0;
            line-height: 12px;
        }
        .mega-nyse p:first-of-type {
            font-family: sunlife-sans;
            font-weight: 700;
            font-size: 16px;
            padding: 10px 0 0 0;
            line-height: 12px;
        }
        .mega-stock-disclaimer a {
            font-size: 12px;
        }
    }
}
@media only screen and (max-device-width: $tab-screen-max) and (min-device-width: $tab-screen-min) and (orientation: landscape){
    .stock-ticker-wrapper{
        .share-performance.new {
            padding-left: 3% !important;
            padding-right: 0% !important;
        }
        .stock-label.new {
            margin-bottom: -2% !important;
        }
    }
}
@media (max-width: $tab-screen-max) and (min-width: $tab-screen-min){
    .stock-ticker-wrapper{
        .share-separator {
            margin: 0 12px !important;
        }
        .stock-disclaimer {
            margin-top: -6px;
        }
    }
}
@media only screen and (max-device-width: 825px) and (min-device-width: 810px){
    .stock-ticker-wrapper{
        .stock-disclaimer.new {
            font-size: 12px;
            margin-top: -23px;
        }
    }
}
// @media only screen and (max-device-width: 812px) and (min-device-width: 375px) and (orientation: landscape){
//     .share-performance.new {
//         padding-left: 3% !important;
//         padding-right: 0% !important;
//     }
//     .stock-label.new {
//         margin-bottom: -2% !important;
//     }
// }
@media (max-width: $mobile-screen-max) and (min-width: $mobile-screen-min){
    .stock-ticker-wrapper{
        .share-performance {
            text-align: center;
        }
        .stock-label h2 {
            text-align: center;
        }
        .share-performance .share-separator {
            border-right: 0;
            border-top: 1px solid #bea35b;
            width: 30%;
            display: block;
            margin: 18px auto -12px;
        }
        .stock-disclaimer {
            margin-top: 15px;
        }
    }
}