@import 'core';

a {
  color: $dark-blue;
  &:hover {
    color: $medium-blue-color;
  }
}

/* Footer Styles */
#mainfooter{
  background-color: $white-smoke;
  .row[data-section="footer-middle-layer"] {
    > div {
      border-top: 1px solid $white-shade;
      &:last-child{
        .lists-wrapper .links a{ 
              pointer-events: none;
              cursor: default;
              text-decoration: none;
              color: $font-color;
        }
      }
    }
  }
}

.view-all-category {
  &:after {
    color: $cinnamon-orange;
  }
}

/* Not mobile styles starts here */
@media (min-width: $tab-screen-min){
  #mainfooter{
    .social-link-icon-wrapper {
      ul {
        transform: none;
      }
    }   
  }
}
/* Not mobile styles starts here */

/* Turn bullet points to #D0651E as per DSM */
.cmp-text, .text-section, .icon-texts, .article-wrapper .article-body{
  ul{
    li::before {
      color: $cinnamon-orange;
    }
  }
}

.icon-texts {
  p {
    a {
      text-decoration: none !important;
    }
  }
}