@import '../../core/base/core';

$font-color: #424242;

// Primary Color variables
$armadillo-brown: #4A443F;
$white-smoke: #F3EEEE;
$cinnamon-orange: #d0651e;
$stiletto-red: #A4383D;
$monarch-red: #6C2528;
$fountain-blue: #54A2AB;
$dark-olive-green: #648237;

// Additional Colors
$dark-blue: #002D3D;
$medium-orange: #DF7227;
$cherry-red : #A81E22;
$dark-maroon: #580B11;
$cowboy-brown : #443736;
$sandstone-grey: #786C62;
$zorba-grey: #9C9189;
$light-orange-30: #F9E6B3;
$grey-cta-background: #f3eeee; 