{{>core-components-content-button}}
<div class="modal fade subscribe-popup-wrapper horizontal-middle-align" role="dialog" id="subscribe"> 
	<!-- Modal content-->
	<div class="modal-content">
		<button type="button" class="close close-popup fa fa-remove collapse-x" data-dismiss="modal"><label class="sr-only">Close</label></button>
		<div class="modal-body">
		<div class="cmp-container blue-icon-yellow-background">
			{{>core-components-content-icon-text}}
			<form>
				
				{{>core-components-form-text}}
				{{>core-components-form-text}}
				{{>core-components-form-button}}
				
			</form>
		</div>
		</div>
	</div>
</div>