@import '../../../base/core';
.abc{
    font-size: 48px;
    line-height: 100px;
}
.subscribe-popup-wrapper{
    opacity: 1;
    background-color: $background-black-ovrelay-color;
    padding: 0;
    position: absolute;
    padding-left:0;
    .modal-open {
        overflow: hidden;
    }
    .modal-content{
        background: $medium-yellow-background;
        padding: 24px 24px 40px 24px;
        width: 800px;
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
                .close-popup{
                    font-size:1.125rem;
                    opacity:1;
                    margin:0;
                    cursor:pointer;
                }          
        .modal-body{
            margin:24px;
            padding:0;
            form{
                display: table;
                &>*{
                    display: table-cell;
                    
                }
                .primary-blue-button-form{
                    .cmp-form-button{
                        
                        min-width: 100%;
                    }
                }
                
            }
            form :not(:last-child){
               padding-right: 8px;
            }
            form :not(:first-child){
                padding-left: 8px;
             }
        }
    }
    .blue-icon-yellow-background{
        .icon-parent{
            height:auto;
        }
        .icon-style{
            bottom:0;
        }
    }
}
@media (max-width: $mobile-screen-max){
    .subscribe-popup-wrapper{
        .modal-content{
            width:90%;
        }
    }
}