<sly data-sly-use.baseModel="ca.sunlife.web.cms.core.models.BasePageModel" />
<meta property="${key}"
      data-sly-repeat.key="${baseModel.customMetadata.keySet}"
      content="${baseModel.customMetadata[key] @context='unsafe'}"/>
<link rel="canonical" itemprop="url" href="${baseModel.seoCanonicalUrl}"/>
<link rel="alternate" data-sly-repeat.key="${baseModel.altLanguageLinks}" 
	hreflang="${key}" href="${baseModel.altLanguageLinks[key]}"/>

<!-- UDO starts here -->
<script type="text/javascript">
	  var userInfo;
      var __slf_search_config = {
            api_url: "${baseModel.searchApi @context='unsafe'}",
            autocomplete_url: "${baseModel.autoCompleteUrl @context='unsafe'}",
            sayt_url: "${baseModel.searchApi @context='unsafe'}"
      };
      var utag_data = ${baseModel.udoTags @context='unsafe'};
</script>
<sly data-sly-resource="${'user-info' @ resourceType='sunlife/source/components/content/userdetails'}" />
<!-- UDO ends here -->
<sly>${baseModel.headInclude @ context = 'unsafe'}</sly>
<!-- Synchronous Tag Support starts here -->
<script src="${baseModel.analyticsScriptPath}" type="text/javascript"></script>
<!-- Synchronous Tag Support ends here -->

