@import '../../../base/core';
.abc{
    font-size: 48px;
    line-height: 100px;
}
.subscribe-popup-wrapper{
    opacity: 1;
    background-color: $background-black-ovrelay-color;
    padding: 0;
    position: absolute;
    padding-left:0;
    .modal-open {
        overflow: hidden;
    }
    .modal-content{
        background: $medium-yellow-background;
        padding: 24px 24px 40px 24px;
        width: 50%;
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .modal-header{
            background-color:$medium-blue-color;
            padding:0;
            .modal-title{
                display:flex;
                margin:24px;
                .modal-heading{
                    font-size:1.75rem;
                    font-weight:400;
                    color: $white-shade;
                    margin:0;
                    width:calc(100% - 11px);
                    padding-right:20px;
                    :hover{
                        text-decoration:none;
                    }
                }
                .close-popup{
                    font-size:1.125rem;
                    opacity:1;
                    margin:0;
                    cursor:pointer;
                }
            }           
        }
        .modal-body{
            margin:24px;
            padding:0;
        }
    }
}
@media (max-width: $mobile-screen-max){
    .subscribe-popup-wrapper{
        .modal-content{
            width:90%;
        }
    }
}