@import "../../../base/core";

.time-widget {
	width: 275px;
	margin: 0 auto;
	form {
		.dropdown {
			padding-right: 0px!important;
			margin-bottom: 16px;
			.cmp-form-options {
				width: 100%;
			}
		}
	}
}
