<div data-component-render="react" data-component-render-name="stock-ticker" 
    data-component-render-props='{
        "stockTickerType":"yellow",
        "iconName": "fa-bar-chart",
        "stockTickerHeadingText":"Stock Information",
        "viewAllLink": "/en/investors/share-performance/share-charts/",
        "viewAllText": "View All",
        "dataDelayedText": "Data delayed by 15 minutes",
        "disclaimerText": "disclaimer",
        "disclaimerLink": "/content/dam/sunlife/legacy/assets/com/Global/files/html/stockDisclaimer.html",
        "analyticsId":"hp investor"
        }'>
</div>