@import '../../../prerequisite/base/styles/core.scss';
.stock-ticker-wrapper{
    .share-performance {
        background: $medium-yellow-background;
        font-size: 18px;
        padding: 16px 32px;
        min-height: 96px;
        .stock-row{
            .slf-icon-reg {
                border: 2px solid $white-shade;
                border-radius: 100%;
                position: relative;
                font-size: 32px;
                height: 64px;
                width: 64px;
                float: left;
                margin-right: 16px;
                .icon-reg {
                    top: 18px;
                }
                .fa-bar-chart-o:before, .fa-bar-chart:before {
                    content: "\f080";
                }
            }
            .circle-gradient-blue {
                background: linear-gradient($medium-blue-color, $blue-gradient-color);
            }
            .stock-label{
                padding-top: 16px;
                font-size: 18px;
                font-weight: 700;
                float: left;
            }
            .stock-detail{
                padding-top: 16px;
                font-size: 16px;
                float: right;
                .share-separator {
                    border-right: 2px solid $medium-grey-background;
                    height: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 24px;
                }
            }
        }
        .disclaimer-row{
            font-size: 14px;
            padding-left: 80px;
            .stock-disclaimer{
                margin: 0;
                position: relative;
                top: -30px;
                margin-bottom: -30px;
            }
            .stock-disclaimer:lang(fr){
                top: -10px;
                margin-bottom: -10px;
            }
        }
    }
    .mega-menu-col3 {
        // width: 224px;
        padding-right: 0px;
        float: left;
         .mega-share {
           
            background: $light-grey-color;
            // width: 246px;
            display: block;
            margin: 24px 15px;
            padding: 32px;
            text-align: center;
        }
        .mega-share-body {
            padding-bottom: 24px;
        }
        .mega-share .h4 {
            padding-left: 0 !important;
        }
        .h4 {
            font-family: sunlife-sans;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
        }
        .mega-tsx {
            font-size: 18px;
            border-bottom: 1px solid $border-grey-color;
            margin-bottom: 10px;
        }
        .mega-nyse {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .mega-stock-disclaimer {
            font-size: 12px;
            line-height: 16px;
        }
        .mega-tsx p:first-of-type {
            font-family: sunlife-sans;
            font-weight: 700;
            font-size: 16px;
            padding: 10px 0 0 0;
            line-height: 12px;
        }
        .mega-nyse p:first-of-type {
            font-family: sunlife-sans;
            font-weight: 700;
            font-size: 16px;
            padding: 10px 0 0 0;
            line-height: 12px;
        }
        .mega-stock-disclaimer a {
            font-size: 12px;
        }
    }
}
@media (min-width: $tab-screen-min){
    .stock-ticker-wrapper{
        .share-performance{
            .stock-row{
                .stock-label{
                    max-width: 25%;
                }
                .stock-detail{
                    max-width: 72%;
                }
            }
        }
    }
}
@media (max-width: $tab-screen-max) and (min-width: $tab-screen-min){
    .stock-ticker-wrapper{
        .share-performance{
            padding-bottom: 32px;
            .stock-row{
                .slf-icon-reg{
                    display: none;
                }
            }
            .disclaimer-row{
                padding-left: 0;
                .stock-disclaimer, .stock-disclaimer:lang(fr){
                    top: 0;
                    margin-bottom: 0;
                }
            }
        }
        
    }
}
@media (max-width: $mobile-screen-max) and (min-width: $mobile-screen-min){
    .stock-ticker-wrapper{
        .share-performance{
            padding: 32px;
            text-align: center;
            .stock-row{
                .slf-icon-reg{
                    display: none;
                }
                .stock-label{
                    float: none;
                    padding-top: 0;
                }
                .stock-detail{
                    float: none;
                    padding: 32px 0;
                    .share-separator{
                        border-right: 0;
                        border-top: 2px solid $medium-grey-background;
                        width: 30%;
                        display: block;
                        height: auto;
                        margin: 32px auto;
                    }
                }
            }
            .disclaimer-row{
                padding-left: 0;
                .stock-disclaimer, .stock-disclaimer:lang(fr){
                    top: 0;
                    margin-bottom: 0;
                    span{
                        display: block;
                    }
                }
            }
        }
    }
}