@import '../../../prerequisite/base/styles/core.scss';
.form-wrapper{
  text-align: center;
  width: 50%;

}
.form-wrapper-simple{
    border: 1px solid $black-shade;
    padding: 15px;
    .cmp-form-options--drop-down
  {
      width: 100%;
  }
}
.form-container-component{
    padding:16px;
}
.form-yellow-wrapper{
    background-color:$medium-yellow-background;

}
.form-alignment-left{
    text-align: left;
}
.form-alignment-right{
    text-align: right;
}
.form-alignment-center{
    text-align: center;
}
.parsley-errors-list.filled {
    background: $medium-red-color;
    color: $white-shade;
    position: relative;
    margin: 1px 0px 9px 0px;
    min-height: 48px;
    top: 6px;
    padding-top: 1px;
}


.parsley-errors-list li {
    padding: 4px 10px 4px 17px;
    background-image: none;
    text-align: left;
    margin: 5px 10px;
}



.parsley-custom-error-message, .parsley-required, .parsley-pattern, .parsley-type {
    margin: 5px 10px;
}


.filled:before {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 5px solid $medium-red-color;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.parsley-error {
    background-color: $medium-red-10!important;
    border: 1px solid $medium-red-color !important;
}

.editorial-nav-mobile-wrapper{
    width: 100%;
    background-color: $medium-yellow-background;
    .options{
        padding: 0 5px;
        .cmp-form-options{
            height: 68px;
            width: 100%;
            float: right;
            transform: translateY(11px);
            .cmp-form-options__label{
                display: none;
            }
            .cmp-form-options__field{
                background-color: $white-shade;
            }
        }
        .cmp-form-options--drop-down::before{
            z-index: 1;
        }
    }
    .button-wrapper{
        margin: 0;
        transform: translateY(11px);
        .cmp-form-button{
            width: 53.44px;
            min-width: 0;
        }
    }
    .layout-container{
        .col-xs-10, .col-xs-2{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.subscribe-popup-form-wrapper form .button-wrapper .cmp-form-button{
    width:100%;
    min-width:100%;
    max-width:100%;
    }

    .subscribe-popup-form-wrapper form .text input{
        width: 100% ;
        min-width: 100%;
        max-width: 100%; 
    }
.cta-form-wrapper form .button-wrapper .cmp-form-button{
        width:100%;
        min-width:100%;
        max-width:100%;
    }


.subscribe-main-form-wrapper form .button-wrapper .cmp-form-button {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
.subscribe-main-form-wrapper{
    padding:0px !important;
    .cmp-form-text{
        input{
            width: 100%;
            max-width:100%;
        }
    }   
}
/*Thank You wrapper Starts Here*/

.thankyou-wrapper{
	//background-color: $medium-yellow-background;
    text-align:center;
    padding: 32px 0 22px 0;
    form{
        width:66.66%;
        display:inline-block;
        .cmp-text{ 
            .heading-1,.heading-2,.heading-3,.heading-4,.heading-5,.heading-6,h2,h3,h4,h5,h6{
            font-size: 1.5rem;
            line-height:30px;
            font-weight:400;
            margin: 0;
            }
        }
        .form-input,.dropdown {
            width:50% !important;
             padding: 0 8px;
             margin-bottom: 16px;
        }
        .dropdown .cmp-form-options--drop-down {
            width:100%;
        }
        .cmp-form-button{
            width: 100%;
            margin-top: 16px;
            margin-bottom: 16px;
        
        }
        textarea{
            padding: 0px 16px;
        }
        fieldset{
            legend{
                border-bottom: none;
            }
        }
    }
    .form-input-text {
        width: 80% !important;
        float:none !important;
        padding:0 30px;
        display:inline-block;
        margin:0px auto!important;
    }
    .form-input-text:first-of-type{
        margin:0px auto 32px!important;
    }
    div.text:last-child {
       width: 100% !important;
       margin-bottom:0px;
       padding: 0 50px;
   }
   .text.form-element-full-width-wrapper, .dropdown.form-element-full-width-wrapper{
        width: 100% !important;
        float: none !important;
        padding: 0;
        display: inline-block;
    }
    textarea {
        width:100%;
    }
    .text.form-element-full-width-wrapper{
        textarea{
            padding:10px 16px;
        }
    }
    form{
        .cmp-form-text{
            input[type=email]{
                max-width:100%!important;
                width:100%!important;
            }
        }
    }
} 
/*Thank You wrapper Ends Here*/


/* Generic form styles start here */
.generic-form-wrapper{
    form{
        .row{
            display:flex;
            div[class^="col-"]{
                padding:0px;
            }
        }
        .cmp-form-text{
            textarea{
                width:100%;
                border:1px solid $medium-grey-background;
                padding:10px 16px;
            }
        }
        .dropdown{
            .cmp-form-options{
                width:100%;
            }
        }
        .text, .dropdown, .layout-container{
            margin-bottom:8px;
        }
        input[type=checkbox]:after{
            margin-top: 1px;
            margin-left: 4px;
        }
        .cmp-form-options__field-description{
            margin-left:30px;
        }
        .form-dropdown-fittosection{
            .cmp-form-options{
                width:285px!important;
            }
        }
        fieldset{
            legend{
                border-bottom: none;
            }
        }
    }
}
.col-sm-4, .col-md-4, .col-lg-4 {
    .generic-form-wrapper{
        form{
            .text{
                input[type=text]{
                    width:100%;
                }
            }
        }
    }
}
.generic-form-wrapper{
    form{
        input[type=checkbox]{
            max-width: 24px;
            width:24px;
        }
        .options {
            input[type=radio] {
                width: 24px;
                height: 24px;
                + {
                    span.cmp-form-options__field-description {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
  
}
@media(min-width:$tab-screen-min){
    .generic-form-wrapper{
        form{
            .row{
                div[class^="col-"]:first-child{
                    max-width:285px;
                    margin-right: 10px;
                }
                div[class^="col-"]:last-child{
                    input{
                        width:100px;
                    }
                }
            }
            input,.parsley-errors-list{
                max-width:285px;
                width:100%;
            }
            label{
                display: block;
            }
            .dropdown{
                .cmp-form-options{
                    max-width:395px;
                }
            }
            .text{
                textarea{
                    max-width:395px;
                }
            }
        }
        .cmp-form-text{
          // max-width:285px;
           width:100%;
        }
        .form-element-full-width-wrapper {
            .cmp-form-text{
               // max-width:395px;
                width:100%;
                input,.parsley-errors-list{
                    max-width:395px;
                    width:100%;
                }         
            }
        }
    }
    .form-alignment-center.generic-form-wrapper{
        .parsley-errors-list{
            margin:0 auto;
        }
    }
    .form-alignment-right.generic-form-wrapper{
        .parsley-errors-list{
            margin-left:auto;
        }
    } 
}

/* styles for landscape view start */
@media(min-width:500px) and (max-width:$mobile-screen-max){
    .generic-form-wrapper{
        form{
            .row{
                div[class^="col-"]:first-child{
                    width:100%;
                } 
            }
            label{
                display: block;
            }
        }
    }
}
/* styles for landscape view end */
/*Generic form styles end here */


@media (max-width: $mobile-screen-max) {
.subscribe-popup-form-wrapper{
    padding:0 ;
    form  .text{
        padding-bottom:16px !important;
    }
    }
    .thankyou-wrapper{
        padding: 32px 16px 22px 16px;
        form {
            width:100%;
            display:inline-block;
            .text, .dropdown {
                width:100% !important;
                 padding: 0;
                 margin-bottom: 16px;
            }
            .text.form-element-full-width-wrapper, .dropdown.form-element-full-width-wrapper{
                width: 100% !important;
            }
        } 
    }
    .generic-form-wrapper{
            //input[type=tel]{
                input{
                max-width:100%;
                width:100%;
            }
            .layout-container{
                .row{
                    display: block;
                }
            }
    }
}
@media (min-width: $tab-screen-min)  {
    .editorial-nav-mobile-wrapper {
    display: none; 
    }

	.subscribe-popup-form-wrapper{
        padding:24px;
        form{
            display: table;
            .button-wrapper{
                width:25% !important;
            }
        }
        form :not(:last-child)
        {
            padding-right:16px !important;
        }
    }
    .generic-form-wrapper{
        .dropdown{
            .parsley-errors-list{
                max-width:395px;
            }
        } 
    } 
}
@media (max-width: $tab-screen-max){
    .cta-form-wrapper{
    	padding-right:16px;
        padding-left:16px;
        form{
            .text,.dropdown{
                width:83.33% !important;
            }
            .button-wrapper{
                width:16.66%  !important;
            }
        }
    }
    .generic-form-wrapper{
        form {
            input[type=email]{
                width:100%!important;
                max-width: 100%;
            }
            label{
                display:block;
            }
        }
    } 

}
@media (min-width: $tab-screen-min) and (max-width: $tab-screen-max) {
    .thankyou-wrapper {
        padding: 32px 32px 22px 32px;
        form{
            width:100%;
            display:inline-block;
            .text, .dropdown {
                width:100% !important;
                padding: 0;
                margin-bottom: 16px;
            }
            .text.form-element-full-width-wrapper, .dropdown.form-element-full-width-wrapper{
                width: 100% !important;
            }
        }
    }
    .generic-form-wrapper{
        .cmp-form-text{
            input[type=email]{
                max-width:285px;
            }
        }
        .form-element-full-width-wrapper{
            .cmp-form-text{
                input,.parsley-errors-list{
                    max-width:395px;
                    width:100%; 
                }
            }
        }
    }


}
.cmp-container .cta-form-wrapper form.cmp-form {
    justify-content: center;
    display: flex;
}

//style for cta form input form alignment
@media (max-width: $tab-screen-max){
    .cta-form-wrapper{
        .cmp-form-text{
            input{
                width: 100%;
            }
        } 
    }
    .blue-icon-yellow-background {
        .cta-form-wrapper {
            input[type=email] {
                max-width: 100%;
            }
        }
    }
     
}
@media (min-width: $desktop-screen-min)
{
	.cta-form-wrapper{
    	padding-right:40px;
        padding-left:40px;
        form{
            .text,.dropdown{
                min-width: 41.8% !important;
                width: auto !important;
                max-width: 50% !important;
                display: inline-block !important;
            }
            .button-wrapper{
             /*   min-width: 41.8% !important;
                width: auto  !important;
                max-width: 50%  !important;
    	        margin: 0 auto !important;
                display: inline-block !important; */
                .cmp-form-button{
                    min-width:136px;
                    max-width:275px;
                    line-height: 26px;
                    min-height: 48px;
                    border-radius: 4px;
                    padding: 6px 16px;
                }
            }
            .aem-GridColumn--default--12{
                float:left !important;
            }
            .cmp-form-options--drop-down{
                width: 100%;
            }
        }
    }

    .subscribe-main-form-wrapper .text{
        width:58.31%!important;
        padding-right:16px;
    }

    .subscribe-main-form-wrapper .button{
        width:41.65% !important;
    }

  .thankyou-wrapper{
    .text.form-element-full-width-wrapper, .dropdown.form-element-full-width-wrapper{
        padding: 0px 8px;
    }

    form{
        .cmp-form-text{
            input[type=email]{
                max-width:100%!important;
                width:100%!important;
            }
        }
    }
  }
  .blue-icon-yellow-background {
	.cta-form-wrapper {
		input[type=email] {
			width: 100%;
		}
	}
}
}




/* Contact Us ID starts Here*/

.contact-us-id-wrapper {
    .cmp-form-text, .options
    {
        margin-bottom:20px;
    }
    .options
    {
        margin-top:10px;
    }
    .cmp-form-options__legend
    {
        font-size:1rem;
        font-weight:700;
        float:left;
        width:25%;
        margin-right:25px;
        border-bottom:none;
    } 
    .cmp-form-options__field-label
    {
        margin: 0 15px;
        background: transparent;
        color: $blue-gradient-color;
        border: 2px solid $blue-gradient-color !important;
        font-size: 15px;
        padding: 7px 19px;
        border: 2px;
        min-height: 40px;
        height:40px;
        white-space: normal;
        font-weight: 700;
    }
    .cmp-form-options__field--radio
    {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
    }
    .cmp-form-options__field-label-active {
        background: $blue-gradient-color !important;
         color: $white-shade !important;
         border: 2px solid $blue-gradient-color;
     }
     .cmp-form-options__field-label-active:hover
    {
        background: $blue-search-color !important;
        color: $white-shade !important;
        border: 2px solid $blue-search-color;
    }
    .cmp-form-options__field-label-active:hover, .cmp-form-options__field-label:hover
    {
        background: $blue-search-color !important;
        color: $white-shade !important;
        border: 2px solid $blue-search-color;
        cursor:pointer;
    }
    .cmp-form-text textarea
    {
  
        width:100%;
        height: 100px;
        border: 1px solid $medium-grey-background;
    }
}


@media (max-width: $mobile-screen-max)
{
	.contact-us-id-wrapper .cmp-form-options__field-label
	{
    	width: 40%;
    	float:right;
    	margin-bottom: 20px;
    	margin-left:10%;
    	margin-right:10%;
	}
}

/* Contact Us Id Ends Here*/

/* Lead Gen Form Starts Here*/
.lead-gen-wrapper
{
    .cmp-form-text, .cmp-form-options__field--drop-down, .cmp-text, .cmp-form-options--checkbox {
        margin-bottom: 20px; 
    }
    .options {
        margin-top: 10px; 
        .cmp-form-options--checkbox .cmp-form-options__field-description{
            padding-left: 10px;
        }
    }
    .cmp-form-options--drop-down 
    {
        width: 100%;
    }
    .cmp-form-options__legend {
        font-size: 1rem;
        font-weight: 700;
        float: left;
        width: 40%;
        margin-right: 25px;
        border-bottom: none; 
    }
    .cmp-form-text textarea {
        width: 100%;
        height: 100px;
        border: 1px solid $medium-grey-background; 
    }
    input[type=date]
    {
        width: 100%;
    }
    input[type=email]
    {
        width: 100%;
        max-width:100%;
    }   
    .text .cmp-text p {
        margin-bottom:0;
    }
    .cmp-form-options--checkbox {
        .cmp-form-options__legend {
            display:none;
        }
        .cmp-form-options__field-label {
            float:none;
          	padding-left: 6px;
   			padding-bottom: 6px;
        }
   } 
   .cmp-form-button
   {
       margin-top: 10px;
   }
   input[type=checkbox]:checked:after
   {
    margin-top: 1px;
    margin-left: 4px;
   }
   .cmp-form-text, .cmp-text, .cmp-form-options--checkbox, .separator,
   .cmp-form-options--drop-down, .cmp-form-options--radio, .button-wrapper {
    padding: 0 10px;
    }
    .col-sm-6 , .col-sm-4
    {
     .cmp-form-text, .cmp-text, .cmp-form-options--checkbox, .separator,
     .cmp-form-options--drop-down, .cmp-form-options--radio, .button-wrapper {
         padding: 0;
      }
    }
} 

//Lead gen right nav version

.right-navigation-wrapper 
{
    .lead-gen-wrapper {
        .cmp-form-options--drop-down {
            text-align: left;
        }
        .cmp-form-options--checkbox {
            display : table; 
            .cmp-form-options__field-label{
                display : table-cell;
            }
            .cmp-form-options__help-message{
                display : table-cell; 
                text-align: left;
            }
        }
    }
    .cmp-form-text, .cmp-text, .cmp-form-options--checkbox, 
    .cmp-form-options--drop-down, .cmp-form-options--radio, .button-wrapper {
        padding: 0;
     }
    
}

.cmp-alertnate-form-field
{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}


//Leadgen Brightergen Academy Version

/* Brightergen Academy Form*/

.col-sm-6 {
    .light-orange.lead-gen-wrapper {
        .cmp-form-options--drop-down {
            text-align: left; 
        }
        .cmp-form-options--checkbox {
            display: table; 
            .cmp-form-options__field-label {
                display: table-cell; 
            }
            .cmp-form-options__help-message {
                display: table-cell;
                text-align: left; 
            }
        }
        .captcha-wrapper {
            width: calc(100% - 20px) !important;
        }
    }
}
@media (max-width: $mobile-screen-max)
{
	.lead-gen-wrapper
	{
    	.cmp-form-options--checkbox {
            display: table;

            .cmp-form-options__field--checkbox {
                display: table-cell;
            }
            .cmp-form-options__help-message
            {
                display: table-cell;
            }
        }
        .cmp-form-options--radio {
            display: table;
            .cmp-form-options__legend {
                display: table-cell;
            }
            .cmp-form-options__field-label {
                display: table-header-group;
            }
        }
    }
    
}


/* Lead Gen Form Ends Here*/
