<div data-component-render="react" data-component-render-name="new-form-experience" 
    data-component-render-props='{"tableRowsDataUrl":"/content/sunlife/external/advisorhub/en/form-page/jcr:content/root/layout_container/container1/generic",
    "filtersDataUrl":"/content/cq:tags/sunlife/advisorhub",
    "tableHeaderCol1":"Number","tableHeaderCol2":"Name/info",
    "tableHeaderCol3":"Last updated",
    "tableHeaderCol4":"E-sign",
    "tableHeaderCol5":"Favorite",
    "addFilterText":"Add Filter",
    "filterDoneText":"Done",
    "ClearAllText":"Clear All"}'></div>