<div data-component-render="react" data-component-render-name="new-form-experience" 
    data-component-render-props='{"tableRowsData":"/content/sunlife/external/advisorhub/en/form-page/jcr:content/root/layout_container/container1/generic",
    "filtersData":"/content/cq:tags/sunlife/advisorhub"}'></div>