@import '../../../base/core';
@import '../../../../core/base/core.scss';

.filter-container{
    position:relative;
    height:32px;
    padding:32px 0px;
    .filters{
        display:none;
        width:192px;
        font-size:14px;
        color:$dark-grey-color;
        font-weight:400;
        line-height: 18px;
        border: 1px solid $medium-blue-color;
        background-color: $white-shade;
        padding:8px;
        border-radius:4px;
        .filterSubmit {
            background-color: $medium-blue-color;
            color:$white-shade;
            height:32px;
            border-radius: 4px;
            font-size:16px;
            font-weight: bold;
        }
        .filter{
            margin-bottom:8px;
            input[type='checkbox']{
                height:20px;
                width:20px;
            }
            .uncheck:after{
              content:''
            }
            .check:after{
              content:'\f00c'
            }
        }
        label{
            padding-left:32px;
        }
    }
    .show-filters{
        position:absolute;
        top:65px;
        background:$white-shade;
        display:block!important;
        z-index: 1000;
    }
    .toggle-filter{
        margin-right:8px;   
        width:110px;
    }
    .selectedFilter{
        padding: 0 8px;
        margin-right:8px;
        margin-bottom:8px;
        .fa-times {
          font-size:12px;
          color: $dark-grey-color;
          margin-left:24px;
        }
    }
    .filter-buttons{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        border: 1px solid $medium-grey-background;
        color:$dark-grey-color;
        height:32px;
        border-radius: 4px;
        background-color: $white-shade;
    }
    .addFilter{
        background-color: $light-grey-20; 
    }
}
.tableContainer{
    text-align: right;
    .globalSearch{     
      input{
          width:280px;
          border-radius:4px;
          border: 1px solid $medium-grey-background;
          color:$dark-grey-color;
       }
       input::placeholder{
           font-size:16px;
           color:$light-grey-color;
           font-style:italic;
           font-weight: 400;
           line-height: 20px;
           padding-left:8px;
       }
    }
}
.new-form-table{
    border: 1px solid $light-grey-color;
    text-align: left;
    .table-header{
        background-color: $medium-yellow-background;
        height: 64px;
        vertical-align: middle;
        tr:first-of-type{
            display:none;
        }
        tr{
            height:64px;
        }
        th{
            padding: 0px 8px;
        }
        th:first-of-type{
            padding-left: 16px;
        }
        th:last-of-type{
            padding-right: 16px;
        }
        .fa-sort{
            margin-left: 8px;
        }
    }
    tbody{
        .new-form-tr{
            height: 56px;
            padding: 8px 0px;
            border-bottom: 1px solid $light-grey-color;
            td{
                .fa-check{
                    color: #0b713a;
                    width:20px;
                    height:15px;
                }
                .star-selected{
                    color: $primary-yellow-background;
                    border: $primary-yellow-background;
                }
                .star-not-selected{
                    color: $medium-grey-background; 
                }
            }
            td:first-of-type{
                padding-left: 16px;
            }
            td:nth-of-type(4){
                text-align:center;
            }
            td:last-of-type{
                padding-right: 16px;
                text-align:center;
            }
        }
        .new-form-tr:nth-of-type(odd){
            background-color: $light-grey-20;
        }
        .new-form-tr:nth-of-type(even){
            background-color: $white-shade;
        }
    }
}

@media(min-width:$tab-screen-min){
    .tableContainer{
        text-align: right;
        .globalSearch{
            position:relative;
            top:-32px;
            input{
                margin-bottom:8px;
            }
        }
    }
    .pagination-component{
        border:none;
    }
}
@media(max-width:$mobile-screen-max){
    .filter-container{
        .selectedFilterContainer{
            margin-top:8px;
        }
    }
    .tableContainer{
        width:100%;
        overflow: auto;
        text-align: left;
        .globalSearch{
            input{
                margin-bottom:8px;
            }
        }
        .new-form-table{
            width: 100%;
            thead{
                tr{
                    th{
                        min-width:150px;
                    }
                }
            }
        }
    }
}