<div class="{{cta-wrapper}} {{background-color}} clearfix" data-section="{{container-data-section}}">
    <!-- uncomment to see CTA structure -->
     {{>core-components-content-icon-text}} 

    <!-- uncomment to see company-highlight  -->
     {{!-- {{>core-components-content-teaser}}
    {{>core-components-content-separator}}
    {{>core-components-content-teaser}}  --}}


<!-- uncomment to see main-content subscribe -->
    {{!-- <div class="col-xs-8">{{>core-components-content-icon-text}}</div>
    <div class="col-xs-4">
        <form method="post" >
            {{>core-components-form-text}}
            {{>core-components-form-button}}
        </form>
    </div> --}}
{{!-- </div> --}}
{{!-- Tool Card Structure --}}
    {{!-- <div class="tool-card-wrapper">
    <div class="heading-6">Tool Card Heading</div>
    {{>core-components-content-teaser}}
    <a class="view-all-category">Tool Card  Link</a>
    </div> --}}


    {{!-- Subscribe Sructure --}}
