 <div class="tools-resource-wrapper">
 <div class="col-12 slf-header-mega-menu">
               
                        {{#each mega-menu}}
                        <div class={{mega-menu-col-class}}>
                         {{>core-components-content-icon-text}}
                        {{>core-components-content-list}}
                    </div> 
                       {{/each}}
                    
</div>
</div>