@import '../../../base/core';
.slf-header-mega-menu1 {
    
    padding: 0;
    display: inline-flex;

    .quick-link {
        width: 20%;
        background: $light-grey-color;
        display: table-cell;
        float: none;
        vertical-align: top;
        padding: 56px 32px 56px 32px;
        text-align: right;

        ul {
            margin-top: 15px;
        }

        .accordion-heading {
            font-size: 18px;
            font-weight: 700;
            line-height: 110%;
            margin-top: 5px;
        }

        li {
            font-weight: 700;
        }
    }
}

.explore-product-wrapper-desk {
    .list-container {
        width: 80%;
        padding: 0;
    }
}

.explore-product-wrapper-desk>:not(:first-child) {
    padding: 56px 24px 56px 0;
    display: table-cell;
    float: none;
    vertical-align: top;

    ul {

        a {
            font-weight: 400;
        }
    }
    .accordion-heading {
        font-size: 18px;
        font-weight: 700;
        margin-top: 5px
    }

    .links {
        margin-top: 5px;
    }

    .insurance {
        border-right: 2px dotted $medium-grey-background;
    }

    .explore-product-icon-text {
        padding-left:10px;
    
       
        .icon-text {
            margin-left: 35px;
        }

        .icon-text-heading {
            font-size: 18px;
            display: inline;
        }
    }

    .explore-product-icon-text {
        display: inline-flex;
    }

    .explore-product-col>:not(:first-child) {
        .links {
            margin-top: 25px;
        }
    }

    .view-all-link {
        margin-left: 20px;

        .view-all-category {
            display: inline-flex;
            margin-top: 0 !important;
            &:after {
                content: '\f138';
                font-family: fontawesome;
                color: $medium-yellow-background;
                margin-left: 5px;
            }
        }

    }
}


.tools-resource-wrapper-desk {
    .list-container {
       
        padding: 0;
    }
    &>:not(:first-child){
        padding: 56px 24px 56px 24px;

        ul {
            a {
                font-weight: 400;
            }
        }
    
        .text-right-wrapper> {
            display: block;
        }
    
        .icon-text-wrapper {
           
        }
    
        
    
        .icon-text {
            margin-left: 35px;
        }
    
        .icon-text-heading {
            font-size: 18px;
            display: inline;
        }
    
        .accordion-heading {
            display: none;
        }
        .links{
            padding-left:24px;
        }
        .tools-col{
            padding: 0;
        }
    }
    &>:last-child{
        padding-left: 0;
    }
}
.mega-menu-wrapper {
    .collapse {
        display: block !important;
    }

    li {
        line-height: 110%;
        padding: 5px 0;

    }
}

@media (max-width: 991px) {
    .mega-menu-wrapper-desk {
        display: none;
    }
}