<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{!-- <link rel="stylesheet" href="https://www.sunlife.com.hk//static/slfglobal/globalweb/responsive/styles/main.css">
        <script type="text/javascript" src="https://cdn.sunlife.com/static/hk/page%20embedded/validate-parsley.js"> --}}
        <link rel="stylesheet" href="https://cdn.sunlife.com/static/hk/styles/hk.css"/>
        <!--------------- Quick Quote START---------------->
        <div id="qc_main"></div>
        <hr class="hard-separator">
        <h3><i class="fa fa-calculator" aria-hidden="true"></i> Get a Quote:</h3>
        <div id="qc_container" class="qc_9col">
                <div class="row">
                        <div class="qc_main_9col qc_background">
                                <div id="qc_q1" class="qc_main_question"><span class="qc_q_txt" id="txt">I am</span>
                                        <span id="qc_q1_ans_main"> <input type="text" id="qc_q1_ans"
                                                        class="form-control-qc-text qc_text"></span> <span
                                                class="qc_q_txt" id="txt">years old</span><span
                                                class="qc_break"><br></span></div>
                                <div id="qc_q2" class="qc_main_question"><span class="qc_q_txt" id="txt">I would like to
                                                choose annual deductible option</span> <span
                                                class="qc_break"></span><span><select id="qc_q2_ans"
                                                        class="form-control-qc qc_dropdown">
                                                        <option value="hkd0_usd0">HKD$0/USD$0</option>
                                                        <option value="hkd20_usd2.5">HKD$20,000/USD$2,500</option>
                                                        <option value="hkd50_usd6.25">HKD$50,000/USD$6,250</option>
                                                        <option value="hkd80_usd10">HKD$80,000/USD$10,000</option>
                                                </select></span></div>
                                <div id="qc_submit" class="qc_submit_btn"><a disabled="disabled"
                                                class="btn btn-blue">Submit</a></div>
                                <div class="qc_loading_ani">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                </div>
                        </div>
                        <div id="qc_result">
                                <div class="qc_result_title">Quote Result</div>
                                <div id="qc_result_main">
                                        <div id="qc_result1" class="qc_result_3col qc_bg_grey">
                                                <div class="qc_result_plan_title">Worldwide</div>
                                                <div class="qc_plan_separator"></div>
                                                <div class="qc_result_price">HKDXXX / annual</div>
                                                <div class="qc_plan_separator"></div>
                                                <div class="qc_plan_content">
                                                        <div class="qc_plan_item_main">
                                                                <div class="qc_plan_item">
                                                                        <div class="item_icon_tick"></div>
                                                                        <div class="item_text">HKD60M Lifetime Limit
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div class="qc_plan_item_main">
                                                                <div class="qc_plan_item">
                                                                        <div class="item_icon_tick"></div>
                                                                        <div class="item_text">HKD20M Annual Limit</div>
                                                                </div>
                                                        </div>
                                                        <div class="qc_plan_item_main">
                                                                <div class="qc_plan_item">
                                                                        <div class="item_icon_tick"></div>
                                                                        <div class="item_text">Cover worldwide area
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="qc_plan_cta"><a href="#advisor-modal-form"
                                                                class="btn btn-sec-transparent">Talk to Us</a></div>
                                        </div>
                                        <div id="qc_result2" class="qc_result_3col qc_bg_yellow">
                                                <div class="qc_result_plan_title_hightlight">Worldwide exclude the US
                                                </div>
                                                <div class="qc_plan_separator"></div>
                                                <div class="qc_result_price">HKDXXX / annual</div>
                                                <div class="qc_plan_separator"></div>
                                                <!--<div class="qc_recommend">Recommended</div>-->
                                                <div class="qc_plan_content">
                                                        <div class="qc_plan_item_main">
                                                                <div class="qc_plan_item">
                                                                        <div class="item_icon_tick"></div>
                                                                        <div class="item_text">HKD45M Lifetime Limit
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div class="qc_plan_item_main">
                                                                <div class="qc_plan_item">
                                                                        <div class="item_icon_tick"></div>
                                                                        <div class="item_text">HKD15M Annual Limit</div>
                                                                </div>
                                                        </div>
                                                        <div class="qc_plan_item_main">
                                                                <div class="qc_plan_item">
                                                                        <div class="item_icon_tick"></div>
                                                                        <div class="item_text">Cover worldwide area
                                                                                excluding the US</div>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="qc_plan_cta"><a href="#advisor-modal-form"
                                                                class="btn  btn-sec-transparent">Talk to Us</a></div>
                                        </div>
                                        <div id="qc_result3" class="qc_result_3col qc_bg_grey">
                                                <div class="qc_result_plan_title">Asia</div>
                                                <div class="qc_plan_separator"></div>
                                                <div class="qc_result_price">HKDXXX / annual</div>
                                                <div class="qc_plan_separator"></div>
                                                <div class="qc_plan_content">
                                                        <div class="qc_plan_item_main">
                                                                <div class="qc_plan_item">
                                                                        <div class="item_icon_tick"></div>
                                                                        <div class="item_text">HKD30M Lifetime Limit
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div class="qc_plan_item_main">
                                                                <div class="qc_plan_item">
                                                                        <div class="item_icon_tick"></div>
                                                                        <div class="item_text">HKD10M Annual Limit</div>
                                                                </div>
                                                        </div>
                                                        <div class="qc_plan_item_main">
                                                                <div class="qc_plan_item">
                                                                        <div class="item_icon_tick"></div>
                                                                        <div class="item_text">Cover Asia including
                                                                                Australia &amp; New Zealand</div>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="qc_plan_cta"><a href="#advisor-modal-form"
                                                                class="btn btn-sec-transparent">Talk to Us</a></div>
                                        </div>
                                </div>
                                <div class="qc_remarks_txt">Remark:</div>
                                <div class="qc_reamarks_detail">The above information is a product summary only, and the
                                        indicated premium is for illustration purpose only, please contact your Advisor
                                        for details. Please refer to a sample Policy Document, which will be provided
                                        upon request, for details including definitions, full terms and conditions, and
                                        exclusions. If there is any conflict between the Policy Document and this
                                        product summary, the Policy Document shall prevail.</div>
                        </div>
                </div>
        </div>
</div>