@import '../../../base/core';
.lead-gen-wrapper {
    padding: 0;
    input[type=tel] {
        width: 100%;
        max-width: 100%;
    }
    .options {
        margin-top: 0px;
        .cmp-form-options--checkbox {
            .cmp-form-options__help-message {
                display: table;
                p {
                    margin: 0;
                }
            }
        }
    }

}

.captcha-wrapper {
    width: 45% !important;
}
