@import '../../../prerequisite/base/styles/core.scss';
.two-column-wrapper{
    .medium-yellow-background{
        background-color:$medium-yellow-background;
    }
    .light-cool-blue-color{
        background-color:$light-cool-blue-color;
    }
    .transparent{
        background-color:$transparent;
    }
    .light-grey{
        background-color:$light-grey-color;
    }
    .padding-between{
        width:100%;
        display:flex;
        div:not(:first-child) {
            margin-left: 20px;
        }
    }
    .medium-blue-background{
        background:$medium-blue-color;
    }
    .yellow-gradient-background{
        background:linear-gradient($medium-yellow-background, $primary-yellow-background);
    }
    .vertical-separator-med-grey{
            width: 2px;
            background: $medium-grey-background;
            height: auto;
    }
    .two-column-variation-three{
        width:100%;
        display:flex;
    }
}
/* For Layout Containetr */
.row{
    margin:0;
    padding:0;
    .col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
        padding:0 10px;
    }
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
        padding:0 10px;
    }
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
        padding:0 10px;
    }
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
        padding:0 10px;
    }
}
.layout-container.no-padding{
    div[class^="col-"]{
        padding:0;
    }
}
/* flex column starts here */
.row.flex-height{
    display: flex;
    flex-wrap: wrap;
    .flex-conatiner{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
    }
    div[class^="col-"]{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
    }
    div[class^="col-"] .container-component{
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
    }
    div[class^="col-"] .container-component .cmp-container{
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative; 
    }
}
/* layout container background colors start */
    .layout-container.medium-yellow{
        .row{
            background: $medium-yellow-background;
        }
    }
    .layout-container.light-grey{
         .row{
            background: $light-grey-color;
        }
    }
    .layout-container.light-grey-20{
        .row{
            background:$light-grey-20;
        }
        
    }
    .layout-container.light-cool-blue{
        .row{
            background:$light-cool-blue-color;
        }
        
    }
    .layout-container.light-orange-20{
        .row{
            background: $light-orange-20;
        }
        
    }
    .layout-container.light-orange-40{
        .row{
            background:$light-orange-40;
        }
       
    }

/* layout container background colors end */
@media(max-width:767px){
    .row.flex-height{
        display:block;
    }
}
/* flex column ends here */