<div data-component-render="react" data-component-render-name="news-tabs" 
    data-component-render-props='{
        "newsToolBar":"true",
        "newsTabsContainer":"true",
        "toolbarLeftText":"News",
        "moreText":"More",
        "toolbarRightText":"Preferences",
        "preferenceModalHeading":"Your Preferences",
        "selectAllText":"Select all",
        "preferenceModalHeadingbtn1":"Apply",
        "preferenceModalHeadingbtn2":"Clear all",
        "iconName": "fa-sliders",
        "previousText":"Previous",
        "nextText":"Next",
        "pageText":"Page",
        "ofText":"of",
        "resourcePath":"/content/sunlife/internal/source/en/news/jcr:content/root/layout_container/container1/generic",
        "getPrefernceListUrl":"/content/cq:tags/sunlife/source.tags"
        }'></div>