<div data-component-render="react" data-component-render-name="news-tabs" 
    data-component-render-props='{
        "newsToolBar":"true",
        "newsTabsContainer":"true",
        "toolbarLeftText":"News",
        "toolbarRightText":"Preferences",
        "preferenceModalHeading":"Your Preferences",
        "preferenceModalHeadingbtn1":"Apply",
        "preferenceModalHeadingbtn2":"Clear all",
        "iconName": "fa-sliders"
        }'></div>