@import '../../../base/core';
@media(max-width:767px){
    .mobileapp {
        .row.flex-height{
            display:flex;
            .cmp-container {
                .teaser.content-block-image.mb-40{
                    margin-bottom:32px;
                }
            }
            .col-sm-4 {
                .container-component {
                    .cmp-container {
                        &> div.image{
                            display:block !important;
                        }
                    }
                }
            }
        }
    }
}