@import "../../../base/core";
.slf-table.table-responsive {
  display: block;
  position: relative;
 
}
.cmp-table-data-content {
  border: 1px solid #fff;
  table {
    margin-bottom: 0;
  }
  table {
    > caption {
      font-size: 30px;
      font-family: inherit;
      color: inherit;
      margin: 20px 0 10px 0;
      font-weight: 500;
      line-height: 1.1;
      padding: 8px 0;
      text-align: left;
      box-sizing: border-box;
      display: table-caption;
    }
    > tbody {
      > tr {
        > th {
          background: #ffcb05;
          color: #424242;
          text-transform: none;
          text-align: center;
          border-bottom: 0;
          width: 15%;
          vertical-align: middle;
          height: 64px;
          border-top: 1px solid #d7d7d7 !important;
        }
        > th:first-child {
          width: 25%; //table header first child width
        }
      }
    }
    > tbody {
      > tr {
        td {
          padding: 32px 8px;
          text-align: center;
          &:nth-of-type(odd) {
            background-color: #feedd2;
          }
        }
      }
    }
  }
  table {
    > tbody {
      > tr {
        &:not(:first-of-type) {
          border-top: 2px solid #fff;
        }
      }
    }
  }
 
}
.mar-bottom-15 {
  margin-bottom: 15px !important;
}
.mar-top-15 {
  margin-top: 15px !important;
}
