@import "../../../base/core";
.slf-table.table-responsive {
  display: block;
  position: relative;
 
}
.cmp-table-comparision{
 > table {
   > tbody{
       > tr {
         > th {
           text-align: left;
           padding:32px 8px;
         }
         > td:last-child {
          border-right: 2px solid #ddd;
         }
         > th:first-child {
           border-left: 1px solid #ddd;
         }
         > td {
           border-left: 2px solid #fff;
           text-align: center;
           padding: 32px 0;
         }
        
       }
       > tr:first-child {
         > th {
           background-color: #FFCB05;
           height:64px;
         }
       }
       >tr:nth-child(odd){
         background-color: #FEEDD2;
       }
       >tr:nth-child(even){
         background-color: #fff;
       }
       .large-green{
         color:#0b713a;
         font-size: 1.8em;
        }

       .large-red {
         color:#b81f41;
         font-size: 1.8em;
       }

    }
  }
}