@import '../../../base/core';
@media (min-width: $tab-screen-min) and (max-width: $tab-screen-max) {
    .col-sm-8 .white-box .text-section {
          margin: 0;
          width: 100%;
          bottom: 0;
          right: 0;
      }
  }