@import '../../../base/core';
@import '../../../../core/base/core.scss';

.right-navigation-wrapper{
    >.cmp-container{
        > div:not(.light-orange){
            background-color: $white-smoke;  
        }
        .separator{
            .horizontal-middle-align{
                border-bottom: 2px solid $armadillo-brown;
            }
        }
        .icon-style{
            color:$cinnamon-orange;
        }
        li{
            a{
                color: $dark-blue;
            }
        }
    }

}
.right-navigation-wrapper.light-orange-20{
    >.cmp-container{
        > div{
            background-color:$light-orange-20;
        }
    }
}