@import '../../../base/core';
.sign-in-home-page,.sign-in-content-page,.coral--light{
    .col-sm-4{
        .container-component{
            .text.grey-background-box{
                table{
                    img{
                        max-width:100%;
                        width:auto;
                        height:auto;
                    }
                }
            }
        }
    }
}