<sly data-sly-use.list="ca.sunlife.web.cms.advisorhub.models.OutageListModel"
     data-sly-test="${list.listItems.size>0}">

       <div class="outage-detail">
       <sly data-sly-test.notificationCheck = "${list.displayType != 'site-notification'}">
        <div id="${list.displayType}">
        
        <script class="outage-pagination-first" type="text/html"><li class="link-to-first active pagination-item">
            <a href="javascript:void(0);" aria-label="First Page">
                <span class="fa fa-angle-double-left" aria-hidden="true">&nbsp;</span>
                <span class="sr-only">Page </span><span class="txt">&nbsp;</span><span class="sr-only active-text"> (active)</span>
            </a>
            </li>
        </script>
        <script class="outage-pagination-item" type="text/html"><li class="pagination-item">
            <a href="javascript:void(0);">
                <span class="sr-only">Page </span><span class="txt">&nbsp;</span><span class="sr-only active-text"> (active)</span>
            </a>
            </li>
        </script>
        
        
        <div class="outage-item-list" data-sly-list="${list.listItems}">
		
		  <sly data-sly-list.element="${item.elements}">
             <sly data-sly-test="${element.name == 'outageDescription'}" data-sly-test.outageDescription="${element.value}"/>
             <sly data-sly-test="${element.name == 'outageIcon'}" data-sly-test.outageIcon="${element.value}"/>
             <sly data-sly-test="${element.name == 'outagePageLink'}" data-sly-test.outagePageLink="${element.value}" />
             <sly data-sly-test="${element.name == 'outageTeaser'}" data-sly-test.outageTeaser="${element.value}" />
             <sly data-sly-test="${element.name == 'outageIconColor'}" data-sly-test.outageIconColor="${element.value}"/>
             <sly data-sly-test="${element.name == 'outageStatus'}" data-sly-test.outageStatus="${element.value}"/>
             <sly data-sly-test="${element.name == 'outageTitle'}" data-sly-test.outageTitle="${element.value}"/>
             <sly data-sly-test="${element.dataType == 'calendar'}" data-sly-use.tpl="sunlife/core/components/templates/calendar.html"
                                    data-sly-test.date="${element.value}" />
          </sly>
		
		
            <div class="outage-item">
                <div class="outage-date">
                    <sly data-sly-call="${tpl.element @ date = date, format = list.dateFormat, pageLocale = list.pageLocale}"></sly>
                </div>
                <div class="outage-title">
                        <span data-sly-test.iconCheck = "${outageIcon && outageIconColor}" class="fa ${outageIcon} ${outageIconColor == 'Red' ? 'outage-red' : 'outage-yellow'}" ></span>
                        <span data-sly-test = "${!iconCheck && outageIcon}" class="fa ${outageIcon}"></span>

                    <a class="outage-title-text" href="${outagePageLink @ extension = 'html'}">${outageTitle}</a>
                </div>
                <div class="outage-status">
                    ${'Status' @i18n}: ${outageStatus @ i18n}
                </div>
                <div class="outage-teaser">
                     ${outageTeaser @context='html'}
                </div>
            </div>

        </div>
        <div class="outage-pagination">
            <!-- Pagination -->
            <div role="navigation" aria-label="Page" class="text-center">
                <ul class="pagination first-page outage-pagination-list">
                    <li class="previous disabled outage-pagination-previous">
                        <a href=""><span class="fa fa-angle-left" aria-hidden="true">&nbsp;</span> <span>${'Previous' @i18n}</span>
                        </a>
                    </li>
                    <li class="next outage-pagination-next"><a href="">${'Next' @i18n}</a></li>
                </ul>

                <div class="pagination-indicator">
                    Page <span class="outage-page-num">1</span> of <span class="outage-page-total">6</span>
                </div>
            </div>
            <!-- Pagination end -->
        </div>
    
	</div>
       </sly>
       <sly data-sly-test = "${!notificationCheck}" data-sly-list="${list.listItems}">
       
       <sly data-sly-list.element="${item.elements}">
             <sly data-sly-test="${element.name == 'outageDescription'}" data-sly-test.outageDescription="${element.value}"/>
             <sly data-sly-test="${element.name == 'outageIcon'}" data-sly-test.outageIcon="${element.value}"/>
             <sly data-sly-test="${element.name == 'outagePageLink'}" data-sly-test.outagePageLink="${element.value}" />
             <sly data-sly-test="${element.name == 'outageTeaser'}" data-sly-test.outageTeaser="${element.value}" />
             <sly data-sly-test="${element.name == 'outageIconColor'}" data-sly-test.outageIconColor="${element.value}"/>
             <sly data-sly-test="${element.name == 'outageStatus'}" data-sly-test.outageStatus="${element.value}"/>
             <sly data-sly-test="${element.name == 'outageTitle'}" data-sly-test.outageTitle="${element.value}"/>
             <sly data-sly-test="${element.dataType == 'calendar'}" data-sly-use.tpl="sunlife/core/components/templates/calendar.html"
                                    data-sly-test.date="${element.value}" />
        </sly>
          
          <div class="site-level-notification">
            <div class="close-div">
                <span class="fa fa-remove collapse-x" tabindex="0" aria-label="close panel">&nbsp;</span>
            </div>
            <div class="container-component">
            <div role="alert" id="${outageTitle}" class="cmp-container">
            <p>   <strong>${list.outageNotificationType}</strong>  - <span class="outageNotification">${outageTitle}.</span><a href="${outagePageLink @ extension = 'html'}">${list.outageHelpText} </a></p>
            </div>
            </div>
          </div>
       </sly>
</div>


</sly>    

<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${template.placeholder @ isEmpty=list.listItems.size == 0, classAppend='cq-dd-contentfragmentlist'}"></sly>

