{{>core-components-content-button}}
<div class="modal fade popup-modal-wrapper horizontal-middle-align" id="popUp" role="dialog">
	<!-- Modal content-->
	<div class="modal-content horizontal-middle-align">
		<div class="modal-header">
			<div class="modal-title">
				<h3 class="modal-heading">{{popup-header-text}}</h3>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
		</div>
		<div class="modal-body">
			{{popup-body-text}}
		</div>
	</div>
</div>