@import '../../../base/core';
.social-icon-wrapper {
    .socials li {
        padding: 0 12px 0 5px;
        display: inline-block;
        a {
            font-size: 1.875rem;
            i {
                &:hover {
                    color: $cool-blue-color;
                }
            }
        }
    }
}
@media (min-width: $mobile-screen-min) and (max-width:$mobile-screen-max) {
    .social-icon-wrapper {
        .socials li {
            a {
                font-size: 2rem;
            }
        }
    }
}