<sly data-sly-use.list="ca.sunlife.web.cms.core.models.ArticleListModel"
     data-sly-test="${list.listItems.size>0}" data-sly-use.fragmentTemplate="/apps/sunlife/core/components/content/articleList/templates.html">

    <section data-sly-list="${list.listItems}"
    class="cmp-contentfragmentlist">

        <sly data-sly-test.top="${list.hideTop}"></sly>
            <sly data-sly-test="${top && itemList.index>2}">
                <sly data-sly-call="${fragmentTemplate.contentFragment @ fragment=item, wcmmode=wcmmode}"></sly>
       		</sly>
            <sly data-sly-test="${!top}">
                <sly data-sly-call="${fragmentTemplate.contentFragment @ fragment=item, wcmmode=wcmmode}"></sly>
       		</sly>

    </section>
</sly>

<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${template.placeholder @ isEmpty=list.listItems.size == 0, classAppend='cq-dd-contentfragmentlist'}"></sly>