<template data-sly-template.contentFragment="${@ fragment='The content fragment', fragmentPath='', wcmmode='WCM mode'}">
    <article class="cmp-contentfragment cmp-contentfragment--${fragment.name}"
             data-cmp-contentfragment-model="${fragment.type}"
             data-sly-attribute.data-cmp-contentfragment-path="${fragmentPath}"
             data-json="${!wcmmode.disabled && fragment.editorJSON}">
        <sly data-sly-test="${fragment.description}">
            <p class="cmp-contentfragment__description">${fragment.description}</p>
        </sly>

        <sly data-sly-test.isParagraphMode="${fragment.elements.size == 1 && fragment.elements[0].isMultiLine && properties.displayMode == 'singleText'}">
            <sly data-sly-call="${paragraphs @ fragment=fragment}"></sly>
        </sly>
        <sly data-sly-test="${!isParagraphMode}">
            <sly data-sly-call="${elements @ fragment=fragment, wcmmode=wcmmode}"></sly>
        </sly>
    </article>
</template>

<template data-sly-template.elements="${@ fragment='The content fragment', wcmmode='WCM mode'}">

	<div class="articleImage--cmp-contentfragment__elements${!wcmmode.disabled ? ' cq-dd-contentfragment' : ''} " data-sly-list.element="${fragment.elements}">
        <sly data-sly-test="${element.dataType != 'calendar' && element.dataType != 'boolean' && element.name == 'articleImage'}"><img src="${element.value @context='uri'}" /></sly>
        <sly data-sly-test="${element.name == 'articlePageLink'}" data-sly-test.pageLink="${element.value}" />
    </div>

   <div class="cmp-contentfragment__elements${!wcmmode.disabled ? ' cq-dd-contentfragment' : ''} "
        data-sly-list.element="${fragment.elements}">
        <div class="${element.name}" data-cmp-contentfragment-element-type="${element.dataType}" data-sly-test="${element.name != 'articleImage' && element.name != 'articlePageLink'}">
        <sly data-sly-test.listreq="${element.dataType != 'calendar' && element.dataType != 'boolean'}" />
            <sly data-sly-test="${element.dataType == 'calendar'}" data-sly-use.tpl="/apps/sunlife/core/components/content/articleList/calendar.html"
                 data-sly-call="${tpl.element @ date = element.value}"></sly>
            <sly data-sly-test="${listreq && element.name != 'articleHeadline'}">${(element.value) @join='<br/>', context='html'}</sly>
            <sly data-sly-test="${listreq && element.name == 'articleHeadline'}"><a href="${pageLink}">${(element.value) @join='<br/>', context='html'}</a></sly>
    </div>
    </div>


</template>
