@import './core';
body:lang(zh-TW) {
    font-family: 'Noto Sans TC' !important;
    line-height: 140%;
    .desktop-header-wrapper .desktop-region-language-menu-wrapper .content-language ul li:nth-child(3){
        font-family: 'Noto Sans SC' !important;
    }
    h1, .heading-1{
        font-size:2.375rem;
        line-height:120%;
    }
    
    h2, .heading-2 {
        font-size: 1.875rem;
        line-height:120%;
    }
    
    h3, .heading-3 {
        font-size: 1.5rem;
        line-height:120%;
    }
    
    h4, .heading-4 {
        font-size: 1.25rem;
        line-height:120%;
    }
    
    h5, .heading-5 {
        font-size: 1.125rem;
        line-height:120% ;
    }
    
    .heading-1{
        h1,h2,h3,h4,h5,h6{
            font-size:2.375rem;
            line-height:120%;
        }
    }
    .heading-2{
        h1,h2,h3,h4,h5,h6{
            font-size:1.875rem;
            line-height:120%;
        }
    }
    .heading-3{
        h1,h2,h3,h4,h5,h6{
            font-size:1.5rem;
            line-height:120%;
        }
    }
    .heading-4{
        h1,h2,h3,h4,h5,h6{
            font-size:1.25rem;
            line-height:120%;
        }
    }
    .heading-5{
        h1,h2,h3,h4,h5,h6{
            font-size:1.125rem;
            line-height:120% ;
        }
    }
    
    .legal-text{
        font-size: 0.75rem;
        line-height: 120%;
    }
    .slf-mobile-header-wrapper{
        .mobile-signin-text{
            width:max-content;
        }
    }
}
body:lang(zh-SG) {
    font-family: 'Noto Sans SC' !important;
    line-height: 140%;
    .desktop-header-wrapper .desktop-region-language-menu-wrapper .content-language ul li:nth-child(2){
        font-family: 'Noto Sans TC' !important;
    }
    h1, .heading-1{
        font-size:2.375rem;
        line-height:120%;
    }
    
    h2, .heading-2 {
        font-size: 1.875rem;
        line-height:120%;
    }
    
    h3, .heading-3 {
        font-size: 1.5rem;
        line-height:120%;
    }
    
    h4, .heading-4 {
        font-size: 1.25rem;
        line-height:120%;
    }
    
    h5, .heading-5 {
        font-size: 1.125rem;
        line-height:120% ;
    }
    
    .heading-1{
        h1,h2,h3,h4,h5,h6{
            font-size:2.375rem;
            line-height:120%;
        }
    }
    .heading-2{
        h1,h2,h3,h4,h5,h6{
            font-size:1.875rem;
            line-height:120%;
        }
    }
    .heading-3{
        h1,h2,h3,h4,h5,h6{
            font-size:1.5rem;
            line-height:120%;
        }
    }
    .heading-4{
        h1,h2,h3,h4,h5,h6{
            font-size:1.25rem;
            line-height:120%;
        }
    }
    .heading-5{
        h1,h2,h3,h4,h5,h6{
            font-size:1.125rem;
            line-height:120% ;
        }
    }
    
    .legal-text{
        font-size: 0.75rem;
        line-height: 120%;
    }
    .slf-mobile-header-wrapper{
        .mobile-signin-text{
            width:max-content;
        }
    }
}
//Checkbox style for generic
input[type=checkbox]:checked:after
{
    margin-top: 1px;
    margin-left: 4px;
}
/* right navigation with dropdown for investment linked pages starts here */
.right-navigation-wrapper{
    .cmp-container{
        .html-component{
           #choice1{
                font-size:0.9375rem;
                color: $blue-gradient-color;
                padding: 0px 35px 0px 10px;
                height: 40px;
                border-radius:0; 
                border-color: $light-grey-shade;
                background-repeat: no-repeat;
                background-position: right center;
                background-image: url(/content/dam/sunlife/legacy/assets/slfglobal/globalweb/responsive/images/en/form-ui-select-dropdown-arrow.png);
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                &:focus{
                    background-color: $dropdown-light-orange-background;
                    border-color: $blue-gradient-color;
                }
                option{
                    font-weight: 400;
                    font-size: 1.25rem;
                }      
           } 
        }
    }
}
/* right navigation with dropdown for investment linked pages ends here */
