<sly data-sly-use.lifeText="ca.sunlife.web.cms.core.models.LifeMomentsModel"></sly>
<sly data-sly-test.empty="${!lifeText.heading}"/>
<div class="">
${lifeText.heading @context ='html'}
<div class="life-moments-wrapper"> 
<div class="links">
<div class="collapse list-div">				
   <ul class="list-unstyled" data-sly-list.links="${lifeText.links}">
	 <li>
       <a href ="${links.linkUrl @ extension = 'html'}" target ="${links.target}">${links.linkName}</a>
	 </li>
   </ul>				
</div>
</div>
</div>
<div class="bright-start">
${lifeText.description @context ='html'}
<img src="/content/dam/sunlife/bright-start-bike-dark-bg.png" alt="" aria-hidden="true"></div>
</div>