<sly data-sly-use.lifeText="ca.sunlife.web.cms.core.models.LifeMomentsModel"></sly>
<sly data-sly-test.empty="${!lifeText.heading}"/>
<sly data-sly-test.imgLazyLoaded = "${properties.isLazyLoaded ? 'lazy' : ''}" />
<div class="">
${lifeText.heading @context ='html'}
<div class="life-moments-wrapper-desktop"> 
<div class="links">
<div class="collapse list-div">				
   <ul class="list-unstyled" data-sly-list.links="${lifeText.links}">
	 <li>
      <a href ="${links.linkUrl}" target ="${links.target}" data-title="${links.dataTitle}">${links.linkName}</a>
	 </li>
   </ul>				
</div>
</div>
</div>
<div class="life-moments-wrapper-mobile"> 
<div class="links">
<div class="collapse list-div">				
   <ul class="list-unstyled" data-sly-list.links="${lifeText.links}">
	 <li>
      <a href ="${links.linkUrl}" target ="${links.target}" data-title="${links.dataTitle}">${links.linkName}</a>
	 </li>
   </ul>				
</div>
</div>
</div>
<div class="bright-start">
${lifeText.description @context ='html'}
<img data-sly-attribute.loading="${imgLazyLoaded}"  src="/content/dam/sunlife/legacy/assets/ca/bright-start-bike-light-bg.png" alt="" aria-hidden="true"></div>
</div>