<div data-component-render="react" data-component-render-name="news-articles" 
    data-component-render-props='{
        "newsTags":"true",
        "toFrom":"true",
        "showRating":"true"
        }'></div>