@import '../../../base/core'; 
.news-article-wrapper{
    //margin:0 5px;
    .article-tags{
        margin-top:24px;
        padding:0 0 10px 0;
        display: inline-block;
        .tag{
            background-color:$medium-blue-color;
            color: $white-shade;
            margin-right: 10px;
            padding: 2px 10px;
            text-transform: uppercase; 
            line-height: 35px;
        }
    }
    .date{
        margin-bottom: 24px;
    }
    .mail-wrapper{
        padding-top:15px;
        p{
            margin-bottom: 0;
        }
        .border-bottom{
            margin:20px 0 0 0;
            width:100px;
            border-bottom:2px solid $medium-yellow-background;
        }
    }
    .article-body{
        padding:20px 0;
    }
}