<!--/*  
Template to render Generic Image.
*/-->
<template data-sly-template.details="${ @ image }">
    <a 
        data-sly-unwrap="${!properties.linkURL}"
        class="cmp-image__link image__link" 
        href="${properties.linkURL}" 
        alt="${image.title || 'image link alternative text'}"
        data-cmp-hook-image="link">
            <noscript data-sly-unwrap="${!image.lazyEnabled}" data-cmp-hook-image="noscript">
                <picture>
                    <source srcset="${image.fileReference}" media="(min-width: 600px)">
                    <source srcset="${image.fileReferenceMobile || image.fileReference}" media="(max-width: 600px)">
                    <img 
                        data-sly-set.imgLazyLoaded="${properties.isLazyLoaded ? 'lazy' : ''}"
                        src="${ image.fileReference || image.fileReferenceMobile}" 
                        alt="${image.alt || true}" 
                        class="img ${properties.hideImageMobile ? 'd-none d-sm-block' : '' } "
                        title="${image.displayPopupTitle && image.title}"
                        data-cmp-hook-image="image"
                        itemprop="contentUrl" 
                        data-sly-attribute.loading="${imgLazyLoaded}" />
                </picture>
            </noscript>
    </a>

    <div class="image-caption ${properties.hideImageMobile ? 'd-none d-sm-block' : '' } " 
        itemprop="caption" 
        data-sly-test="${!image.displayPopupTitle && image.title}">${image.title}</div>
    <meta 
        itemprop="caption" 
        content="${image.title}" 
        data-sly-test="${image.displayPopupTitle && image.title}">
</template>
