@import 'bootstrap/scss/mixins';
@import '@sunlife/ui-styles/design-system';

.sl-banner {
--viewportWidth: calc(100vw - var(--scrollbarWidth, 17px));

    .picture-container {
        left: 50%;
        margin-right: calc(var(--viewportWidth) / -2);
        margin-left: calc(var(--viewportWidth) / -2);
        position: relative;
    }

    .card-text * {
        color: inherit;
    }

    &.default .card-img-overlay .dark a {
        color: var(--brand-tertiary-900);

        &.sl-link-secondary {
         color: var(--brand-primary-400);
        }
    }
}