<header>
  <div class="slf-header-wrapper">
    <div class="desktop-header-wrapper">
      <div class="yellow-stripe">
      </div>
      <div class="col-xs-12 desktop-header-content">
        <div class="col-xs-2 {{desktop-sunlife-logo}} vertical-middle-align">
          <img href="https://www.sunlife.ca" alt="sunlife logo" src="https://www.sunlife.ca/static/slfglobal/globalweb/responsive/images/sunlife-logo-web.svg">
          </img>
        </div>
        <div class="col-xs-10 desktop-sunlife-navigation">
          <div class="col-xs-12 desktop-utility-nav">

          </div>
          <div class="col-xs-12 desktop-mega-menu">
            <div class="desktop-navigation">

            </div>
            <div class="desktop-sign-button">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>