@import '../../../base/core';
.slf-header-wrapper{
    .desktop-header-wrapper{
        height:100px;
        .desktop-sign-in{
            .button-class{
                display:none;
            }
        }
        .yellow-stripe{
            height:8px;
            background-color:$medium-yellow-background;
            padding:0;
        }
        .desktop-header-content{
            padding:0 15px 18px 15px;
            height:92px;
            /*Utility Nav starts here*/
            .desktop-utility-nav{
                float:right;
                padding:0;
                .utility-nav-wrapper{
                    padding:0;                        
                    .utility-nav-links{
                        .search-icon-container{
                            padding-right:0;
                        }
                    }
                }
            }
            /* Utility Nav Ends here */
            .desktop-sunlife-navigation{
                padding:0;
                /*Logo starts here*/
                .desktop-sunlife-logo{
                    float:left;
                    padding:0;
                    height:100%;
                    img{
                        width:149px;
                        height:36px;
                        cursor:pointer;
                        margin-top:13px;
                    }
                }
                /*Logo end here*/
                /*Mega Menu strats here*/
                .desktop-navigation{
                    position:static;
                    float:left;
                    margin:-5px 0 0 58px;
                    .desktop-mega-menu{
                        .desktop-primary-navigation {
                            .primary-navigation {
                            margin-left: 0px;
                            }
                        }
                    }
                    /*Mega Menu end here*/
                    
                }
                .desktop-sign-button{
                    max-width:375px;
                    float:right;
                }
            }
        }
    }
}
@media(max-width:1024px){
    .desktop-header-wrapper{
        display:none;
    }
}
@media(min-width:1025px){
    .mobile-header{
    display:none;
    }
}