<div class="">
        Text: letters and numbers, words and phrases, sentences and paragraphs. ... But in and of itself,
        <span class="highlight-text">text content doesn't have these qualities and abilities; its structure, appearance,
                and behavior and implemented
        </span>
        and affected by other text-based resources: HTML, CSS, and JavaScript
        code.Feb 12, 2019
</div>
<br><br><br><br><br><br>
<br><br><br><br><br>
<div class="">
        Text: letters and numbers, words and phrases, sentences and paragraphs. ... But in and of itself,
        <span class="highlight-text">text content doesn't have these qualities and abilities; its structure, appearance,
                and behavior and implemented
        </span>
        and affected by other text-based resources: HTML, CSS, and JavaScript
        code.Feb 12, 2019
</div>
<br><br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br>
<div class="a">
        Text: letters and numbers, words and phrases, sentences and paragraphs. ... But in and of itself,
        <span class="highlight-text">text content doesn't have these qualities and abilities; its structure, appearance,
                and behavior and implemented
        </span>
        and affected by other text-based resources: HTML, CSS, and JavaScript
        code.Feb 12, 2019
</div>
<br><br><br><br><br><br>
<br><br><br><br><br>
<div class="a">
        Text: letters and numbers, words and phrases, sentences and paragraphs. ... But in and of itself,
        <span class="highlight-text">text content doesn't have these qualities and abilities; its structure, appearance,
                and behavior and implemented
        </span>
        and affected by other text-based resources: HTML, CSS, and JavaScript
        code.Feb 12, 2019
</div>
<br><br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br>
<div class="a">
        Text: letters and numbers, words and phrases, sentences and paragraphs. ... But in and of itself,
        <span class="highlight-text">text content doesn't have these qualities and abilities; its structure, appearance,
                and behavior and implemented
        </span>
        and affected by other text-based resources: HTML, CSS, and JavaScript
        code.Feb 12, 2019
</div>