@import '../../../base/core';
.highlight-text,.highlight_text_bg{
    transition-duration: 3s;
    transition-delay: 5s;
    background-image: linear-gradient(to right,$white-gradient-background-color 50%,$highlighted-gradient-color 50%);
    -webkit-transition: background-position 3s linear;
    transition: background-position 3s linear;
    text-decoration: none;
    background-size: 200% auto;
    background-color: transparent;
  }
  .active-text{
    background-position: -99.9% 0;
  }