@import '../../../base/core';
.search-container{
    margin-top: 20px;
    .search-results{
        display: none;
        .relative .search-result-filter-list{
            display: flex;
            .check-container{
                flex: 1;
                > a {
                    height: 100%;
                }
            }
        }
        #search-result-items .search-result-item a span{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
}
.cq-Editable-dom #search-result-author-page{
	display:block;
}
#search-result-author-page{
	display:none;
}
.adv-search-bar-wrapper #searchclear{
	position: absolute;
    right: 5px;
    top: 15px;
    bottom: 0;
    cursor:pointer;
}

@media (max-width: $mobile-screen-max) {
	#search-result-filter-list{display:block;}
}