@import '../../../base/base';
.form-option {
    border: medium none;
    border: 1px solid #d7d7d7;
    border-radius: 0px;
    height: 40px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
}

.input-section {
    color: #424242;
    margin-bottom: 10px;
}

select.form-control {
    border: 1px solid #d7d7d7 !important;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'sunlife-sans';
    font-weight: 400;
    font-size: 16px;
    height: auto;
    padding-right: 30px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url("https://sunlife.ca/static/slfglobal/globalweb/responsive/images/en/form-ui-select-dropdown-arrow.png");
}

@import '../../../base/base';
input[type=checkbox] {
    position: relative;
    visibility: hidden;
}

input[type=checkbox]:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    visibility: visible;
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    border: 1px solid $medium-grey-background; 
    background: $white-shade; 
    cursor: pointer;
}

input[type=checkbox]:checked:after {
    content: '\f00c';
    font-family: FontAwesome;
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 14px;
    color: $medium-blue-color; 
    transition: all 0.2s;
    line-height: 18px;
}

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 3px;
    background-clip: content-box;
    border: 1px solid $medium-grey-background;
    background-color: $white-shade;
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: $medium-blue-color;
    ;
}