@import '../../../base/core';
@import '../../../../core/base/core.scss';

.data-content-table-slgi{
    // border: 1px solid $grey-previous-background-color;
     tbody{
         tr{
             > * {
                 padding: 24px;
                 vertical-align: top;
             }
             &:not(:last-child) {
                 border-bottom: 1px solid $light-grey-color; /* first row underline color */
             }
             &:nth-of-type(2) {
                 th {
                     border-bottom: 1px solid $medium-grey-background; /* remainder row underline color */
                 }
             }
             &:nth-of-type(1) {
                 th{
                     background:$light-grey-20;
                 }
             }
         }
     }
 }
 .cmp-table-data-content table tbody tr th {
    background: transparent;
 }
 .cmp-table-data-content table tbody tr {
    background: #ffcb05;
 }