<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <div class="we-tabs aem-GridColumn aem-GridColumn--default--12 tabs-wrapper">
        <div class="cmp-tabs">
            <ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">
                <li role="tab" class="cmp-tabs__tab cmp-tabs__tab--active" tabindex="0" data-cmp-hook-tabs="tab" aria-selected="true">Family</li>
                <li role="tab" class="cmp-tabs__tab" tabindex="-1" data-cmp-hook-tabs="tab" aria-selected="false">Couple </li>
                <li role="tab" class="cmp-tabs__tab" tabindex="-1" data-cmp-hook-tabs="tab" aria-selected="false">Single</li>
            </ol>
            <div role="tabpanel" tabindex="0" class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active" data-cmp-hook-tabs="tabpanel">
                <div class="responsivegrid">
                    <h3 class="tab-accordian-heading visible-xs hidden-sm hidden-md hidden-lg" aria-expanded="false" tabindex="0">Family</h3>
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">aaaaa</div>
                </div>
            </div>
            <div role="tabpanel" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" aria-hidden="true">
                <div class="responsivegrid">
                    <h3 class="tab-accordian-heading visible-xs hidden-sm hidden-md hidden-lg" aria-expanded="false" tabindex="0">Couple</h3>
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">bbbbb</div>
                </div>
            </div>
            <div role="tabpanel" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" aria-hidden="true">
                <div class="responsivegrid">
                    <h3 class="tab-accordian-heading visible-xs hidden-sm hidden-md hidden-lg" aria-expanded="false" tabindex="0">Single</h3>
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">cccc</div>
                </div>
            </div>  
        </div>
    </div>
</div>