@import '../../../base/core';

#contactus-modal-form 
{
    .button-wrapper, .cmp-form-text, .cmp-form-options__field--drop-down, .cmp-text, .cmp-form-options--checkbox, .cmp-form-options--drop-down {
       padding: 0 10px;
    }
    .col-sm-6 
    {
        .button-wrapper, .cmp-form-text, .cmp-form-options__field--drop-down, .cmp-text, .cmp-form-options--checkbox, .cmp-form-options--drop-down {
            padding: 0;
         }
    }
    .cmp-form-options--checkbox .cmp-form-options__help-message
    {
        font-weight: 700;
    }
}