@import './core';
.news-announcement img {
    max-width: 100%;
    height: auto;
}

//top margin
@media(max-width:$tab-screen-max) {
    .margin-top-fifty {
        margin-top: 50px !important;
    }
}

