<!--/*
 * Template for rendering link with default icons depending upon type of link

 * <sly 
    data-sly-use.template="/apps/sunlife/core/components/templates/v1/link-with-icon.html"
    data-sly-call="${template.details @ linkLabel=linkLabelText, iconType=iconType }">
   </sly>

 * Usage:
 * 
 * 1. Include this template in your HTL file:
 *    ```
 *    <sly data-sly-include="/path/to/link-with-icon.html" data-sly-template.details="${ @ linkLabel, iconType }"></sly>
 *    ```
 * 
 * 2. Call the template passing the required parameters:
 *    ```
 *    <sly data-sly-call="${details @ linkLabel='Link Label', iconType='file-pdf'}"></sly>
 *    ```
 *    - `linkLabel`: The label or text for the link.
 *    - `iconType`: The type of icon to be displayed. Possible values are:
 *      - `'file-pdf'`: Displays a PDF file icon.
 *      - `'external-link-alt'`: Displays an external link icon.
 *      - `'chevron-circle-right'`: Displays a right chevron icon.
 * 
 * 3. The template will render the link with the specified icon.
 */-->

<template data-sly-template.details="${ @ linkLabel, iconType }"><sly data-sly-test="${iconType =='file-pdf'}"><sly data-sly-use.template="/apps/sunlife/core/components/templates/v1/icon.html"
            data-sly-set.iconTitle="${'pdf.link' @ i18n}"
            data-sly-call="${template.details @ prefix='fak', icon='pdf', prefixHover='', hoverIcon='pdf-hover', title=iconTitle, isAriaHidden=true, isHover=true}">
        </sly></sly>${linkLabel}<sly data-sly-test="${iconType =='external-link-alt'}"><sly data-sly-use.template="/apps/sunlife/core/components/templates/v1/icon.html"
        data-sly-set.iconTitle="${ 'external.link' @ i18n }"
        data-sly-call="${template.details @ prefix='fak', icon='external-link', prefixHover='', hoverIcon='external-link-hover', title=iconTitle, isAriaHidden=false, isHover=true}">
    </sly></sly><sly data-sly-test="${iconType =='chevron-circle-right'}"><sly data-sly-use.template="/apps/sunlife/core/components/templates/v1/icon.html"
            data-sly-set.iconTitle="${ 'internal.link' @ i18n }"
            data-sly-call="${template.details @ prefix='fak', icon='chevron-circle-right', prefixHover='', hoverIcon='chevron-circle-right-hover', title=iconTitle, isAriaHidden=true, isHover=true}">
        </sly>
    </sly>
</template>
