<template data-sly-template.pagination="${@paginationObj,pageUrl}">
    <sly data-sly-test="${paginationObj}">
        <sly data-sly-test.isPaginationrequired="${paginationObj.totalPages}" />
        <div class="pagination-component" data-sly-test="${isPaginationrequired > 1}">
            <sly data-sly-test.previousCss="${paginationObj.curPage == 1 ? 'disabled' : ''}" />
            <sly data-sly-test.nextCss="${paginationObj.curPage == paginationObj.totalPages ? 'disabled' : ''}" />
            <sly data-sly-test.firstPageCss="${paginationObj.curPage == 1 ? 'disabled' : ''}" />
            <sly data-sly-test.firstPageHighlight="${paginationObj.curPage == 1 ? 'selected-item' : ''}" />

            <div class="sl-pagination" aria-label="pagination">
                <sly data-sly-test="${paginationObj.curPage == 1}">
                    <ul class="pagination pagination-list first-page sl-basic-pagination">
                </sly>
                <sly data-sly-test="${paginationObj.curPage == paginationObj.totalPages}">
                    <ul class="pagination pagination-list last-page sl-basic-pagination">
                </sly>
                <sly data-sly-test="${paginationObj.curPage != 1 && paginationObj.curPage != paginationObj.totalPages}">
                    <ul class="pagination pagination-list sl-basic-pagination">
                </sly>

                <sly data-sly-test = "${paginationObj.pageItems.size > 0}">
                    <li class="link-to-first ${firstPageCss} sl-pagination-item">
                        <a x-cq-linkchecker="skip" tabindex="${firstPageCss && '0'}" role="link" aria-disabled="${paginationObj.curPage == 1 ? 'true' : 'false'}" href="${pageUrl}${paginationObj.prevPage}/" aria-label="${'Previous' @ i18n}">
                            <span class="fal fa-chevron-left sl-icon sl-icon_size_sm"></span>
                        </a>
                    </li>
                </sly>
                <li class="sl-pagination-item ${firstPageHighlight}">
                    <a x-cq-linkchecker="skip" href="${pageUrl}1/" aria-label="Page 1" role="link" aria-current="${paginationObj.curPage == 1 ? 'page' : false}">1<span class="visually-hidden">Page 1</span></a>
                </li>
                <sly data-sly-list.pageItems="${paginationObj.pageItems}">
                    <li data-sly-test = "${!paginationObj.ellipsis && pageItems.index != 0}" class="sl-pagination-item ${paginationObj.curPage == pageItems.index ? 'selected-item' : ''}">
                        <a x-cq-linkchecker="skip" href="${pageItems.href}/" role="link" aria-label="Page ${pageItems.index}" aria-current="${paginationObj.curPage == pageItems.index ? 'page' : false}">
                            <span>${pageItems.index}</span>
                        </a>
                    </li>
                    <li data-sly-test = "${paginationObj.ellipsis || pageItems.index == 0}" class="ellipsis"><a><span>...</span></a></li>
                </sly>
                    <li class="next ${nextCss} sl-pagination-item">
                        <a x-cq-linkchecker="skip" tabindex="${nextCss && '0'}" role="link" aria-disabled="${paginationObj.curPage == paginationObj.totalPages ? 'true' : 'false'}" href="${pageUrl}${paginationObj.nextPageNo}/" aria-label="${'Next' @ i18n}">
                            <span class="fal fa-chevron-right sl-icon sl-icon_size_sm"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </sly>
</template>