<form name="search-url" action="/en/search-results/"></form>
<script src="https://static.cloud.coveo.com/searchui/v2.10095/js/CoveoJsSearch.Lazy.min.js"></script>
<script src="https://static.cloud.coveo.com/searchui/v2.10095/js/cultures/en.js"></script>
<script type="text/javascript" src="https://static.cloud.coveo.com/coveo.analytics.js/coveoua.js"></script>
<script type="text/javascript">
        var coveoSearchlanguage = ""
        var searchConfig = {
            orgId: "sunlifefinancialincproductionapwbq5p7",
            token: "xx266e8be8-4de6-4bd4-9e58-5b7e2b8b986d",
            restUri: "https://platform.cloud.coveo.com/rest/search",
            searchHub: "sunlifeCA",
            searchUrl: $('form[name="search-url"]').attr('action')
        };

        if ($('.advisorhub-sunlife-content-page').length > 0 || $('.advisorhub-sunlife-home-page').length > 0) {
            var advisorHubSegment = ContextHub.SegmentEngine.getResolvedSegments();
            var advisorHubManager = false;
            for (var i = 0; i < advisorHubSegment.length; i++) {
                if (advisorHubSegment[i]["title"] == "Manager") {
                    advisorHubManager = true;
                    break;
                }
            }

            var token = searchConfig.token.split('::');
            var searchHub = searchConfig.searchHub.split('::');
            console.log('advisor-hub Manager : ', advisorHubManager)
            if (advisorHubManager == true) {
                searchConfig.token = token[0]
                searchConfig.searchHub = searchHub[0]
            }
            else {
                searchConfig.token = token[1]
                searchConfig.searchHub = searchHub[1]
            }
        }

        //Configure a search endpoint.
        Coveo.SearchEndpoint.configureCloudV2Endpoint('', searchConfig.token, searchConfig.restUri);

        //Coveo UA
        coveoua("init", searchConfig.token);
        coveoua("send", "pageview", {
            contentIdKey: "url",
            contentIdValue: utag_data.page_canonical_url,
            contentType: utag_data.page_category
        });
    </script>