<sly
        data-sly-use.baseModel="ca.sunlife.web.cms.core.models.v1.BasePageModel"
        data-sly-set.enablePseudoElement="${baseModel.enablePseudoElementIcon == 'true' ? true : false }"
        data-sly-set.publishMode = "${enablePseudoElement && wcmmode.disabled}"/>

        <link rel="preload" as="font" href="https://cdn.sunlife.com/content/dam/sunlife/global/fonts/SunLifeNewDisplay-Regular.woff2" type="font/woff2" crossorigin="anonymous" >
        <link rel="preload" as="font" href="https://cdn.sunlife.com/content/dam/sunlife/global/fonts/SunLifeNewText-Bold.woff2" type="font/woff2" crossorigin="anonymous" >
        <link rel="preload" as="font" href="https://cdn.sunlife.com/content/dam/sunlife/global/fonts/SunLifeNewText-Regular.woff2" type="font/woff2" crossorigin="anonymous" >

<script
        data-sly-attribute.data-search-pseudo-elements="${publishMode}"
        defer
        src="https://kit.fontawesome.com/2c22fa76d7.js"
        crossorigin="anonymous"></script>