@import '../../../base/core';
.lists-wrapper {
    .links {
        padding: 0 15px;
        border-top: 1px solid $white-shade;
    }
    .accordion-heading {
        font-size: 18px;
        font-weight: 700;
    }
    .list-unstyled{
        li {
            margin-bottom: 10px;
            a {
                font-weight: 400;
            } 
        }
    }
    a:hover {
        text-decoration: underline;
    }
}

.editorial-nav-wrapper{
    .accordion-heading{
        display: none;
    }
    .list-div{
        display: block;
        ul{
            min-height: 84px;
            background-color: $medium-yellow-background;
            padding: 16px 0;
            width: 100%;
            display: inline-flex;
            li{
                text-align: center;
                align-items: center;
                justify-content: center;
                display: flex;
                flex: auto;
                padding: 0 10px;
                a{
                    font-size: 1rem;
                    line-height: 26px;
                }
            }
            .selected{
                background-color: $medium-blue-color;
                a{
                    color: $white-shade;
                }
            }
            .border-right{
                border-right-color: $medium-grey-background;
            }
        }
    }
}

@media (min-width: $tab-screen-min) {
    .lists-wrapper {
        .links {
            float: left;
            .collapse {
                display: block !important;
            }
        }
        .accordion-heading {
            pointer-events: none;
        }
        .list-div {
            margin-top: 5px;
        }
    }
}
@media (max-width: $mobile-screen-max) {
    .lists-wrapper {
        .links {
            .collapse.show {
                display: block !important;
            }
        }
        .links .accordion-heading[aria-expanded="false"]:before {
            content: "\f0da";
            font-family: FontAwesome;
            padding-right: 10px;
        }
        .links .accordion-heading[aria-expanded="true"]:before {
            content: "\f0d7";
            font-family: FontAwesome;
            padding-right: 10px;
        }
        .accordion-heading {
            cursor: pointer;
        }
    }
    .editorial-nav-wrapper{
        display: none;
    }
}


