@import '../../../base/core';
.lists-wrapper {
    .links {
        padding: 0 15px;
        border-top: 1px solid $white-shade;
    }
    .accordion-heading {
        font-size: 18px;
        font-weight: 700;
    }
    .list-unstyled{
        li {
            margin-bottom: 10px;
            a {
                font-weight: 400;
            }
        }
    }
    a:hover {
        text-decoration: underline;
    }
}

.editorial-nav-desktop-wrapper{
    .links{
        width: 100%;
        padding:0px;
        .accordion-heading{
            display: none;
        }
        .list-div{
            display: block;
            ul{
                min-height: 84px;
                background-color: $medium-yellow-background;
                padding: 16px;
                width: 100%;
                display: inline-flex;
                li{
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex: auto;
                    padding: 0 10px;
                    margin-bottom: 0;
                    a{
                        font-size: 1rem;
                        line-height: 26px;
                        font-weight: 700;
                    }
                }
                li:not(:last-child){
                    border-right: 2px solid $medium-grey-background;
                }
                .selected{
                    background-color: $medium-blue-color;
                    a{
                        color: $white-shade;
                    }
                }
                .border-right{
                    border-right-color: $medium-grey-background;
                }
            }
        }
    }
}
.left-nav-list-wrapper{
    
    .accordion-heading{
        font-weight: 700;
        color: $dark-grey-color;
        font-size: 1rem;
        line-height: 26px;
    }
    .accordion-heading:first {
        margin-top: 0px;
    }
    .list-div{
        display: block;
        margin-top: 16px;
        .list-unstyled{
            li{ 
                padding: 0 0 8px 8px;
               a{
                    padding: 0;
                    font-size: 1rem;
                    color: $medium-blue-color;
                    font-weight: 400;
                    text-decoration: none;
                    line-height: 26px;
                }
            }
        }
    }
    .selectedlink{
        a{
            font-weight: 700 !important;
            border-bottom: 2px solid $medium-yellow-background;
            text-decoration: none;
        }
    }
}
@media (min-width: $tab-screen-min) {
    .left-nav-list-wrapper{
        display: none;
    }

    .lists-wrapper {
        .links {
            float: left;
            .collapse {
                display: block !important;
            }
        }
        .accordion-heading {
            pointer-events: none;
            line-height: 23px;
        }
        .list-div {
            margin-top: 5px;
        }
    }
}
@media (max-width: $mobile-screen-max) {
    .left-nav-list-wrapper{
        display: none;
    }

    .lists-wrapper {
        .links {
            .collapse.show {
                display: block !important;
            }
        }
        .links .accordion-heading[aria-expanded="false"]:before {
            content: "\f0da";
            font-family: FontAwesome;
            padding-right: 10px;
        }
        .links .accordion-heading[aria-expanded="true"]:before {
            content: "\f0d7";
            font-family: FontAwesome;
            padding-right: 10px;
        }
        .accordion-heading {
            cursor: pointer;
        }
    }
    .container-component .cmp-container .editorial-nav-desktop-wrapper {
        display: none !important;
    }
}


