<div data-component-render="react" data-component-render-name="article-ratings" 
    data-component-render-props=''></div>
<div data-component-render="react" data-component-render-name="article-comments" 
    data-component-render-props=''></div>