<div data-component-render="react" data-component-render-name="article-ratings" 
    data-component-render-props= '{"rateStory":"Rate this story"}'></div>
<div data-component-render="react" data-component-render-name="article-comments" 
    data-component-render-props='{"comments":"Rate",
    "commentsToolTip":"Rate",
    "writeComment":"Rate",
    "addComment":"Rate",
    "deleteComment":"Rate",
    "delete":"Rate",
    "cancel":"Rate",
    "deleteCommentConfirm":"Rate"}'>
    </div>