<div data-component-render="react" data-component-render-name="article-ratings" 
    data-component-render-props= '{"rateStory":"Rate this story",
     "apiPath":"/content/sunlife/internal/source/en/news/jcr:content/root/layout_container/container1/generic.ugc"}'></div>
<div data-component-render="react" data-component-render-name="article-comments" 
    data-component-render-props='{"comments":"Rate",
    "commentsToolTip":"Rate",
    "writeComment":"Rate",
    "addComment":"Rate",
    "deleteComment":"Rate",
    "delete":"Rate",
    "cancel":"Rate",
    "apiPath":"/content/sunlife/internal/source/en/news/jcr:content/root/layout_container/container1/generic.ugc",
    "deleteCommentConfirm":"Rate"}'>
    </div>