@import '../../../base/core'; 
.rating-wrapper{
    margin:40px 10px 0 10px;
    .rate-this{
        font-size:0.875rem;
        font-weight:700;
    }
    .star-rating{
        font-size:1.25rem;
        .fa-star{
            cursor: pointer;
            color:$light-grey-color;
            font-size:1.5rem;
        }
        .fa-star.active{
            color:$medium-yellow-background;
        }
        .fa-star.yellow{
            color:$medium-yellow-background;
        }
        .fa-star.grey{
            color:$light-grey-color;
            &.active{
                color:$light-grey-color;
            }
        }
    }
    .no-of-rating{
        margin-left:10px;
    }
}
.comment-wrapper{
    margin:40px 10px 10px 10px;
    .comment-count{
        font-size:1rem;
        font-weight:700;
    }
    .info{
        font-size:0.875rem;
        margin-bottom:0; 
    }
    .old-comments{
        display: flex;
        padding:40px;
        width:80%;
        border-bottom:1px solid $comment-border-color;
        // &.first{
        //     border-top:1px solid //$comment-border-color;
        // }
        &.last{
            border-bottom: none;
        }
        section{
            width:100%;
            padding:0 16px;
            border-radius:10px;
            .name-time{
                margin-bottom:5px;
                .name{
                    color:$medium-blue-color;
                    font-weight:600;
                    padding-right: 20px;
                }
            }
            .desc{
                width:70%;
                text-align:left;
                line-height:20px;
            }
        }
        .three-dots,.comment-option{
            display:none;
            &.show{
                display: inline-block;
            }
        }
        .comment-option{
            z-index:1;
            background-color:$white-shade;
            width: 200px;
            margin-left: -155px;
            margin-top: 2px;
            text-align: left;
            a{
                font-weight:400;
                font-size:16px;
            }
            &.show{
                display: block;
            }
        }
        .three-dots{
            width:5%;
            position: relative;
            text-align:center;
            display: none;
            float:right;
            width:25px;
            height:25px;
            text-align: center;
            border-radius:50%;
            shape-outside: circle(50%);
            //background-color:$light-grey-separator-color;
            cursor: pointer;
            &.show{
                display: block;
            }
            .dots{
                color:$dark-grey-color;
            }
            p{
                width:100%;
                margin:0;
                position: relative;                 
                font-size: 18px;
                font-weight: 700;
                margin-top:-4px;
            }
        }
        .edit-popup{
            width: 100%;
            padding: 16px;
            position: relative;
            top: 10px;
            border: 1px solid $dark-grey-shade;
            border-radius: 5px;
            background-color:$white-shade;
            z-index:2;
        }
        .edit-popup:before {
            content: '';
            display: block;  
            position: absolute;
            left: 159px;
            bottom: 100%;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-bottom-color:$dark-grey-shade;
        }
        .edit-popup:after {
            content: '';
            display: block;  
            position: absolute;
            left: 161px;
            bottom: 100%;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-bottom-color: white;
        }
    }
    .add-comment{
        margin-bottom:0;
        margin-top:24px;
        padding:0;
        border:1px solid $comment-border-color;
        position: relative;
        width:80%;
        .textarea{
            width:100%;
            padding:24px 16px;
            min-height:72px;
            height:auto;
            border:0;
            border-bottom:1px solid $comment-border-color;
        }
        .add-button{
            padding:24px 16px;
            .primary-yellow-button{
                float: right;
                .button-class{
                    padding-top: 10px;
                }
            }
        }
    }
    .delete-modal{
        width:100% !important;
        height:auto !important;
        .modal-content{
            width:70%;
            top: 50%;
            margin-top:-10px;
            max-width:700px;
            transform: translate(-50%,-50%);
            min-height:auto;
            .modal-body{
                padding-top:5px;
            }
            .modal-footer{
                border-top:0;
                button{
                    font-size:1rem;
                    font-weight:700;
                    color:$delete-button-text;
                    width:217px;
                    height:48px;
                    &.cancel{
                        background-color:$transparent;
                        border:0;
                    }
                    &.delete{
                        background-color: $medium-yellow-background;
                        border:0;
                        border-radius:6px;
                    }
                }
            }
        }
    }
}
@media(max-width:767px){
    .comment-wrapper{
        .add-comment{
            height:auto;
            width:100%;
        }
        .old-comments{
            width:100%;
            section{
                width:100%;
            }
        }
        .delete-modal{
            .modal-content{
                width:90%;
                .modal-body{
                    margin-bottom:10px;
                }
                .modal-footer{
                    button{
                        width:150px;
                    }
                }
            }
        }
    }
}

.news-article-wrapper{
    .date{
        margin-bottom:35px;
    }
}