@import '../../../base/core';
.desktop-region-language-menu-wrapper {
    width: 100%;
    padding: 0 16px 16px !important;
    box-shadow: 0 4px 20px -10px $black-shade;
    .cross-btn {
        width: 100%;
        height: 32px;
        span {
            float: right;
            font-size: 1rem;
        }
        span:before{
            padding: 8px 0 8px 0;
            line-height: 26px;
        }
    }
    .slf-region,
    .slf-language {
        padding: 0 !important;
    }
    .title-region {
        h2, h3, h4, h5 {
            font-weight: 700;
            font-size: 1.125rem;
            margin: 0 0 8px 0;
            line-height: 23px;
        }
    }
    .slf-region {
        border-right: 2px solid $light-grey-color;
        .content-region {
            // padding:0 32px 0 0;
            padding: 0 !important;
            ul {
                margin-bottom: 0;
                li {
                    margin-bottom: 8px;
                    cursor: pointer;
                    a:hover{                        
                        background-color: $light-orange-color;
                    }
                }
            }
            .first_level_list-unstyled{
                a{
                    padding: 4px 0 4px 5px;
                }
                .accordion-list li {
                    margin-bottom: 8px;
                    a{
                        padding: 4px 0 4px 20px;
                    }
                }
            }
            > :first-child {
                padding: 0;
                .accordion-heading {
                    font-size: 1rem;
                    //font-weight: 700;
                    cursor: pointer;
                    margin: 0;
                    text-decoration: none;
                    //color: $dark-grey-color;
                    padding-left: 0;
                    &:hover{                        
                        background-color: $white-shade;
                    }
                }
            }
            > :not(:first-child) {
                padding: 0 0 0 10px;
                .accordion-heading {
                    font-size: 1rem;
                    cursor: pointer;
                    margin: 0;
                    text-decoration: none;
                    color: $medium-blue-color;
                    &:hover{                        
                        background-color: $white-shade;
                    }
                }
            }
            .slf-region-column {
                width: 240px;
                .accordion-heading[aria-expanded="false"]:before {
                    content: "\f0da";
                    font-family: FontAwesome;
                    padding-right: 10px;
                }
                .accordion-heading[aria-expanded="true"]:before {
                    content: "\f0d7";
                    font-family: FontAwesome;
                    padding-right: 10px;
                }
                a {
                    font-weight: 400;
                    width: 100%;
                    display: block;
                }
            }
            .nav-select {
                background-color: $light-orange-color;
                a {
                    font-weight: 700;
                    color: $medium-blue-color;
                }
            }
            .nav-heading{
                color: $dark-grey-color !important;
            }
        }
    }
    .title-language {
        h4 {
            font-weight: 700;
            font-size: 1.125rem;
            margin-top: 0;
            padding: 0 0 0 16px;
            line-height: 23px;
        }
    }
    .content-language {
        padding-left: 16px !important;
        ul {
            margin-bottom: 0;
            li {
                padding: 4px 0 4px 14px;
                margin-bottom: 8px;
                cursor: pointer;
                &:hover {
                    background-color: $light-orange-color;
                }
                a{
                    font-weight: 400;
                }
            }
            .nav-select {
                background-color: $light-orange-color;
                a{
                    font-weight: 700;
                } 
            }
        }
        .grey-horizontal-separator {
            margin-bottom: 70px;
            .horizontal-middle-align {
                float: left;
                width: 61px;
                margin: 32px 0 32px -68px;
            }
        }
    }
    .no-region-present {
        height: 261px;
        .select-preference {
            padding-left: 146px;
            margin-top: 125px;
            color: $medium-blue-color;
            font-size: 1rem;
        }
    }
}
.mobile-region-language-menu-wrapper{
    width:270px;
    font-size: 1rem;
    padding:0 !important;
    .go-back{
        background-color:$medium-blue-color;
        color: $white-shade;
        width:100%;
        font-size: 1rem;
        line-height:26px;
        padding: 8px 16px;
        &:before {
            font-family: FontAwesome;
            content: "\f104\00a0";
        }
        a{
            color: $white-shade;
        }
    }
    .slf-tab-region{
        padding: 0 !important;
        height: 42px;
        background-color: $medium-blue-color;
        color: $white-shade;
        font-size: 1rem;
        line-height: 26px;
        font-weight: 400;
        border-top: 0.5px solid $white-shade;
        .slf-tab{
            padding: 8px 0 8px 0;
            text-align: center;
            height: 100%;
        }
        .active{
            background-color: $white-shade;
            color: $dark-grey-color;
            font-weight: 700;
        }
        .region-present, .language-present{
            width:100%;
            text-align: left;
            padding-left: 16px;
        }
    }
    .tab-content{
        padding: 0 !important;
        .region-tab{
            padding-top: 32px;
            .list-unstyled{
                li{
                    margin-bottom: 8px;
                    padding: 4px 0 4px 0;
                    a{
                        color: $medium-blue-color;
                        font-weight: 400;
                        padding-left: 16px;
                        padding-right: 16px;
                        display: block;
                    }
                }
                .nav-select {
                    background-color: $light-orange-color;
                    a{
                        font-weight: 700;
                    }
                }
                .accordion-heading{
                    font-size: 1rem;
                    color: $medium-blue-color;
                    // margin: 0 0 8px 0;
                    margin: 0;
                    padding-left: 16px;
                }
                .accordion-heading[aria-expanded="false"]:after {
                    content: "\f105";
                    font-family: FontAwesome;
                    padding-left: 10px;
                }
                .accordion-heading[aria-expanded="true"]:before {
                    content: "\f0d7";
                    font-family: FontAwesome;
                    padding-right: 10px;
                }
                .accordion-list{
                    a{
                        padding-left: 35px;
                        display: block;
                    }
                }
            }
        } 
        .language-tab{
            padding-top: 32px;
            .list-unstyled{
                li{
                    padding: 4px 0 4px 0;
                    margin-bottom: 8px;
                    a{
                        color: $medium-blue-color;
                        font-weight: 400;
                        padding-left: 16px;
                    }
                }
                .nav-select {
                    background-color: $light-orange-color;
                    a{
                        font-weight: 700;
                    }
                }
                .grey-horizontal-separator {
                    margin-bottom: 70px;
                    .horizontal-middle-align {
                        float: left;
                        width: 98px;
                        margin: 32px 0 32px -69px;
                    }
                }
            }
        }
    }

    /*Where region is not present*/
    .region-hidden-mobile {
        background-color: inherit;
        .first {
            display: none;
        }
    }
}
.language-region{
    .xf-content-height{
        margin:0;
        .region-language-menu {
            padding:0;
        }
    }
}
@media (max-width: $tab-screen-max) {
    .desktop-region-language-menu-wrapper {
        display: none;
    }
}
@media (min-width: $desktop-screen-min) {
    .mobile-region-language-menu-wrapper {
        display: none;
    }
}
@media(min-width: $desktop-screen-min) and (max-width: $desktop-screen-max){
    .desktop-region-language-menu-wrapper {
        .slf-region {
            border-right: 2px solid $light-grey-color;
            // .content-region {
            //     padding:0 22px 0 0;
            // }
        }
    }
}


/* link farm table styles start here */
.cmp-linkfarm-table{
            display: flow-root;
    /* desktop styles start */
       .desktop-linkfarm-table{
        margin-bottom: 40px;
        border: 1px $light-grey-color solid;
        margin: 15px 0 0 0;
        padding:0px!important;
          .slf-region{
              padding:0px!important;
              .title-region{
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                background-color: $light-cool-blue-color;
                padding: 19px 24px;
                margin: -1px;
                border: 1px solid $light-grey-color;
                min-height: 64px;
                h2, h3, h4, h5{
                    font-size: 1rem;
                    line-height: 26px;
                    font-weight: 700;
                    margin: 0 !important;
                }
              }
              .content-region{
                  padding: 24px 14px;
                  display: flex;
                  .slf-region-column{
                          padding-right:24px;
                    .first_level_list-unstyled{
                        li {
                          .accordion-heading {
                              font-weight: 400;
                              font-size: 16px;
                              line-height: 26px; 
                              color: #424242; 
                              border-bottom: 2px dotted $light-grey-color;
                              display: block;
                              padding-bottom: 15px;
                              text-decoration: none;
                              cursor: default;
                              pointer-events: none;

                            }
                            .accordion-list.collapse {
                                display: block !important;
                            }
                        }
                          .list-unstyled{
                              padding-left: 0;
                              list-style: none; 
                              li {
                                  margin-bottom: 8px;
                                  font-size: 16px;
                                  padding: 10px 0;
                                  line-height: 24px;
                                  font-family: sunlife-sans;
                                  font-weight: 400;
                                  border-bottom: 2px dotted $light-grey-color;
  
                                  a {
                                      padding: 4px 0 4px 0px; 
                                      font-family: sunlife-sans;
                                      font-weight: 700;
                                      color: $medium-blue-color;
                                      font-size: 16px;
                                      line-height: 26px;
                                      text-decoration: none;
                                  }
                                  a:hover{
                                      text-decoration: underline;
                                  }
                              }
                              li:last-child{  
                                  border:none!important;
                                  margin-bottom: 20px;
                              }
                          }
                    }
                    .slf-region-column:last-child{
                        padding-right:0px;
                    }
                  }
                 
              }
          }
        } 
    /* desktop styles end */

    /*mobile styles start */
    .mobile-region-language-menu-wrapper{
        width:100%!important;
        .slf-tab-region {
            background-color: $light-cool-blue-color;
            padding: 19px 15px !important;
            border: 1px solid $light-grey-color;
            min-height: 64px;
            height: auto;
            color: inherit;
            margin-bottom: 4px;
            margin: 1px;
            .first {
                width: 100%;
                padding: 0;
                font-weight:700;
                font-size: 1rem;
                line-height: 26px;
                height: auto;
                text-align: left;
            }
            .second {
                display:none;
            }
        }
        .tab-content {
            margin-top: 8px;
        }
        .tab-content .region-tab {
            padding-top:0;
            .list-unstyled {
                .accordion-heading {
                    color:inherit;
                }
                .accordion-heading[aria-expanded="false"]:after {
                    content: '';
                }
                .accordion-heading[aria-expanded="true"]:after {
                    content: '';
                }
                li {
                    padding: 0;
                }
            }
            .accordion-list li {
                line-height: 26px;
                padding: 0 15px 15px 0;
                a  {
                    font-weight: 700;
                    font-size:0.875rem;
                    line-height: 18px;
                    padding-left: 0 !important;
                }
            }
        }
        .slf-accordion-arrow {
            .accordion-heading{
               background-color:$light-cool-blue-color;
                font-family: "sunlife-sans";
                font-weight: 700;
                font-size: 1rem;
                line-height: 26px;
                padding: 15px;
                padding-left: 15px !important;
           }
           .accordion-heading[aria-expanded="false"]:before {
            content: "\f0da";
            font-family: FontAwesome;
            padding-right:10px;
           }
           .accordion-heading[aria-expanded="true"]:before{
            content:"\f0d7";
            font-family: FontAwesome;
            padding-right:10px;
           }
           ul {
            margin: 12px 15px 12px 12px;
            padding: 0;
            list-style: none;
            vertical-align: middle; 
            li {
                font-family: "sunlife-sans";
                border-bottom: 2px dotted $light-grey-color;
                margin-left:16px; 
                a {
                    font-weight: 700;
                    color: $medium-blue-color;
                    text-decoration: none; 
                    padding-left:0px;
                }
            }
            li:last-child{
                border-bottom: none;
            }
          
           }
       }
    }
  
    /*mobile styles end here*/
}

//Link farm table inside flex container 

.row.flex-height {
}
.row.flex-height {
    .cmp-linkfarm-table {
        .desktop-linkfarm-table {
            margin-top: 0;
        }
        .slf-region .content-region {
            flex-direction: inherit;
        }
    }
}

//link Farm table in Mobile view: 

.col-md-9 {
    .cmp-linkfarm-table {
        margin-left: -10px;
        margin-right: -10px;
    }
}
.no-padding {
    .col-md-9 {
        .cmp-linkfarm-table {
            margin-left: 0;
            margin-right: 0;
            .mobile-region-language-menu-wrapper {
                .tab-content .language-tab {
                     padding-top: 0; 
                }
            }
        }
    }
}
/* link farm table styles end here */


