<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <div class="we-tabs aem-GridColumn aem-GridColumn--default--12 tabs-wrapper">
        <div class="cmp-tabs">
            <ol  role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">
                <li role="presentation" class="cmp-tabs__tab cmp-tabs__tab--active" tabindex="0" data-cmp-hook-tabs="tab" aria-controls="familytab-content" aria-selected="true">Family
                </li>
                <li role="presentation" class="cmp-tabs__tab" tabindex="-1" data-cmp-hook-tabs="tab" aria-controls="coupletab-content" aria-selected="false"> Couple
                </li>
                <li role="presentation" class="cmp-tabs__tab" tabindex="-1" data-cmp-hook-tabs="tab" aria-controls="singletab-content" aria-selected="false">Single
                </li>
                <li role="presentation" class="cmp-tabs__tab" tabindex="-1" data-cmp-hook-tabs="tab" aria-controls="singletab-content" aria-selected="false">four
                </li>
                <li role="presentation" class="cmp-tabs__tab" tabindex="-1" data-cmp-hook-tabs="tab" aria-controls="singletab-content" aria-selected="false">five cvdfbdfb  bdfb  fd bdf 
                </li>
            </ol >
            <div role="tabpanel" tabindex="0" class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active" data-cmp-hook-tabs="tabpanel">
                  <div class="tab-accordian-heading visible-xs hidden-sm hidden-md hidden-lg" aria-expanded="false" tabindex="0">Family</div>
                <div class="responsivegrid">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                        <div class="phone-numbers">12345678</div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" aria-hidden="true">
                 <div class="tab-accordian-heading visible-xs hidden-sm hidden-md hidden-lg" aria-expanded="false" tabindex="0">Couple</div>
                <div class="responsivegrid">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                        <div class="phone-numbers">tab2</div>
                        </div>
                </div>
            </div>
            <div role="tabpanel" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" aria-hidden="true">
                <div class="tab-accordian-heading visible-xs hidden-sm hidden-md hidden-lg" aria-expanded="false" tabindex="0">Single</div>
                <div class="responsivegrid">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">cccc</div>
                </div>
            </div>  
            <div role="tabpanel" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" aria-hidden="true">
                <div class="tab-accordian-heading visible-xs hidden-sm hidden-md hidden-lg" aria-expanded="false" tabindex="0">Single</div>
                <div class="responsivegrid">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">456</div>
                </div>
            </div>
            <div role="tabpanel" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" aria-hidden="true">
                <div class="tab-accordian-heading visible-xs hidden-sm hidden-md hidden-lg" aria-expanded="false" tabindex="0">Single</div>
                <div class="responsivegrid">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">123</div>
                </div>
            </div>
        </div>
    </div>
</div>

