@import '../../../prerequisite/base/styles/core.scss'; 
.tabs-wrapper{
    margin-bottom: 30px;
    .cmp-tabs__tablist {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0px;
        list-style: none;
        margin: 0;
    }
    .cmp-tabs__tablist
    {
        border-bottom: 16px solid $medium-yellow-background;
        display: inline-flex;
        width: 100%;
        .cmp-tabs__tab{
            min-height: 96px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex: 1;
            text-align: center;
            font-weight: 700;
            background-color: $medium-blue-color;
            border: 2px solid $light-grey-color;
            color: $white-shade;
            word-break: break-word;
        }
        .cmp-tabs__tab--active
        {
            background-color: $medium-yellow-background;
            color:$medium-blue-color ;
            border: none;
        }
        .cmp-tabs__tab:hover{
            //border: 2px solid $light-grey-color;
            background: $cool-blue-color;
            color: $white-shade;
            cursor: pointer;
        }
    }
    .tabpanel-style{
        padding: 15px;
        border: 2px solid #d7d7d7;

    }
    .cmp-tabs__tabpanel {
        display: none;
        @extend .tabpanel-style;
      
    }
    .cmp-tabs__tabpanel--active {
        display: block;
        @extend .tabpanel-style;
    }
    .tab-accordian-heading{
        font-size: 16px;
        font-weight: 700;
        padding: 20px;
        color: $dark-grey-color;
        background-color: $light-cool-blue-color;
    }
    .tab-accordian-heading[aria-expanded="false"]:before {
        content: "\f0da";
        font-family: FontAwesome;
        padding-right: 10px;
        padding-left: 15px;
    }
    .tab-accordian-heading[aria-expanded="true"]:before {
        content: "\f0d7";
        font-family: FontAwesome;
        padding-right: 12px;
        padding-left: 11px;
    }
}

@media (min-width: $tab-screen-min)
{
    .tabs-wrapper{
        .tab-accordian-heading + *{
            display: block !important;
        }
    }
}

@media (min-width: $mobile-screen-min) and (max-width:$mobile-screen-max)
{
    .tabs-wrapper{
        .cmp-tabs__tablist{
            display: none;
        }
        .cmp-tabs__tabpanel {
            display: block;
            padding: 0; 
            border: none;
            margin-top: 5px;
        }
        .tab-accordian-heading + *{
            display: none;
            padding-left:30px;
        }
    }
}

//styles for news article

.news{
    .cmp-tabs__tablist{
        .cmp-tabs__tab{
            a {
            color:$white-shade;  
            width:100%;
            padding:25px;
            text-decoration: none;
            }
        }
        .cmp-tabs__tab--active{
            a{
                color: $medium-blue-color!important;
            }
        }
    }
    .cmp-tabs__tabpanel--active{
        padding:0;
        border:none;
    }
}
