.sign-in .screen-container {
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.sign-in .content-container {
  padding: 20px;
}

.sign-in .bordered {
  border: 1px darkgray solid;
}

.sign-in .radio-group {
  padding: 10px;
}

.sign-in .button {
  padding: 8px;
  font-size: 14px;
}

.sign-in .btn-success {
  background-color: #27ae60;
  color: #ffffff;
}

.sign-in .btn-warning {
  background-color: #c0392b;
  color: #ffffff;
}

.sign-in .sign-in .label-warning {
  color: #c0392b;
}

.sign-in .input-number {
  display: block;
  padding: 4px;
  font-size: 12px;
}

.sign-in .radio-button {
  margin: 4px;
}

.sign-in .modal-style {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* .sign-in .modal-content {
  margin-top: 10%;
  width: 80%;
  margin-left: 10%;
} */

.sign-in .small-margin {
  margin: 5px;
}