@import '../../../base/core';
.cmp-carousel__item {
    display: none;
  }
  .cmp-carousel__item--active {
    display: block;
  }
  .cmp-carousel__indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    bottom:30px;
  }
  .cmp-carousel__indicator {
    position: relative;
    flex: 0 1 auto;
    width: 16px;
    height: 16px;
    margin: 0 4px;
    border-radius: 50%;
    font-size: 0;
    text-indent: -3000px;
    background: linear-gradient(to bottom, $medium-grey-background 0%, $light-grey-color 100%);
	zoom: 1;
	outline: none !important;
  }
  .cmp-carousel__indicator--active {
    background: linear-gradient(to bottom, $light-blue-color 0%, $medium-blue-color 100%);
  }
  .carousel-wrapper .cmp-carousel__actions{
     display:none;
  }
  @media (max-width: $mobile-screen-max){
    .carousel-wrapper .cmp-carousel__indicators{
      padding-bottom:8px;
      position: relative;
    }
  }
  @media (min-width: $mobile-screen-min) and (max-width: $tab-screen-max){
    // .carousel-wrapper .banner-section{
    //   //margin-top : 50px;
    // }
  }

  /* client story specific styles starts */
.carousel-client-story {
	padding-bottom: 50px;
	.cmp-carousel__content {
		.teaser {
			.text-section {
				p {
					&:not(:last-child) {
						a {
							font-weight: 400;
							color: $dark-grey-color;
							font-size: 1rem;
							text-decoration: none;
							cursor: pointer;
						}
					}
				}
				a {
					.yellow-colored-font {
						font-size: 1.25rem;
						color: $primary-yellow-background;
					}
				}
			}
			.right-item{
					padding-bottom: 40px;
					
					.read-more-grey-border-left{
						display:none;
						border-bottom: none !important;
					}
					.read-more-grey-border-right{
						border-top: 1px solid $light-grey-color;
						width: calc(100% - 130px);
						display: inline-block !important;
						margin: 1px;
					}
				}	
		}
	}
	.circular-image .left-image-position .left-item {
		border-radius: inherit !important;
		background-image: none !important;
		padding: inherit !important;
	}
}
#firstClientStory, #secondClientStory, #thirdClientStory, .client-story-modal {
	.modal-content {
		.modal-header {
			background-color: $white-shade;
			height: 55px;
			border-bottom: none !important;
			.modal-title {
				.close-popup {
					color: $blue-gradient-color;
					border-radius: 50%;
					background: $white-shade;
					font-size: 2rem;
					opacity: 1;
					margin: -10px 0;
				}
			}
		}
		width: 100%;
		margin: 20px auto;
		padding: 0;
		max-width: 1064px;
	}
	.modal-body {
		margin: 0;
		padding: 0;
		.teaser {
			padding: 0 40px 40px;
			.image-text-wrapper {
				.left-image-position {
					.heading-3 {
						font-size: 2.25rem;
						display: block;
						padding-bottom: 20px;
					}
					.left-item {
						border-right: 1px solid $light-grey-color;
						border-spacing: 30px 0;
					}
					.text-section {
						.yellow-colored-font {
							font-size: 1.375rem;
						}
					}
				}
			}
		}
		.video_container {
			padding-bottom: 60px;
			max-width: 100%;
			height: auto;
		}
	}
}
#dynamicslideUp {
	.modal-body {
		margin: 0;
		padding: 0;
		.video_container {
			padding-bottom: 60px;
			max-width: 100%;
			height: auto;
		}
		.teaser {
			.image-text-wrapper {
				.left-image-position {
					.heading-3 {
						font-size: 2.25rem;
						display: block;
						padding-bottom: 20px;
					}
					.left-item {
						padding-bottom: 100px;
						border-right: 1px solid $light-grey-color;
						border-spacing: 30px 0;
					}
					.text-section {
						.yellow-colored-font {
							font-size: 1.375rem;
							color: $primary-yellow-background;
						}
					}
				}
			}
		}
	}
	.close-popup {
		float: right;
		right: 0px;
		width: 40px !important;
		height: 40px !important;
		color: $blue-gradient-color;
		margin: 15px 15px;
		cursor: pointer;
		border-radius: 50%;
		text-align: center;
		background: $white-shade;
	}
	.modal-header {
		padding: 0 !important;
		border-bottom: none !important;
	}
}
@media (min-width: 767px) and (max-width: 1024px) {
	#dynamicslideUp {
		.modal-body {
			.teaser {
				.image-text-wrapper {
					.left-image-position {
						.left-item {
							border-right: 1px solid $light-grey-color !important;
							padding-right: 20px !important;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 220px) and (max-width: 1024px) {
	#dynamicslideUp {
		.modal-body {
			.teaser {
				.image-text-wrapper {
					.left-image-position {
						.left-item {
							padding-bottom: 20px;
							border-right: none;
						}
					}
				}
			}
			border-bottom: 3px solid $blue-gradient-color;
			margin-bottom: 30px;
		}
		.horizontal-middle-align {
			left: unset;
			transform: inherit;
		}
	}
	.carousel-client-story {
		.middle-aligned-text {
			.right-image-position {
				display: block;
			}
			.left-image-position {
				display: block;
			}
		}
	}
}
@media (min-width: 767px) {
	.carousel-client-story {
		.cmp-carousel__content {
			.teaser {
				.left-item {
					display: table-cell;
				}
				.right-item {
					display: table-cell;
				}
			}
		}
	}
}
@media (max-width: 767px) and (min-width: 220px) {
	#dynamicslideUp {
		.teaser {
			.image-text-wrapper {
				padding: 0;
				img {
					width: 220px;
					height: 220px;
				}
			}
		}
		.modal-body {
			.video_container {
				padding-bottom: 40px;
			}
		}
	}
	.carousel-client-story {
		.teaser {
			.image-text-wrapper {
				padding: 0;
				img {
					width: 220px;
					height: 220px;
				}
			}
			.right-item {
				.read-more-grey-border-left {
					border-top: 1px solid $light-grey-color !important;
					width: 28% !important;
					display: inline-block !important;
					margin: 1px;
				}
				.read-more-grey-border-right {
					border-top: 1px solid $light-grey-color !important;
					width: 28% !important;
					display: inline-block !important;
					margin: 1px;
				}
			}
		}
  }
  .carousel {
    .life-moment-second-level-banner {
      .image-text-wrapper {
        .text-section {
          h3 {
            padding-bottom: 14px;
          }
        }
      }
    }
  } // fix for life moments h3 bottom spacing
}
@media (min-width: 1025px) {
	#firstClientStory, #secondClientStory, #thirdClientStory, .client-story-modal{
		height: auto !important;
	}
}

/** Fix for distorted border due to style conflict starts**/
.carousel-client-story {
	.circle-220-desktop {
		.left-item {
			height: 228px;
			width: 228px;
			background-image: none;
			img {
				border-radius: 50%;
				background-image: linear-gradient(to bottom, $medium-yellow-background 70%, $primary-yellow-background 82%);
				padding: 4px !important;
			}
		}
	}
	.circle-150-mobile {
		.left-item {
			border-radius: 0%;
			background-image: none;
			padding: 4px !important;
			img {
				border-radius: 50%;
				background-image: linear-gradient(to bottom, $medium-yellow-background 70%, $primary-yellow-background 82%);
				padding: 4px !important;
			}
		}
	}
	.circle-150-mobile {
		.left-item {
			img {
				border-radius: 50%;
				background-image: linear-gradient(to bottom, $medium-yellow-background 70%, $primary-yellow-background 82%);
				padding: 4px !important;
			}
			height: 228px !important;
			width: 228px !important;
		}
	}
}

#firstClientStory, #secondClientStory, #thirdClientStory, .client-story-modal {
	.round-border {
		img {
			border: 4px solid $primary-yellow-background;
		}
	}
	.circle-220-desktop {
		.left-item {
			border-radius: 0%;
			background-image: none;
			padding: 4px !important;
		}
    }
	.circle-150-mobile {
		.left-item {
			border-radius: 0%;
			background-image: none;
			padding: 4px !important;
		}
	 }
}

@media (min-width: 767px) and (max-width: 1024px) {
	#dynamicslideUp {
		.modal-body {
			.teaser {
				.image-text-wrapper {
					.left-image-position {
						.left-item {
							width: 255px !important;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 767px) and (min-width: 220px) {
	#dynamicslideUp {
		.teaser {
			.image-text-wrapper {
				img {
					max-width: 220px;
				}
			}
		}
	}
}

/** Fix for distorted border ends **/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.carousel-client-story {
		.cmp-carousel__content {
			.teaser {
				.left-item {
					display: table;
				}

			}
			.circle-150-mobile .left-item img {
				padding: 0 !important;
				border: 4px solid $primary-yellow-background;
			}
		}
	}

}

/* client story specific styles ends */