@import '../../../base/core';
.cmp-carousel__item {
    display: none;
  }
  .cmp-carousel__item--active {
    display: block;
  }
  .cmp-carousel__indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    bottom:30px;
  }
  .cmp-carousel__indicator {
    position: relative;
    flex: 0 1 auto;
    width: 16px;
    height: 16px;
    margin: 0 4px;
    border-radius: 50%;
    font-size: 0;
    text-indent: -3000px;
    background: linear-gradient(to bottom, $medium-grey-background 0%, $light-grey-color 100%);
    zoom: 1;
  }
  .cmp-carousel__indicator--active {
    background: linear-gradient(to bottom, $light-blue-color 0%, $medium-blue-color 100%);
  }
  .carousel-wrapper .cmp-carousel__actions{
     display:none;
  }
  @media (max-width: $mobile-screen-max){
    .carousel-wrapper .cmp-carousel__indicators{
      padding-bottom:8px;
      position: relative;
    }
  }