@import '../../../base/core';
ul.mega-menu2-list > li:first-child{
  display: none;
  }
.slf-header-wrapper .desktop-primary-navigation .menu-content {
  padding: 0;
  margin-top: -17px !important;
  border : 1px solid $light-grey-20;
}
.nav .arrow .dropdown-toggle{
  padding: 0 8px;
         }
.desktop-primary-navigation{
  .main-nav {
      margin-top:5px;
  }
  .nav-item> a {
    padding: 0 8px; 
    font-size: 14px;
    height:43px;
    line-height: 43px;
  }
  .navigation {
      position: static;
      padding: 0; 
  }
  .box-class {
      background-color: $white-shade;
      padding: 0 16px;
      z-index: 1;
      position: relative;
      box-shadow: 0px 2px 0px 0px $white-shade;
      .region>a:before {
          color:$medium-blue-color;
      }
  }
  .nav>li>a {
      &:hover{
        @extend .box-class;
      }
  }
  .nav-item.open{  
      height: 58px;
      background-color: $white-shade;   
      border-bottom: none;
      z-index: 1;
      box-shadow: 0 0px 0px 0px $white-shade, 0 -15px 0px 0px $white-shade, 0px 0 15px -5px rgba(0, 0, 0, 0.25), 0px 0 15px 0px rgba(0, 0, 0, 0.25);
  }
  .nav .open > a {
    height:57px;
  }
  .dropdown-toggle.nav-active:focus {
      background: none;
      outline: 2px solid $blue-colour-focus; 
  }
  .navigation a span{
        text-transform:uppercase;
  }
} 
