# Configuration created by Apache Sling JCR Installer
externalizer.domains=["local\ https://author-sunlifeassurancestage-65.adobecqms.net","author\ https://author-sunlifeassurancestage-65.adobecqms.net","publish\ http://stage-www.sunlife.ca"]
externalizer.contextpath=""
externalizer.host=""
externalizer.encodedpath=B"false"
