@import 'bootstrap/scss/mixins';
@import '@sunlife/ui-styles/design-system';
@import '@sunlife/ui-styles/components/pagination';

.news-article{
    margin-bottom: 40px;
    .content{
        text-decoration: none;
    }
    .releaseDate{
            @include sl-body-small;
            color: var(--grey-600);
            margin-bottom: 0.75rem;
    }
    .h5{
            color: var(--brand-tertiary-800);
            margin-bottom: 0.75rem;
            font-size: 1.375rem;
    }
    .summary{
            @include sl-body-medium;
            margin-bottom: 0; 
    }
}
.cnw-news-list {
        .cmp-tabs__tab{
                display: none;
                &.cmp-tabs__tab--active {
                        display: block;
                }
        }
}