<div class="{{cta-wrapper}} {{background-color}} clearfix">
<<<<<<< HEAD
    {{!-- uncomment to see CTA structure --}}
    
    {{>core-components-content-icon-text}}
    {{>core-components-form-text}}
    {{>core-components-form-button}}
=======
    <!-- uncomment to see CTA structure -->

    <!-- {{>core-components-content-icon-text}} -->
>>>>>>> 7874ba87bb02ceddfa1de18755232f2661db6587


    <!-- uncomment to see company-highlight  -->

    {{>core-components-content-teaser}}
    {{>core-components-content-separator}}
    {{>core-components-content-teaser}}
</div>