<div class="{{cta-wrapper}} {{background-color}} clearfix">
    <!-- uncomment to see CTA structure -->
    {{!-- {{>core-components-content-icon-text}} --}}

    <form method="GET" id="cta-provider-search" name="get-a-quote" enctype="multipart/form-data" class="cmp-form aem-Grid aem-Grid--12 aem-Grid--default--12" data-parsley-validate="data-parsley-validate" novalidate="">
    <input type="hidden" name=":formstart" value="/content/sunlife/external/ca/en/dual-cta-test/jcr:content/root/container/container/container/container">
    <input type="hidden" name="_charset_" value="utf-8">
    
    <div class="options aem-GridColumn aem-GridColumn--default--12">

    <fieldset class="cmp-form-options cmp-form-options--drop-down">
        
        
            <label class="cmp-form-options__label" for="form-options-107519893">get a quote</label>
            <select class="cmp-form-options__field cmp-form-options__field--drop-down" name="get a quote" id="form-options-107519893">
                <option value="abc" data-shortname="abs">abc</option>
            
                <option value="xyz" data-shortname="xyz">xyz</option>
            </select>
        
        
    </fieldset>


    

</div>
<div class="button button-wrapper primary-blue-button-form aem-GridColumn aem-GridColumn--default--12"><button type="SUBMIT" class="cmp-form-button">Submit</button>
</div>

    
</form>
    <!-- uncomment to see company-highlight  -->
    <!-- {{>core-components-content-teaser}}
    {{>core-components-content-separator}}
    {{>core-components-content-teaser}} -->
</div>