<div class="{{cta-wrapper}} {{background-color}} clearfix">
    <!-- uncomment to see CTA structure -->
    {{>core-components-content-icon-text}}

    <!-- uncomment to see company-highlight  -->
    <!-- {{>core-components-content-teaser}}
    {{>core-components-content-separator}}
    {{>core-components-content-teaser}} -->
</div>