<div class="{{cta-wrapper}} {{background-color}} clearfix">
    <!-- uncomment to see CTA structure -->

    <!-- {{>core-components-content-icon-text}} -->
    {{>core-components-form-text}}
    {{>core-components-form-button}}

    <!-- uncomment to see company-highlight  -->

    {{>core-components-content-teaser}}
    {{>core-components-content-separator}}
    {{>core-components-content-teaser}}
</div>