@import '../../../base/core';
ul {
    margin: 0;
}
.icon-text {
    padding-bottom: 24px;
}
.yellow-icon-blue-background > * {
    background-color: $medium-blue-color;
    color: $white-shade;
    text-align: center;
}
.yellow-icon-grey-background > * {
    background-color: $light-cool-blue-color;
    text-align: center;
}
.yellow-icon-white-background > * {
    background-color: $white-shade;
    text-align: center;
}
.yellow-icon-white-background {
    border: 1px solid $light-grey-color;
}
.blue-icon-yellow-background > * {
    background-color: $medium-yellow-background;
    text-align: center;
    .icon-style {
        background: linear-gradient($medium-blue-color, $blue-gradient-color);
    }
}
.yellow-icon-blue-background, .yellow-icon-grey-background, .blue-icon-yellow-background, .yellow-icon-white-background {
    margin-top: 42px;
        .icon-style {
            position: relative;
            bottom: 40px;
        }
        .icon-parent {
            height: 40px;
        }
        &>:last-child{
            padding-bottom: 40px;
        }
}

.cross-cta-wrapper {
    padding: 24px 16px;
    background-color: $light-orange-20;
    border: 1px solid $light-orange-40;
    .mega-menu-icon-wrapper {
        .icon-text-heading-link, .icon-text-description {
                display: inherit;
        }
        .icon-style {
            background: linear-gradient($medium-blue-color, $blue-gradient-color);
            height: 60px;
            width: 60px;
            padding: 12px;
            font-size: 2rem;
        }
        .icon-parent {
            margin-right: 16px;
        }
    }
}

@media (max-width:$mobile-screen-max) {
    .cross-cta-wrapper {
        .icon-parent {
            display: none;
        }
        .icon-text {
            text-align: center;
        } 
    }
    .yellow-icon-white-background {
        background-color: $light-grey-20;
    }
    .yellow-icon-white-background > *{
        width: 90%;
        margin: auto;
    }
}
@media (max-width:$tab-screen-max) {
    .yellow-icon-grey-background, .yellow-icon-blue-background, .blue-icon-yellow-background, .yellow-icon-white-background {
        margin-top: 32px;
        .cta-content-icon-wrapper {
            .icon-style {
                height: 60px;
                width: 60px;
                position: relative;
                bottom: 30px;
                padding: 11px;
                font-size: 2.125rem;
            }
            .icon-parent {
                height: 30px;
            }
        }
    }
}