@import '../../../base/core';
ul {
    margin: 0;
}
.cross-cta-wrapper {
    padding: 24px 16px;
    background-color: $light-orange-20;
    border: 1px solid $light-orange-40;
    .mega-menu-icon-wrapper {
        .icon-text-heading-link, .icon-text-description {
                display: inherit;
        }
        .icon-style {
            background: linear-gradient($medium-blue-color, $blue-gradient-color);
            height: 60px;
            width: 60px;
            padding: 12px;
            font-size: 2rem;
        }
        .icon-parent {
            margin-right: 16px;
        }
    }
}
.blue-icon-yellow-background {
    .icon-text-heading-normal {
        margin-top: 0;
    }
    .icon-style {
        background: linear-gradient($medium-blue-color, $blue-gradient-color);
        position: relative;
        top: 40px;
    }
    .icon-text {
        background-color: $medium-yellow-background;
        padding-top: 40px;
        padding-bottom: 24px;
    }
    .box-continuation-wrapper {
        background-color: $medium-yellow-background;
        text-align: center;
        padding-bottom: 24px;
    }
}
.yellow-icon-blue-background {
    .icon-text-heading-normal {
        margin-top: 0;
    }
    .icon-style {
        position: relative;
        top: 40px;
    }
    .icon-text {
        background-color: $medium-blue-color;
        padding-top: 40px;
        padding-bottom: 24px;
        color: $white-shade;
    }
    .box-continuation-wrapper {
        background-color: $medium-blue-color;
        text-align: center;
        padding-bottom: 24px;
        color: $white-shade;
    }
}
.yellow-icon-grey-background {
    .icon-text-heading-normal {
        margin-top: 0;
    }
    .icon-style {
        position: relative;
        top: 40px;
    }
    .icon-text {
        background-color: $light-cool-blue-color;
        padding-top: 40px;
        padding-bottom: 24px;
    }
    .box-continuation-wrapper {
        background-color: $light-cool-blue-color;
        text-align: center;
        padding-bottom: 24px;
    }
}
.yellow-icon-white-background {
    .icon-text-heading-normal {
        margin-top: 0;
    }
    .icon-style {
        position: relative;
        top: 40px;
    }
    .icon-text {
        background-color: $white-shade;
        padding-top: 40px;
        padding-bottom: 24px;
        border-top: 1px solid $light-grey-color;
        border-right: 1px solid $light-grey-color;
        border-left: 1px solid $light-grey-color;
    }
    .box-continuation-wrapper {
        background-color: $white-shade;
        text-align: center;
        padding-bottom: 24px;
        border-bottom: 1px solid $light-grey-color;
        border-left: 1px solid $light-grey-color;
        border-right: 1px solid $light-grey-color;
    }
}

@media (max-width:$mobile-screen-max) {
    .cross-cta-wrapper {
        .icon-parent {
            display: none;
        }
        .icon-text {
            text-align: center;
        } 
    }
    .yellow-icon-white-background {
        background-color: $light-grey-20;
        .triple-home-cta {
            width: 90%;
            margin: auto;
        }
    }
}
@media (max-width:$tab-screen-max) {
    .yellow-icon-grey-background, .yellow-icon-blue-background, .blue-icon-yellow-background, .yellow-icon-white-background {
        .icon-style {
            height: 60px;
            width: 60px;
            position: relative;
            top: 30px;
            padding: 11px;
            font-size: 2.125rem;
        }
        .icon-text {
            padding-top: 30px;
        }
    }
}