@import '../../../base/core';
ul {
    margin: 0;
}
.icon-texts {
    padding-bottom: 24px;
}
.yellow-icon-blue-background > * {
    background-color: $medium-blue-color;
    color: $white-shade;
    text-align: center;
}
.yellow-icon-grey-background > * {
    background-color: $light-cool-blue-color;
    text-align: center;
}
.yellow-icon-white-background > * {
    background-color: $white-shade;
    text-align: center;
}
.with-margin {
    &.yellow-icon-white-background > .cmp-container {
        margin-right: 20px;
    }
    &.yellow-icon-grey-background > .cmp-container {
        margin-right: 20px;
    }
    &.yellow-icon-blue-background > .cmp-container {
        margin-right: 20px;
    }
    &.blue-icon-yellow-background > .cmp-container {
        margin-right: 20px;
    }
}

.yellow-icon-white-background {
    .icon-text {
        border: 1px solid $light-grey-color;
    }
}
.blue-icon-yellow-background > * {
    background-color: $medium-yellow-background;
    text-align: center;
    .icon-style {
        background: linear-gradient($medium-blue-color, $blue-gradient-color);
    }
}
.yellow-icon-blue-background, .yellow-icon-grey-background, .blue-icon-yellow-background, .yellow-icon-white-background {
    margin-top: 42px;
        .icon-style {
            position: relative;
            bottom: 40px;
        }
        .icon-parent {
            height: 40px;
            padding-bottom: 64px;
        }
        &>:last-child{
            margin-bottom: 40px;
        }
        .icon-text {
            padding: 16px;
        }

}

.cross-cta-wrapper {
    padding: 24px 16px;
    background-color: $light-orange-20;
    border: 1px solid $light-orange-40;
    .mega-menu-icon-wrapper {
        .icon-style {
            background: linear-gradient($medium-blue-color, $blue-gradient-color);
            height: 60px;
            width: 60px;
            padding: 13px;
            font-size: 2rem;
        }
        .icon-parent {
            margin-right: 16px;
            display: table;
        }
        .icon-texts {
            padding-bottom: 0;
            display: table;
        }
    }
}
.cta-content-icon-wrapper {
    .container-component {
        border-right: 20px solid $white-shade;
        &>:last-child {
            border-right: none;
        }
        .form-container-component {
            padding: 0 16px 16px 16px;
            .primary-blue-button-form {
                text-align: right;
            }
        }
    }
}
.company-highlight-blue-grey-background {
    background: linear-gradient(to bottom, $medium-blue-color, $medium-blue-color 50%, $light-grey-20 50% );
}
.company-highlight-yellow-grey-background {
    background: linear-gradient(to bottom, $medium-yellow-background, $primary-yellow-background 50%, $light-grey-20 50%);
}
.company-highlight-yellow-grey-background, .company-highlight-blue-grey-background {
    padding: 40px 24px;
    text-align: center;
    .grey-horizontal-separator {
        display: none;
    }
    .image-text-wrapper {
        padding: 40px 15px;
        text-align: center;
        background-color: $white-shade;
        height: 95%;
        img {
            width: 150px !important;
            height: 150px;
        }
    }
    .container-component {
        .cmp-container > div {
            display: flex;
            width: 100%;
            background-color: $white-shade;
            .teaser {
                flex: 1;
            }
        }
    }
}
.yellow-icon-white-background {
    .cmp-container > div {
        display: flex;
        .icon-text {
            flex: 1;
        }
    }
}
.site-level-notification {
    background-color: $light-orange-color;
    padding: 24px 16px;
    margin-bottom: 4px;
    p {
        margin: 0;
    }
    .fa-close {
        float: right;
        cursor: pointer;
    }
}
.subscribe-main-content-wrapper{
    background-color: $medium-yellow-background;
    padding: 32px 16px;
    min-width: 158px;
    .cta-content-icon-wrapper {
        .icon-style {
            background: linear-gradient($medium-blue-color, $blue-gradient-color);
            height: 62px;
            width: 62px;
            padding: 13px;
            font-size: 2rem;
        }
        .icon-parent {
            margin-right: 16px;
            display: table;
            float: left;
        }
        .icon-texts {
            padding-bottom: 0;
            display: table;
        }
    }
    form{
        display: table;
        &>*{
            display: table-cell;
        }
        .primary-blue-button-form{
            .cmp-form-button{
                width: 100%;
                min-width: 100%;
            }
        }
        
    }
    form :first-child{
        padding: 0 16px;
    }
}
body > :not(:first-child)
{
    display: none;
}
@media (max-width:$mobile-screen-max) {
    .container-component {
        .cmp-container > div {
            display: block !important;
        }
    }
    .cross-cta-wrapper {
        .icon-parent {
            display: none;
        }
        .icon-texts {
            text-align: center;
        }
    }
    .yellow-icon-white-background {
        background-color: $light-grey-20;
        border: none;
        margin-top: 0 !important;
        padding-top: 32px;
        .cta-content-icon-wrapper {
            border-top: 1px solid $light-grey-color;
        }
        &>:last-child{
            border-bottom: 1px solid $light-grey-color;
        }
    }
    .yellow-icon-white-background > *{
        width: 90%;
        margin: auto;
        border-right: 1px solid $light-grey-color;
        border-left: 1px solid $light-grey-color;
    }
    .company-highlight-yellow-grey-background, .company-highlight-blue-grey-background {
        .image-text-wrapper {
            img {
                display: none;
            }
        }
        .grey-horizontal-separator {
            display: inherit;
            margin: 0;
            hr {
                margin: 0;
            }
        }
        .border-right {
            border-right: none;
        }
    }
}
.tool-card-wrapper{
    text-align: center;
    margin: 24px 0 40px 0;
    padding-right:15px;
    .cmp-container{
        background-color: $light-cool-blue-color;
    }
    .heading-6,h6{
        font-weight: 700;
        margin-bottom: 20px;
    }
    .image-text-wrapper{
        .side-image{
            width: auto;
            padding: 15px 0;
            border-radius: 50%;
        }
    }
}
@media (max-width:$tab-screen-max) {
    .yellow-icon-grey-background, .yellow-icon-blue-background, .blue-icon-yellow-background, .yellow-icon-white-background {
        margin-top: 32px;
        .cta-content-icon-wrapper {
            .icon-style {
                height: 60px;
                width: 60px;
                position: relative;
                bottom: 30px;
                padding: 11px;
                font-size: 2.125rem;
            }
            .icon-parent {
                height: 30px;
                padding-bottom: 54px;
            }
        }
    }
}