@import './core';

#mainfooter {
    .image {
        padding: 16px 0 15px 15px; }
    .text {
        img {
            background-image: url('/content/dam/sunlife/legacy/assets/com/Global/IT%20Site%20Administration/images/Globe_grey.png');
            background-repeat: no-repeat;
            &:hover {
                background-image: url('/content/dam/sunlife/legacy/assets/com/Global/IT%20Site%20Administration/images/Globe_blue.png');
            }
        }
    }
} 


//Background Color:
.light-taupe-50-bg{
    background-color: $light-taupe-50;
    //border: 1px #e1dcd2 solid;
}

.audio-file-icon {
    &::before {
        content: "\f1c7";
        font-family: fontawesome;
        margin-right: 5px;
    }
}

//For news room bullet points
.news-announcement {
    ul {
        margin-left: 28px;
        li::before {
            content: "\2022";
            color: $medium-yellow-background;
            font-weight: bold;
            display: inline-block;
            width: 1rem;
            margin-left: -1em;
        }
    }
     
} 

@media (max-width:$mobile-screen-max) {
    #mainfooter {
        .image {
           display: none; 
        }
    } 
}

