@import './core';

#mainfooter {
    .image {
        padding: 16px 0 15px 15px; }
    .text {
        img {
            background-image: url('/content/dam/sunlife/legacy/assets/com/Global/IT%20Site%20Administration/images/Globe_grey.png');
            background-repeat: no-repeat;
            &:hover {
                background-image: url('/content/dam/sunlife/legacy/assets/com/Global/IT%20Site%20Administration/images/Globe_blue.png');
            }
        }
    }
} 


//Background Color:
.light-taupe-50-bg{
    background-color: $light-taupe-50;
}

@media (max-width:$mobile-screen-max) {
    #mainfooter {
        .image {
           display: none; 
        }
    } 
}

