@import '../../../base/core';
.slf-header-mega-menu2 {
  border: 3px solid $medium-yellow-background;
  padding: 0;
  display: inline-flex; }
  .slf-header-mega-menu2 .mega-menu2-list {
    padding: 0; }
    .slf-header-mega-menu2 .mega-menu2-list ul {
      margin-top: 15px; }
    .slf-header-mega-menu2 .mega-menu2-list .accordion-heading {
      display: none; }
    .slf-header-mega-menu2 .mega-menu2-list li {
      float: left;
      padding: 15px 30px; }
      .slf-header-mega-menu2 .mega-menu2-list li a {
        font-weight: 400; }
  .slf-header-mega-menu2 .mega-menu2-img {
    margin: 20px, 15px, 0px, 0px; }
    .slf-header-mega-menu2 .mega-menu2-img .mega-menu-col4-img {
      width: 100%; }
  .slf-header-mega-menu2 .hiiden-display {
    display: none; }
  .slf-header-mega-menu2 .visible-display {
    display: block; }
  .slf-header-mega-menu2 .dropdown-submenu:hover > .dropdown-menu, .slf-header-mega-menu2 .dropdown-submenu:focus > .dropdown-menu, .slf-header-mega-menu2 .dropdown-submenu:active > .dropdown-menu {
    display: block; }
  .slf-header-mega-menu2 .mega-menu2-list ul li {
    width: 100%;
    padding-left: 0; }
  .slf-header-mega-menu2 .mega-menu2-list ul a {
    font-family: sunlife-sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: block;
    box-sizing: border-box;
    padding: 15px 30px;
    width: 100%;
    white-space: normal; }
  .slf-header-mega-menu2 .mega-menu2-list ul a + .dropdown-menu {
    left: 224px;
    top: 0px;
    width: 244px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: $light-orange-20;
    margin: 0; }
  .slf-header-mega-menu2 .mega-menu2-list ul a:hover, .slf-header-mega-menu2 .mega-menu2-list ul a:focus {
    background: $light-orange-20;
    width: 100%; }
  .slf-header-mega-menu2 .dropdown-submenu .subnav-trigger::after {
    font-family: FontAwesome;
    content: "\00a0\f105"; }


@media (max-width: 1024px) {
  .mega-menu-wrapper-desk {
    display: none; } }

    

/* AEM Style */

.mega-menu2-list .dropdown-toggle:focus {
  outline: auto;
}
.cmp-dynamic-megamenu {
  border: 3px solid $medium-yellow-background;
  padding: 0;
  position: relative; }

.cmp-dynamic-megamenu .aem-Grid--default--3 {
  width: 244px; }

.cmp-dynamic-megamenu .mega-menu2-list {
  padding: 0; }

.cmp-dynamic-megamenu .mega-menu2-list ul {
  margin-top: 15px; }

.cmp-dynamic-megamenu .mega-menu2-list .accordion-heading {
  display: none; }

.cmp-dynamic-megamenu .mega-menu2-list li {
  padding: 15px 30px;
  width: 244px; }

.cmp-dynamic-megamenu .mega-menu2-list li a {
  font-weight: 400; }

.cmp-dynamic-megamenu .mega-menu2-img {
  margin: 20px, 15px, 0px, 0px; }

.cmp-dynamic-megamenu .mega-menu2-img .mega-menu-col4-img {
  width: 100%; }

.cmp-dynamic-megamenu .hiiden-display {
  display: none; }

.cmp-dynamic-megamenu .visible-display {
  display: block; }

.cmp-dynamic-megamenu .dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.cmp-dynamic-megamenu .mega-menu2-list .mega-menu2-list ul li {
  width: 100%;
  padding-left: 0; }

.cmp-dynamic-megamenu .mega-menu2-list ul a {
  font-family: sunlife-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  display: block;
  box-sizing: border-box;
  padding: 15px 30px;
  width: 100%;
  white-space: normal; }

.cmp-dynamic-megamenu .dropdown-submenu:hover {
  background: $light-orange-20; }

.cmp-dynamic-megamenu .mega-menu2-list .dropdown-menu {
  left: 224px;
  top: 4px;
  width: 244px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: $light-orange-20;
  margin: 0; }

.cmp-dynamic-megamenu .mega-menu2-list .dropdown-menu ul a {
  left: 224px;
  top: 0;
  width: 244px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: $light-orange-20;
  margin: 0; }

.cmp-dynamic-megamenu .mega-menu2-list .dropdown-menu a:hover {
  background: $light-orange-20; }

.cmp-dynamic-megamenu .mega-menu2-list .dropdown-menu a {
  background: $light-orange-20; }

.cmp-dynamic-megamenu .mega-menu2-list ul a:hover, .cmp-dynamic-megamenu .mega-menu2-list ul a:focus {
  background: $light-orange-20;
  width: 100%; }

.cmp-dynamic-megamenu .dropdown-submenu .subnav-trigger::after {
  font-family: FontAwesome;
  content: "\00a0\f105"; }

/*Grey Variation CSS*/
.cmp-dynamic-megamenu-grey {
  padding: 0;
  position: relative; }

.cmp-dynamic-megamenu-grey .aem-Grid--default--3 {
  width: 244px; }

.cmp-dynamic-megamenu-grey .mega-menu2-list {
  padding: 0; }

.cmp-dynamic-megamenu-grey .mega-menu2-list ul {
  margin-top: 15px; }

.cmp-dynamic-megamenu-grey .mega-menu2-list .accordion-heading {
  display: none; }

.cmp-dynamic-megamenu-grey .mega-menu2-list li {
  padding: 15px 30px;
  width: 244px; }

.cmp-dynamic-megamenu-grey .mega-menu2-list li a {
  font-weight: 400; }

.cmp-dynamic-megamenu-grey .mega-menu2-img {
  margin: 20px, 15px, 0px, 0px; }

.cmp-dynamic-megamenu-grey .mega-menu2-img .mega-menu-col4-img {
  width: 100%; }

.cmp-dynamic-megamenu-grey .hiiden-display {
  display: none; }

.cmp-dynamic-megamenu-grey .visible-display {
  display: block; }

.cmp-dynamic-megamenu-grey .dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.cmp-dynamic-megamenu-grey .mega-menu2-list .mega-menu2-list ul li {
  width: 100%;
  padding-left: 0; }

.cmp-dynamic-megamenu-grey .mega-menu2-list ul a {
  font-family: sunlife-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  display: block;
  box-sizing: border-box;
  padding: 15px 30px;
  width: 100%;
  white-space: normal; }

.cmp-dynamic-megamenu-grey .dropdown-submenu:hover {
  background: $light-orange-20; }

.cmp-dynamic-megamenu-grey .mega-menu2-list li:hover {
  background:$light-orange-20; }


.cmp-dynamic-megamenu-grey .mega-menu2-list .dropdown-menu {
  left: 224px;
  top: 0;
  width: 244px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: $light-orange-20;
  margin: 0; }

.cmp-dynamic-megamenu-grey .mega-menu2-list .dropdown-menu ul a {
  left: 224px;
  top: 0;
  width: 244px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: $light-orange-20 ;
  margin: 0; }

.cmp-dynamic-megamenu-grey .mega-menu2-list li a
{
    padding:0 !important;
}
.cmp-dynamic-megamenu-grey .mega-menu2-list .dropdown-menu a {
  color: $medium-blue-color;
  background: $light-orange-20; 
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.cmp-dynamic-megamenu-grey .mega-menu2-list ul a:hover, .cmp-dynamic-megamenu .mega-menu2-list ul a:focus {
  background: $light-orange-20 ;
  width: 100%; }

.cmp-dynamic-megamenu-grey .dropdown-submenu .subnav-trigger::after {
  font-family: FontAwesome;
  content: "\00a0\f105"; }

.cmp-dynamic-megamenu-grey .cmp-dynamic-megamenu-greybackground {
  margin: 15px;
  background: $light-grey-color;
  padding-top: 15px; }



@media (max-width: 1024px) {
  .mega-menu-wrapper-desk {
    display: none; } }
