// Home CTA Button Alignment
.no-padding .yellow-icon-white-background .cmp-container > :first-child{
	height: 100%;
}

//IE fix
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .no-padding .yellow-icon-white-background .home-cta-form-wrapper{
		display: table;
    	margin-bottom: 40px;
        width: 100%;
	}
    .no-padding .yellow-icon-white-background .cmp-container .text:last-child{
		padding-bottom: 32px;
	}
}

@media all and (-ms-high-contrast:none), all and (-ms-high-contrast:active){
	.editorial-nav-desktop-wrapper .links .list-div ul li {
		display: flex;
		min-height: 50px;
	}
}
