@import '../../../base/core';
// Home CTA Button Alignment
.no-padding .yellow-icon-white-background .cmp-container > :first-child{
	height: 100%;
}
.no-padding  .yellow-icon-white-background .cmp-container > .text:last-child .cmp-text p .primary-blue-button-rte
{
    margin-top: 0;
	
}
@media (min-width: $mobile-screen-min) and (max-width: $mobile-screen-max) {
	.no-padding {
		.yellow-icon-white-background >* {
			border-top: 1px solid $light-grey-color;			
		}
	} 
}

//IE fix
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .no-padding .yellow-icon-white-background .home-cta-form-wrapper{
		display: table;
    	margin-bottom: 40px;
        width: 100%;
	}
    .no-padding .yellow-icon-white-background .cmp-container .text:last-child{
		padding-bottom: 32px;
	}
}

@media all and (-ms-high-contrast:none), all and (-ms-high-contrast:active){
	.editorial-nav-desktop-wrapper .links .list-div ul li {
		display: flex;
		min-height: 50px;
	}
}

//chinese table width issue fix
@media (max-width: 767px) and (min-width: 320px){
    :lang(zh-TW) .table-responsive > table > tbody> tr > th, .table.table-striped-column.slf-comparison td {
        white-space: normal;
    }
}
@media screen and (max-width: 767px){
    :lang(zh-TW) .table-responsive > table > tbody > tr > td{
        white-space:nowrap;
    }
}

