<sly data-sly-use.newsroomAnnouncement="ca.sunlife.web.cms.core.models.NewsroomAnnouncementModel"></sly>
<div class="news-announcement">
<ul class="clearfix" id="tertiary" data-sly-list.year="${newsroomAnnouncement.yearUrlMap}">
    <li>
        <a  x-cq-linkchecker="skip" href="${newsroomAnnouncement.yearUrlMap[year] @extension='html'}" target='_self'>${year}</a>
    </li>   
</ul> 
<sly data-sly-test.notEmpty="${newsroomAnnouncement.fragmentPath}">
     <div class="news-date-and-tags" data-sly-test="${!newsroomAnnouncement.checkboxHideDate}">
         <span class="date"> ${newsroomAnnouncement.articleData.articlePublishedDate} </span>
     </div>
     <h2 data-sly-test="${newsroomAnnouncement.articleData.newsroomHeading}">
         ${newsroomAnnouncement.articleData.newsroomHeading}
     </h2>
     ${newsroomAnnouncement.articleData.newsroomContent  @context='html'}
</sly>
</div>
<div data-sly-test="${!notEmpty}" class="cq-placeholder" data-emptytext="${component.title}"></div>