<form data-sly-use.container="com.sunlife.core.models.Container"
  method="${container.method}" action="${container.action}" id="${container.id}" name="${container.name}" data-parsley-validate="data-parsley-validate" onsubmit="${container.validation @ context='scriptToken'}" >
     <input type="hidden" name="_charset_" value="utf-8"/>
    <input data-sly-test="${container.redirect}" type="hidden" name=":redirect" value="${container.redirect @ extension='html'}"/>
<div class="cq-placeholder section" data-emptytext="Form container" data-sly-resource="${'form-container' @ resourceType='wcm/foundation/components/parsys' }"></div> 
 </form>