<form data-sly-use.container="com.sunlife.core.models.Container"
  method="${container.method}" action="${container.action}" id="${container.id}" name="${container.name}" data-parsley-validate="data-parsley-validate" >

     <input type="hidden" name="_charset_" value="utf-8"/>
    <input data-sly-test="${container.redirect}" type="hidden" name=":redirect" value="${container.redirect @ extension='html'}"/>
    <sly data-sly-resource="${ @ resourceType='wcm/foundation/components/parsys'}"></sly>

 </form>