<form data-sly-use.formContainer="ca.sunlife.web.cms.core.models.FormContainer"
      data-sly-use.grid="com.day.cq.wcm.foundation.model.responsivegrid.ResponsiveGrid"
      method="${formContainer.method}" action="${formContainer.formAction}" name="${formContainer.name}" id="${formContainer.id}"
      class="cmp-form ${grid.cssClass}" data-section="${formContainer.dataSection}" data-parsley-validate="data-parsley-validate" onsubmit="${formContainer.validation @ context='html'}" target="${formContainer.formTarget}">
     <sly data-sly-test="${formContainer.actionType != 'foundation/components/form/actions/custom'}">
          <input type="hidden" name=":formstart" value="${resource.path}"/>
          <input type="hidden" name="_charset_" value="utf-8"/>
          <input data-sly-test="${formContainer.redirect}" type="hidden" name=":redirect" value="${formContainer.redirect @ extension='html'}"/>
     </sly>

     <sly data-sly-test="${formContainer.method != 'GET'}" 
          data-sly-use.honeyPotTemplate="honeypot.html"
          data-sly-call="${honeyPotTemplate.honeyPot @ cssClassName=grid}"></sly>
          
    <sly data-sly-repeat.paragraph="${grid.paragraphs}"
         data-sly-resource="${paragraph.path @ resourceType=paragraph.resourceType, decorationTagName='div', cssClassName=paragraph.cssClass}"></sly>
    <sly data-sly-resource="${resource.path @ resourceType=formContainer.resourceTypeForDropArea, appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
         data-sly-test="${wcmmode.edit || wcmmode.preview}"></sly>
</form>