<template data-sly-template.honeyPot="${@ cssClassName}">
    <div class="text form-input ${cssClassName.cssClass} cmp-alertnate-form-field">
          <div class="cmp-form-text" data-cmp-is="formText">
               <label for="cmp-alertnate-form-phone-number">Alternate Phone Number*</label>
               <input data-cmp-hook-form-text="input" type="tel" id="cmp-alertnate-form-phone-number" data-parsley-id="4" name="cmp-alertnate-form-phone-number" tabindex="-1"/>
          </div>
     </div>
     <div class="text form-input ${cssClassName.cssClass} cmp-alertnate-form-field">
          <div class="cmp-form-text" data-cmp-is="formText">
               <label for="cmp-alertnate-form-email">Alternate Email*</label>
               <input data-cmp-hook-form-text="input" type="email" id="cmp-alertnate-form-email" data-parsley-id="4" name="cmp-alertnate-form-email" tabindex="-1"/>
          </div>
     </div>
</template>