<sly data-sly-include="/libs/wcm/core/components/init/init.jsp" />
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.css @ categories='sunlife.core.vendor,sunlife.core.dependencies,sunlife.core.base,sunlife.core.component'}"/>
<div data-sly-resource="${'page-content' @ resourceType='wcm/foundation/components/parsys'}"></div>
<sly data-sly-call="${clientlib.js @ categories='sunlife.core.vendor,sunlife.core.dependencies,sunlife.core.base,sunlife.core.component'}"/>
