.slf-mobile-header-wrapper .hamburger-menu-wrapper .second-level-navigation, .slf-mobile-header-wrapper .hamburger-menu-wrapper .third-level-navigation {
  background: #F0EDE8; }

.slf-mobile-header-wrapper .mobile-header-navbar .mobile-signin-text {
  font-size: 0.5rem; }

.slf-mobile-header-wrapper .mobile-header-navbar .slf-header-mobile-logo a {
  right: 14px !important; }
