<div data-component-render="react" data-component-render-name="reset-password" 
    data-component-render-props='{
        "getAccessIdText":"To get your Access ID, call 1-800-800-4786 and select Option 6. We’re available from 8 a.m. – 8 p.m. ET.",
        "getPasswordText":"To reset your password, enter your information below. We’ll confirm your account and email you a password link." ,
        "accessIDLabel":"Access ID",
        "accessIDReq":"Enter your Access ID ",
        "accessIDInValid":"Enter a valid Access ID ",
        "birthDateLabel": "Date of birth",
        "birthDatePlaceholder":"DD/MM/YYYY",
        "birthDateReq":"Enter your date of birth ",
        "birthDateInValid":"Enter a valid date ",
        "submitText": "Submit",
        "successHeading" : "We sent your link",
        "successText1" :"Check your email for the password link.",
        "successText2" :"Don’t see it in your inbox? Try your spam or junk mail folder.",        
        "homeText":"Home",
        "successIcon":"https://sit-www.sunlife.ca/content/dam/sunlife/legacy/assets/ExportSite/CS/InterstitialZone/Static_files/Hobby_origami_illustration.png",
        "errorIcon":"https://sit-www.sunnet.sunlife.com/content/dam/sunlife/regional/canada/images/cxo/KH081%20SL_illustrative%20icon_RGB_Stop_Sign.png"
        }'>
</div>