.custom-editor-fields .editor-pathfield{
            display: none !important;
        }
.slf-table.table-responsive {
  display: block;
  position: relative; }

.cmp-table-data-content {
  border: 1px solid #ffffff; }
  .cmp-table-data-content table {
    margin-bottom: 0; }
    .cmp-table-data-content table caption {
      font-size: 30px;
      font-family: inherit;
      color: inherit;
      margin: 20px 0 10px 0;
      font-weight: 500;
      line-height: 1.1;
      padding: 8px 0;
      text-align: left;
      box-sizing: border-box;
      display: table-caption; }
    .cmp-table-data-content table tbody tr th {
      background: #FFCB05;
      color: #424242;
      text-transform: none;
      text-align: center;
      border-bottom: 0;
      width: 15%;
      vertical-align: middle;
      height: 64px;
      border-top: 1px solid #D7D7D7 !important; }
    .cmp-table-data-content table tbody tr th:first-child {
      width: 25%; }
    .cmp-table-data-content table tbody tr td {
      padding: 32px 8px;
      text-align: center; }
      .cmp-table-data-content table tbody tr td:nth-of-type(odd) {
        background-color: #feedd2; }
  .cmp-table-data-content table tbody tr:not(:first-of-type) {
    border-top: 2px solid #ffffff; }

.mar-bottom-15 {
  margin-bottom: 15px !important; }

.mar-top-15 {
  margin-top: 15px !important; }

.cmp-table-comparision table tbody {
  cursor: pointer; }
  .cmp-table-comparision table tbody tr th {
    text-align: left;
    padding: 32px 8px; }
  .cmp-table-comparision table tbody tr td:last-of-type {
    border-right: 2px solid #ddd; }
  .cmp-table-comparision table tbody tr th:first-of-type {
    border-left: 1px solid #ddd; }
  .cmp-table-comparision table tbody tr td {
    border-left: 2px solid #ffffff;
    text-align: center;
    padding: 32px 0; }
  .cmp-table-comparision table tbody tr:first-child th {
    background-color: #FFCB05;
    height: 64px; }
  .cmp-table-comparision table tbody tr:nth-child(odd) {
    background-color: #feedd2; }
  .cmp-table-comparision table tbody tr:nth-child(even) {
    background-color: #ffffff; }
  .cmp-table-comparision table tbody .large-green {
    color: #0b713a;
    font-size: 1.8em; }
  .cmp-table-comparision table tbody .large-red {
    color: #B81F41;
    font-size: 1.8em; }
