.news-details {
    ul {
        padding: 0;
        list-style: none;
        vertical-align: middle;
        }
    ul > li {
        font-size: 16px;
        background-image: none;
        background-repeat: no-repeat;
    }
}
