<sly data-sly-use.search="ca.sunlife.web.cms.advisorhub.models.SearchModel"></sly>
<sly data-sly-test.empty="${!search.welcomeText}"/>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"/>
<sly data-sly-call="${templates.placeholder @ isEmpty = empty}"></sly>

<div class="adv-search-bar-wrapper collapse in" data-sly-test ="${search.welcomeText}"
       data-section="${search.analyticsId}" id="sun-search">
    <div class="global-search">
        <form name="searchform-bottom" class="slf-search" action="${search.searchUrl @ extension = 'html'}" method="get" data-value=""><label class="sr-only" for="q-top">Search</label>
            <h3 class="search-heading">${search.welcomeText}</h3>
            <div class="form-wrapper">
                    <div class="input-wrapper form-group-wrapper">
                        <input data-parsley-required="data-parsley-required" id="q-top" class="" label="" name="q" type="text" maxlength="" placeholder="${search.searchPlaceholder}" required="required" data-parsley-pattern-message="" data-parsley-pattern="/[a-z]/g" data-parsley-id="8" autocomplete="off">
                    </div>                    <div class="search-autocomplete">
                        <ul class="search-autocomplete-list" aria-hidden="true">
                            <li>&nbsp;</li>
                        </ul>
                        <ul class="search-sayt-list" data-section="type-ahead-html-listing">
                            <div class="seperate horizontal-middle-align">
                                <li>&nbsp;</li>
                            </div>
                        </ul>
                    </div>
                    <div class="button-wrapper primary-blue-button-form">
                        <button class="cmp-form-button" type="submit" value="">${search.searchButton}</button>
                    </div>            </div>
            <input name="action" type="hidden" value="input">
        </form>
    </div>
</div>

