@import '../../../base/core';

.form-yellow-wrapper {
    .icon-text  .icon-style {
        background: linear-gradient( $medium-blue-color , $blue-gradient-color);
    }
    .cmp-form-options--drop-down {
        width: 100%;
        margin: 6px 0 16px 0;
    }
     .button-wrapper .cmp-form-button {
        max-width: 100%;
        width: 100%;
        margin: 0 0 8px 0;
    }
}

.row.flex-height {
    .form-yellow-wrapper {
        height: 100%;
        
    }
    
}
//Cta form wrapper style

.cta-form-wrapper .dropdown  {
    padding-right: 10px;
    .cmp-form-options--drop-down {
        width: 100%;
    }
}

//Home page Cta style fix for exp frag

.home-cta-form-wrapper {
    .experiencefragment {
        height: auto !important;
    }
}

@media(min-width:$tab-screen-min) and (max-width:$tab-screen-max) {

    //yellow form tablet view style
    
    .form-yellow-wrapper {
        text-align: center;
        .options, .experiencefragment {
            float: none !important;
            display: inline-block !important;
            width: auto !important;
            vertical-align: top;
            .cmp-form-options--drop-down {
                margin: 0 !important;
            }
        
        }
        .button-wrapper  {
            float: none !important;
            display: inline-block;
            width: auto !important;
            max-width: 275px;
            vertical-align: top;
            
        }
    }

}


@media(min-width : $mobile-screen-min) and (max-width : $mobile-screen-max) {

    //home cta mobile-view fix

    .home-cta-form-wrapper {
        .experiencefragment {
            width: 75% !important;
            margin-right: 10px;
            .dropdown {
                width: 100% !important;
                margin-right: 0;
            }
        }
    }
    .no-padding .yellow-icon-white-background .home-cta-form-wrapper form .experiencefragment .dropdown {
        width: 100% !important;
        margin-right: 0;
    }
    
}
