@import '../../../base/core';

.form-yellow-wrapper {
    .icon-text  .icon-style {
        background: linear-gradient( $medium-blue-color , $blue-gradient-color);
    }
    .cmp-form-options--drop-down {
        width: 100%;
        margin: 6px 0 16px 0;
    }
     .button-wrapper .cmp-form-button {
        max-width: 100%;
        width: 100%;
        margin: 0 0 8px 0;
    }
}

.row.flex-height {
    .form-yellow-wrapper {
        height: 100%;
        
    }
    
}

//yellow form tablet view style

@media(min-width:$tab-screen-min) and (max-width:$tab-screen-max) {

    .form-yellow-wrapper {
        text-align: center;
        .options {
            float: none !important;
            display: inline-block;
            width: auto !important;
            vertical-align: top;
            .cmp-form-options--drop-down {
                margin: 0;
            }
        .button-wrapper  {
            float: none !important;
            display: inline-block;
            width: auto !important;
            max-width: 275px;
            vertical-align: top;
            
        }
        }
    }

}
