<header class="slf-desktop-header-wrapper">
    {{> core-components-content-region-language-menu}}
    {{> core-components-content-search-bar}}
    <div class="col-xs-12 bottom-bar">   
    </div>
    {{> core-components-content-utility-nav}}
    {{> core-components-content-sign-in-modal}}
    {{!-- <div>
        <a href="/ca?vgnLocale=en_CA">
            <svg width="127px" height="31px" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" aria-label="Sun Life">
                <image xlink:href="//cdn.sunlife.com/static/slfglobal/globalweb/responsive/images/sunlife-logo-web.svg"
                    x="0" y="0" height="31px" width="127px"></image>
            </svg>
        </a>
    </div> --}}
</header>