@import '../../../base/core';
.slf-desktop-header-wrapper{
    .bottom-bar{
        background-color: $medium-yellow-background;
        height: 8px;
        display: block;
    }
    .button-float-right{
        float: right;
        padding-right: 15px;
    }
    .region-lenguage-menu-wrapper, .search-bar-wrapper {
        -webkit-transition: 0.5s ease-out;
    }
}
@media (max-width: $tab-screen-max){
    .slf-desktop-header-wrapper{
        display: none;
    }
}