.right-navigation-wrapper > .cmp-container > div:not(.light-orange) {
  background-color: #F3EEEE; }

.right-navigation-wrapper > .cmp-container > .separator .horizontal-middle-align {
  border-bottom: 2px solid #4A443F; }

.right-navigation-wrapper > .cmp-container .icon-style {
  color: #d0651e; }

.right-navigation-wrapper > .cmp-container li a {
  color: #002D3D; }

.right-navigation-wrapper.light-orange-20 > .cmp-container > div {
  background-color: #FEEDD2; }
