@import '../../../base/core';
.image-text-wrapper {
    width: auto;
    height: 100px;
    float: left;
    .side-text {
        white-space: nowrap;
        margin: 0 10px;
        float: left;
    }
}
    .right-aligned {
        float: right;
    }
    .left-aligned {
        float: left;
    }
@media (max-width: $tab-screen-min) {
    .footer-image-text-wrapper {
        display: none;
    }
}