@import '../../../base/core';
.middle-aligned-text {
    .right-image-position, .left-image-position  {
        display: flex;
        align-items: center;
    }
}
.left-item {
    float: left;
    margin-right: 30px;
}
.mobile-image {
    display: none;
}
.circular-image {
    img {
        border-radius: 50%;
    }
}
.round-border {
    img {
        border: 4px solid $primary-yellow-background;
    }
}
@media (max-width: $mobile-screen-max) {
        .desktop-image {
            display: none;
        }
        .mobile-image {
            display: inherit;
        }
        .left-item {
            float: none;
            margin-right: 0;
        }
        .middle-aligned-text {
            .right-image-position, .left-image-position  {
                display: inherit;
                text-align: center;
                .text-section {
                    margin: 20px 0;
                }
            }
        }
}