@import '../../../base/core';
.lead-gen-wrapper {
    padding: 0;
    .button-wrapper {
        width: auto;
        float: left;
    }
    .options {
        margin-top: 0px;
        .cmp-form-options--drop-down {
            margin-bottom: 20px;
        }
        .cmp-form-options__field--drop-down {
            margin-bottom: 0;
        }
    }
}

.ui-widget-content.ui-autocomplete {
        margin: 12px 0 12px 12px;
        padding: 0;
        list-style: none;
        vertical-align: middle;
        .ui-menu-item {
            content: "\2022";
            padding: 0 0 4px 14px;
            background-image: url(/content/dam/sunlife/legacy/assets/slfglobal/globalweb/responsive/images/en/yellow-bullet.png);
            background-repeat: no-repeat;
            background-position: 0 .5em;
            line-height: 140%;
        }
}

.parsley-errors-list {
    margin-left: 0 !important; 
    li::before {
        content: none !important;
    }
}