@import '../../../base/core';
.lead-gen-wrapper {
    padding: 0;
    .button-wrapper {
        width: auto;
        float: left;
    }
    .options {
        margin-top: 0px;
    }
}

.ui-widget-content.ui-autocomplete {
        margin-left: 2em;
        li .ui-menu-item-wrapper::before {
            content: "\2022";
            color: $medium-yellow-background;
            font-weight: bold;
            font-family: "sunlife-sans";
            display: inline-block;
            width: 1rem;
            // padding-left: 16px;
            // margin-left: -1em;
        }
}

.parsley-errors-list {
    margin-left: 0; 
    li::before {
        content: none !important;
    }
}