@import '../../../prerequisite/base/styles/core.scss';

.slf-mobile-header-wrapper .hamburger-menu-wrapper .second-level-navigation .go-back {
    margin-bottom: 12px !important;
    border: none;
    text-align: left;
  }
  
	