@import '../../../../../prerequisite/core-utils/v1/styles/common/style.scss';
// Define the mixin
@mixin svg-margin {
    svg.svg-inline--fa {
        margin: 0 0 0 2px;
    }
}
.cmp-text {
    table {
        width: 100%;
        margin-bottom: 1rem;
        vertical-align: top;
        border-color: var(--bs-table-border-color);

        > tbody {
        vertical-align: inherit;
        }

        > thead {
        vertical-align: bottom;
        }

        tr {
        height: 3.3125rem;
        vertical-align: middle;
        background-color: #fff; // $table-bg
        border-bottom-width: 0.125rem; // $table-border-width
        border-color: var(--bs-border-color);

            td,th {
                font-weight: 400;
                line-height: 21px;
                font-size: 0.875rem;
                padding: 1rem; // $table-cell-padding-x $table-cell-padding-y
            }

            &:first-child td, th {
                color: var(--grey-900);
                font-size: 1rem;
                font-family: "Sun Life New Text Regular", "Helvetica Neue", "Calibri", sans-serif;
                font-weight: 400;
                line-height: 1.5rem;
                background-color: var(--brand-secondary-100);
                border-style: hidden;
                border-bottom: 2px solid var(--brand-secondary-100);
            }
        }
    }
}

.sl-link {
    &.sl-link-md {
        .fa-external-link-alt {
            margin: 0 0 0 8px;
            vertical-align: -2px;
        }
        .fa-chevron-circle-right {
            margin: 0 0 0 8px;
            vertical-align: -3px;
        }
        .fa-file-pdf  {
            margin: 0 8px 0 0;
        }
    }   

    .fa-file-pdf {
        margin-left: 0;
    }

    &.sl-link-sm {
        .fa-external-link-alt {
            height: 10px;
            width: 10px;
            margin: 0 0 0 7px;
            vertical-align: middle;
        }
        .fa-chevron-circle-right {
            height: 14px;
            width: 14px;
            margin: 0 0 0 7px;
        }
        .fa-file-pdf  {
            height: 12px;
            margin: 0 7px 0 0;
        }
    }
  
    &.sl-link-xs {
        font-size: 0.75rem;
        line-height: 16px;
    }
  
    &.sl-link-xs {
        .fa-external-link-alt{
            height: 10px;
            width: 10px;
            margin-left: 4px;
            vertical-align: -2px;
        }
        .fa-chevron-circle-right {
            height: 12px;
            width: 12px;
            margin-left: 4px;
            vertical-align: -2px;
        }
        .fa-file-pdf  {
            margin-right: 4px;
        }
    }

    @include hide-far-default-icon;
   
    @include show-fas-soild-icon-on-hover;

    &:focus-visible{
        border:none;
        outline-offset: 2.2px;
        outline: auto;
        padding: 0;
        margin: 0;
        outline: solid .125rem var(--brand-tertiary-500);
    }
}

p > a.sl-link {
    &:not([data-class-icon]) {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.popover-button {
    border: none;
    background: none;
    padding: 0.125rem;
    --bs-btn-active-bg: none;
    --bs-btn-focus-shadow-rgb: none;
    height: 1.5rem;
    width: 1.5rem;

    &:empty::before {
        content: 'i';
        border: 1px solid var(--bs-black);
        display: inline-block;
        border-radius: 50%;
        font-size: 11px;
        line-height: 16px;
        height: 16px;
        width: 16px;
        font-weight: 900;
    }
}


.sl-popover .popover-close-container .btn-close {
    background: none;
    border: none;
    color: var(--grey-900);
    font-size: 1.125rem;
    padding: 0rem;
    width: 1.5rem;
    height: 1.5rem;
}

.popover-header {
    margin-right: auto;
    margin-bottom: 1rem;
    color: var(--grey-900);
    font-size: 1.25rem;
    font-family: "Sun Life New Text Regular","Helvetica Neue","Calibri",sans-serif;
    font-weight: 400;
    line-height: 1.75rem;
    background:transparent;
    border-bottom-width:0;
    border-radius: 0;
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
}
.popover-body {
    padding: 0;
}
.sl-popover {
    max-width: 30rem;
}
.sl-popover {
    padding: 1.5rem;
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,.15);
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
    width: calc(100% - 20px);
    --bs-popover-border-color: transparent;
}
.popover-button .popover-icon {
    color: var(--brand-tertiary-800);
    }


.sl-popover-headless .popover-header{
    position: absolute;
    right: 24px;
    top: 24px;
    flex-direction: row-reverse;
}

.sl-popover-headless .popover-body{
    width: calc(100% - 24px);
    padding-right: 8px;
}
// Applies a left margin of 2px for all the hyperlinks in the paragraph

p {
    a.sl-link {
        // Use the mixin for general sl-link class
        @include svg-margin;

        // Use the mixin for size-specific classes
        &.sl-link-xs,
        &.sl-link-sm,
        &.sl-link-md {
            @include svg-margin;
        }
    }
}