<!-- <sly data-sly-use.navigation="ca.sunlife.web.cms.core.models.LeftNavigationModal" />
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-height left-nav-menu" data-analytics="leftnav" role="navigation"
    aria-label="left">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="menu-header"><strong>${item.title @context='html'}</strong></div>
            <sly data-sly-test.child="${item.getChildren}">
                        <a class="${item.active ? 'active' : ''}" href="${item.URL}">${item.title @context='html'}</a>
                    <li>
                        <a class="${item.active ? 'active' : ''}" href="${child[1].URL}">${child[1].title}</a>
                    </li>
                </ul>
            </sly>
        </div>
    </div>
</div> -->
<navigation class="cmp-navigation left-nav-wrapper"
     itemscope itemtype="http://schema.org/SiteNavigationElement"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-use.navigation="ca.sunlife.web.cms.core.models.LeftNavigationModal"
     data-sly-test.hasContent="${navigation.items.size > 0}"
     data-sly-use.groupTemplate="group.html"
     data-sly-call="${groupTemplate.advisorGroup @ items=navigation.items}"
     aria-label="left"
     data-section="nav-left"
     role="navigation"
     id="left-navigation">
</navigation>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent, classAppend='cmp-navigation'}"></sly>