@import '../../../base/core';
.desktop-region-language-menu-wrapper {
    width: 100%;
    padding: 0px 16px 16px;
    box-shadow: 0 4px 20px -10px $black-shade;
    .cross-btn {
        width: 100%;
        height: 40px;
        span {
            float: right;
            margin-top: 15px;
            font-size: 0.875rem;
        }
    }
    .slf-region,
    .slf-language {
        padding: 0px;
    }
    .title-region {
        h4 {
            font-weight: bold;
            font-size: 1.125rem;
            margin-top: 0px;
        }
    }
    .slf-region {
        border-right: 2px solid $light-grey-color;
        .content-region {
            padding: 14px 0px 0px;
            ul {
                margin-bottom: 0px;
                li {
                    margin-bottom: 8px;
                    cursor: pointer;
                    &:hover {
                        background-color: $light-orange-color;
                    }
                }
            }
            .list-unstyled,
            .accordion-heading {
                background-color: $white-shade;
            }
            .region-link .list-unstyled li {
                padding-left: 14px;
                margin-bottom: 8px;
                //waiting for style guide update
                //height: 32px;
                &:hover {
                    background-color: $light-orange-color;
                }
            }
            > :first-child {
                padding-left: 0px;
                .nav-select {
                    background-color: $light-orange-color;
                    a {
                        font-weight: bold;
                        color: $dark-grey-color;
                    }
                }
                .accordion-heading {
                    font-size: 1rem;
                    font-weight: bold;
                    cursor: pointer;
                    margin-top: 8px;
                    margin-bottom: 0px;
                    padding-bottom: 5px;
                }
            }
            > :not(:first-child) {
                .accordion-heading {
                    font-size: 1rem;
                    cursor: pointer;
                    margin-top: 8px;
                    margin-bottom: 0px;
                    padding-bottom: 5px;
                    color: $medium-blue-color;
                    // &:hover{
                    //     background-color: $light-orange-color;
                    // }
                }
            }
            .slf-region-column {
                .region-link .accordion-heading[aria-expanded="false"]:before {
                    content: "\f0da";
                    font-family: FontAwesome;
                    padding-right: 10px;
                }
                .region-link .accordion-heading[aria-expanded="true"]:before {
                    content: "\f0d7";
                    font-family: FontAwesome;
                    padding-right: 10px;
                }
                a {
                    font-weight: 400;
                }
            }
        }
    }
    .title-language {
        h4 {
            font-weight: 700;
            font-size: 1.125rem;
            margin-top: 0px;
            padding-left: 32px;
        }
    }
    .content-language {
        padding-left: 32px;
        ul {
            margin-bottom: 0px;
            li {
                padding-left: 14px;
                margin-bottom: 8px;
                cursor: pointer;
                &:hover {
                    background-color: $light-orange-color;
                }
            }
        }
        .nav-select {
            background-color: $light-orange-color;
        }
        .not-bold {
            a {
                font-weight: 400;
            }
        }
        .region-separator {
            .horizontal-middle-align {
                float: left;
                margin-left: -72px;
                width: 37px;
            }
        }
        .chinese {
            margin-top: 90px;
            a {
                font-weight: 400;
            }
        }
    }
    .no-region-present {
        height: 261px;
        .select-preference {
            padding-left: 146px;
            margin-top: 125px;
            color: $medium-blue-color;
            font-size: 1rem;
        }
    }
}
.mobile-region-language-menu-wrapper{
    width:270px;
    font-size: 1rem;
    .go-back{
        background-color:$medium-blue-color;
        color: $white-shade;
        width:100%;
        line-height:23px;
        padding:16px;
        &:before {
            font-family: FontAwesome;
            content: "\f104\00a0";
        }
        a{
            color: $white-shade;
        }
    }
    .slf-tab-region{
        padding: 0px;
        height: 48px;
        background-color: $medium-blue-color;
        color: $white-shade;
        font-size: 1rem;
        font-weight: 400;
        border-top: 0.5px solid $white-shade;
        .slf-tab{
            padding: 10px 0px 0px 0px;
            text-align: center;
            height: 100%;
        }
        .active{
            background-color: $white-shade;
            color: $black-shade;
            font-weight: 700;
        }
        .region-present, .language-present{
            width:100%;
            text-align: left;
            padding-left: 16px;
        }
    }
    .tab-content{
        padding: 0px;
        .region-tab{
            .list-unstyled{
                li{
                    margin-top: 32px;
                    a{
                        color: $medium-blue-color;
                        font-weight: 400;
                        padding-left: 16px;
                    }
                }
                .nav-select {
                    background-color: $light-orange-color;
                    a{
                        font-weight: 700;
                    }
                }
                .accordion-heading{
                    font-size: 1rem;
                    color: $medium-blue-color;
                    margin: 0px;
                    padding-left: 16px;
                }
                .accordion-heading[aria-expanded="false"]:after {
                    content: "\f105";
                    font-family: FontAwesome;
                    padding-left: 10px;
                }
                .accordion-heading[aria-expanded="true"]:before {
                    content: "\f0d7";
                    font-family: FontAwesome;
                    padding-right: 10px;
                }
                .accordion-list{
                    a{
                        padding-left: 30px;
                    }
                }
            }
        } 
        .language-tab{
            .list-unstyled{
                li{
                    margin-top: 32px;
                    a{
                        color: $medium-blue-color;
                        font-weight: 400;
                        padding-left: 16px;
                    }
                }
                .nav-select {
                    background-color: $light-orange-color;
                    a{
                        font-weight: 700;
                    }
                }
                .region-separator {
                    .horizontal-middle-align {
                        float: left;
                        width: 59px;
                        margin: 40px 0px 40px -74px;
                    }
                }
                .chinese {
                    margin-top: 90px;
                    a {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .desktop-region-language-menu-wrapper {
        display: none;
    }
}

@media (min-width: 1024px) {
    .mobile-region-language-menu-wrapper {
        display: none;
    }
}