@import '../../../base/core';
.desktop-region-language-menu-wrapper {
    width: 100%;
    padding: 0 16px 16px;
    box-shadow: 0 4px 20px -10px $black-shade;
    .cross-btn {
        width: 100%;
        height: 32px;
        span {
            float: right;
            font-size: 1rem;
            padding: 8px 0 8px 0;
        }
    }
    .slf-region,
    .slf-language {
        padding: 0;
    }
    .title-region {
        h4 {
            font-weight: 700;
            font-size: 1.125rem;
            margin: 0 0 8px 0;
        }
    }
    .slf-region {
        border-right: 2px solid $light-grey-color;
        .content-region {
            padding:0 32px 0 0;
            ul {
                margin-bottom: 0;
                li {
                    margin-bottom: 8px;
                    cursor: pointer;
                    a:hover{                        
                        background-color: $light-orange-color;
                    }
                }
            }
            .first_level_list-unstyled{
                a{
                    padding: 4px 0 4px 5px;
                }
                .accordion-list li {
                    margin-bottom: 8px;
                    a{
                        padding: 4px 0 4px 20px;
                    }
                }
            }
            
            > :first-child {
                padding: 0;
                .nav-select {
                    background-color: $light-orange-color;
                    a {
                        font-weight: 700;
                        color: $dark-grey-color;
                    }
                }
                .accordion-heading {
                    font-size: 1rem;
                    font-weight: 700;
                    cursor: pointer;
                    margin: 0;
                    text-decoration: none;
                    color: $dark-grey-color;
                    padding-left: 0;
                    &:hover{                        
                        background-color: $white-shade;
                    }
                }
            }
            > :not(:first-child) {
                padding: 0 0 0 10px;
                .nav-select {
                    background-color: $light-orange-color;
                    a {
                        font-weight: 700;
                        color: $dark-grey-color;
                    }
                }
                .accordion-heading {
                    font-size: 1rem;
                    cursor: pointer;
                    margin: 0;
                    text-decoration: none;
                    color: $medium-blue-color;
                    &:hover{                        
                        background-color: $white-shade;
                    }
                }
            }
            .slf-region-column {
                width: 240px;
                .accordion-heading[aria-expanded="false"]:before {
                    content: "\f0da";
                    font-family: FontAwesome;
                    padding-right: 10px;
                }
                .accordion-heading[aria-expanded="true"]:before {
                    content: "\f0d7";
                    font-family: FontAwesome;
                    padding-right: 10px;
                }
                a {
                    font-weight: 400;
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    .title-language {
        h4 {
            font-weight: 700;
            font-size: 1.125rem;
            margin-top: 0;
            padding: 0 0 0 16px;
        }
    }
    .content-language {
        padding-left: 16px;
        ul {
            margin-bottom: 0;
            li {
                padding: 4px 0 4px 14px;
                margin-bottom: 8px;
                cursor: pointer;
                &:hover {
                    background-color: $light-orange-color;
                }
                a{
                    font-weight: 400;
                }
            }
            .nav-select {
                background-color: $light-orange-color;
                a{
                    font-weight: 700;
                } 
            }
        }
        .grey-horizontal-separator {
            margin-bottom: 70px;
            .horizontal-middle-align {
                float: left;
                width: 37px;
                margin: 32px 0 32px -72px;
            }
        }
    }
    .no-region-present {
        height: 261px;
        .select-preference {
            padding-left: 146px;
            margin-top: 125px;
            color: $medium-blue-color;
            font-size: 1rem;
        }
    }
}
.mobile-region-language-menu-wrapper{
    width:270px;
    font-size: 1rem;
    padding:0;
    .go-back{
        background-color:$medium-blue-color;
        color: $white-shade;
        width:100%;
        font-size: 1rem;
        line-height:26px;
        padding: 8px 16px;
        &:before {
            font-family: FontAwesome;
            content: "\f104\00a0";
        }
        a{
            color: $white-shade;
        }
    }
    .slf-tab-region{
        padding: 0;
        height: 42px;
        background-color: $medium-blue-color;
        color: $white-shade;
        font-size: 1rem;
        line-height: 26px;
        font-weight: 400;
        border-top: 0.5px solid $white-shade;
        .slf-tab{
            padding: 8px 0 8px 0;
            text-align: center;
            height: 100%;
        }
        .active{
            background-color: $white-shade;
            color: $dark-grey-color;
            font-weight: 700;
        }
        .region-present, .language-present{
            width:100%;
            text-align: left;
            padding-left: 16px;
        }
    }
    .tab-content{
        padding: 0;
        .region-tab{
            padding-top: 32px;
            .list-unstyled{
                li{
                    margin-bottom: 8px;
                    padding: 4px 0 4px 0;
                    a{
                        color: $medium-blue-color;
                        font-weight: 400;
                        padding-left: 16px;
                    }
                }
                .nav-select {
                    background-color: $light-orange-color;
                    a{
                        font-weight: 700;
                    }
                }
                .accordion-heading{
                    font-size: 1rem;
                    color: $medium-blue-color;
                    margin: 0 0 8px 0;
                    padding-left: 16px;
                }
                .accordion-heading[aria-expanded="false"]:after {
                    content: "\f105";
                    font-family: FontAwesome;
                    padding-left: 10px;
                }
                .accordion-heading[aria-expanded="true"]:before {
                    content: "\f0d7";
                    font-family: FontAwesome;
                    padding-right: 10px;
                }
                .accordion-list{
                    a{
                        padding-left: 35px;
                    }
                }
            }
        } 
        .language-tab{
            padding-top: 32px;
            .list-unstyled{
                li{
                    padding: 4px 0 4px 0;
                    margin-bottom: 8px;
                    a{
                        color: $medium-blue-color;
                        font-weight: 400;
                        padding-left: 16px;
                    }
                }
                .nav-select {
                    background-color: $light-orange-color;
                    a{
                        font-weight: 700;
                    }
                }
                .grey-horizontal-separator {
                    margin-bottom: 70px;
                    .horizontal-middle-align {
                        float: left;
                        width: 59px;
                        margin: 32px 0 32px -72px;
                    }
                }
            }
        }
    }
}
@media (max-width: $tab-screen-max) {
    .desktop-region-language-menu-wrapper {
        display: none;
    }
}
@media (min-width: $desktop-screen-min) {
    .mobile-region-language-menu-wrapper {
        display: none;
    }
}
@media(min-width: $desktop-screen-min) and (max-width: $desktop-screen-max){
    .desktop-region-language-menu-wrapper {
        .slf-region {
            border-right: 2px solid $light-grey-color;
            .content-region {
                padding:0 22px 0 0;
            }
        }
    }
}