<sly data-sly-use.list="ca.sunlife.web.cms.advisorhub.models.OutageModel"></sly>

<sly data-sly-test.notEmpty="${list.fragmentPath}">
    <sly data-sly-list = "${list.listItems}">

        <sly data-sly-list.element="${item.elements}">
             <sly data-sly-test="${element.name == 'outageDescription'}" data-sly-test.outageDescription="${element.value}"/>
             <sly data-sly-test="${element.name == 'outageIcon'}" data-sly-test.outageIcon="${element.value}"/>
             <sly data-sly-test="${element.name == 'outagePageLink'}" data-sly-test.outagePageLink="${element.value}" />
             <sly data-sly-test="${element.name == 'outageTeaser'}" data-sly-test.outageTeaser="${element.value}" />
             <sly data-sly-test="${element.name == 'outageIconColor'}" data-sly-test.outageIconColor="${element.value}"/>
             <sly data-sly-test="${element.name == 'outageStatus'}" data-sly-test.outageStatus="${element.value}"/>
             <sly data-sly-test="${element.name == 'outageTitle'}" data-sly-test.outageTitle="${element.value}"/>
             <sly data-sly-test="${element.dataType == 'calendar'}" data-sly-use.tpl="sunlife/core/components/templates/calendar.html"
                                    data-sly-test.date="${element.value}" />
          </sly>

      <div class="outage">
    <div class="outage-date">
        <sly data-sly-call="${tpl.element @ date = date, format = list.dateFormat , pageLocale = list.pageLocale}"></sly>
    </div>
    <div class="outage-title">
        <h1>${outageTitle}</h1>
    </div>
    <div class="outage-status">
        Status: ${outageStatus}
    </div>
    <div class="outage-description">
         ${outageDescription @ context = 'html'}
    </div>
   </div>
    </sly>
 </sly>
<div data-sly-test="${!notEmpty}" class="cq-placeholder" data-emptytext="${component.title}"></div>


