@import '../../../base/core';
.banner-wrapper {
    .banner-img {
        width: 100%;
        height: 100%;
    }
    .banner-box-wrapper {
        position: absolute;
        margin-right: 30px;
        width: 47.2%;
        .banner-box {
            padding: 20px 27px;
        }
    }
    .hero-banner {
        position: relative;
    }
    .right-align {
        right: 0;
    }
    .left-align {
        left: 0;
    }
}

@media (min-width: $mobile-screen-min) and (max-width:$mobile-screen-max) {
    .banner-wrapper {
        .hero-banner {
            .not-mobile-image {
                height: 345px;
            }
            .white-box-parent {
                position: relative;
                margin-right: 0;
                width: 100%;
                transform: inherit;
                .banner-box {
                    box-shadow: none;
                }
            }
            .transparent-box-parent {
                background-color: rgba(255, 255, 255, 0.7);
                left: 0;
                text-align: center;
                position: absolute;
                margin: 0;
                width: 100%;
                transform: inherit;
                bottom: 0;
                top: inherit;
                .banner-box {
                    box-shadow: none;
                    text-align: center;
                }
            }
            button {
                width: 100%;
                max-width: 100%;
                min-width: 100%;
            }
        }
    }
}