.aem-AuthorLayer-Edit {
    .accordion-collapse {
        display: block !important;
    }
}
.sl-accordion{
    .sl-icon {  
        &.hide {
            display: none;
        }
        &.show {
            display: block;
        }
    }

    .collapse:not(.show) {
        display: none
    }
    .accordion-collapse {
        overflow: hidden;
        transition: height 0.35s ease;
        height: 0;
    }
    .accordion-item {
        .accordion-button {
            background: transparent;
        }
    }
    .accordion-item-heading {
        margin-left: 1rem;
    }
    .accordion-header {
        margin-bottom: 0;
    }
}