.slf-mobile-header-wrapper {
  /* Hamburger Menu Start */
  /* Hamburger Menu End */ }
  .slf-mobile-header-wrapper .hamburger-menu-wrapper .language-region .mobile-language-region .go-back {
    background-color: #002D3D; }
  .slf-mobile-header-wrapper .hamburger-menu-wrapper .language-region .mobile-language-region .tab-content {
    background-color: #F3EEEE; }
  .slf-mobile-header-wrapper .hamburger-menu-wrapper .language-region .second-level-navigation {
    background-color: #F3EEEE; }
