.landing-page-hero-banner .text-section {
  color: #ffffff; }

@media (max-width: 767px) {
  .landing-page-hero-banner .right-item, .landing-page-hero-banner .left-item {
    background-color: #004C6C; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .layout-container.light-grey-20 .teaser.circular-image.circle-220-desktop.circle-150-mobile.round-border.content-block-image .right-image-position .left-item.text-section {
    float: none;
    margin-right: 0;
    display: inline; }
  .layout-container.light-grey-20 .teaser.circular-image.circle-220-desktop.circle-150-mobile.round-border.content-block-image .right-image-position .right-item {
    float: right;
    margin-left: 32px;
    display: table; } }
