<header>
  <div class="slf-header-wrapper">
    <div data-sly-test = "${properties.listFromSignin == 'signintrue'}" class="desktop-sign-in">
         <div class="modal fade sign-in-modal-wrapper" data-section="${properties.signinAnalyticsId ? properties.signinAnalyticsId  : 'header-sign-in'}" id="mySignInModal" role="dialog">
              <div class="modal-dialog sign-in-modaldialog">
        			${properties.text  @context ='html'}     
              </div>
      </div>    </div>
    <div class="desktop-header-wrapper">
           <div data-sly-test = "${properties.listFromSearch == 'searchtrue'}" class="desktop-search-bar">
        <div class="search-bar-wrapper collapse" data-section="${properties.searchAnalyticsId ? properties.searchAnalyticsId : 'header-search'}" id="sun-search">
            <div class="search-box">
                <div class="close-div"><a data-toggle="collapse" aria-expanded="true" href="#sun-search"> <span
                            class="sr-only">Close search</span> <span class="fa fa-remove collapse-x">&nbsp;</span>
                    </a></div>
                <div class="global-search">
                    <form name="searchform-bottom" class="slf-search" action="https://www.sunlife.ca/ca/Search+results"
                        method="get"><label class="sr-only" for="q-top">Search</label>
                        <div class="form-wrapper">
                            <div class="input-wrapper">
                                <div class="input-wrapper form-group-wrapper">
                                    <input data-parsley-required="data-parsley-required" id=q-top class="" label="" name="q" type="text" maxlength="" placeholder="${properties.searchPlaceholder}" required="required"  data-parsley-pattern-message="" data-parsley-pattern="/[a-z]/g"  data-parsley-id="8">
                                </div>                        <div class="search-autocomplete">
                                    <ul class="search-autocomplete-list">
                                        <li>&nbsp;</li>
                                    </ul>
                                    <ul class="search-sayt-list" data-section="type-ahead-html-listing">
                                        <div class="seperate horizontal-middle-align">
                                            <li>&nbsp;</li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div class="button-wrapper primary-blue-button-form">
                                <button class="cmp-form-button" type="button" value="${properties.searchButton}">${properties.searchButton}</button>
                            </div>                </div>
                        <input name="action" type="hidden" value="input" />
                    </form>
                </div>
            </div>
        </div>      
       </div>
    
    <div class="desktop-region-bar collapse" id="sun-language">
    <sly data-sly-test = "${properties.listFromRegion == 'regiontrue'}" data-sly-resource = "${ @resourceType='sunlife/core/components/content/experiencefragment'}"/>
    </div>
    
      <div class="col-xs-12 yellow-stripe">
      </div>
      <div class="col-xs-12 desktop-header-content">
        <div class="col-xs-12 desktop-utility-nav">
              <div class="utility-nav-wrapper">
                  <div data-sly-test = "${properties.listFromNav == 'true'}" class="utility-nav-links">
                      <ul data-sly-use.listModel="ca.sunlife.web.cms.core.models.UtilityNav" role="navigation" aria-label="Helpful links">
                               <sly data-sly-list.links="${listModel.navlinks}">
                              <li>
                               <a href="${links.linkUrl @ extension = 'html'}" tabindex="2">${links.linkName}</a>
                              </li>
                              </sly>
                      </ul>
                  </div>
                      <div class="utility-nav-links">
                          <ul>
                              <li data-sly-test = "${properties.listFromRegion == 'regiontrue'}" id="language-btn-container" role="navigation" aria-label="Region & Language Selection">
                                 <div class="lang-btn" id="language-btn" role="button"  
                                      data-toggle="collapse" data-target="#sun-language" aria-controls="sun-language" tabindex="2" aria-expanded="false">
                                      <label class="sr-only">
                                          Expand or collapse region and language section
                                          Développer ou réduire le volet Régions et langue
                                      </label>
                                          ${properties.regionTitle}
                                  </div>
                              </li>
                                  <li data-sly-test = "${properties.listFromSearch == 'searchtrue'}" class="search-icon-container" role="search" aria-label="search-bar">
                                      <div class="srch-btn" id="search-btn" data-target="#sun-search"        
                                       data-toggle="collapse" role="button" tabindex="2" aria-expanded="false">
                                          <a>
                                           ${properties.searchTitle}
                                              <label class="sr-only">
                                                  Expand or collapse search
                                                  Développer ou réduire le volet recherche
                                              </label>
                                          </a>
                                      </div>
                                  </li>
                          </ul>
                      </div>
              </div>
        </div>
        <div class="col-xs-12 desktop-sunlife-navigation">
          <div data-sly-test = "${properties.listFrom == 'yes'}" data-sly-use.listModel="ca.sunlife.web.cms.core.models.HeaderModel" class="desktop-sunlife-logo" data-section="${properties.logoAnalyticsId ? properties.logoAnalyticsId : 'sunlife-logo'}" tabindex="1">
           <sly data-sly-list.links="${listModel.links}">
            <a href="${links.linkUrl @ extension = 'html' }">
              <img class="vertical-middle-align" alt="sunlife logo"
                src="${links.logoImage}">
              </img>
            </a>
            </sly>
          </div>
          <div data-sly-test = "${properties.listFromMeganav == 'meganavtrue'}" class="desktop-navigation no-gutter">
            <div class="desktop-mega-menu clearfix">
              <div class="desktop-primary-navigation" data-section="${properties.navigationAnalyticsId ? properties.navigationAnalyticsId : 'nav-main'}">
                <ul class="nav navbar-nav navbar-left navbar-new main-nav nav-auth" role="navigation"
                  aria-label="Main" data-sly-use.listModel="ca.sunlife.web.cms.core.models.MegaMenuModel">
                 <sly data-sly-list.head = "${listModel.meganavlinks.listChildren}">
                  <li class="dropdown nav-item navigation">
                    <a data-toggle="dropdown" class="dropdown-toggle subnav-trigger" href="${head.linkUrl @ extension='html'}">
                      <i class="fa fa-facebook icon-display-none"></i><span class="nav-item-heading ">${head.linkName}</span></a>
                    <div role="menu" class="dropdown-menu menu-content">
                      <div class="mega-menu-wrapper-desk">
                   
                   <sly data-sly-resource = "${head.path @resourceType='sunlife/core/components/content/experiencefragment'}"/>
                      
                      </div> 
                  </div>
                </li>
              </sly>
            </ul>
           </div>            </div>
          </div>
          <div data-sly-test = "${properties.listFromSignin == 'signintrue'}" class="desktop-sign-button" id="signinbutton">
            <div class="signIn-button">
                <a href="javascript:void(0)" id="signinbutton" role="button" data-target="#mySignInModal" data-toggle="modal"
                    class="CTA-wrapper">
                    <span class="button-class"><span class="icon-class fa fa-user"></span>${properties.signinTitle}</span>
                </a>
            </div>          </div>
        </div>
      </div>
    </div>
    <div class="mobile-header">
      <div class="slf-mobile-header-wrapper">
              <!-- sign-in modal start -->
              <!-- sign-in modal end-->
              <div class="col-xs-12 mobile-header-navbar  white-shade">
                      <div class="hamburger-menu" id="hamburgerMenu">
                              <div class="navbar-toggle pull-left" type="button">
                                      <span class="sr-only">Navigation Menu</span>
                                      <span class="icon-bar" id="a1">&nbsp;</span>
                                      <span class="icon-bar" id="a2">&nbsp;</span>
                                      <span class="icon-bar" id="a3">&nbsp;</span>
                              </div>
                      </div>
                      <div data-sly-test = "${properties.listFrom == 'yes'}" data-sly-use.listModel="ca.sunlife.web.cms.core.models.HeaderModel" class="slf-header-mobile-logo"  data-section="${properties.logoAnalyticsId ? properties.logoAnalyticsId : 'sunlife-logo'}">
                            <sly data-sly-list.links="${listModel.links}">
                              <a class="mobile-sun-pic" href="${links.linkUrl @ extension = 'html' }">
                                      <picture>
                                              <img alt="Sun Life" src="${links.logoImage}" />
                                      </picture>
                              </a>
                            </sly>  
                      </div>
                     <div data-sly-test = "${properties.listFromSignin == 'signintrue'}" class="mobile-sign-in-box" id="SignIn" data-toggle="modal" data-target="#mySignInModal"><a
                                      data-toggle="modal" role="button"
                                      href="javascript:void(0)"> <span class="fa fa-user mobile-signin-icon">
                                              <div class="mobile-signin-text">${properties.signinTitle}</div>
                                      </span></a>
                      </div>
              </div>
              <!-- Mobile Header End-->
              <!-- Hamburger Menu start -->
              <div class="hamburger-menu-wrapper inactive">
                      <div class="close-hamburger-menu">
                              <span class="fa fa-remove close-hamburger" id="close-hamburger"></span>
                      </div>
                      <div data-sly-test = "${properties.listFromSearch == 'searchtrue'}" class="hamburger-search">
                              <form name="searchform-bottom" class="slf-search-mobile"
                                      action="https://www.sunlife.ca/ca/Search+results" method="get">
                                      <div class="form-wrapper">
                                              <div class="input-wrapper">
                                                      <span class="fa fa-search search-icon-mobile" type="submit"></span>
                                                      <input name="q" id="q-top-mobile" type="text" class="search-field"
                                                              placeholder="${properties.searchPlaceholder}" autocomplete="off"
                                                              aria-label="mobile search bar" />
                                                      <div class="search-autocomplete-mobile">
                                                              <ul class="search-autocomplete-list-mobile"
                                                                      style="display: none;" aria-hidden="true">
                                                              </ul>
                                                              <ul class="search-sayt-list-mobile" style="display: none;"
                                                                      data-section="type-ahead-html-listing">
                                                              </ul>
                                                      </div>
                                              </div>
                                      </div>
                                      <input name="action" type="hidden" value="input">
                              </form>
                      </div>
                      <ul class="first-level-navigation">
                         
                         <sly data-sly-resource = "${ @resourceType='sunlife/core/components/content/navigation'}"/>   
                              
                              <li data-sly-test = "${properties.listFromRegion == 'regiontrue'}" class="navigation-menu language-region">
                                      <a>${properties.regionTitle}</a>
                                      <div class="second-level-navigation" role="menu">
                       
                                  <sly  data-sly-resource = "${ @resourceType='sunlife/core/components/content/experiencefragment'}"/>                        
                                               
                                    </div>
                              </li>
                      </ul>
              </div>
              <div class="offcanvas-overlay">
              </div>
              <!-- Hamburger Menu End -->
      
      </div>    </div>
  </div>
</header>