@import '../../../base/core';

.site-level-notification {
    background-color: $light-orange-color;
    padding: 24px 16px;
    display: none;
    width: 100%;
    p {
        margin: 0;
    }
    .fa-remove {
        float: right;
        cursor: pointer;
    }
    .cross-cta-wrapper {
        padding: 0;
        border: none;
    }
}
.cmp-container {
	.layout-container {
		&:not(:nth-last-of-type(1)) {
			div.site-level-notification {
				margin-bottom: 4px;
			}
        }
        &:last-child {
			div.site-level-notification {
				margin-bottom: 0;
			}
		}
	}
}

.aem-AuthorLayer-Edit {
    .site-level-notification {
        display:block !important;
    }
}

@media (max-width: $mobile-screen-max) {
    .site-level-notification .cross-cta-wrapper .mega-menu-icon-wrapper .icon-parent {
       display: none; 
      }
      .cross-cta-wrapper .mega-menu-icon-wrapper .icon-texts {
          width: 100%;
      }
}