@import '../../../base/core';

.site-level-notification {
    background-color: $light-orange-color;
    padding: 24px 16px;
    margin-bottom: 4px;
    p {
        margin: 0;
    }
    .fa-remove {
        float: right;
        cursor: pointer;
    }
    .cross-cta-wrapper {
        padding: 0;
        border: none;
    }
}