@import '../../../base/core';
@import '../../../../core/base/core.scss';

.nav{
    .arrow {
        .dropdown-toggle{
            padding-left:8px;
            padding-right:8px;
        }
    }
} 
.desktop-header-content{
    .desktop-mega-menu{
        .mega-menu-wrapper-desk{
            .text{
                ul{
                    margin-left:20px;
                }
            }
            li::before{
                    content: none;
            }
        }
    }
}
