@import '../../../prerequisite/base/styles/core.scss';
.accordion-container{
    .cmp-accordion__item{
        margin-bottom:5px;
        background-color:$light-cool-blue-color;
        padding:10px 16px 10px 16px;
        min-height:56px;
        cursor:default;
        .cmp-accordion__header{
            font-size:1rem;
            // height:56px;
            padding-right:32px;
            margin-top:10px;
            font-weight:700;
            color:$dark-grey-color;
            .accordion-arrow{
                font-family: FontAwesome;
                content: "\f0da";
                font-size:1rem;
            }
            .cmp-accordion__button{
                display:flex;
                padding:0;
                border:none;
                background:none;
                border-width:0;
                text-align:left;
                line-height:18px;
                transform:translateY(0);
                
                &[aria-expanded="false"] {
                    &::before {
                    @extend  .accordion-arrow;
                    }
                }
                &[aria-expanded="true"] {
                    &::before {
                        @extend  .accordion-arrow;
                        content: "\f0d7";
                    }
                }
                
                .cmp-accordion__title{
                    padding-left:7px;
                }
            }
        }
        .cmp-accordion__panel{
            .text{
                .cmp-text p:last-child{
                    margin-bottom: 0;
                }
            }
            a{
                font-size:0.875rem;
            }
            padding:0 32px 14px 16px;
            font-size:0.875rem;
            line-height: 18px;
            .grey-horizontal-separator div {
                float:none;
                display: inline-block;
            }
            .link-list{
                .lists-wrapper .links {
                    float:none;
                    border-top:none;
                    padding:0;
                }
            }
        }
   } 
}
.expand-collapse{
    @extend .accordion-container;
    .cmp-accordion__item{
        margin-bottom:10px;
        padding: 10px 16px 10px 16px;
        min-height:56px;
        .cmp-accordion__header{
            color:$medium-blue-color;
            margin-top:10px;
            .cmp-accordion__button{
                &[aria-expanded="false"] {
                    &::before {
                        content: "\f055";
                        color:$medium-yellow-background;
                        padding-right:3px;
                        //margin-left: 16px;
                    }
                }
                &[aria-expanded="true"] {
                    &::before {
                        content: "\f056";
                        color:$medium-yellow-background;
                        padding-right:3px;
                        //margin-left: 16px;
                    }
                }
    
                .cmp-accordion__title{
                    padding-left:2px;
                }
            }
        }
    }
}


@media (max-width:$mobile-screen-max){
    .accordion-container {
        .cmp-accordion__item {
            .cmp-accordion__header{
                 height:auto;
                //  min-height: 56px;
                 display: inline-flex;
            }
            /*.cmp-accordion__panel{
                padding-top:5px;
            }*/
        }
        .cmp-accordion__header{
            .cmp-accordion__button{
                transform: translateY(0%);
            }
        }
    }
    .expand-collapse{
        .cmp-accordion__item {
            .cmp-accordion__header{
                 height:auto;
            }
            /*.cmp-accordion__panel{
                padding-top:5px;
            }*/
        }
        .cmp-accordion__header{
            .cmp-accordion__button{
                transform: translateY(0%);
            }
        }
    }
}

@media(min-width:$tab-screen-min){
    .expand-collapse{
        .cmp-accordion__item {
            .cmp-accordion__header{
                display:flex;
            }
            .cmp-accordion__button.vertical-middle-align{
                position:static;
                top:0;
                transform:translateY(0);
            }
        }
    }
}