{{#each modal-list}}
	{{>core-components-content-button}}
	<div class="modal fade popup-modal-wrapper horizontal-middle-align" role="dialog" id="{{popup-modal-id}}" data-section="{{popup-data-section}}"> 
		<!-- Modal content-->
		<div class="modal-content horizontal-middle-align">
			<div class="modal-header">
				<div class="modal-title">
					<h3 class="modal-heading" tabindex="0">{{popup-header-text}}</h3>
					<button type="button" class="close close-popup fa fa-remove collapse-x" data-dismiss="modal"><label class="sr-only">Close</label></button>
				</div>
			</div>
			<div class="modal-body" tabindex="0">
				{{>core-components-content-table}}
			</div>
		</div>
	</div>
{{/each}}