.form-floating {
    margin: 15px 0;
}
.text{
    .error-text {
        display: none;
    }
    .sl-input-error {
        .hint-text {
            display: none;
        }
        .error-text {
            display: inline-flex;
            align-items: center;
            width: 100%;
            .svg-inline--fa {
                margin: 0;
                margin-right: 8px;
                height: 0.75rem;
                width: 0.75rem !important;
            }
        }
    }
}
.sl-text-area.form-floating.form-field-container {
    &.sl-input-error {
        background: var(--red-50);
        margin-bottom: 50px;
        .form-control {
            border-color: var(--red-50);
        }
        .error-text {
            position: relative;
            top: 40px;
        }
    }
    .form-control {
        height: 12.375rem;
        border: 0;
        line-height: 1.5;
        padding: 0.375rem 0.75rem;
        border-top: 1.8rem solid var(--white);
        &:focus~label {
            transform: scale(1) translateY(0);
            color: var(--brand-tertiary-800);
        }
        &:not(:placeholder-shown)~label {
            transform: scale(1) translateY(0);
        }
        &:disabled {
            border-color: var(--bs-secondary-bg);
            &~label {
                transform: scale(1) translateY(0);
                background-color: var(--bs-secondary-bg);
                &:after {
                    background-color: var(--bs-secondary-bg);
                }
            }
        }
        &~label {
            background: none;
            color: var(--grey-700);
        }
    }
    &.disabled {
        background-color: var(--bs-secondary-bg);
    }
}
.sl-text-field.form-field-container {
    .form-control{
        &:focus, &:disabled {
            &~label {
                transform: scale(1) translateY(0);
            }
        }
    }
}