@import "../../../base/core";

.search-container {
  .search-results {
    .relative {
      .search-result-filter-list {
        .check-container > a {
          color: $dark-blue;
          border: 1px solid $medium-grey-background;
          &.active {
            background: $medium-yellow-background;
          }
        }
      }
    }
    .pagination {
      li,.pagination-item {
        &.active{
          a{
            color: $medium-blue-color;
          }
        }
        .txt {
          color: $dark-blue;
        }
      }
    }
  }
  #search-result-items {
    .bottom-buffer {
      a {
        color: $dark-blue;
        &:hover {
          color: $medium-blue-color;
        }
      }
    }
  }
}
