@import '../../../base/core';
.slf-mobile-header-wrapper{
    .hamburger-menu-wrapper{
        .second-level-navigation, .third-level-navigation{
            background: $light-taupe-50;
        }
    }
}
.slf-mobile-header-wrapper {
    .mobile-header-navbar {
        .mobile-signin-text {
            font-size: 0.5rem;
        }
    }
}
.slf-mobile-header-wrapper .mobile-header-navbar .slf-header-mobile-logo a {
    right: 14px !important;
}