.primary-blue-button-form button {
  background-color: #002D3D; }

.primary-yellow-button-form button {
  color: #002D3D; }

.secondary-button-form button {
  background-color: #ffffff;
  color: #002D3D;
  border: 2px solid #002D3D; }
