<sly data-sly-use.stickyBarText="ca.sunlife.web.cms.core.models.StickyBarModel"></sly>
<sly data-sly-test.maxLinks="${stickyBarText.additionalButton == 'true' ? 3 : 4}" />
<div class="sticky-bar-wrapper ${stickyBarText.hideStickyBar == 'yes' ? 'hide-bar' : ''}" data-section="header-sticky-bar">

  <sly data-sly-test="${stickyBarText.needLogo == 'yes'}">
    <div class="desktop-sunlife-logo">
      <a href="${stickyBarText.logoLink @ extension = 'html'}" target="${stickyBarText.logoTarget}">
        <img alt="${stickyBarText.altText}" src="${stickyBarText.logoImage}">
      </a>
    </div>
  </sly>

  <ul class="list-unstyled" id="stickyBarLinks"
    data-sly-list.links="${stickyBarText.links @ begin = 0, end = maxLinks}">
    <li>
      <a href="${links.linkUrl @ extension = 'html'}" target="${links.linkTarget}"
        data-title="${links.dataTitle}">${links.linkName @ context='html'}</a>
    </li>
  </ul>
  <div class="links-button-wrapper">
    <sly data-sly-test="${stickyBarText.hideNavLinksDropdown == 'true'}">
      <div class="nav-links-dropdown">
        <fieldset class="cmp-form-options cmp-form-options--drop-down">
          <label class="cmp-form-options__label sr-only" for="navlinks-dropdown">Nav Links Dropdown</label>
          <select class="cmp-form-options__field cmp-form-options__field--drop-down" name="navlinks-dropdown"
            id="navlinks-dropdown">
            <option selected disabled value=''>${stickyBarText.navLinksDropdownTitle}</option>
            <sly data-sly-list.itemGroup="${stickyBarText.links @ begin = 0, end = maxLinks}">
              <option value="${itemGroup.linkUrl @ extension = 'html'}">${itemGroup.linkName @ context='html'}</option>
            </sly>
          </select>
        </fieldset>
      </div>
    </sly>
    <div class="sticky-bar-button-wrapper">
      <sly data-sly-test="${stickyBarText.additionalButton == 'true'}">
        <div class="stickyBarButtons" id="secButton"> <a href="${stickyBarText.secButtonLink @ extention = 'html'}"
            target="${stickyBarText.secButtonTarget}"><span
              class="button-class secondary-button-rte">${stickyBarText.secButtonLabel @ context='html'}</span></a>
        </div>
      </sly>
      <div class="stickyBarButtons" id="priButton"> <a href="${stickyBarText.buttonLink @ extention = 'html'}"
          target="${stickyBarText.buttonTarget}"><span
            class="button-class primary-blue-button-rte">${stickyBarText.ButtonLabel @ context='html'}</span></a></div>
    </div>
  </div>
</div>