<sly data-sly-use.stickyBarText="ca.sunlife.web.cms.core.models.StickyBarModel"></sly>
<sly data-sly-test.maxLinks="${stickyBarText.additionalButton == 'true' ? 3 : 4}" />
<ul class="list-unstyled" id="stickyBarLinks" data-sly-list.links="${stickyBarText.links @ begin = 0, end = maxLinks}">
  <li>
    <a href="${links.linkUrl}" target="${links.linkTarget}" data-title="${links.dataTitle}">${links.linkName}</a>
  </li>
</ul>
<div class="sticky-bar-button-wrapper">
  <div class="stickyBarButtons"> <a href="${stickyBarText.buttonLink}" target="${stickyBarText.buttonTarget}"><span
        class="button-class primary-blue-button-rte">${stickyBarText.ButtonLabel}</span></a></div>
  <sly data-sly-test="${stickyBarText.additionalButton == 'true'}">
    <div class="stickyBarButtons"> <a href="${stickyBarText.secButtonLink}" target="${stickyBarText.secButtonTarget}"><span
          class="button-class primary-blue-button-rte">${stickyBarText.secButtonLabel}</span></a></div>

  </sly>
</div>