<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"/>
<sly data-sly-call="${templates.placeholder @ isEmpty = !text}"></sly>
<div>
   <div data-sly-resource="${'news-overview-title' @ resourceType='sunlife/core/components/content/text'}"></div>
   <sly data-sly-use.newsOverview="ca.sunlife.web.cms.core.models.CNWNewsOverviewModel" />
   <div class="news-article" data-sly-repeat.releaseObj="${newsOverview.releaseMain.releases.release}">
      <p>${releaseObj.releaseDate}</p>
      <p><a href="${newsOverview.newsArticleUrl}.${releaseObj.id}.html">${releaseObj.headline @ context = 'html'}</a></p>
   </div>
</div>