@import '../../../base/core';
@import '../../../../core/base/core.scss';

.tabs-wrapper{
    .cmp-tabs__tabpanel,.cmp-tabs__tabpanel--active{
        border:2px solid $container-border-color;
        .text{
            .cmp-text{
                h2,h3,h4,h5,h6,.heading-2,.heading-3,.heading-4,.heading-5,.heading-6{
                    color:$dark-blue;
                }
            }
        }
    }
    .cmp-tabs__tablist{
        .cmp-tabs__tab{
            background-color:$dark-blue;
            color:$white-shade;
            border: 2px solid $white-smoke;
        }
        .cmp-tabs__tab--active{
            background-color:$medium-yellow-background;
            color:$dark-blue;
            border:0;
        }
    }
}

//styles for news article

.news{
    .cmp-tabs__tablist{
        .cmp-tabs__tab--active{
            a{
                color: $dark-blue !important;
            }
        }
    }
}