@import '../../../base/core';
.input-wrapper {
    color: $medium-grey-background;
    margin-bottom: 10px;
}

input[type=text] {
    font-family: 'sunlife-sans';
    font-weight: 400;
    font-size: 16px;
    padding: 0 16px;
    height: 48px;
    border: 1px solid #d7d7d7;
}