@import '../../../prerequisite/base/styles/core.scss';
.slf-header-mega-menu1 {
    padding: 0;
    display: inline-flex;
    .quick-link {
        width: 214px;
        background: $light-grey-color;
        display: table-cell;
        float: none;
        vertical-align: top;
        padding: 56px 32px 56px 32px;
        margin-right: 9px;
        text-align: right;

        ul {
            margin-top: 15px;
        }

        .accordion-heading {
            font-size: 16px;
            font-weight: 400;
            line-height: 110%;
            margin-top: 5px;
        }

        li {
            font-weight: 700;
        }
    }
}
.explore-product-wrapper-desk {
    .list-container {
        width: 80%;
        padding: 0;
    }
}
.explore-product-wrapper-desk>:not(:first-child) {
    padding: 56px 24px 56px 0;
    display: table-cell;
    float: none;
    vertical-align: top;
    ul {

        a {
            font-weight: 400;
        }
    }
    .accordion-heading {
        font-size: 16px;
        font-weight: 700;
        margin-top: 5px
    }
    .links {
        margin-top: 8px;
    }
    .insurance {
        border-right: 2px dotted $medium-grey-background;
    }
    .explore-product-icon-text {
        padding-left:15px;
        .icon-texts {
            margin-left: 35px;
        }
    }
    .explore-product-icon-text {
        display: inline-flex;
    }
    .explore-product-col>:not(:first-child) {
        .links {
            margin-top: 25px;
        }
    }
    .view-all-link {
        margin-left: 20px;
        .view-all-category {
            display: inline-flex;
            margin-top: 0 !important;
            &:after {
                content: '\f138';
                font-family: fontawesome;
                color: $medium-yellow-background;
                margin-left: 5px;
            }
        }
    }
}
.tools-resource-wrapper-desk {
    .list-container {
        padding: 0;
    }
    &>:not(:first-child){
        padding: 56px 24px 56px 24px;

        ul {
            a {
                font-weight: 400;
            }
        }
        .icon-texts {
            margin-left: 35px;
        }
        .accordion-heading {
            display: none;
            color:$dark-grey-color;
        }
        .links{
            padding-left:32px;
        }
        .tools-col{
            padding: 0;
        }
    }
    &>:last-child{
        padding-left: 0;
    }
}
.mega-menu-wrapper {
    .collapse {
        display: block !important;
    }
    li {
        line-height: 110%;
        padding: 5px 0;

    }
}
@media (max-width: 1024px) {
    .mega-menu-wrapper-desk {
        display: none;
    }
}

/* AEM CSS */


.nav-active > span {
    border-bottom: 2px solid #FFCB05;
  }

.desktop-header-wrapper .xf-content-height{
  min-height: 0;
      }

.cmp-megamenu-line {

       border-right: 2px dotted #9a9a9a;

      }

.slf-header-wrapper .desktop-header-wrapper .desktop-header-content .desktop-sunlife-navigation {
position:static;
}


.mega-menu-wrapper-desk  .aem-Grid--default--12 {

      padding:0;
      display: flex;
}

.mega-menu-wrapper-desk  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--2

{

width:214px;
background: $light-grey-20;
float: none;
vertical-align: top;
padding: 48px 32px 48px 32px;
text-align: right;

}
.mega-menu-wrapper-desk  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--10{
  width:80%;
              padding: 0;

          }
.mega-menu-wrapper-desk  .aem-Grid.aem-Grid--default--10 > .aem-GridColumn.aem-GridColumn--default--10
{
  padding: 32px 24px 48px;
}

.mega-menu-wrapper-desk {
    .cmp-container {
        .aem-Grid--default--10 {
            .aem-Grid--12 {
                .aem-Grid--default--6 {
                    .icon-text:nth-child(3){
                        margin-top: 16px;
                    }
                }
            }
        }
    }
   
}

.mega-menu-wrapper-desk  .aem-Grid.aem-Grid--default--10  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--6
{
    padding: 0;
    .icon-texts .view-all-category{
        font-weight: 400;
        }
     }

.mega-menu-wrapper-desk  .aem-Grid.aem-Grid--default--10 .aem-Grid.aem-Grid--default--6 .aem-Grid.aem-Grid--default--6 > .aem-GridColumn.aem-GridColumn--default--6
{
                      padding:0 24px;
                  }
.mega-menu-wrapper-desk  .aem-Grid.aem-Grid--default--10 .aem-Grid.aem-Grid--default--12 > :not(:first-child)
{
                      padding:0 24px 0 0;
                  }
.mega-menu-wrapper-desk  .aem-Grid.aem-Grid--default--10 .aem-Grid.aem-Grid--default--12 > :first-child
{
                     padding:0 24px;
                  }
.mega-menu-wrapper-desk  .aem-Grid.aem-Grid--default--10  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--3 .icon-texts>:not(:first-child)
                  {
margin-top:15px;
}
.mega-menu-wrapper-desk  .aem-Grid.aem-Grid--default--10  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--3 .icon-text>:not(:first-child)
                  {
margin-top:10px;
}
.mega-menu-wrapper-desk  .aem-Grid.aem-Grid--default--10  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--3 .cmp-text
                  {

  padding-left:35px;
}
.mega-menu-wrapper-desk  .aem-Grid.aem-Grid--default--10  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--3 .cmp-text a
                  {

 font-weight:400;
}



.mega-menu-wrapper-desk .xf-content-height{

      margin:0;
  }

.mega-menu-wrapper-desk  .lists-wrapper .links{

    border:none;
  padding:0;
                  }
.mega-menu-wrapper-desk .aem-Grid.aem-Grid--default--2 .lists-wrapper .accordion-heading {
          font-size: 16px;
          font-weight: 400;
          line-height: 110%;
          margin-top: 5px;
        }


.mega-menu-wrapper-desk{
    .aem-Grid.aem-Grid--default--10{
        .lists-wrapper{
            .accordion-heading {
                font-size: 16px;
                font-weight: 700;
                line-height: 110%;
                margin-top: 5px;
                padding: 0;
            }
        }
    }
}
  


.mega-menu-wrapper-desk .aem-Grid.aem-Grid--default--2 > .link-list{

              padding:0;

          }


  .mega-menu-wrapper-desk .aem-Grid.aem-Grid--default--10 .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--6 .icon-parent {
      text-align: left;
      float: left;
      margin-right: 5px;

    padding-bottom:0
  }
  .mega-menu-wrapper-desk .aem-Grid.aem-Grid--default--10 .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--6 .icon-parent .icon-style {
      background: linear-gradient(#FFCB05, #EAAB00);
      border-radius: 50%;
      height: 30px;
      width: 30px;
      padding: 6px;
      border: 2px solid #ffffff;
      color: #ffffff;
      font-size: 0.875rem;
      text-align: center;
  }
.mega-menu-wrapper-desk .aem-Grid.aem-Grid--default--10 .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--6 .icon-texts-heading-normal> p> a{
  font-weight: 400;
  margin-left:20px;
}
.mega-menu-wrapper-desk {
    .aem-Grid.aem-Grid--default--10 {
        .aem-Grid.aem-Grid--default--12 > {
            .aem-GridColumn.aem-GridColumn--default--6 {
                .icon-texts{
                    padding:0 0 0 8px;
                    font-size: 1rem; //heading for tools and resources mega menu
                }
            } 
        }
    }
}  


 .mega-menu-wrapper-desk .aem-Grid.aem-Grid--default--10 .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--3 .icon-parent {
      text-align: left;
      float: left;
      margin-right: 5px;
  }
  .mega-menu-wrapper-desk .aem-Grid.aem-Grid--default--10 .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--3 .icon-parent .icon-style {
      background: linear-gradient(#FFCB05, #EAAB00);
      border-radius: 50%;
      height: 30px;
      width: 30px;
      padding: 6px;
      border: 2px solid #ffffff;
      color: #ffffff;
      font-size: 0.875rem;
      text-align: center;
  }
.mega-menu-wrapper-desk .aem-Grid.aem-Grid--default--10 .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--3 .icon-texts{
  padding: 0px
              }


.mega-menu-wrapper-desk .aem-GridColumn.aem-GridColumn--default--2 .lists-wrapper .list-unstyled li a
{
  font-weight:700;
}

.mega-menu-wrapper-desk .aem-GridColumn.aem-GridColumn--default--2 .lists-wrapper .list-unstyled
{
   margin-top: 15px;
}
.mega-menu-wrapper-desk .lists-wrapper .list-unstyled li
{
line-height:110%;
}

/*AEM css end */
.cmp-megamenu-line{
    margin-left:25px;
    }
    .mega-menu-wrapper-desk {
        .aem-GridColumn--default--10 {
            .aem-Grid--default--3 {
                .aem-GridColumn--default--3 {
                    .cmp-text {
                        padding-left: 10px;
                        ul {
                            margin-left: 2.5em !important;
                            > li{
                                line-height: 16px;
                                padding: 5px 0px;
                            }
                            > li::before{
                                display: table-cell;
                            }
                        }
                        a {
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
.nav{
    .arrow {
        .dropdown-toggle{
            padding-left:24px;
            padding-right:24px;
        }
    }
} 

.mega-menu-wrapper-desk{
    .aem-Grid--default--12 {
      .aem-GridColumn--default--10 {
      .cmp-container{
           .aem-Grid--default--10 {
              .cmp-container{
                 .aem-Grid--12 {
                       .aem-GridColumn--default--6:nth-child(2) {
                  padding-left: 24px;
                         }
                    }
                }
            }
        }
    }
  }
}


.mega-menu-wrapper-desk{
    /*AEM styles */
    .aem-GridColumn--default--10{
        .aem-Grid--default--6{
            .aem-Grid--default--3{
                .text{
                    .cmp-text{
                        padding-left:0px;
                        ul{
                            padding-left:0px!important;
                            li:before{
                                content:'';
                            }
                        }
                    }
                }
            }
        }
    }
  
  .cmp-container{
    .aem-Grid--default--10{
        .aem-Grid--12{
            .cmp-megamenu-line{
                .aem-Grid--default--6{
                    padding-right: 24px;
                    .aem-GridColumn--default--3{
                        padding-right:24px;
                    }
                }
            }
        }
    }
 }
}
// style foe height of megamenu when hovered
.desktop-primary-navigation .dropdown.nav-item.navigation.no-icon.open {
    box-shadow: 0 0px 0px 0px #ffffff, 0 -15px 0px 0px #ffffff, 0px 0 15px -5px rgba(0, 0, 0, 0.25), 0px 0 15px 0px rgba(0, 0, 0, 0.25) !important; }
    
/** US specific css **/
.us-sunlife-content-page {
    .mega-menu-wrapper-desk {
        .container-component {
            .icon-text {
                .icon-parent {
                    text-align: left;
                    float: left;
                    margin-right: 5px;
                    padding-bottom: 0;
                    .icon-style {
                        background: linear-gradient(#ffcb05,#eaab00);
                        border-radius: 50%;
                        height: 30px;
                        width: 30px;
                        padding: 6px;
                        border: 2px solid #fff;
                        color: #fff;
                        font-size: .875rem;
                       }
                }
                .icon-texts {
                    padding: 0 0 0 8px;
                     font-size: 1rem;
                }
            }
        }
        .aem-GridColumn--default--10.aem-GridColumn--offset--default--0 .layout-container {
            padding: 32px 24px 48px;
            .text {
                .cmp-text{
                    padding-left: 0;
                    ul li:before {
                        content: '';
                    }
                    ul li{
                        line-height: 16px;
                        padding: 5px 0;
                    }
                    ul li a {
                        font-weight: 400;
                    }	
                }
            }
        }
        .aem-GridColumn--default--2 .lists-wrapper .accordion-heading {
            font-size: 16px;
            font-weight: 400;
            line-height: 110%;
            margin-top: 5px;
        }
    }
}
//Megamenu styles fix after grid value change in 2
.aem-Grid.aem-Grid--default--3 > .aem-GridColumn.aem-GridColumn--default--3{
    width: 100%!important;
}
.mega-menu-wrapper-desk .aem-Grid.aem-Grid--10.aem-Grid--default--10 {
padding: 0;
display: flex;
}
.mega-menu-wrapper-desk .aem-Grid.aem-Grid--default--10 .aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--6 .icon-parent{text-align:left;float:left;margin-right:5px;padding-bottom:0}
.mega-menu-wrapper-desk .aem-Grid.aem-Grid--default--10 .aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--6 .icon-parent .icon-style{background:linear-gradient(#ffcb05,#eaab00);border-radius:50%;height:30px;width:30px;padding:6px;border:2px solid #fff;color:#fff;font-size:.875rem;text-align:center}
.mega-menu-wrapper-desk .aem-Grid.aem-Grid--default--10 .aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--6 .icon-texts{padding:0 0 0 8px;font-size:1rem}
.mega-menu-wrapper-desk .aem-Grid.aem-Grid--default--10 .aem-Grid.aem-Grid--default--10>.aem-GridColumn.aem-GridColumn--default--6 .icon-texts .view-all-category{font-weight:400}
.mega-menu-wrapper-desk .aem-Grid--default--12 .aem-GridColumn--default--10 .cmp-container .aem-Grid--default--10 .cmp-container .aem-Grid--10 .aem-GridColumn--default--6:nth-child(2) {
padding-left: 24px;
}
.mega-menu-wrapper-desk .cmp-container .aem-Grid--default--10 .aem-Grid--10 .cmp-megamenu-line .aem-Grid--default--6 .aem-GridColumn--default--3 {
padding-right: 24px;
}
.mega-menu-wrapper-desk .cmp-container .aem-Grid--default--10 .aem-Grid--10 .cmp-megamenu-line .aem-Grid--default--6 {
padding-right: 24px;
}
.mega-menu-wrapper-desk .cmp-container .aem-Grid--default--10 .aem-Grid--10 .aem-Grid--default--6 .icon-text:nth-child(3) {
margin-top: 16px;
}
	