@import '../../../base/core';
.smartbanner{
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    background: $light-grey-20;
    padding:24px 16px 0 16px;
    z-index:2;
    .app-wrapper{
        font-size:1rem;
        font-weight:400;
        width:100%;
        display:inline-block;
        .captureClick{
            float:left;
            width:95%;
            .smartbanner__icon{
                float:left;
                background-color: transparent;
                box-shadow: none;
                width: 64px;
                height: 64px;
                border-radius: 15px;
                background-image: url(/content/dam/sunlife/legacy/assets/id/About%20Us/Client%20Support/My%20Sun%20Life%20Indonesia%20App/ID_My%20Sun%20Life%20Indonesia.jpg);
                //background-image: url(https://www.sunlife.co.id/static/id/About%20Us/Client%20Support/My%20Sun%20Life%20Indonesia%20App/ID_My%20Sun%20Life%20Indonesia.jpg);
                background-size: 64px 64px;
            }
        }
        .smartbanner__info{
            width:76%;
            float:left;
            padding-left:8px;
            align-items: center;
            font-size:1rem;
            font-weight:400;
            div[class^="smartbanner_"]{
                line-height:26px; /*1.625rem*/
                font-size:1rem;
                color:$dark-grey-color;
            }
            .smartbanner__info__title{
                font-weight:700;
            }
        }
        .smartbanner__exit{
            float:right;
        }
    }
    .java-button{
        margin-top:-3px;
        a:hover,a:focus{
            text-decoration:none;
        }
        .smartbanner__button{
            padding-left:72px;
            line-height:26px;
            color:$medium-blue-color; 
            .smartbanner__button__label{
                color:$medium-blue-color; 
                font-size:1rem;
                font-weight:700;
                line-height:26px;
            }
        }
    }
}
.top-not{
    top:0!important;
}
.xf-content-height.xf-height{
    min-height:auto;
}
.app-hide{
    display:none !important;
}
@media(max-width:$tab-screen-max){
    .breadcrumb-none{
        display:none;
    }
    .mar-top-0{
        margin-top:0;
    }
}
/*@media (min-width:$tab-screen-min){
    .smartbanner{
        display:none;
    }
}*/