src/main/content/jcr_root/apps/sunlife/core/clientlibs/*
src/main/content/jcr_root/apps/sunlife/core/components/**/**/clientlibs

!src/main/content/jcr_root/apps/sunlife/core/clientlibs/moment
!src/main/content/jcr_root/apps/sunlife/core/clientlibs/search-box
!src/main/content/jcr_root/apps/sunlife/core/clientlibs/search-no-filter
!src/main/content/jcr_root/apps/sunlife/core/clientlibs/search-with-filter
!src/main/content/jcr_root/apps/sunlife/core/clientlibs/vendor-js
!src/main/content/jcr_root/apps/sunlife/core/clientlibs/vendor-generic-js
!src/main/content/jcr_root/apps/sunlife/core/clientlibs/mfa-transit-jdk
!src/main/content/jcr_root/apps/sunlife/core/clientlibs/mfa-clientlibs-js
!src/main/content/jcr_root/apps/sunlife/core/clientlibs/base-js