<sly data-sly-use.baseModel="ca.sunlife.web.cms.core.models.BasePageModel" />
<meta property="${key}"
      data-sly-repeat.key="${baseModel.customMetadata.keySet}"
      content="${baseModel.customMetadata[key] @context='unsafe'}"/>
<link rel="canonical" itemprop="url" href="${baseModel.seoCanonicalUrl}"/>
<link rel="alternate" data-sly-repeat.key="${baseModel.altLanguageLinks}" 
	hreflang="${key}" href="${baseModel.altLanguageLinks[key]}"/>
<sly>${baseModel.headInclude @ context = 'unsafe'}</sly>
<!-- Include Site level CSS and scripts -->
	<sly data-sly-test.siteHeadInclude = "${baseModel.siteHeadInclude}"> 
		<sly>${baseModel.siteHeadInclude @ context = 'unsafe'}</sly>
    </sly>
<!-- Synchronous Tag Support starts here -->
<script src="${baseModel.analyticsScriptPath}" type="text/javascript"></script>
<!-- Synchronous Tag Support ends here -->
