<div class="{{icon-text-wrapper}}">
  <ul>
  {{#each iconTextList}}
  <li>
    <a>  
      <div class="icon-parent">
      <a class="icon-style fa {{fa-icon}}" href="{{href}}"></a>
  </div>
  <div class="icon-text">
  </div>
  </a>
  </li>
  {{/each}}
  </ul>
</div>