@import '../../../base/core';
.icon-parent {
    text-align: center;
}
.social-link-icon-wrapper{
    .icon-text{
        display: none;
    }
}
.right-nav-icon-wrapper{
    text-align: center;
    .icon-style {
        font-size: 2.25rem;
    }
    .icon-text{
        margin-top: 16px;
        .icon-text-heading-normal{
            display: none;
        }
        .icon-text-description{
            display: none;
        }
        .icon-text-heading-link{
            text-align: center;
            font-size: 1rem;
        }
    }
}
.cta-content-icon-wrapper {
    .icon-style {
    background: linear-gradient($medium-yellow-background, $primary-yellow-background);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 19px;
    border: 2px solid $white-shade;
    color: $white-shade;
    font-size: 2.5rem;
    }
    .icon-text-heading-link{
        display: none;
    }
    .icon-text-heading-normal, .icon-text-description{
        text-align: center;
    }
    .icon-text-heading-normal{
        font-weight: 700;
        font-size: 1.125rem;
        margin-top: 24px;
    }
}