@import '../../../base/core';
.icon-text-wrapper{
    .icon-background {
        width: 80px;
        height: 80px;
        background: linear-gradient($medium-yellow-background, $primary-yellow-background);
        border: 2px solid $white-shade;
        border-radius: 100%;
        position: relative;
    }

    .icon-background-trans {
        width: 80px;
        height: 80px;
        background: transparent;
        border: 2px solid $white-shade;
        border-radius: 100%;
        position: relative;
    }

    .icon-inside {
        color: $white-shade;
        position: relative;
        font-size: 50px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .icon-inside-trans {
        color: $medium-blue-color;
        position: relative;
        font-size: 50px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .text-right-wrapper {
        display: block;
    }

    .text-right-wrapper>* {
        display: inline-block;
    }

    .text-bottom-wrapper {
        .icon-text {
            position: relative;
            left: 50%;
            transform: translateX(-12%);
        }
        .icon-background {
            margin: auto;
        }
        .icon-background-trans {
            margin: auto;
        }
    }
    .text-right-wrapper {
        display: block;
    }

    .text-right-wrapper>* {
        display: inline-block;
    }
}