<div class="campaign-header-wrapper">
    <div class="campaign-header">
        <div class="slf-header-logo vertical-middle-align">
            <a class="logo" href="{{logo-link}}">
                <img class="logo-img" alt="Sun Life" aria-label="Sun Life" src="{{img-src}}" />
            </a>
        </div>
    </div>
</div>