@import '../../../base/core';
.campaign-header-wrapper {
    .logo-img {
        height: 31px;
    }
    .campaign-header {
        position: relative;
        height: 100px;
        border-top: 8px solid $medium-yellow-background;
    }
}
@media (max-width:$tab-screen-max) {
    .campaign-header-wrapper {
        .campaign-header {
            background: $light-grey-background;
            box-shadow: 0 8px 6px -6px $black-shade;
        }
        .slf-header-logo {
            text-align: center;
        }
    }
}
