@import "../../../base/core";

.full-header {
  .slf-header-wrapper {
    /* Mobile header styles starts here */
    /* Mobile header styles end here */
    /* Desktop header styles starts here */
    .desktop-header-wrapper {
      .yellow-stripe {
        /* Change to blue stripe */
        background-color: $medium-blue-color;
      }
      .desktop-header-content {
        background-color: $medium-yellow-background; /* Header background-color */
        /* Desktop mega-menu styles start here */
        .desktop-mega-menu {
          .dropdown {
            .dropdown-menu {
              .mega-menu-wrapper-desk {
                .aem-Grid {
                  > .container-component:first-child {
                    .links {
                      .accordion-heading {
                        font-weight: normal;
                        font-size: 16px;
                        margin-top: 10px;
                      }
                    }
                  }
                  > .container-component:last-child {
                    padding: 48px 24px;
                    .layout-container {
                      .icon-text {
                        li {
                          display: flex;
                          align-items: center;
                          .icon-parent {
                            text-align: left;
                            float: left;
                            margin-right: 8px;
                            padding-bottom: 0;
                            .icon-style {
                              background: linear-gradient($medium-yellow-background, $primary-yellow-background);
                              border-radius: 50%;
                              height: 30px;
                              width: 30px;
                              padding: 6px;
                              border: 2px solid #fff;
                              color: #fff;
                              font-size: 0.875rem;
                              text-align: center;
                            }
                          }
                          .icon-texts {
                            padding: 0;
                            h6 {
                              font-size: 16px;
                            }
                          }
                        }
                      }
                      .text {
                        padding-left: 39px;
                        a{
                          font-weight: normal;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    /* Desktop header styles end here */
  }
}
