@import '../../../base/core';

.footer-copyright-wrapper{
    background-color: $medium-blue-color;
    height: 100px;
    padding:24px 15px;
    .top-part{
        display: inline-block;
        width: 100%;
        line-height:18px;
        .slf-tagline{
            color: $medium-yellow-background;
            font-size: 1.125rem;
            float: left;
            font-weight: 700;
        }
        .slf-legal{
            float: right;
            font-weight: 700;
            li{
                display: inline-block;
                color: $white-shade;
                padding:0 6px;
            }
            a{
                color: $white-shade;
                font-size: 0.875rem;
                font-weight: 700;
            }
            a.border-present{
                border-right: 2px solid;
                padding-right: 12px;
            }
        }
    }
    .bottom-part{
        display: inline-block;
        width: 100%;
        line-height:20px;
        .slf-acronym{
            color: $white-shade;
            font-size: 1.125rem;
            font-weight: 700;
            float: right;
        }
        .not-slf-acronym{
            color: $white-shade;
            font-size: 0.875rem;
            font-weight: 400;
            float: right;
            max-width: 50%;
        }
        .slf-copyright{
            color: $white-shade;
            font-size: 0.875rem;
            float: left;
        }
    }
}
@media (min-width: $tab-screen-min) and (max-width: $tab-screen-max){
    .footer-copyright-wrapper{
        height: 116px;
        padding:32px 15px;
        .site-map{
            display: none;
        }
    }
}
@media (max-width: $mobile-screen-max){
    .footer-copyright-wrapper{
        height: auto;
        padding:32px 15px;
        .top-part{
            display: block;
            .slf-tagline, .slf-legal{
                float: none;
                text-align: center;
            }
            .slf-legal{
                padding-top: 32px;
                .move-down-accessibility{
                    padding-right: 0;
                }
                .move-down-feedback{
                    padding-left: 0;
                    margin-left: -12px;
                }
                .site-map{
                    display: none;
                    padding: 0;
                }
            }
        }
        .bottom-part{
            display: block;
            .slf-copyright, .slf-acronym, .not-slf-acronym{
                float: none;
                text-align: center;
            }
            .slf-copyright{
                padding-top: 40px;
            }
            .slf-acronym, .not-slf-acronym{
                padding-top: 16px;
            }
        }
    }
}