@import '../../../base/core'; 

.video_container{
  height: auto;
  max-width:640px;
  display: block;
  position: relative;
  span{
      span{
          display: block;
          margin: auto;
          position: relative;
          width: 100%;
          height:100%;
          max-width:640px;
          max-height: 360px;
          iframe {
              opacity: 1;
              background-color: $transparent;
              position: absolute;
              right:0px;
              top:0px;
          }
      }
  }
  .vidyard-player-embed { 
    width: 100% !important;
    margin: auto; 
    display: block;
    }
}
#vidyard-popbox {
     width: max-content;
}
.embed.video-center-align{
    text-align:-webkit-center;
    }
.embed.video-right-align{
        text-align:-webkit-right;
 }
 .embed.video-medium {
 .video_container{
    max-width: 415px;
    max-height: 235px;
 }
}
.embed.video-small{ 
    .video_container{
    max-width: 220px;
    max-height: 120px;
    }
}
.embed.circle-220-desktop {
    .vidyard-player-container {
    .play-button{
    left:28%;
    }
 }
}
