<template data-sly-template.logo="${ @ headerModel }">
        <!-- Single Logo Changes -->
        <sly>
            <div class="col-md-3 col-lg-3">
                <div data-sly-test="${headerModel.listFrom == 'yes'}" class="desktop-sunlife-logo" data-section="header-logo">
                        <sly data-sly-use.utilityListParsing="${'sunlife/core/components/content/core-link-list/v1/link-list/linklist-parsing.js' @ path=headerModel.linkURL}">
                            <a href="${utilityListParsing.navPath @ extension = 'html'}">
                                <img alt="${headerModel.altText}" src="${headerModel.logoImage}">
                            </a>
                        </sly>
                </div>
            </div>
        </sly>
        <!-- Single Logo Changes Ends -->
</template>