<template data-sly-template.search="${ @ headerModel }">
    <sly data-sly-test="${headerModel.listFromSearch == 'searchtrue'}">
        <li
            class="d-none d-md-none d-lg-inline-block d-xl-inline-block d-xxl-inline-block nav-item">
            <div class="d-none d-md-none d-lg-inline-block d-xl-inline-block d-xxl-inline-block">
                <a href="#" data-rr-ui-event-key="#"
                    class="utility-nav-item-container nav-link">
                    <div class="label-container">
                        <span class="fal fa-search sl-icon" role="presentation"></span>
                        <span
                                class="d-none d-md-none d-lg-inline d-xl-inline d-xxl-inline">Searchd</span>
                    </div>
                </a>
            </div>
        </li>
    </sly>
</template>