<template data-sly-template.search="${ @ headerModel }">
    <sly data-sly-test="${headerModel.listFromSearch == 'searchtrue'}" class="desktop-search-bar">
         <li>
                <div class="d-none d-md-none d-lg-inline-block d-xl-inline-block d-xxl-inline-block">
                    <a href="#" data-rr-ui-event-key="#"
                       class="utility-nav-item-container nav-link">
                        <div class="label-container">
                                <span class="fak fa-search sl-icon_size_md sl-icon custom-icon"
                                      role="presentation"></span>
                            <span
                                    class="d-none d-md-none d-lg-inline d-xl-inline d-xxl-inline">${headerModel.searchTitle}
                        </span>
                        </div>
                    </a>
                </div>
            </div>
        </li>
    </sly>
</template>