<template data-sly-template.signin="${ @ headerModel }">
    <sly data-sly-test="${headerModel.listFromSignin == 'signintrue'}">
        <sly data-sly-list.signinLinks="${headerModel.signinlinks}">
            <li class="nav-item" data-sly-use.utilityListParsing="${'sunlife/core/components/common/url-parsing.js' @ path=signinLinks.getLinkURL}" data-sly-attribute.data-section=${signinLinks.signinAnalyticsId}>
                <a id="signinbutton" href="${utilityListParsing.navPath}" class="utility-nav-item-container nav-link" target="${signinLinks.getLinkTarget}">
                    <div class="label-container">              
                        <span class="fak fa-${signinLinks.getLinkIcon} sl-icon_size_md sl-icon custom-icon" role="presentation"></span>
                        <span
                            class="dropdown-label d-none d-md-none d-lg-inline d-xl-inline d-xxl-inline">${signinLinks.getDesktopLinkTitle}
                        </span> 
                        <sly data-sly-test.title="${signinLinks.getMobileLinkTitle ? signinLinks.getMobileLinkTitle : signinLinks.getDesktopLinkTitle}">
                            <span class="dropdown-label d-inline-block d-md-inline-block d-lg-none d-xl-none d-xxl-none">${title}</span> 
                        </sly>  
                    </div>
                </a>
           </li>
        </sly>
    </sly>
</template>