<template data-sly-template.signin="${ @ headerModel }">
    <sly data-sly-test="${headerModel.listFromSignin == 'signintrue'}">
        <sly data-sly-list.signinLinks="${headerModel.signinlinks}">
            <li class="nav-item" data-sly-use.utilityListParsing="${'sunlife/core/components/common/url-parsing.js' @ path=signinLinks.getLinkURL}">
                <a id="signinbutton" href="${utilityListParsing.navPath}" class="utility-nav-item-container nav-link sl-link" target="${signinLinks.getLinkTarget}"  data-sly-attribute.data-title=${signinLinks.dataTitle}>
                    <div class="label-container">
                        <span class="fak fa-${signinLinks.getLinkIcon} sl-icon_size_md sl-icon custom-icon" role="presentation"></span>
                        <span
                            class="dropdown-label d-none d-md-none d-lg-inline d-xl-inline d-xxl-inline">${signinLinks.getDesktopLinkTitle}
                            <sly data-sly-test="${ (signinLinks.linkType == 'sl-link-internal') ||  (signinLinks.linkType == 'sl-link-external') }">
                            <sly 
                                data-sly-use.template="/apps/sunlife/core/components/templates/v1/link-with-icon.html" 
                                data-sly-set.linkLabelText=""
                                data-sly-call="${template.details @ linkLabel=linkLabelText, iconType=(signinLinks.linkType == 'sl-link-external' ? 'external-link-alt' : (signinLinks.linkType == 'sl-link-internal' ? 'chevron-circle-right' : ''))}">
                            </sly>
                            </sly>
                        </span> 
                        <sly data-sly-test.title="${signinLinks.getMobileLinkTitle ? signinLinks.getMobileLinkTitle : signinLinks.getDesktopLinkTitle}">
                            <span class="dropdown-label d-inline-block d-md-inline-block d-lg-none d-xl-none d-xxl-none">${title}</span> 
                        </sly>  
                    </div>
                </a>
           </li>
        </sly>
    </sly>
</template>