<template data-sly-template.navList="${ @ headerModel }">
        <div class="sl-utility-bar">
               <ul class="content-container">
                  <li>
                     <div class="sl-region-menu" id="">
                        <div id="sl-region-menu" class="region-menu-container dropdown">
                           <div class="label-container"><button type="button" id="sl-region-menu-dd" aria-expanded="false"
                                 data-bs-toggle="dropdown" class="nav-link dropdown-toggle btn"><span
                                    class="d-inline-block d-md-inline-block d-lg-none d-xl-none d-xxl-none dropdown-label-icon"><span
                                       class="sl-icon fal fa-location-arrow"></span></span><span
                                    class="d-inline-block d-md-inline-block d-lg-inline d-xl-inline d-xxl-inline">Region</span>
                                    <span class="fal fa-chevron-down sl-icon" role="presentation"></span>
                                 </button>
                              <div x-placement="bottom-end" aria-labelledby="sl-region-menu-dd"
                                 class="dropdown-menu dropdown-menu-end" data-popper-reference-hidden="false"
                                 data-popper-escaped="false" data-popper-placement="bottom-end"
                                 style="position: absolute; inset: 0px 0px auto auto; transform: translate(0px, 34px);">
                                 <div class="region-menu">
                                    <div class="region-content-container">
                                       <div class="region-content">
                                          <div class="country-header"><span>Canada</span></div>
                                          <ul>
                                             <li><a href="#" data-rr-ui-dropdown-item="" class="active dropdown-item"><div class="d-inline"><span>Sun Life Canada</span></div></a></li>
                                             <li><a href="#" data-rr-ui-dropdown-item="" class="dropdown-item"><div class="d-inline"><span>Sun Life Global Investments</span></div></a></li>
                                             <li><a href="#" data-rr-ui-dropdown-item="" class="dropdown-item"><div class="d-inline"><span>SLC Management</span></div></a></li>
                                          </ul>
                                       </div>
                                       <div class="region-content">
                                          <div class="country-header"><a href="#">China</a></div>
                                       </div>
                                       <div class="region-content">
                                          <div class="country-header"><a href="#">Hong Kong, SAR</a></div>
                                       </div><div class="region-content"><div class="country-header"><span>India</span></div>
                                          <ul>
                                             <li><a href="#" data-rr-ui-dropdown-item="" class="dropdown-item"><div class="d-inline"><span>Birla Sun Life</span></div></a></li>
                                             <li><a href="#" data-rr-ui-dropdown-item="" class="dropdown-item"><div class="d-inline"><span>Asia Service Centres</span></div></a></li>
                                          </ul>
                                       </div>
                                       <div class="region-content">
                                          <div class="country-header"><a href="#">Indonesia</a></div>
                                       </div>
                                       <div class="region-content">
                                          <div class="country-header"><a href="#">International</a></div>
                                       </div>
                                       <div class="region-content">
                                          <div class="country-header"><a href="#">Ireland</a></div>
                                       </div>
                                       <div class="region-content">
                                          <div class="country-header"><a href="#">Malaysia</a></div>
                                       </div>
                                       <div class="region-content">
                                          <div class="country-header"><span>Philipines</span></div>
                                          <ul>
                                             <li><a href="#" data-rr-ui-dropdown-item="" class="dropdown-item"><div class="d-inline"><span>Sun Life Philippines</span></div></a></li>
                                             <li><a href="#" data-rr-ui-dropdown-item="" class="dropdown-item"><div class="d-inline"><span>Sun Life Grepa Financial</span></div></a></li>
                                             <li><a href="#" data-rr-ui-dropdown-item="" class="dropdown-item"><div class="d-inline"><span>Asia Service Centres</span></div></a></li>
                                          </ul>
                                       </div>
                                       <div class="region-content">
                                          <div class="country-header"><a href="#">Singapore</a></div>
                                       </div>
                                       <div class="region-content">
                                          <div class="country-header"><span>United States</span></div>
                                          <ul>
                                             <li><a href="#" data-rr-ui-dropdown-item="" class="dropdown-item"><div class="d-inline"><span>Sun Life United States</span></div></a></li>
                                             <li><button data-rr-ui-dropdown-item="" class="dropdown-item"><div class="d-inline"><span>SLC Management</span></div></button></li>
                                          </ul>
                                       </div>
                                       <div class="region-content">
                                          <div class="country-header"><a href="#">Vietnam</a></div>
                                       </div>
                                    </div>
                                    <hr class="sl-divider hr" aria-hidden="true"><a href="#" data-rr-ui-dropdown-item=""
                                       class="world-wide-content  dropdown-item">
                                       <div class="d-inline"><span>Worldwide</span></div>
                                    </a>
                                 </div>
                              </div>
                           </div>
    <!-- <div class="sl-utility-bar">
        <div class="container">
            <ul class="content-container">
                <li data-sly-test="${headerModel.listFromRegion == 'regiontrue'}">
                    <div class="sl-region-menu" id="">
                        <div id="sl-region-menu" class="region-menu-container show dropdown">
                            <div class="label-container">
                                <button type="button" id="sl-region-menu-dd" aria-expanded="false"
                                                                 data-bs-toggle="dropdown" class="nav-link dropdown-toggle show btn btn-primary"><span
                                    class="d-inline-block d-md-inline-block d-lg-none d-xl-none d-xxl-none dropdown-label-icon"><span
                                    class="sl-icon sl-icon-location"></span></span><span
                                    class="dropdown-label d-inline-block d-md-inline-block d-lg-inline d-xl-inline d-xxl-inline">${headerModel.regionTitle}
                                 <span class="visually-hidden">${headerModel.srRegionText}</span></span>
                                <span class="fal fa-chevron-down" role="presentation"></span>
                            </button>
                                <div x-placement="bottom-end" aria-labelledby="sl-region-menu-dd"
                                     class="dropdown-menu dropdown-menu-end" data-popper-reference-hidden="false"
                                     data-popper-escaped="false" data-popper-placement="bottom-end"
                                     style="position: absolute; inset: 0px 0px auto auto; transform: translate(0px, 34px);">
                                    /*  Including Regional Menu    */-->
                                    <!-- <sly data-sly-resource="${ @resourceType='sunlife/core/components/content/experiencefragment'}" />

                                </div>
                            </div> -->
                        </div>
                    </div>
                </li>
                <li data-sly-test="${headerModel.language == 'languagetrue'}">
                    <div>
                        <div class="sl-menu-dropdown">
                           <div id="sl-dropdown-language-utility" data-testid="test-menu-dropdown" class="dropdown"><button
                                 type="button" id="sl-dropdown-toggle-language-utility" aria-expanded="false"
                                 data-bs-toggle="dropdown"
                                 class="utility-nav-item-container nav-link dropdown-toggle btn btn-primary">
                                 <div class="item-content-container"><span
                                       class="d-inline-block d-md-inline-block d-lg-none d-xl-none d-xxl-none dropdown-label-icon"><span
                                          class="sl-icon fal fa-globe"></span></span><span
                                       class="dropdown-label d-inline-block d-md-inline-block d-lg-inline d-xl-inline d-xxl-inline">EN</span><span
                                       class="visually-hidden">Change language</span>
                                    <span class="fal fa-chevron-down sl-icon" role="presentation"></span>
                                 </div>
                              </button>
                              <ul x-placement="bottom-end" aria-labelledby="sl-dropdown-toggle-language-utility"
                                 class="dropdown-menu dropdown-menu-end" data-popper-reference-hidden="false"
                                 data-popper-escaped="false" data-popper-placement="bottom-end"
                                 style="position: absolute; inset: 0px 0px auto auto; transform: translate(0px, 34px);">
                                 <div class="dropdown-menu-title dropdown-header" role="heading">Language</div>
                                 <ul>
                                    <li aria-current="true"><a href="#" data-rr-ui-dropdown-item=""
                                          class="active dropdown-item">
                                          <div class="d-inline"><span>English</span></div>
                                       </a></li>
                                    <li aria-current="false"><a href="#" data-rr-ui-dropdown-item="" class="dropdown-item">
                                          <div class="d-inline"><span>French</span></div>
                                       </a></li>
                                 </ul>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            <hr class="sl-divider hr region-divider" aria-hidden="true">
         </div>
                            <!-- <div id="sl-dropdown-language-utility" data-testid="test-menu-dropdown" class="dropdown">
                                <button type="button" id="sl-dropdown-toggle-language-utility" aria-expanded="false"
                                        data-bs-toggle="dropdown"
                                        class="utility-nav-item-container nav-link dropdown-toggle btn btn-primary">
                                    <div class="item-content-container"><span
                                            class="d-inline-block d-md-inline-block d-lg-none d-xl-none d-xxl-none dropdown-label-icon"><span
                                            class="sl-icon sl-icon-language"></span></span><span
                                            class="dropdown-label d-inline-block d-md-inline-block d-lg-inline d-xl-inline d-xxl-inline">${headerModel.languageTitle}</span><span
                                            class="visually-hidden">Change language</span>
                                        <span class="fal fa-chevron-down" role="presentation"></span>
                                    </div>
                                </button>
                                <ul x-placement="bottom-end" aria-labelledby="sl-dropdown-toggle-language-utility"
                                    class="dropdown-menu dropdown-menu-end" data-popper-reference-hidden="false"
                                    data-popper-escaped="false" data-popper-placement="bottom-end"
                                    style="position: absolute; inset: 0px 0px auto auto; transform: translate(0px, 34px);">
                                    <div class="dropdown-menu-title dropdown-header" role="heading">${headerModel.desktopMenuTitle}</div>
                                    <ul data-sly-list.languageList="${headerModel.languageLinks}">
                                        <li aria-current="true" data-sly-use.utilityListParsing="${'sunlife/core/components/content/core-link-list/v1/link-list/linklist-parsing.js' @ path=languageList.linkURL}">

                                            <a href="${utilityListParsing.navPath}" lang="" data-sly-attribute.lang="${languageList.linkLanguageCode}" class="${languageList.linkHighlight ? 'active' : ''} dropdown-item">
                                                <div class="d-inline"><span>${languageList.linkName}</span></div>
                                            </a></li>

                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <hr class="sl-divider hr region-divider" aria-hidden="true">
    </div> -->

</template>