<template data-sly-template.navList="${ @ headerModel }">
    <div class="sl-utility-bar" data-section="header-utility-bar">
        <div class="container">
            <ul class="content-container">  
                    <li class="menu-container" data-section="header-utility-bar" data-sly-test="${headerModel.listFromNav == 'true'}" role="navigation" aria-label="${headerModel.utilityNavLabel || 'Helpful links'}">
                        <div>
                            <sly data-sly-set.totalItems="${0}"></sly>
                            <sly data-sly-list.links="${headerModel.navlinks}">
                                <sly data-sly-test.totalItems="${ linksList.count }"></sly>
                            </sly>
                            <ul class="menu-list"
                                data-sly-element="${totalItems == 1 ? 'div' : 'ul'}" 
                                data-sly-list.links="${headerModel.navlinks}" >
                                <li class="nav-item menu-item"
                                    data-sly-element="${totalItems == 1 ? 'div' : 'li'}" 
                                    data-sly-use.utilityListParsing="${'sunlife/core/components/common/url-parsing.js' @ path=links.linkURL}">
                                    <a class="menu-content nav-link sl-link" href="${utilityListParsing.navPath}" target="${links.linkTarget}" data-title="${links.dataTitle}">
										<sly data-sly-set.isExternal="${links.linkType == 'sl-link-external' ? true : false }">
											<sly data-sly-test="${links.linkType =='sl-link-pdf'}"><i title="${'pdf.link' @ i18n}" class="fal fa-file-pdf icn-hover-hidden" aria-hidden="true"></i><i title="${'pdf.link' @ i18n}" class="fas fa-file-pdf icn-hover-show" aria-hidden="true"></i></sly>
												${links.linkName}
											<sly data-sly-test="${links.linkType !='sl-link-pdf' && links.linkType}"><i title="${(isExternal ? 'external.link' : 'internal.link') @ i18n}" aria-hidden="${isExternal ? 'false' : 'true'}" class="fal ${isExternal ? 'fa-external-link-alt' : 'fa-chevron-circle-right'} icn-hover-hidden"></i><i title="${(isExternal ? 'external.link' : 'internal.link') @ i18n}" aria-hidden="true" class="fas ${isExternal ? 'fa-external-link-alt' : 'fa-chevron-circle-right'} icn-hover-show"></i></sly>
										</sly>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li data-sly-test="${headerModel.listFromRegion == 'regiontrue'}">
                    <div class="sl-region-menu" role="navigation" aria-label="Region Selection">
                        <div id="sl-region-dd" class="region-menu-container dropdown">
                           <button type="button" id="sl-region-menu-dd" aria-expanded="false"
                                 data-bs-toggle="dropdown" class="nav-link dropdown-toggle btn btn-primary">
                                 <div class="label-container">                       
                                 <span
                                    class="fak fa-location sl-icon_size_md sl-icon d-inline-block d-md-inline-block d-lg-none d-xl-none d-xxl-none dropdown-label-icon"></span><span
                                    class="dropdown-label d-inline-block d-md-inline-block d-lg-inline d-xl-inline d-xxl-inline">${headerModel.regionTitle}
                                 <span class="visually-hidden">${headerModel.srRegionText}</span></span>
                                <span class="fak fa-chevron-down sl-icon_size_sm sl-icon custom-icon d-none d-lg-inline-block d-xl-inline-block d-xxl-inline-block" role="presentation"></span>
                                <span class="fak fa-chevron-down sl-icon_size_md sl-icon custom-icon d-inline-block d-md-inline-block d-lg-none d-xl-none d-xxl-none" role="presentation"></span>
                              </div>
                              </button>
                                <div aria-labelledby="sl-region-menu-dd" class="dropdown-menu dropdown-menu-end">
                                    <!-- /*  Including Regional Menu    */ -->
                                    <sly class="region-menu" data-sly-resource="${ @resourceType='sunlife/core/components/content/core-experiencefragment/v1/experiencefragment'}" />
                                </div>
                        </div>
                    </div>
                    </li>
                    
                    <li data-sly-test="${headerModel.language == 'languagetrue'}">
                    <div role="navigation" aria-label="Language Selection">
                        <div class="sl-menu-dropdown">
                            <div id="sl-dropdown-language-utility" data-testid="test-menu-dropdown" class="dropdown">
                                <button type="button" id="sl-dropdown-toggle-language-utility" aria-expanded="false"
                                        data-bs-toggle="dropdown"
                                        class="utility-nav-item-container nav-link dropdown-toggle btn btn-primary">
                                    <div class="item-content-container"><span
                                            class="d-inline-block d-md-inline-block d-lg-none d-xl-none d-xxl-none dropdown-label-icon"><span
                                            class="fak fa-language sl-icon_size_md sl-icon"></span></span>
                                            <span class="dropdown-label d-none d-lg-inline-block d-xl-inline-block d-xxl-inline-block">${headerModel.languageTitle}</span>
                                                <sly data-sly-test.title="${headerModel.mobileAndTabletMenuTitle ? headerModel.mobileAndTabletMenuTitle : headerModel.languageTitle}">
                                                    <span class="dropdown-label d-inline-block d-md-inline-block d-lg-none d-xl-none d-xxl-none">${title}</span>
                                                </sly>
                                            <span class="visually-hidden">Change language</span>
                                            <span class="fak fa-chevron-down sl-icon_size_sm sl-icon custom-icon d-none d-lg-inline-block d-xl-inline-block d-xxl-inline-block" role="presentation"></span>
                                            <span class="fak fa-chevron-down sl-icon_size_md sl-icon custom-icon d-inline-block d-md-inline-block d-lg-none d-xl-none d-xxl-none" role="presentation"></span>
                                    </div>
                                </button>
                                <div aria-labelledby="sl-dropdown-toggle-language-utility"
                                    class="dropdown-menu dropdown-menu-end">
                                    <div class="dropdown-menu-title dropdown-header d-none d-lg-inline-block d-xl-inline-block d-xxl-inline-block" role="heading">${headerModel.desktopMenuTitle}</div>
                                    <ul data-sly-list.languageList="${headerModel.languageLinks}">
                                        <li aria-current="${languageList.linkHighlight ? 'true': ''}" data-sly-use.utilityListParsing="${'sunlife/core/components/common/url-parsing.js' @ path=languageList.linkURL}">
                                            <a href="${utilityListParsing.navPath}" lang="" data-sly-attribute.lang="${languageList.linkLanguageCode}" class="${languageList.linkHighlight ? 'active' : ''} dropdown-item">
                                                <div class="d-inline"><span>${languageList.linkName}</span></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    </li>
                </ul>
        </div>
        <hr class="sl-divider hr region-divider" aria-hidden="true">
    </div>
</template>