<div class="outage-detail">
    <div id="outage-type">
        <script class="outage-pagination-first" type="text/html"><li class="link-to-first active pagination-item">
            <a href="javascript:void(0);" aria-label="First Page">
                <span class="fa fa-angle-double-left" aria-hidden="true">&nbsp;</span>
                <span class="sr-only">Page </span><span class="txt">&nbsp;</span><span class="sr-only active-text"> (active)</span>
            </a>
            </li>
        </script>
        <script class="outage-pagination-item" type="text/html"><li class="pagination-item">
            <a href="javascript:void(0);">
                <span class="sr-only">Page </span><span class="txt">&nbsp;</span><span class="sr-only active-text"> (active)</span>
            </a>
            </li>
        </script>
        <div class="outage-item-list">
            <div class="outage-item">
                <div class="outage-date">
                    November 28, 2019
                </div>
                <div class="outage-title">
                    {{#if icon-present}}
                        <span class="fa fa-exclamation-circle"></span>
                    {{/if}}
                    <a class="outage-title-text" href="#">Another set of outages</a>
                </div>
                <div class="outage-status">
                    Status: Open
                </div>
                <div class="outage-teaser">
                    How now, brown… soybean? With so many dairy-free milk alternatives on the market, you’re not short on options. But which one is the most nutritious? How now, brown… soybean? With so many dairy-free milk alternatives on the market, you’re not short on options. But which one is the most nutritious? Looking for gifts to keep everyone on your list healthy and motivated? Check out our roundup of unique gifts that will keep on giving.
                </div>
            </div>
            <div class="outage-item">
                <div class="outage-date">
                    November 28, 2019
                </div>
                <div class="outage-title">
                    {{#if icon-present}}
                        <span class="fa fa-exclamation-triangle"></span>
                    {{/if}}
                    <a class="outage-title-text" href="#">Another set of outages</a>
                </div>
                <div class="outage-status">
                    Status: Open
                </div>
                <div class="outage-teaser">
                    Looking for gifts to keep everyone on your list healthy and motivated? Check out our roundup of unique gifts that will keep on giving.
                </div>
            </div>
        </div>
        <div class="outage-pagination">
            <!-- Pagination -->
            <div role="navigation" aria-label="Page" class="text-center">
                <ul class="pagination first-page outage-pagination-list">
                    <li class="previous disabled outage-pagination-previous">
                        <a href=""><span class="fa fa-angle-left" aria-hidden="true">&nbsp;</span> <span>Previous</span>
                        </a>
                    </li>
                    <li class="next outage-pagination-next"><a href="">Next</a></li>
                </ul>

                <div class="pagination-indicator">
                    Page <span class="outage-page-num">1</span> of <span class="outage-page-total">6</span>
                </div>
            </div>
            <!-- Pagination end -->
        </div>
    </div>
</div>