@import './core';
/* VietNam base */

.news-announcement img {
    max-width: 100%;
    height: auto;
}
//For news room bullet points
.news-announcement {
    ul {
        margin-left: 28px;
        li::before {
            content: "\2022";
            color: $medium-yellow-background;
            font-weight: bold;
            display: inline-block;
            width: 1rem;
            margin-left: -1em;
        }
    }
     
}

//top margin
@media(max-width:$tab-screen-max) {
    .margin-top-fifty {
        margin-top: 50px !important;
    }
}
