<div class="search-bar-wrapper collapse in" id="sun-search" aria-expanded="true">
    <div class="search-box">
        <div class="close-div">
            <a data-toggle="collapse" aria-expanded="true" href="#sun-search">
                <span class="sr-only">Close search</span> <span class="fa fa-remove collapse-x"></span>
            </a>
        </div>
        <div class="global-search">
            <form name="searchform-bottom" class="slf-search" action="/ca/Search+results" method="get"><label
                    class="sr-only">Search</label>
                <div class="form-wrapper">
                    {{>core-components-form-text}}
                    {{>core-components-form-button}}
                </div>
                <input name="action" type="hidden" value="input">
            </form>
        </div>
    </div>
</div>