@import '../../../base/core';
.search-bar-wrapper {
    background: $medium-yellow-background;
    height: 128px;
    position: relative;
    .global-search {
        text-align: center;
        z-index: 1;
        .form-wrapper {
            max-width: 550px;
            margin: 0 auto;
        }

        input[type=text] {
            margin-bottom: 0;
            height: 48px;
            width:462px;
            color:$dark-grey-color;
            border-color: $light-grey-color;
        }

        .search-autocomplete {
            position:absolute;
            z-index: 1099;
        }
    }

    .slf-search {
        .form-wrapper {
            display: table;
            border-collapse: collapse;
            width: 100%;
            margin: 0 auto;
            border: 0;

            .input-wrapper, .button-wrapper {
                display: table-cell;
                vertical-align: top;
                position: relative;
            }
            .input-wrapper.form-group-wrapper{
                display: inline;
            }
        }
    }
    .search-box {
        padding: 40px 0;
    }

    .close-div {
        position: absolute;
        right: 0;
        float: right;
        top: 0;

    }

    .collapse-x {
        margin: 24px 15px 0 0;
        font-size: 0.875rem;
    }

    form.slf-search .form-wrapper>.button-wrapper {
        padding-left: 16px;
        border: 0;
        .primary-blue-button{
            width: 136px;
        }
        
            .cmp-form-button{
                width: 136px;
            }
        
    }
}