<sly data-sly-use.layout="ca.sunlife.web.cms.core.models.LegacyLayoutContainerModel"/>
<sly data-sly-test.empty="${!layout.noc}" /> 
<sly data-sly-test="${layout.noc == '1'}">
   <sly data-sly-test="${layout.type == 'normal'}">
   	  <div id="content" class="clearfix one-column-layout">
      	<div id="content-body">
      		<sly data-sly-resource="${'container1' @ decorationTagName=''}" />
        </div>    
      </div>  
   </sly>
</sly>
<sly data-sly-test="${layout.noc == '2'}">
   <sly data-sly-test="${layout.type == '25:75N'}">
      <div class="clearfix two-column-layout" id="content">
         <div id="content-body">
            <sly data-sly-resource="${'container1' @ decorationTagName='div'}" />
         </div>
         <div id="content-navigation">
            <sly data-sly-resource="${'left-nav' @ resourceType='sunlife/legacy/components/content/left-navigation', selectors= layout.siteSelector}"/>
         </div>
      </div>
   </sly>
</sly>
<sly data-sly-test="${layout.noc == '3'}">
   <sly data-sly-test="${layout.type == '25:50:25N'}">
      <div class="clearfix three-column-layout" id="content">
         <div id="content-body">
            <sly data-sly-resource="${'container1' @ decorationTagName='div'}" />
         </div>
         <div id="content-sidebar">
			<sly data-sly-resource="${'right-nav' @ decorationTagName=''}" />
         </div>
         <div id="content-navigation">
            <sly data-sly-resource="${'left-nav' @ resourceType='sunlife/legacy/components/content/left-navigation', selectors= layout.siteSelector}"/>
         </div>
      </div>
   </sly>
</sly>