<sly data-sly-use.layout="ca.sunlife.web.cms.core.models.LegacyLayoutContainerModel"/>
<sly data-sly-test.empty="${!layout.noc}" />
<div data-sly-test="${wcmmode.edit && empty}" class="cq-placeholder" data-emptytext="${component.title}"></div>
<sly data-sly-test="${layout.noc == '1'}">
   <sly data-sly-test="${layout.type == 'normal'}">
   	<div id="page-content" class="content">
	  <div role="main">
      	<sly data-sly-resource="${'container1' @ decorationTagName=''}" />
	  </div>
    </div>  
   </sly>
</sly>
<sly data-sly-test="${layout.noc == '2'}">
   <sly data-sly-test="${layout.type == '25:75N'}">
      <div id="page-content" class="content">
         <div class="row content-gap row-height">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-height left-nav-menu" data-analytics="leftnav" role="navigation" aria-label="Left">
               <sly data-sly-resource="${'left-nav' @ resourceType='sunlife/legacy/components/content/left-navigation', selectors= layout.siteSelector}"/>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9  col-lg-9 col-height text-top" role="main" data-analytics="mainbodycontent" id="mainbodycontent">
               <sly data-sly-resource="${'container1' @ decorationTagName='div'}" />
            </div>
         </div>
      </div>
   </sly>
   <sly data-sly-test="${layout.type == '75:25N'}">
       <div id="page-content" class="content">
          <div class="row">
    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" data-analytics="subcontent">
                <sly data-sly-resource="${'container1' @ decorationTagName='div'}" />
             </div>
             <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" data-analytics="rightnav">
                 <sly data-sly-resource="${'container2' @ decorationTagName='div'}" />
             </div>
          </div>
       </div>
    </sly>
</sly>