<sly data-sly-use.layout="ca.sunlife.web.cms.core.models.LegacyLayoutContainerModel"/>
<sly data-sly-test.empty="${!layout.noc}" /> 
<sly data-sly-test="${layout.noc == '1'}">
   <sly data-sly-test="${layout.type == 'normal'}">
      <sly data-sly-resource="${'container1' @ decorationTagName=''}" />
   </sly>
</sly>
<sly data-sly-test="${layout.noc == '2'}">
   <sly data-sly-test="${layout.type == '25:75N'}">
      <div id="content" class="global-content global-content-2col">
         <div class="global-col1">
            <sly data-sly-resource="${'left-nav' @ resourceType='sunlife/legacy/components/content/left-navigation', selectors= layout.siteSelector}"/>
         </div>
         <div class="global-col2" role="main" id="mainbodycontent">
            <sly data-sly-resource="${'container1' @ decorationTagName='div'}" />
         </div>
      </div>
   </sly>
</sly>