.accordion-container .cmp-accordion__item {
  background-color: #F3EEEE; }
  .accordion-container .cmp-accordion__item .cmp-accordion__header {
    color: #002D3D; }

.expand-collapse .cmp-accordion__item {
  background-color: #F3EEEE; }
  .expand-collapse .cmp-accordion__item .cmp-accordion__header {
    color: #002D3D; }
    .expand-collapse .cmp-accordion__item .cmp-accordion__header .cmp-accordion__button[aria-expanded="false"]::before {
      color: #002D3D; }
    .expand-collapse .cmp-accordion__item .cmp-accordion__header .cmp-accordion__button[aria-expanded="true"]::before {
      color: #002D3D; }
