<div data-component-render="react" data-component-render-name="news-component" 
    data-component-render-props='{
        "newsToolBar":"true",
        "newsListContainer":"true",
        "toolbarLeftText":"News",
        "toolbarRightText":"Preferences",
        "preferenceModalHeading":"Your Preferences",
        "preferenceModalHeadingbtn1":"Apply",
        "preferenceModalHeadingbtn2":"Clear all",
        "iconName": "fa-sliders",
        "stockTickerHeadingText":"Stock Information",
        "workdayText":"Find information on all your core HR processes and latest Workday announcements",
        "workdayLinkText":"Go to Workday",
        "workplaceText":"Connect and collaborate with your colleagues across the globe",
        "workplaceLinkText":"Go to Workplace"
        }'></div>