<div data-component-render="react" data-component-render-name="news-component" 
    data-component-render-props='{
        "toolbarLeftText":"News",
        "toolbarRightText":"Preferences",
        "preferenceModalHeading":"Your Preferences",
        "preferenceModalHeadingbtn1":"Apply",
        "preferenceModalHeadingbtn2":"Clear all",
        "iconName": "fa-filter",
        "stockTickerHeadingText":"Stock Information",
        "stockTickerType":"yellow",
        "viewAllLink": "/en/investors/share-performance/share-charts/",
        "viewAllText": "View All",
        "dataDelayedText": "Data delayed by 15 minutes",
        "disclaimerText": "disclaimer",
        "disclaimerLink": "/content/dam/sunlife/legacy/assets/com/Global/files/html/stockDisclaimer.html"
        }'></div>