<sly data-sly-use.iconsModel="com.sunlife.core.models.SocialIconsModel"/>
<sly data-sly-test.empty="${!iconsModel.icons}" />
<div data-sly-test="${wcmmode.edit && empty}" class="cq-placeholder" data-emptytext="${component.title}"></div>
<sly data-sly-test="${!empty}"> 
<div class="social-icon-wrapper">
    <ul data-sly-list.icons="${iconsModel.icons}" class="socials">
        <li>
            <a href="${icons.iconUrl @ extension = 'html'}" target="${icons.selection}">
                <i class="${icons.iconName}" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>
</sly>