<div class="layout-container {{product-wrapper-class}} ">
    <div class="row flex-height">
        {{#each product-list}}
        <div class="col-sm-3">
            <div class="container-component">
                <div class="cmp-container thumbnail {{feature-card}}">
                            <img src="//cdn.sunlife.com/static/hk/Sun Life_Foresight_Web_banner_234x132.jpg" alt="Foresight Deferred Annuity Plan" class="imageCard">
                            <span><img src="//cdn.sunlife.com/static/hk/images/slf_featured_icon.png" alt="" class="topright"></span>
                            <div class="caption">
                                <h2 class="product-name">Foresight Deferred Annuity Plan</h2>
                                <p>Benefit Term: To age 100<p>
                                <ul>
                                    <li>Offer stable income stream</li>
                                    <li>With flexible plan options</li>
                                    <li>Eligible for tax deduction</li>
                                </ul>
                            </div>
                            <a href="https://www.sunlife.com.hk/HK/Insurance/Savings+and+life/Foresight+Deferred+Annuity+Plan+video?vgnLocale=en_CA">Foresight Deferred Annuity Plan</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>