@import '../../../base/core';

.product-cards{
    .layout-container.product-card-wrapper{
        .row >div {
            width:100%;
        }
    } 
    div[class^="col-"] 
    {
        height:100%;
        .thumbnail{
            margin-bottom: 20px;
        }
    }   
} 
.layout-container.product-card-wrapper{
    div[class^="col-"]{
        padding:0 15px;
    }
}
.product-card-wrapper{
    .product-cards {
        height:100%;
        margin-bottom:20px;
    }
    .thumbnail{
        padding: 0;
        height: 100%;
        position: relative;
        margin-bottom: 0;
        min-height: 299px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px $product-card-shadow-color;
        &:hover {
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
            transform: scale(1.05, 1.05);
            z-index: 1;
        }
    }
    .feature-card {
        border-radius: 5px;
        background-color: $light-cool-blue-color ;
        box-shadow: 0px 0px 10px $light-grey-color; 
        .topright{
            display: block;
            position: absolute;
            top: 0px;
            right: 0px;
        }
        .imageCard{
            border-bottom: 2px solid $product-card-yellow-border;
        }
    }
    .topright{
        display:none;
    }
    .imageCard{
        max-width: 100%;
        height: auto;
    }
    .caption{
        padding: 14px;
        word-wrap: break-word;
        word-break: break-all;
        justify-content: center;
    }
    .product-name{
        font-size: 1rem;
        color: $blue-gradient-color;
        margin: 0;
        line-height: 120%;
        word-break: break-word;
    }
    p {
        color: $dark-grey-color;
        font-size: 1rem;
        margin-top: 5px;
        text-align: left;
        margin-bottom: 0px;
        line-height: 110%;
        word-break: break-word;
    }
    ul {
        margin-left: 14px;
        list-style: none;
        padding: 0;
        margin-bottom: 10px;
        li {
            font-size: 1rem;
            line-height: 110%;
            word-break: break-word;
        }
        li::before {
            content: "\2022";
            color: $dark-grey-color;
            font-weight: bold;
            display: inline-block;
            width: 1rem;
            margin-left: -1em;
            font-size: 1rem;
            font-family: 'sunlife-sans';
        }
    }
    a {
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        text-indent: -100000px;
    }
}

/*Product Card for Right-Nav */

.right-navigation-wrapper {
    .product-cards {
        .product-name {

            font-size: 1.125rem;
            font-weight: 700;
            margin-bottom:20px;
            width: 89%;
            word-wrap: break-word;
            padding: 30px 20px 0 20px;
        }
        .toprightfeature {
            position: absolute;
            top: 0px;
            right: 0px;
        }
        .fa-icon {
            font-size: 2.25rem;
            color: $medium-blue-color;
            margin: 20px 0 16px 0;
            pointer-events: none;
        }
    } 
}
.right-navigation-wrapper > .cmp-container > div:last-child .product-cards .product-name 
{
    padding: 6px 0 0 20px ;
    
}
/*.right-navigation-wrapper .cmp-container >.experiencefragment .product-cards {
    padding: 24px 15px 0 15px;
}*/

@media (min-width: $mobile-screen-min) and (max-width: $tab-screen-max)
{
    .product-cards .layout-container.product-card-wrapper div[class^="col-"] 
    {
        
        height:auto;
    }
    .layout-container.product-card-wrapper{
        div[class^="col-"]{
           width: 100% !important;
           height: auto;
        }
    }
    .product-card-wrapper{
        .imageCard{
            display: none !important;
        }
        .feature-card {
            border-radius: 5px;
            border-bottom: 2px solid $product-card-yellow-border;
        }
        .thumbnail{
            min-height: 144px;
        }
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .product-card-wrapper {
        .caption{
            word-wrap: break-word;
            word-break: normal;
           
        }
    }
   
}


