<!--/*  
Hero Banner Default Component Variation

Hero banner is a type of component that helps identify/advertise a particular page of the website.
This is default banner component variation template.

Hero Banner component default variation.
- Image (required)
- Content block colour background (required)
- Heading (required)
- Body (optional)
- Button or link (optional)

Reference Figma - https://www.figma.com/file/Yf6ZKjC4LzgkAQzvLmRF6e/1.0-Helios-Web-Components?type=design&node-id=2275-6726&mode=design&t=oKgv6HCyIh2ZJ7pj-4
*/-->

<template data-sly-template.details="${ @ heroBanner }">
    <div 
      class="sl-banner default ${heroBanner.bannerSize} card ${heroBanner.spacing}"
      data-section="${heroBanner.dataSection}"
      role="banner">
      <picture class="picture-container" style="width:var(--viewportWidth);">
         <source srcset="${heroBanner.imgDesktopFileReference}" media="(min-width: 1240px)">
         <source srcset="${heroBanner.imgTabletFileReference || heroBanner.imgDesktopFileReference}" media="(min-width: 905px)">
         <source srcset="${heroBanner.imgMobileFileReference || heroBanner.imgTabletFileReference || heroBanner.imgDesktopFileReference}" media="(min-width: 600px)">
         <img
             src="${heroBanner.imgMobileFileReference || heroBanner.imgTabletFileReference || heroBanner.imgDesktopFileReference}" 
             alt="${heroBanner.altText || true}" 
             class="card-img"
             itemprop="contentUrl" 
             style="width: 100%;"/> 
     </picture>
      <div class="card-img-overlay container">
         <div class="h-100 ${heroBanner.contentAlignment} lg row">
            <div class="col-lg-4 col-md-5 col-sm-12 col-12">
               <div 
                  class="${heroBanner.backgroundStyle} card-content-overlay"
                  data-sly-set.isBtn="${heroBanner.ctaType == 'button' ? true : false }">
                  <h1 
                     class="h1 card-title">
                     ${heroBanner.heading}
                  </h1>
                  <div class="card-text">${heroBanner.description @ context = 'html'}</div>
                  <a 
                     data-sly-test="${heroBanner.ctaType != 'noCTA'}"
                     target="${heroBanner.target}" 
                     href="${isBtn ? heroBanner.btnURL : heroBanner.linkURL}"
                     data-sly-set.linkStyle="${heroBanner.backgroundStyle =='dark' ? 'sl-link sl-link-secondary sl-link-lg' : 'sl-link sl-link-lg'}" 
                     class="${isBtn ? 'sl-btn btn btn-primary' : linkStyle }"
                     data-title="${heroBanner.dataTitle}"
                     data-sly-set.iconType="${isBtn ? heroBanner.ctaIconType : heroBanner.linkIconType }">
                        <sly data-sly-test="${iconType =='file-pdf'}">
                           <i class="far fa-${iconType}"></i>
                        </sly>
                        ${heroBanner.ctaType == 'button' ? heroBanner.btnLabel : heroBanner.ctaLabel }
                        <sly data-sly-test="${iconType !='file-pdf' && iconType != 'noIcn'}">
                           <i class="far fa-${iconType} ${iconType == 'arrow-circle-right' ? 'icn-hover-hidden' : ''}"></i>
                           <sly data-sly-test="${iconType == 'arrow-circle-right'}">
                              <i class="fas fa-arrow-circle-right icn-hover-show"></i>
                           </sly>
                        </sly>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>