<!--/*  
Hero Banner Login Component Variation

Hero banner is a type of component that helps identify/advertise a particular page of the website.
This is login banner component variation template.

Hero Banner component default variation.
- Image (required)
- Login content block: for more information about login please check login template specification(required)
- Heading (required)
- Body (optional)

Reference Figma - https://www.figma.com/file/Yf6ZKjC4LzgkAQzvLmRF6e/1.0-Helios-Web-Components?type=design&node-id=2275-7238&mode=design&t=oKgv6HCyIh2ZJ7pj-4
*/-->

<template data-sly-template.details="${ @ heroBanner }">
    <!--/* TODO - Need to be updated in future when login variation is updated */-->
</template>