auditlog.rule.contentpath="/content/sunlife"
auditlog.rule.minimumage=I"30"
auditlog.rule.name="page-audit-sunlife"
auditlog.rule.types=[ \
  "PageCreated", \
  "PageModified", \
  "PageMoved", \
  "PageDeleted", \
  "VersionCreated", \
  "PageRestored", \
  "PageRolled\ Out", \
  "PageValid", \
  "PageInvalid", \
  ]
