@import '../../../base/core';

.bottom-footer-section {
    .text h3 {
        font-size: 18px;
        font-weight: 700;
    
    }
}

@media (min-width: $tab-screen-min) {
    .bottom-footer-section {
        .text {
            .collapse {
                display: block !important;
            }
            .accordion-heading {
                pointer-events: none;
                line-height: 23px;
            }
            .list-div {
                margin-top: 5px;
            }
        } 
    }

    
}

@media (max-width: $mobile-screen-max) {
    .bottom-footer-section  {
        .text {
            padding: 0 5px;
            .collapse {
                display: block !important;
            }
            .accordion-heading[aria-expanded="false"]:before {
                content: "\f0da";
                font-family: FontAwesome;
                padding-right: 10px;
            }
            .accordion-heading[aria-expanded="true"]:before {
                content: "\f0d7";
                font-family: FontAwesome;
                padding-right: 10px;
            }
            .accordion-heading {
                cursor: pointer;
            }
            .list-div {
                text-align: center;
                margin-bottom: 20px;
            }
        }  
    }
 
}


