.search-bar-wrapper {
  background-image: linear-gradient(to left, #DF7227 10%, #A81E22 40%, #580B11 90%); }
  .search-bar-wrapper .search-box {
    position: relative; }
  .search-bar-wrapper .collapse-x {
    color: #ffffff; }
  .search-bar-wrapper .cmp-form-button {
    background-color: #ffffff;
    color: #002D3D;
    border: 2px solid #002D3D; }
