<template data-sly-template.bottomFooter="${@bottomFooter}">
    <div class="footer-utility-menu-container">
        <hr class="sl-divider hr" aria-hidden="true" />
        <div class="footer-utility-menu col-gap">
            <ul class="footer-utility-submenu" data-sly-list="${bottomFooter.bottomLinks}">
                <li data-sly-use.utilityListParsing="${'sunlife/core/components/common/url-parsing.js' @ path=item.linkURL}" class="footer-menu-items sl-link">
                    <a href="${utilityListParsing.navPath}" lang="${item.langAttribute}" data-title="${item.dataTitle}" data-sly-attribute.target="${item.linkTarget == 'newTab' ? '_blank' : ''}">
                    <sly data-sly-set.isExternal="${item.linkType == 'sl-link-external' ? true : false }">
                        <sly data-sly-test="${item.linkType =='sl-link-pdf'}"><i title="${'pdf.link' @ i18n}" class="fal fa-file-pdf icn-hover-hidden" aria-hidden="true"></i><i title="${'pdf.link' @ i18n}" class="fas fa-file-pdf icn-hover-show" aria-hidden="true"></i></sly>${item.linkName}
                        <sly data-sly-test="${item.linkType !='sl-link-pdf' && item.linkType}"><i title="${(isExternal ? 'external.link' : 'internal.link') @ i18n}" aria-hidden="${isExternal ? 'false' : 'true'}" class="fal ${isExternal ? 'fa-external-link-alt' : 'fa-chevron-circle-right'} icn-hover-hidden"></i><i title="${(isExternal ? 'external.link' : 'internal.link') @ i18n}" aria-hidden="true" class="fas ${isExternal ? 'fa-external-link-alt' : 'fa-chevron-circle-right'} icn-hover-show"></i></sly>
                    </sly>
                    </a>
                    <div data-sly-test="${!itemList.last || itemList.last && !bottomFooter.feedback}" class="sl-divider vr" aria-hidden="true"></div>
                </li>
                <sly data-sly-test="${itemList.last && !bottomFooter.feedback }">
                    <li class="footer-menu-items" id="feedback-footer"></li>
                </sly>
            </ul>
            <div class="footer-icon-tag-container">
            <div class="footer-icons-container">
                <div class="sl-social-media">
                    <ul data-sly-list="${bottomFooter.socialMedia}">
                        <li data-sly-use.utilityListParsing="${'sunlife/core/components/common/url-parsing.js' @ path=item.link}">
                                <a href="${utilityListParsing.navPath}" data-title="${item.dataTitle}" aria-label="${item.screenReaderTextSocialMedia || item.icon}">
                                    <span class="visually-hidden">${bottomFooter.screenReaderTextSocialMedia || item.icon}</span>
                                    <span class="sl-icon sl-icon_size_lg fab fa-${item.icon}" title="${item.screenReaderTextSocialMedia || item.icon}"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="acronym-text">${bottomFooter.slfText}</div>
        </div>
        </div>
    </div>
</template>