<template data-sly-template.topFooter="${@topFooter}">
    <div class="footer-menus-container">
        <hr class="sl-divider hr" aria-hidden="true" />
        <div class="footer-menus row" data-sly-list="${topFooter.topLinks}">
            <div class="footer-menu col" data-heading="${topFooter.topHeadingElement}">
                <h2 data-sly-element="${topFooter.topHeadingElement}"  class="footer-menu-header">
                    <span class="menu-content">${item.heading}</span>
                    <span class="sl-icon fal fa-chevron-down d-lg-none"></span>
                </h2>
                <ul id="footer-title-${itemList.index}-dropdown" class="footer-menu-list" data-sly-list.link="${item.links}">
                    <li data-sly-use.linkURL="${'sunlife/core/components/common/url-parsing.js' @ path=link.linkURL}" class="footer-menu-items sl-link">
					  <a href="${linkURL.navPath}" lang="${link.langAttribute}" data-title="${link.dataTitle}" data-sly-attribute.target="${link.linkTarget == 'newTab' ? '_blank' : ''}">
						  <sly data-sly-set.isExternal="${link.linkType == 'sl-link-external' ? true : false }">
							  <sly data-sly-test="${link.linkType =='sl-link-pdf'}"><i title="${'pdf.link' @ i18n}" class="fal fa-file-pdf icn-hover-hidden" aria-hidden="true"></i><i title="${'pdf.link' @ i18n}" class="fas fa-file-pdf icn-hover-show" aria-hidden="true"></i></sly>${link.linkName}
							  <sly data-sly-test="${link.linkType !='sl-link-pdf' && link.linkType}"><i title="${(isExternal ? 'external.link' : 'internal.link') @ i18n}" aria-hidden="${isExternal ? 'false' : 'true'}" class="fal ${isExternal ? 'fa-external-link-alt' : 'fa-chevron-circle-right'} icn-hover-hidden"></i><i title="${(isExternal ? 'external.link' : 'internal.link') @ i18n}" aria-hidden="true" class="fas ${isExternal ? 'fa-external-link-alt' : 'fa-chevron-circle-right'} icn-hover-show"></i></sly>
						  </sly>
					  </a>
				   </li>
                </ul>
            </div>
        </div>
    </div>
</template>
