<template data-sly-template.topFooter="${@topFooter}">
    <div class="footer-menus-container">
        <hr class="sl-divider hr" aria-hidden="true" />
        <div class="footer-menus row" data-sly-list="${topFooter.topLinks}">
            <div class="footer-menu col">
                <div class="footer-menu-header">
                    <span class="menu-content">${item.heading}</span>
                    <span class="sl-icon fal fa-chevron-down d-lg-none"></span>
                </div>
                <ul id="footer-title-${itemList.index}-dropdown" class="footer-menu-list" data-sly-list.link="${item.links}">
                    <li class="footer-menu-items">
                        <a href="${link.linkURL @ extension = 'html'}" lang="${link.langAttribute}" data-title="${link.dataTitle}" data-sly-attribute.target="${link.linkTarget == 'newTab' ? '_blank' : ''}">${link.linkName}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
