<div class="pagination-component">
<nav role="navigation" aria-label="Pagination" class="text-center">
  <ul class="pagination pagination-list">
	  {{#each pages}}
	  <li>{{{this}}}</li>
		{{/each}}
  </ul>
  <div class="pagination-indicator">
	{{indicator}}
  </div>
</nav>
</div>