<sly data-sly-use.breadcrumb="ca.sunlife.web.cms.core.models.BreadcrumbModel"></sly>

<div class="header">
    <div class="utility ${wcmmode.edit ? 'breadcrumb-author' : ''}"
        data-sly-use.template="core/wcm/components/commons/v1/templates.html"
        data-sly-test.hasItems="${breadcrumb.items.size > 0}">
        <ul class="navigation breadcrumb" data-sly-list.navItem="${breadcrumb.items}">
            <sly data-sly-test="${!properties.hideBreadcrumb}">
                <li>
                    <a href="${navItem.URL}" data-sly-unwrap="${navItem.active}">
                        <sly data-sly-test="${!navItem.active}">${navItem.title}</sly>

                        <span class="lit" data-sly-test="${navItem.active}">${navItem.title @context = 'html'}</span>
                    </a>
                    <sly data-sly-test="${!navItem.active}">></sly>
                </li>
                <sly>
        </ul>

        <div class="tools active">

            <input type="hidden" id="tempTextResizeSmall_h" value="Small">
            <input type="hidden" id="tempTextResizeMedium_h" value="Medium">
            <input type="hidden" id="tempTextResizeLarge_h" value="Large">
            <a class="bg print" title="Print this page" style="display: inline;">Print this page</a>
            <script type="text/javascript">
                if (typeof TextSize == 'object' && typeof TextSize.init == 'function') {
                    TextSize.init('div.tools');
                }                
            </script>
            <a class="bg small" rel="small" title="Small"></a>
            <a class="bg medium" rel="medium" title="Medium"></a>
            <a class="bg large" rel="large" title="Large"></a>
            <div id="mylinks" class="mylinks">
                <a class="bg mylinks" href="#" style="display: inline;"></a>
            </div>
        </div>
    </div>
</div>
<div data-sly-element="${'script' @context='unsafe'}" data-sly-attribute.type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":[
    <sly data-sly-list.navItem="${breadcrumb.items}">
        <sly data-sly-use.breadcrumbParsing="${'breadcrumb-parsing.js' @ path=navItem.URL}">
            {
            "@type": "ListItem",
            "position": ${navItemList.count},
            "name": "${navItem.title}",
            "item": "${breadcrumbParsing.completeURL}"
            }
        </sly>
        <sly data-sly-test="${navItemList.count < breadcrumb.items.size}">,</sly>
    </sly>
    ]
    }
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=breadcrumb.items.size == 0, classAppend='cmp-breadcrumb'}"></sly>