<sly data-sly-use.breadcrumb="ca.sunlife.web.cms.core.models.BreadcrumbModel"></sly>
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasItems="${breadcrumb.items.size > 0}">
    <sly data-sly-test="${!properties.hideBreadcrumb}">

        <div id="breadcrumbs" class="row">
            <div class="col-md-12 breadcrumb-container">
                <!-- breadcrumbs / social icons -->
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <!-- Entering breadCrumb.jsp..-->
                        <ol role="navigation" aria-label="breadcrumb" class="breadcrumb"
                            data-sly-list.navItem="${breadcrumb.items}">
                            <li>
                                <a href="${navItem.URL}">
                                    <span style="font-weight:400;"
                                        data-sly-test="${navItem.active}">${navItem.title}</span>
                                    <sly data-sly-test="${!navItem.active}">${navItem.title @context = 'html'}</sly>
                                </a>
                            </li>
                        </ol>
                        <!-- Exiting breadCrumb.jsp  time :79ms. -->
                    </div>
                </div>
            </div>
        </div>