<sly data-sly-use.breadcrumb="ca.sunlife.web.cms.core.models.BreadcrumbModel"></sly>
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
   data-sly-test.hasItems="${breadcrumb.items.size > 0}">
	<sly data-sly-test="${!properties.hideBreadcrumb}">
    <div id="breadcrumb">
       <ul class="clearfix" data-sly-list.navItem="${breadcrumb.items}">
          <li>
          	<a class = "${navItem.active ? 'lit' : ''}" href="${navItem.URL}">
            	<sly data-sly-test="${!navItem.active}">${navItem.title}</sly>
                <sly data-sly-test="${navItem.active}">${navItem.title @context = 'html'}</sly>
            </a>
            <sly data-sly-test="${!navItem.active}">&gt;</sly>
          </li>
       </ul>
    
       <ul id="resize">
          <li id="text-large" style="display: list-item;"><a href="#" title="Large">Large</a></li>
          <li id="text-medium" style="display: list-item;"><a href="#" title="Medium">Medium</a></li>
          <li id="text-small" style="display: list-item;"><a href="#" title="Small">Small</a></li>
          <li id="print-page" style="display: list-item;"><a href="#" title="Print this Page">Print this Page</a></li>
       </ul>
    </div>
    <sly>
<sly>    