<sly data-sly-use.breadcrumb="ca.sunlife.web.cms.core.models.BreadcrumbModel"></sly>
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasItems="${breadcrumb.items.size > 0}">
    <sly data-sly-test="${!properties.hideBreadcrumb}">
        <div id="breadcrumbs" class="row">
            <div class="col-md-12 breadcrumb-container">
                <div class="row">
                    <ol role="navigation" aria-label="breadcrumb" class="breadcrumb" data-sly-list.navItem="${breadcrumb.items}">
                        <li class="${navItem.active ? 'active' : ''}">
                            <sly data-sly-test="${navItem.active}">
                                <span>${navItem.title}</span></sly>
                            </sly>
                            <sly data-sly-test="!${navItem.active}">
                                <a href="${navItem.URL}">
                                    <sly data-sly-test="${!navItem.active}"><span>${navItem.title}</span></sly>
                                    <!-- <sly data-sly-test="${navItem.active}"><span>${navItem.title @context = 'html'}</span></sly> -->
                                </a>
                            </sly>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </sly>
</sly>