<sly data-sly-use.breadcrumb="ca.sunlife.web.cms.core.models.BreadcrumbModel"></sly>
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasItems="${breadcrumb.items.size > 0}">
<sly data-sly-test.name="${currentPage.name == 'search-results'}" />
    <sly data-sly-test="${!properties.hideBreadcrumb}">
        <div id="breadcrumbs" class="row">
            <div class="col-md-12 breadcrumb-container">
                <div class="row">
					<div class="col-sm-12 col-md-9">
                    <ol role="navigation" aria-label="breadcrumb" class="breadcrumb" data-sly-list.navItem="${breadcrumb.items}">
                        <li data-sly-test="${!navItem.active}">
                           <a href="${navItem.URL}">
                                    ${navItem.title}
                                </a>
                        </li>
                        <li class="active" data-sly-test="${navItem.active && name}">
                           <a href="${navItem.URL}">
                                    ${navItem.title}
                                </a>
                        </li>
                    </ol>
					</div>
                </div>
            </div>
        </div>
    </sly>
</sly>