<!--/*
Template for banner-image card component 
Figma design reference - https://www.figma.com/file/Yf6ZKjC4LzgkAQzvLmRF6e/1.0-Helios-Web-Components?type=design&node-id=11145-69119&mode=design&t=VXlORNimlyCeZtFI-4
*/-->
<template data-sly-template.details="${ @ model, cardType, containerConfigs }">
      <div data-sly-test="${containerConfigs.imagePosition =='left'}" class="col-md-6 col-sm-12 col-12">
        <picture data-sly-test="${model.cardImageFileReference}">
          <source srcset="${model.cardImageFileReference}">
          <img src="${model.cardImageFileReference}" alt="${model.altText}" class="card-img">
        </picture>
      </div>

      <div class="body-container col">
        <div class="card-body">
          <h3 class="h3 card-title">${model.bannerImageHeading}</h3>
          <div class="card-text">
            ${model.bannerImageDescription @ context ='html'}
            <div class="caption-text">${model.bannerImageCaption @ context ='html'}</div>
          </div>

          <a data-sly-test="${model.ctaType != 'noCTA'}"
            target="${ isBtn ? model.cardBtnTarget : model.cardLinkTarget }"
            href="${isBtn ? model.cardBtnURL : model.cardLinkURL}"
            class="${isBtn ? 'sl-btn btn btn-secondary' : 'sl-link' } hover-icn-cta"
            data-sly-set.iconType="${isBtn ? model.cardBtnIconType : model.cardLinkIconType }">
            <sly data-sly-test="${iconType =='file-pdf'}">
              <i class="far fa-${iconType}"></i>
            </sly>
            ${isBtn ? model.cardBtnLabel : model.cardLinkLabel }
            <sly data-sly-test="${iconType !='file-pdf' && iconType != 'noIcn'}">
              <i class="fak fa-${iconType} icn-hover-hidden"></i>
              <i class="fak fa-${iconType}-hover icn-hover-show"></i>
            </sly>
          </a>

        </div>
      </div>

      <div data-sly-test="${containerConfigs.imagePosition =='right'}" class="col-md-6 col-sm-12 col-12">
        <picture data-sly-test="${model.cardImageFileReference}">
          <source srcset="${model.cardImageFileReference}">
          <img src="${model.cardImageFileReference}" alt="${model.altText}" class="card-img">
        </picture>
      </div>

</template>
