<!--/*
Template for banner card component 
Figma design reference - https://www.figma.com/file/Yf6ZKjC4LzgkAQzvLmRF6e/1.0-Helios-Web-Components?type=design&node-id=11684-98289&mode=design&t=VXlORNimlyCeZtFI-4
*/-->
<template data-sly-template.details="${ @ model, cardType, containerConfigs }">
  <sly data-sly-set.haveSomthing="${model.bannerHeading || model.cardIcon || model.bannerDescription || model.bannerFormContainer || model.bannerCaption || model.cardDescription || model.cardCaption}" />

  <!--/* Empty Placeholder */-->
  <div data-sly-test="${!haveSomthing}" class="cq-placeholder" data-emptytext="Banner Card"></div>
  <sly data-sly-test="${haveSomthing}">

    <div class="card">
      <div class="card-body">
        <i data-sly-test="${model.cardIcon}" class="sl-card-icon fak fa-${model.cardIcon}"></i>
        <h3 class="h3 banner-header card-title">${ model.bannerHeading }</h3>
        <div class="card-text">${ model.bannerDescription @ context ='html' }</div>
        <!-- Form container -->
          <div data-sly-test="${model.bannerFormContainer}" class="grouped-form">
              <sly data-sly-resource="${ 'form-container' @ resourceType='sunlife/core/components/form/core-container/v1/container'}"/>
          </div>
        <!-- caption -->
        <div class="caption-container">
          ${model.bannerCaption @ context ='html'}
        </div>
        <!-- link -->
        <div data-sly-test="${containerConfigs.isLink}">
          <sly 
                data-sly-use.template="/apps/sunlife/core/components/content/core-card/v1/card/templates/cta.html"
                data-sly-call="${template.details @ ctaType=model.ctaType, cardBtnTarget=model.cardBtnTarget, cardBtnUR=model.cardBtnURL, cardBtnIconType=model.cardBtnIconType, cardBtnLabel=model.cardBtnLabel, cardLinkTarget=model.cardLinkTarget, cardLinkURL=model.cardLinkURL, cardLinkIconType=model.cardLinkIconType, cardLinkLabel=model.cardLinkLabel }">
            </sly>
        </div>
      </div>
    </div>
  </sly>
</template>
