<!--/*
Template for banner card component 
Figma design reference - https://www.figma.com/file/Yf6ZKjC4LzgkAQzvLmRF6e/1.0-Helios-Web-Components?type=design&node-id=11684-98289&mode=design&t=VXlORNimlyCeZtFI-4
*/-->
<template data-sly-template.details="${ @ model, cardType, containerConfigs }">
  <div class="card">
    <div class="card-body">
      <i data-sly-test="${model.cardIcon}" class="sl-card-icon fak fa-${model.cardIcon}"></i>
      <h3 class="h3 banner-header card-title">${ model.bannerHeading }</h3>
      <div class="card-text">${ model.bannerDescription @ context ='html' }</div>
      <!-- Form container -->
        <div data-sly-test="${model.bannerFormContainer}" class="grouped-form">
            <sly data-sly-resource="${ 'form-container' @ resourceType='sunlife/core/components/form/core-container/v1/container'}"/>
        </div>
      <!-- caption -->
      <div class="caption-container">
        ${model.bannerCaption @ context ='html'}
      </div>
      <!-- link -->
      <div data-sly-test="${containerConfigs.isLink}">
        <a data-sly-test="${model.ctaType != 'noCTA'}"
            target="${ model.cardLinkTarget }"
            href="${model.cardLinkURL}"
            class="${'sl-link'} hover-icn-cta"
            data-sly-set.iconType="${ model.cardLinkIconType }">
            <sly data-sly-test="${iconType =='file-pdf'}">
              <i class="far fa-${iconType}"></i>
            </sly>
            ${ model.cardLinkLabel }
            <sly data-sly-test="${iconType !='file-pdf' && iconType != 'noIcn'}">
              <i class="fak fa-${iconType} icn-hover-hidden"></i>
              <i class="fak fa-${iconType}-hover icn-hover-show"></i>
            </sly>
          </a>
      </div>
    </div>
  </div>

</template>
