<!--/*
Template for banner-image card component 
Figma design reference - https://www.figma.com/file/Yf6ZKjC4LzgkAQzvLmRF6e/1.0-Helios-Web-Components?type=design&node-id=11145-69119&mode=design&t=VXlORNimlyCeZtFI-4
*/-->
<template data-sly-template.details="${ @ model, cardType, containerConfigs }">
  
  <sly data-sly-set.haveSomthing="${model.cardImageFileReference || model.bannerImageHeading || model.bannerImageDescription || model.altText || model.bannerImageCaption || model.ctaType }" />

  <!--/* Empty Placeholder */-->
  <div data-sly-test="${!haveSomthing}" class="cq-placeholder" data-emptytext="Banner-Image Card"></div>
  <sly data-sly-test="${haveSomthing}">

      <div data-sly-test="${containerConfigs.imagePosition =='left'}" class="col-md-6 col-sm-12 col-12">
        <picture data-sly-test="${model.cardImageFileReference}">
          <source srcset="${model.cardImageFileReference}">
          <img src="${model.cardImageFileReference}" alt="${model.altText}" class="card-img">
        </picture>
      </div>

      <div class="body-container col">
        <div class="card-body">
          <h3 class="h3 card-title" data-sly-element="${model.bannerImageHeadingType || 'h3'}">
            ${model.bannerImageHeading}</h3>
          <div class="card-text">
            ${model.bannerImageDescription @ context ='html'}
            <div class="caption-text">${model.bannerImageCaption @ context ='html'}</div>
          </div>

          <sly 
              data-sly-use.template="/apps/sunlife/core/components/content/core-card/v1/card/templates/cta.html"
              data-sly-call="${template.details @ ctaType=model.ctaType, cardBtnTarget=model.cardBtnTarget, cardBtnURL=model.cardBtnURL, cardBtnIconType=model.cardBtnIconType, cardBtnLabel=model.cardBtnLabel, cardBtnType='secondary', cardLinkTarget=model.cardLinkTarget, cardLinkURL=model.cardLinkURL, cardLinkIconType=model.cardLinkIconType, cardLinkLabel=model.cardLinkLabel, dataTitle=model.dataTitle }">
          </sly>

        </div>
      </div>

      <div data-sly-test="${containerConfigs.imagePosition =='right'}" class="col-md-6 col-sm-12 col-12">
        <picture data-sly-test="${model.cardImageFileReference}">
          <source srcset="${model.cardImageFileReference}">
          <img src="${model.cardImageFileReference}" alt="${model.altText}" class="card-img">
        </picture>
      </div>
    </sly>
</template>
