<!--/*
Template for horizontal and vertical card component
Figma design reference - https://www.figma.com/file/Yf6ZKjC4LzgkAQzvLmRF6e/1.0-Helios-Web-Components?type=design&node-id=580-2961&mode=design&t=VXlORNimlyCeZtFI-4
*/-->
<template data-sly-template.details="${ @ model, cardType, containerConfigs }">
  <sly data-sly-set.isAsset="${model.assetType =='noAsset'? false : true }"
    data-sly-set.isImageCard="${isAsset && model.assetType =='image' ? true : false }"
    data-sly-set.isIconCard="${isAsset && model.assetType =='icon' ? true : false }">

    <picture data-sly-test="${ !containerConfigs.isIcon && isImageCard }">
      <img data-sly-test="${model.cardImageFileReference}" 
        src="${model.cardImageFileReference}" 
        alt="${model.altText}"
        class="img-container">
    </picture>

    <div class="card-body">
      <div data-sly-test="${ containerConfigs.isIcon && isIconCard}" class="icon-container card-text">
        <i data-sly-test="${model.cardIcon}" class="sl-card-icon fak fa-${model.cardIcon}"></i>
      </div>

      <div class="content-container">
        <div class="cat-badge-container" data-sly-test="${model.cardCategory || model.cardBadgeText}">
          <div class="category">${model.cardCategory}</div>

          <div data-sly-test="${model.cardBadgeText && model.cardBadgeType!='none'}">
            <span class="sl-badge badge bg-${model.cardBadgeType}">
              <div class="badge-label">${model.cardBadgeText}</div>
            </span>
          </div>
        </div>

        <h4 class="h4 card-title">${model.cardHeading}</h4>
        <div class="body-text card-text">
          ${model.cardDescription @ context ='html'}
        </div>
        <div class="caption card-text">${model.cardCaption}</div>
        <div class="cta-container" data-sly-set.isBtn="${model.ctaType == 'button' ? true : false }">
          <a data-sly-test="${model.ctaType != 'noCTA'}"
            target="${ isBtn ? model.cardBtnTarget : model.cardLinkTarget }"
            href="${isBtn ? model.cardBtnURL : model.cardLinkURL}"
            class="${isBtn ? 'sl-btn btn btn-primary' : 'sl-link' } hover-icn-cta"
            data-sly-set.iconType="${isBtn ? model.cardBtnIconType : model.cardLinkIconType }">
            <sly data-sly-test="${iconType =='file-pdf'}">
              <i class="far fa-${iconType}"></i>
            </sly>
            ${isBtn ? model.cardBtnLabel : model.cardLinkLabel }
            <sly data-sly-test="${iconType !='file-pdf' && iconType != 'noIcn'}">
              <i class="fak fa-${iconType} icn-hover-hidden"></i>
              <i class="fak fa-${iconType}-hover icn-hover-show"></i>
            </sly>
          </a>
        </div>
      </div>
    </div>
  </sly>
</template>