<!--/*
Template for media card component
Figma design reference - https://www.figma.com/file/Yf6ZKjC4LzgkAQzvLmRF6e/1.0-Helios-Web-Components?type=design&node-id=11696-101995&mode=design&t=VXlORNimlyCeZtFI-4
video - https://www.figma.com/file/Yf6ZKjC4LzgkAQzvLmRF6e/1.0-Helios-Web-Components?type=design&node-id=11820-86684&mode=design&t=VXlORNimlyCeZtFI-4
*/-->
<template data-sly-template.details="${@ model, cardType, containerConfigs }">

  <sly data-sly-set.haveSomthing="${model.cardImageFileReference || model.mediaHeading || model.mediaDescription || model.ctaType || model.altText }" />

  <!--/* Empty Placeholder */-->
  <div data-sly-test="${!haveSomthing}" class="cq-placeholder" data-emptytext="Media Card"></div>

  <sly data-sly-test="${haveSomthing}">
    <picture data-sly-test="${containerConfigs.mediaType =='left' && model.cardImageFileReference}">
      <source srcset="${model.cardImageFileReference}">
      <img src="${model.cardImageFileReference}" alt="${model.altText}" class="card-img">
    </picture>

  <div data-sly-test="${containerConfigs.mediaType =='video'}" class="video-container">
    <sly data-sly-resource="${ 'embed' @ resourceType='sunlife/core/components/content/core-embed-video/v1/embed'}"/>
  </div>

    <div class="body-with-section card-body">
      <h3 class="h3 card-title">${model.mediaHeading}</h3>
      <div class="card-text">${model.mediaDescription @ context ='html'}</div>

      <div class="media-cta-container">
        <sly 
              data-sly-use.template="/apps/sunlife/core/components/content/core-card/v1/card/templates/cta.html"
              data-sly-call="${template.details @ ctaType=model.ctaType, cardBtnTarget=model.cardBtnTarget, cardBtnURL=model.cardBtnURL, cardBtnIconType=model.cardBtnIconType, cardBtnLabel=model.cardBtnLabel, cardBtnType='secondary', cardLinkTarget=model.cardLinkTarget, cardLinkURL=model.cardLinkURL, cardLinkIconType=model.cardLinkIconType, cardLinkLabel=model.cardLinkLabel, dataTitle=model.dataTitle }">
          </sly>
      </div>

    </div>

    <picture data-sly-test="${containerConfigs.mediaType =='right' && model.cardImageFileReference}">
      <source srcset="${model.cardImageFileReference}">
      <img src="${model.cardImageFileReference}" alt="${model.altText}" class="card-img">
    </picture>
</sly>
</template>
