<!--/*
Template for media card component
Figma design reference - https://www.figma.com/file/Yf6ZKjC4LzgkAQzvLmRF6e/1.0-Helios-Web-Components?type=design&node-id=11696-101995&mode=design&t=VXlORNimlyCeZtFI-4
video - https://www.figma.com/file/Yf6ZKjC4LzgkAQzvLmRF6e/1.0-Helios-Web-Components?type=design&node-id=11820-86684&mode=design&t=VXlORNimlyCeZtFI-4
*/-->
<template data-sly-template.details="${@ model, cardType, containerConfigs }">
   
  <picture data-sly-test="${containerConfigs.mediaType =='left' && model.cardImageFileReference}">
    <source srcset="${model.cardImageFileReference}">
    <img src="${model.cardImageFileReference}" alt="${model.altText}" class="card-img">
  </picture>

  <div data-sly-test="${containerConfigs.mediaType =='video'}" class="video-container">
    <sly data-sly-resource="${ 'embed' @ resourceType='sunlife/core/components/content/core-embed-video/v1/embed'}"/>
  </div>

    <div class="body-with-section card-body">
      <h3 class="h3 card-title">${model.mediaHeading}</h3>
      <div class="card-text">${model.mediaDescription @ context ='html'}</div>

      <div class="media-cta-container">
        <a data-sly-test="${model.ctaType != 'noCTA'}"
            target="${ isBtn ? model.cardBtnTarget : model.cardLinkTarget }"
            href="${isBtn ? model.cardBtnURL : model.cardLinkURL}"
            class="${isBtn ? 'sl-btn btn btn-secondary' : 'sl-link' } hover-icn-cta"
            data-sly-set.iconType="${isBtn ? model.cardBtnIconType : model.cardLinkIconType }">
            <sly data-sly-test="${iconType =='file-pdf'}">
              <i class="far fa-${iconType}"></i>
            </sly>
            ${isBtn ? model.cardBtnLabel : model.cardLinkLabel }
            <sly data-sly-test="${iconType !='file-pdf' && iconType != 'noIcn'}">
              <i class="fak fa-${iconType} icn-hover-hidden"></i>
              <i class="fak fa-${iconType}-hover icn-hover-show"></i>
            </sly>
          </a>
      </div>

    </div>

    <picture data-sly-test="${containerConfigs.mediaType =='right' && model.cardImageFileReference}">
      <source srcset="${model.cardImageFileReference}">
      <img src="${model.cardImageFileReference}" alt="${model.altText}" class="card-img">
    </picture>

</template>
