<template data-sly-template.segmented="${@options}">
  <div class="card" data-sly-test="${options.additionalFeatures == 'withLink'}">
    <div class="card-body">
      <span class="sl-icon sl-icon-info-find-advisor"></span>
      <div class="h4 card-title">${properties.title}</div>
      <div class="card-text">${properties.description @ context ='html'}</div>
      <div class="link-container">
        <a target="_self" href="${properties.buttonLink}" class="sl-link"
          >${properties.buttonLabel}<span class="sl-icon-after"
            ><span class="sl-icon sl-icon-chevron-circle-right"></span></span
        ></a>
      </div>
    </div>
  </div>
  <div
    class="single-form card"
    data-sly-test="${options.additionalFeatures == 'withButton'}"
  >
    <div class="card-body">
      <span class="sl-icon sl-icon-info-find-advisor"></span>
      <div class="h4 card-title">${properties.title}</div>
      <div class="card-text">${properties.description @ context ='html'}</div>
    </div>
    <button
      type="button"
      href="${properties.buttonLink}"
      class="sl-btn btn btn-secondary"
    >
      ${properties.buttonLabel}
    </button>
  </div>
  <div
    class="single-form card"
    data-sly-test="${options.additionalFeatures == 'withDropdown'}"
    data-sly-use.card="ca.sunlife.web.cms.core.models.v1.Card"
  >
    <div class="card-body">
      <span class="sl-icon sl-icon-info-find-advisor"></span>
      <div class="h4 card-title">${properties.title}</div>
      <div class="card-text">${properties.description @ context ='html'}</div>
    </div>
    <div class="grouped-form">
      <div class="sl-dropdown" aria-disabled="false">
        <div class="combo">
          <div
            aria-controls="basic-listbox"
            aria-expanded="false"
            aria-haspopup="listbox"
            aria-invalid="false"
            aria-labelledby="basic-label"
            id="basic"
            class="combo-input"
            role="combobox"
            tabindex="0"
          >
            <label class="" for="basic" id="basic-label">Label</label>
            <div class="combo-input-selected"></div>
            <span
              class="sl-icon sl-icon-chevron-down sl-icon_non-interactive"
            ></span>
          </div>
          <div
            class="combo-menu"
            role="listbox"
            id="basic-listbox"
            aria-labelledby="basic-label"
            tabindex="-1"
          >
            <div
              class="combo-option"
              role="option"
              aria-selected="false"
              id="basic-0"
              data-sly-repeat="${card.comboList}"
            >
              ${item.title}
            </div>
          </div>
        </div>
      </div>
      <button
        type="button"
        href="${properties.buttonLink}"
        class="sl-btn btn btn-secondary"
      >
        ${properties.buttonLabel}
      </button>
    </div>
  </div>
</template>
