<!--/*
Template for statistic card component
Figma design reference - https://www.figma.com/file/Yf6ZKjC4LzgkAQzvLmRF6e/1.0-Helios-Web-Components?type=design&node-id=12940-112107&mode=design&t=VXlORNimlyCeZtFI-4
*/-->
<template data-sly-template.details="${ @ model, cardType, containerConfigs }"> 
  <div class="card-body">
    <div class="caption">${model.statisticCaption @ context ='html'}</div>
    <div class="h3 card-title">${model.statisticHeading}</div>
    <div class="card-text">${model.statisticDescription @ context ='html'}</div>
  </div>
</template>
