<template data-sly-template.details="${@options}">
  <div
    class="${options.verticalMultipleClickable ? 'clickable' : ''} ${options.verticalMultipleWithIcon ? 'icon' : ''} multi-v card"
  >
    <img
      data-sly-test="${properties.imageFileReference}"
      class="card-img-top"
      src="${properties.imageFileReference}"
      alt="UX image"
    />
    <div class="card-body">
      <div
        class="icon-container card-text"
        data-sly-test="${options.verticalMultipleWithIcon}"
      >
        <span class="sl-icon sl-icon-info-find-advisor"></span>
      </div>
      <div class="content-container">
        <div
          class="cat-badge-container"
          data-sly-test="${properties.category || properties.labelText}"
        >
          <div class="category">${properties.category}</div>
          <div data-sly-test="${properties.labelText}">
            <span class="sl-badge badge bg-success"
              ><div class="badge-label">${properties.labelText}</div></span
            >
          </div>
        </div>
        <div class="h4 card-title">${properties.title}</div>
        <div class="body-text card-text">
          ${properties.description @ context ='html'}
        </div>
        <div class="caption card-text">${properties.caption}</div>
        <div class="cta-container">
          <button type="button" class="sl-btn btn btn-primary">
            ${properties.buttonLabel}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
