@import '../../../base/core';
.footer-copyright-wrapper{
    background-color: $medium-blue-color;
    padding:24px 16px;
    height: 128px;
    .footer-logo-section {
        float: left;
        width: 33.33%;
    }
    .footer-text-section {
        float: right;
        width: 66.67%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top-part{
            display: inline-block;
            width: 100%;
            line-height:18px;
            .slf-legal{
                float: right;
                font-weight: 700;
                li{
                    display: inline-block;
                    color: $white-shade;
                    padding:0 6px;
                }
                a{
                    color: $white-shade;
                    font-size: 0.875rem;
                    font-weight: 700;
                    line-height: 18px;
                }
                a.border-present{
                    border-right: 2px solid;
                    padding-right: 12px;
                }
                li:last-child{
                    padding-right: 0;
                }
            }
        }
        .bottom-part{
            display: inline-block;
            width: 100%;
            line-height:20px;
            .slf-copyright{
                color: $white-shade;
                font-size: 0.875rem;
                line-height: 18px;
                float: right;
                p{
                    margin:0;
                }
            }
        }
    }
    
}

@media (min-width: $tab-screen-min) and (max-width: $tab-screen-max){
    .footer-copyright-wrapper{
        height: 128px;
        padding:24px 16px;
    }
}
@media (max-width: $mobile-screen-max){
    .footer-copyright-wrapper{
        height: auto;
        padding: 24px 16px;
        .footer-logo-section, .footer-text-section {
            width: 100%;
            float: none;
            text-align: center;
        }
        .top-part{
            display: block;
            .slf-tagline, .slf-legal{
                float: none;
                text-align: center;
            }
            .slf-legal{
                padding: 32px 13px 0px 13px;
                ul{
                    li:nth-child(4){
                        padding-right: 6px;
                    }
                    li:nth-child(6){
                        padding-left: 0;
                        margin-left: -2px;
                    }
                    li{
                        line-height: 26px;
                    }
                } 
            }
        }
        .bottom-part{
            display: block;
            .slf-copyright, .slf-acronym, .not-slf-acronym{
                float: none;
                text-align: center;
            }
            .slf-copyright{
                padding-top: 24px;
            }
        }
    }
}