@import '../../../base/core';
hr{
    margin-top: 40px;
    margin-bottom: 40px;
    height:2px;
}
.grey-horizontal-separator{
    border-color: $medium-grey-background;
}
.yellow-horizontal-separator{
    border-color: $medium-yellow-background;
}
