@import '../../../base/core';
hr{
    margin-top: 40px;
    margin-bottom: 40px;
    size:10px;
}
    
.grey-horizontal-separator{
    hr{
        border-color: $medium-grey-background;
    }
}
.yellow-horizontal-separator{
    hr{
        border-color: $medium-yellow-background;
    }
}
