@import '../../../base/core';
.two-column-wrapper{
    .slf-yellow-background{
        background-color:$medium-yellow-background;
    }
    .padding-between{
        width:100%;
        display:flex;
        .slf-yellow:not(:first-child) {
            margin-left: 20px;
        }
    }
    .slf-blue-bg-background{
        background:$medium-blue-color;
    }
    .slf-l-gradient-background{
        background:linear-gradient($medium-yellow-background, $primary-yellow-background);
    }
    .vertical-separator-med-grey{
            width: 2px;
            background: $medium-grey-background;
            height: auto;
    }
    .normal-vertical{
        width:100%;
        display:flex;
    }
}