<div class="modal fade sign-in-modal-wrapper horizontal-middle-align" data-section="header-sign-in-id"
        id="mySignInModal" role="dialog">
        <div class="modal-dialog sign-in-modaldialog">
            <!-- Modal content-->
            <div class="modal-content modal-main horizontal-middle-align">
                <div class="modal-header signin-modal-header">
                    <button type="button" class="fa fa-remove collapse-x close-modal" aria-label="Close"
                        data-dismiss="modal" id="closeSignInModal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="slf-icon-reg">
                        <span class="icon-reg fa fa-user fa-inverse fa-stack-1x"></span>
                    </div>
                    <div class="login-container" id="signin-widget">
                        <h4 id="customerSignInHeader" class="customerSignInHeader">SIGN IN</h4>
                        <div class="download-app">
                            <a href="https://www.sunlife.co.id/ID/About+us/Client+support/My+Sun+Life+Indonesia+app?vgnLocale=en_CA"
                                target="_blank">
                                <img alt="Sun Life App" src="https://www.sunlife.com/static/slfglobal/globalweb/responsive/images/en/sunlife-app-logo.png" />
                            </a>
                            <div class="download-text">
                                <p>Enjoy better mobile experience on </p>
                                <p class="download-text-bold">My Sun Life Indonesia app</p>
                            </div>
                        </div>
                        <div class="id_signin">
                            <div id="userIdDiv" class="form-group">
                                <p class="module-body">Welcome to the Sun Life Portal. We are happy to serve you.</p>
                                <p class="module-body">Please indicate your preferred portal access option.</p>
                            </div>
                            <div id="passwordDiv" class="form-group select-dropdown"><select name="id_sign_in"
                                    id="id_sign_in" class="text form-control">
                                    <option hidden="hidden" placeholder="Select a service">Please select</option>
                                    <option label="Client" value="https://client.sunlife.co.id ">Client</option>
                                    <option label="Advisor" value="https://agent.sunlife.co.id/MySunAdvisor/#/">Advisor
                                    </option>
                                </select></div>
                            <div id="signIn" class="form-group"><input onclick="popupID()" type="button"
                                    class="btn btn-blue" alt="Sign in" value="Sign in" disabled="disabled"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>