@import '../../../base/core';
    .sign-in-modal-wrapper {
        .form-first{
            .module-body {
                font-size:1rem;
                line-height:22px;
                text-align: center;
            }
        }
        .modal-dialog.sign-in-modaldialog{
            margin:0;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            vertical-align: middle;
            display: flex;
        }
        .form-second {
            .moreon{
                display: block;
                margin-top: 20px;
                a{
                    font-weight:700;
                    color: $medium-blue-color;
                    font-size:1rem;
                    text-decoration: none;
                }
            }
            .moreon:after{
                content: '\f138';
                color: $blue-gradient-color;
                padding-left:5px;
                font-family: FontAwesome;
            }
        }
        .select-dropdown{
            margin-bottom:20px;
            select.form-control{
                font-weight: 400;
                font-size: 1rem;
                border: none;
                border-radius: 0;
                -webkit-appearance: none;
                height: auto;
                padding-right: 30px;
                background-color: $white-shade;
                background-repeat: no-repeat;
                background-position: right center;
                background-image: url(/content/dam/sunlife/legacy/assets/slfglobal/globalweb/responsive/images/en/form-ui-select-dropdown-arrow.png);
                width:283px;
                height:34px;
                padding-left:10px;
                option{
                    width:inherit;
                }
            }
          }
          .login-container{
                .customerSignInHeader{
                    font-size:1.5rem;
                }
               .form-group {
                    margin-bottom: 10px;
                    .btn-blue{
                        font-size: 1rem;
                        font-weight: 700;
                        white-space: nowrap;
                        padding: 7px 19px;
                        margin: 20px 0 0 0;
                        width:inherit;
                        height:40px;
                        border:none;
                        border-radius:0;
                        &:hover{
                            background-color:$cool-blue-color;
                        }
                    }
                    .btn.btn-blue[disabled]{
                        opacity: 1;
                        background: $dark-grey-color;
                        border: 2px solid $dark-grey-color;
                        color:$white-shade;
                        &:hover{
                            background-color:$dark-grey-color;
                            cursor:not-allowed;
                        }
                    }
               }
          }
        .download-app{
            display:none;
        }
    }
    @media(max-width:$tab-screen-max){
        .sign-in-modal-wrapper {
            .download-app{
                display:block;
            }
        }
    }
    @media(max-width:$mobile-screen-max){
        body:lang(id) .sign-in-modal-wrapper{
            .login-container {
                .download-app{
                    height:auto;
                    transform: translateY(9px);
                }
            }
        }
    }