<sly data-sly-use.list="ca.sunlife.web.cms.core.models.AnnouncementList">
    <sly data-sly-test.overview="${list.newsType=='1' && list.listItems.size>0}">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="news-list" data-sly-list="${list.listItems}">

                    <sly data-sly-list.element="${item.elements}">
                        <sly data-sly-test="${element.name == 'newsroomPagePath'}" data-sly-test.pageLink="${element.value}" />
                        <sly data-sly-test="${element.name == 'newsroomHeading'}" data-sly-test.headline="${element.value}" />
                        <sly data-sly-test="${element.dataType == 'calendar'}" data-sly-use.tpl="sunlife/core/components/templates/calendar.html" data-sly-test.date="${element.value}" />
                    </sly>
                    <div class="news-article">
                        <p data-sly-call="${tpl.element @ date = date, format = list.dateFormat,pageLocale = list.pageLocale}"></p>
                        <p><a href="${pageLink @ extension = 'html'}">${headline}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </sly>
    <sly data-sly-test="${list.newsType == '2'}">
        <div class="tabs tabs-wrapper news">
            <div class="cmp-tabs" data-cmp-is="tabs" role="tablist">
                <ol class="cmp-tabs__tablist" id="news-listing-tab" data-sly-list.yearsToShow="${list.yearsToShow}">
                    <li role="tab" class="${yearsToShow == list.activeYear ? 'cmp-tabs__tab cmp-tabs__tab--active' : 'cmp-tabs__tab'}" tabindex="-1" aria-selected="${yearsToShow == list.activeYear ? 'true': 'false'}" id="${yearsToShow}-tab" aria-controls="${yearsToShow}tab-content" data-cmp-hook-tabs="tab" data-toggle="reload">
                        <a x-cq-linkchecker="skip" href="${list.relativeURL}/${yearsToShow}/">
                            <span class="slf-tab-title">${yearsToShow}</span>
                        </a>
                    </li>
                </ol>
                <div data-sly-repeat.yearsTab="${list.yearsToShow}" role="tabpanel" tabindex="0" class="${yearsTab == list.activeYear ? 'cmp-tabs__tab cmp-tabs__tab--active' : 'cmp-tabs__tab'}" data-cmp-hook-tabs="tabpanel">
                    <div class="tab-accordian-heading visible-xs hidden-sm hidden-md hidden-lg" aria-expanded="${yearsTab == list.activeYear ? 'true' : 'false'}" tabindex="0">
                       <a x-cq-linkchecker="skip" href="${list.relativeURL}/${yearsTab}/"><span>${yearsTab}</span></a>
                    </div>
                    <sly data-sly-test="${yearsTab == list.activeYear}">
                        <div class="option-box no-margin news-option-table">
                            <sly data-sly-test.announcementPresent="${list.listItems}" data-sly-list="${list.listItems}">
                                <div class="news-article">
                                    <sly data-sly-list.element="${item.elements}">
                                        <sly data-sly-test="${element.name == 'newsroomPagePath'}" data-sly-test.pageLink="${element.value}" />
                                        <sly data-sly-test="${element.name == 'newsroomHeading'}" data-sly-test.headline="${element.value}" />
                                        <sly data-sly-test="${element.dataType == 'calendar'}" data-sly-use.tpl="sunlife/core/components/templates/calendar.html" data-sly-test.date="${element.value}" />
                                    </sly>
                                    <p data-sly-call="${tpl.element @ date = date, format = list.dateFormat, pageLocale = list.pageLocale}"></p>
                                    <p><a href="${pageLink @ extension = 'html'}">${headline}</a></p>

                                </div>
                            </sly>
                            <sly data-sly-test="${!announcementPresent}">
                                <div class="news-article">
                                    <p>${list.noNewsMessage @ context='html'}</p>
                                </div>
                            </sly>

                            <sly data-sly-test="${list.pagination.totalPages>1}">
                            	<sly data-sly-test="${list.pagination}" data-sly-use.tpl="sunlife/core/components/templates/pagination.html" data-sly-call="${tpl.pagination @ paginationObj = list.pagination, pageUrl = list.pageUrl}" />
                            </sly>
                        </div>
                    </sly>
                </div>
            </div>
        </div>
    </sly>
</sly>
<div data-sly-test="${!list.parentPath}" class="cq-placeholder" data-emptytext="${component.title}"></div>
