<sly data-sly-use.list="ca.sunlife.web.cms.core.models.AnnouncementList" data-sly-test="${list.listItems.size>0}">
        <div class="row article-lists">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="content-list">
                    <sly data-sly-list="${list.listItems}">
                        <li>
                            <sly data-sly-list.element="${item.elements}">
                                <sly data-sly-test="${element.name == 'newsroomPagePath'}" data-sly-test.pageLink="${element.value}" />
                                <sly data-sly-test="${element.name == 'newsroomHeading'}" data-sly-test.headline="${element.value}" />
                                <sly data-sly-test="${element.dataType == 'calendar'}" data-sly-use.tpl="sunlife/core/components/templates/calendar.html"
                                    data-sly-test.date="${element.value}" />
                            </sly>
                            <div class="content-list-summary">
                                <div class="date"><sly data-sly-call="${tpl.element @ date = date, format = list.dateFormat}"></sly></div>
                                <h2>
                                    <a href="${pageLink @ extension = 'html'}">${headline}</a>
                                </h2>
                            </div>
                        </li>
                    </sly>
                </ul>
                <sly data-sly-test="${list.pagination}" data-sly-use.tpl="sunlife/core/components/templates/pagination.html"
                        data-sly-call="${tpl.pagination @ paginationObj = list.pagination, pageUrl = list.pageUrl}" />
            </div>            
        </div>
</sly>

<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${template.placeholder @ isEmpty=list.listItems.size == 0, classAppend='cq-dd-contentfragmentlist'}"></sly>