{{#if utility-nav}}
{{> core-components-content-region-language-menu}}
{{> core-components-content-search-bar}}
    <div class="utility-nav-wrapper">
        <div class="utility-nav-links">
            <ul role="navigation" aria-label="Helpful links">
                {{#each utility-list}}
                    <li>
                     <a href="{{link}}">{{text}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
            {{#if lang}}
            <div class="utility-nav-links">
                <ul>
                    <li id="language-btn-container" role="navigation" aria-label="Region & Language Selection">
                        <div class="lang-btn" id="language-btn" role="button" data-target="#sun-language"       
                            data-toggle="collapse" tabindex="0" aria-expanded="false">
                            <label class="sr-only">
                                Expand or collapse region and language section
                                Développer ou réduire le volet Régions et langue
                            </label>
                            {{#if region}}
                                CANADA | EN
                            {{else}}
                                ENGLISH
                            {{/if}}
                        </div>
                    </li>
            {{/if}} 
                    {{#if srch}}
                        <li class="search-icon-container" role="search" aria-label="search-bar">
                            <div class="srch-btn" id="search-btn" data-target="#sun-search"        
                             data-toggle="collapse" role="button" tabindex="0" aria-expanded="false">
                                <a>
                                 Search
                                    <label class="sr-only">
                                        Expand or collapse search
                                        Développer ou réduire le volet recherche
                                    </label>
                                </a>
                            </div>
                        </li>
                </ul>
                    {{/if}}
            </div>
    </div>
{{/if}}