@import '../../../base/core';
.utility-nav-wrapper {
    text-align: right;
    padding: 0 10px 8px 0;
    line-height: 18px;
    .utility-nav-links {
        display: inline-block;
        ul{
            margin-bottom: 0;
            li {
                padding: 0 5px 0 5px;
                display: inline-block;
            }
            a {
                font-weight: 400;
                font-size: 14px;
            }
        }
        .lang-btn {
            padding: 8px 11px 8px 16px;
            font-size: 14px;
            color: $blue-gradient-color;
            &::after {
                font-family: FontAwesome;
                content: "\f107";
            }
        }
        .lang-true{
            background: $white-shade;
            border-color: $white-shade;
            border-style: solid;
            border-width: 15px 1px 5px;
            padding: 10px 11.3px 4px 17px;
            box-shadow: 0 4px 20px -10px $black-shade;
            display: inline;
            &::after {
                font-family: FontAwesome;
                content: "\f106";
            }
        }
        .srch-btn {
            text-decoration: none;
            padding: 0 0 0 2px;
            font-size: 14px;
            padding-top:8px;
            &::after {
                font-family: FontAwesome;
                content: "\f002";
                color: $blue-gradient-color;
            }
        }
        .srch-btn[aria-expanded="true"] {
            color: $blue-gradient-color;
            background: $medium-yellow-background;
            margin-top:0px;
            padding: 8px 10px 4px 10px;
        }
    }
}
// IE specific scss
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .lang-true{
        box-shadow: 0 4px 20px -4px $black-shade !important;
    }
}
