@import '../../../base/core';
.utility-nav-wrapper {
    text-align: right;
    padding: 0 15px 16px 0px;
    .utility-nav-links {
        display: inline-block;
       li {
            padding: 0 5px 0 5px;
            font-size: 14px;
            display: inline-block;
        }
        a {
            font-weight: 400;
        }
        .lang-btn {
            padding: 8px 11px 0 16px;
            color: $blue-gradient-color;
            &::after {
                font-family: FontAwesome;
                content: "\f107";
            }
        }
        .lang-btn[aria-expanded="true"] {
            background: $white-shade;
            border-color: $white-shade;
            border-style: solid;
            border-width: 5px 1px 1px;
            padding: 10px;
            box-shadow: 0 4px 20px -10px $black-shade;
            &::after {
                font-family: FontAwesome;
                content: "\f106";
            }
        }
        .srch-btn {
            text-decoration: none;
            padding: 8px 0 0 2px;
            &::after {
                font-family: FontAwesome;
                content: "\f002";
                color: $blue-gradient-color;
            }
        }
        .srch-btn[aria-expanded="true"] {
            color: $blue-gradient-color;
            background: $medium-yellow-background;
        }
    }
}