@import '../../../base/core';

.search-bar-wrapper{
  background-image: linear-gradient(to left, $medium-orange 10%, $cherry-red 40%, $dark-maroon 90%);
  .search-box{
    position: relative;
  }
  .collapse-x {
    color: $white-shade;
  }
  .cmp-form-button {
    background-color: $white-shade;
    color: $dark-blue;
    border: 2px solid $dark-blue;
  }
}