@import '../../../base/core';
.technology-whiteboard{
    .outage-item{
        padding: 32px 0;
        .outage-date{
            padding-bottom: 16px;
            font-size: 0.875rem;
            line-height: 18px;
            text-transform: uppercase;
        }
        .outage-title{
            padding-bottom: 32px;
            .fa-exclamation-triangle{
                color: $medium-red-color;
                font-size: 1.3rem;
            }
            .fa-exclamation-circle{
                color: $primary-yellow-background;
                font-size: 1.5rem;
            }
            .outage-title-text{
                font-size: 1.5rem;
                line-height: 30px;
                color: $medium-blue-color;
                font-weight: 400;
            }
        }
        .outage-status{
            font-size: 1rem;
            font-weight: 700;
            line-height: 26px;
            color: $dark-grey-color;
        }
        .outage-teaser{
            font-size: 1rem;
            line-height: 26px;
            color: $dark-grey-color;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
    .outage-pagination{
        .pagination {
            border-radius: 0;
            display: inline-block;
            padding-left: 0;
            margin: 20px 0;
            .pagination-item {
                width: 32px;
                height: 32px;
                .txt {
                    color:$medium-blue-color;
                }
                .active-text {
                    display: none;
                }
            }
            .pagination-item.active .active-text {
                display: block;
            }
            li {
                list-style: none;
                display: inline-block;
                a {
                    margin-left: 0;
                    padding: 5px 11.2px;
                    border-width: 0;
                    .fa {
                        display: none;
                    }
                }
            }
            li.active a {
                background-color: $medium-yellow-background;
                border-radius: 4px;
                z-index: 1;
            }
            li.previous {
                margin-right: 35px;
                border-radius: 0;
                span {
                    color: $medium-blue-color;
                }
            }
            li.next {
                margin-left: 35px;
                a {
                    border-radius: 0;
                    color: $medium-blue-color;
                    padding-left: 13px;
                    padding-right: 0;
                }
            }
            li.disabled>a {
                opacity: .5;
                display: none;
                background-color: $white-shade;
                border-color:$grey-previous-background-color;
                cursor: not-allowed;
            }
            .ellipsis {
                pointer-events: none;
                width: 32px;
                a {
                    padding: 5px 8.16px !important;
                    span {
                        color: $medium-blue-color;
                    }
                }
            }
        }
        .pagination>li>a {
            padding: 4px 13px;
        }
        .pagination-indicator {
            text-align: center;
            font-size: .75rem;
            margin-bottom: 30px;
        }
        .pagination.last-page{
            .next.disabled{
                display:none;
            }
            .previous{
                width:80%;
                a{
                    .fa{
                        display:none;
                    }
                    span{
                        display:block;
                        width:100%;
                    }
                }
            }
            .link-to-first{
                width:20%
            }
        }
    }
}

@media (max-width: $mobile-screen-max){
    .technology-whiteboard{
        .outage-pagination {
            .pagination.first-page {
                width: 80%;
                font-size:0;
                &>li{
                    display:none;
                }
                li.next{
                    width:100%;
                }
            }
            .pagination li.next {
                display: inline-block;
                width: 60%;
                padding: 0;
                margin-left:0;
                a{
                    display: block;
                    width: 100%;
                    background-color: $medium-yellow-background;
                    color: $medium-blue-color;
                    text-align: center;
                    margin: 0;
                    
                }
            }
            .pagination li.previous {
                margin-right: 0;
                width: 20%;
                padding-right: 8px;
                display: inline-block;
                font-size:1rem;
                float:left;
                a{
                    background-color: $medium-yellow-background;
                    color: $medium-blue-color;
                    text-align: center;
                    display: block;
                    float:none;
                    span{
                        display:none;
                    }
                    span.fa{
                        display:inline;
                    }
                }
            }
            .pagination li.previous.disabled{
                display:none;
            }
            .pagination li.link-to-first {
                width: 20%;
                padding: 0 8px 0 0;
                display: inline-block;
                float:left;
                a{
                    background-color:$medium-yellow-background;
                    color: $medium-blue-color;
                    text-align: center;
                    display: block;
                    float:none;
                    span{
                        display: none;
                    }
                    span.fa{
                        display:inline;
                    }
                }
            }
            .pagination li.link-to-first.active{
                display:none;
            }
            .pagination-indicator{
                text-align: center;
                font-size: 0.75rem;
                margin-bottom: 30px;
            }
            .pagination > li {
                display: none;
                font-size: 1rem;
            }
            .pagination{
                width:80%;
            }
        }
    }
}

@media (min-width: $tab-screen-min) {
    .technology-whiteboard{
        .pagination-indicator{
            display:none;
        }
        .pagination.last-page .previous{
            width:auto;
        }
        .pagination{
            width:70%;
        }
        .pagination.last-page{
            .link-to-first{
                width:auto;
            }
        }
    }
}