// remove once local code deleted
$header-size: 2em;
$font-color: #343434;
$content-width: 1200px;
// Color-variables
$white-shade: #ffffff;
$dark-grey-color: #424242;
$medium-blue-color: #004C6C;
$light-cool-blue-color:#F4F7F6;
$light-grey-20: #F7F7F7;
$light-grey-shade-color:#F4F7F8;
$light-grey-background:#f8f8f8;
$light-orange-20:#FEEDD2;
$transparent:transparent;
$medium-yellow-background:#FFCB05;
$primary-yellow-background:#EAAB00;
$medium-grey-background:#9a9a9a;
$cool-blue-color: #4A7283;
$light-grey-color: #D7D7D7;
$light-orange-color: #feedd2;
$blue-gradient-color:#003946;
$black-shade:#000000;
$border-grey-color:#aaaaaa;
$background-black-ovrelay-color:rgba(0,0,0,0.5);
$dark-grey-shade:#888888;
$light-grey-shade:#B4B4B4;
$medium-red-color:#B81F41;
$right-nav-cta-background: #feedd2;

// media-query variables
$mobile-screen-min: 320px;
$mobile-screen-max: 767px;
$tab-screen-min: 768px;
$tab-screen-max: 1024px;
$desktop-screen-min: 1025px;
$desktop-screen-max: 1280px;
$large-desktop-screen-min: 1281px;
