// remove once local code deleted
$header-size: 2em;
$font-color: #343434;
$content-width: 1200px;
// Color-variables
$white-shade: #ffffff;
$dark-grey-color: #424242;
$medium-blue-color: #004C6C;
$light-cool-blue-color:#F4F7F6;
$light-grey-20: #F7F7F7;
$light-orange-20:#FEEDD2;
$transparent:transparent;
$medium-yellow-background:#FFCB05;
$primary-yellow-background:#EAAB00;
$medium-grey-background:#9a9a9a;
$cool-blue-color: #4A7283;
$light-grey-color: #D7D7D7;
$light-orange-color: #feedd2;
$blue-gradient-color:#003946;
