@import '../../../base/core';
@import '../../../../core/base/core.scss';

.image.circular-image.circle-150-desktop.round-border {
    background-image: none;
    border: 4px solid $cinnamon-orange;
    padding: 0px !important;
}
.image.circular-image.circle-220-desktop.round-border {
    background-image: none;
    border: 4px solid $cinnamon-orange;
    padding: 0px !important;
}