<div class="site-level-notification" data-section="{{data-section-site-level}}">
    <div class="close-div">
        <span class="sr-only">Close site level notification</span>
        <span class="fa fa-remove collapse-x" tabindex="0">&nbsp;</span>
    </div>
    <p>This is a site level notification text</p>
</div>