@import '../../../base/core';

    .full-width-image{
        img{
            width:100%;
        }
    }
    .overflow-hidden{
        overflow: hidden;
    }

    @media (max-width: $mobile-screen-max) and (min-width: $mobile-screen-min){
        .img{
            max-width: 100%;
        }
    }
/* image responsive for images start*/
/*img{
    max-width:100%;
    height:auto;
  } */
/* image responsive for images end */ 