@import '../../../base/core';

    .full-width-image{
        img{
            width:100%;
        }
    }
    .overflow-hidden{
        overflow: hidden;
    }

/* image responsive for images start*/
img{
    max-width:100%;
    height:auto;
  }
/* image responsive for images end */ 