@import '../../../base/core';
    @media (min-width:$tab-screen-min){
        .full-width-image{
            img{
                width:100%;
            }
        }
    }
    
    .overflow-hidden{
        overflow: hidden;
    }
//from phone to ipad only
    @media (max-width: 1023px) {
        img{ 
            max-width:100%;
        }
        
    }
/* image responsive for images start*/
/*img{
    max-width:100%;
    height:auto;
  } */
/* image responsive for images end */ 