.bottom-footer-section .text h3 {
  font-size: 18px;
  font-weight: 700; }

@media (min-width: 768px) {
  .bottom-footer-section .text .collapse {
    display: block !important; }
  .bottom-footer-section .text .accordion-heading {
    pointer-events: none;
    line-height: 23px; }
  .bottom-footer-section .text .list-div {
    margin-top: 5px; } }

@media (max-width: 767px) {
  .bottom-footer-section .text {
    padding: 0 5px; }
    .bottom-footer-section .text .collapse.show {
      display: block !important; }
    .bottom-footer-section .text .accordion-heading[aria-expanded="false"]:before {
      content: "\f0da";
      font-family: FontAwesome;
      padding-right: 10px; }
    .bottom-footer-section .text .accordion-heading[aria-expanded="true"]:before {
      content: "\f0d7";
      font-family: FontAwesome;
      padding-right: 10px; }
    .bottom-footer-section .text .accordion-heading {
      cursor: pointer; }
    .bottom-footer-section .text .list-div {
      text-align: center;
      margin-bottom: 20px; } }
