@import '../../../base/core';
@import '../../../../core/base/core.scss';

/*this is in reference to data table in the slgi style guide*/
.cmp-table-data-content{
    border: 1px solid $grey-previous-background-color;
    table{
        tbody{
            tr{
                th{
                    background:$dark-blue;
                    color:$white-shade;
                }
                td{
                    &:nth-of-type(odd) {
                        background-color: $white-smoke;
                      }
                }
            }
        }
    }
   
}

/* Data content table which is specific to SLGI styles start here */
.data-content-table{
    border: 1px solid $grey-previous-background-color;
    tbody{
        tr{
            > * {
                padding: 24px;
            }
            &:not(:last-child) {
                border-bottom: 1px solid $light-grey-color; /* first row underline color */
            }
            &:nth-of-type(2) {
                border-bottom: 1px solid $grey-previous-background-color; /* remainder row underline color */
            }
            th{
                background:$white-smoke;
            }
        }
    }
}