@import '../../../base/core';
.left-nav-wrapper{
    .cmp-navigation__group{
        .cmp-navigation__item--level-0{
            padding-left: 8px;
            .cmp-navigation__item-link{
                color: $dark-grey-color;
                font-size: 1rem;
                line-height: 26px;
            }
            .cmp-navigation__group{
                margin-top: 16px;
                .cmp-navigation__item--active{
                    .cmp-navigation__item-link.cmp-navigation__item--active{
                        border-bottom: 2px solid $medium-yellow-background;
                        font-weight: 700;
                        text-decoration: none;
                    }
                    .cmp-navigation__item-link.cmp-navigation__item--active[data-toggle="collapse"]{
                        border: none;
                        font-weight: 400;
                    }
                }
                .cmp-navigation__item--level-1{ 
                    padding: 0 0 8px 8px;
                    .cmp-navigation__group{
                        margin-top: 0;
                        .cmp-navigation__item--level-2{
                            padding: 8px 0 0 8px;
                        }
                        .cmp-navigation__item--active{
                            .cmp-navigation__item-link{
                                font-weight: 700;
                                text-decoration: none;
                            }
                        }
                    }
                    .cmp-navigation__item-link{
                        padding: 0;
                        font-size: 1rem;
                        color: $medium-blue-color;
                        font-weight: 400;
                        text-decoration: none;
                    }
                    .cmp-navigation__item-link[aria-expanded="false"]:after {
                        content: "\f105";
                        font-family: FontAwesome;
                        padding-right: 10px;
                        padding-left: 4px;
                    }
                    .cmp-navigation__item-link[aria-expanded="true"]:after {
                        content: "\f107";
                        font-family: FontAwesome;
                        padding-right: 10px;
                        padding-left: 4px;
                    }
                    a {
                        word-break: keep-all;
                    }
                }
                // .cmp-navigation__item--active{
                //     .cmp-navigation__item-link{
                //         font-weight: 700;
                //         text-decoration: none;
                //     }
                // }
            }
        }
    }
}
@media (max-width: $tab-screen-max) {
    .left-nav-wrapper, .left-nav-list-wrapper {
        display: none;
    }
}

/** IE specific css**/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.left-nav-wrapper {
		.cmp-navigation__group {
			.cmp-navigation__item--level-0 {
				.cmp-navigation__item-link[data-toggle] {
					display: inline-block;
					max-width: 220px;
				}
			}
		}
	}
}