@import '../../../../../prerequisite/core-base/styles/includes/bootstrap-mixins.scss';
 
.sl-btn.btn {
    min-height: 3rem;
}

@include media-breakpoint-up(md) {
 
    .sl-btn.btn {
        max-width: 340px;
        min-width: 100px;
    }

    a.sl-btn.btn {
        display: inline-block;
    }
   
}