@import 'bootstrap/scss/mixins';
@import '@sunlife/ui-styles/base/variables.scss';
 
 
@include media-breakpoint-up(md) {
 
    .sl-btn.btn {
        max-width: 275px;
        min-width: 100px;
        height: auto;
    }

    a.sl-btn.btn {
        display: inline-block;
    }
   
}