@import "../../../base/core";

.primary-blue-button-form {
  button {
    background-color: $dark-blue;
  }
}
.primary-yellow-button-form {
  button {
    color: $dark-blue;
  }
}
.secondary-button-form {
  button {
    background-color: $white-shade;
    color: $dark-blue;
    border: 2px solid $dark-blue;
  }
}
