.footer-copyright-wrapper {
  background-color: #002D3D; }

/* Tablet Only Styles Start*/
@media (min-width: 768px) {
  .footer-copyright-wrapper {
    display: inline-flex;
    flex-direction: row-reverse;
    width: 100%; } }

/* Tablet Only Styles End */
/* Mobile Only Styles Start*/
/* Mobile Only Styles End*/
