@import '../../../prerequisite/base/styles/core.scss';
.icon-display-none{
  display: none;
}
.icon-dislay-visible{
  padding-right: 5px;
  display: block;
}
.span-yellow-border{
  border-bottom: 2px solid $medium-yellow-background;
}
.desktop-primary-navigation{
  margin-left: 166px;
    .navigation{
        position: static;
        padding: 0;
        height:64px;
    }
    .box-class{
      background-color: $transparent;
     // padding:15px 24px;
      z-index: 3000;
      position: relative;
      box-shadow: 0px 2px 0px 0px $white-shade;
      .region>a:before{
        color:$medium-blue-color;
      }
    }
      .nav>li>a{
        padding-top:0px;
        padding-bottom:0px;
        height: 50px;
        line-height: 50px;
        &:hover{
          @extend .box-class;
        }
      }
      .nav-item > a:focus {
        background-color: $transparent; 
      }
      .navbar-new .nav-item>a:after {
        font-family: FontAwesome;
        content: " \f107";
    }
    .navbar-new .region>a:before{
      font-family: FontAwesome;
        content: " \f041";
        color:$medium-yellow-background;
    }
    .navbar-new .region>a:after{
      font-family: FontAwesome;
        content: " ";
    }
    .navbar-new .no-icon>a:after{
      font-family: FontAwesome;
        content: " ";
    }
    .nav-item.open{  
      
      background-color: $white-shade;   
      border-bottom: none;
      z-index: 1;
      box-shadow: 0 35px 0px 0px $white-shade, 0 -2px 0px 0px $white-shade, 0px 0px 2px 0px rgba(0, 0, 0, 0.25), 0px 10px 15px 0px rgba(0, 0, 0, 0.25);     
      .menu-content{
        padding: 0;
        position: absolute;
        width: 100%;
    }
   
    }
    .region.open{
      a:before{
        color: $medium-blue-color;
      }
    }
    .nav .open>a{
      background-color:$white-shade;
      height:66px;
      border-bottom: 6px solid $white-shade;
    }  
}

.desktop-primary-navigation-yellow{
  margin-left: 166px;
  .navigation{
    position: static;
    padding: 0;
}
  .nav-item:hover{
    background: $primary-yellow-background ;
    text-decoration: none;
    font-style: normal;
    z-index:9999;
    box-shadow: -1px 1px 25px 4px rgba(0, 0, 0, 0.25);
  }
  .box-class-yellow{
    background: $primary-yellow-background ;
    text-decoration: none;
    font-style: normal;
    z-index:9999;
    box-shadow: -1px 1px 25px 4px rgba(0, 0, 0, 0.25);
  }
  .nav>li>a:hover{
      @extend .box-class-yellow;
    }
    .nav-item.open{  
      background-color: $primary-yellow-background;   
      border-bottom: none;
      z-index: 1;
      box-shadow: 0 35px 0px 0px $white-shade, 0 0px 0px 0px $white-shade, 0px 0px 2px 0px rgba(0, 0, 0, 0.25), 0px 10px 15px 0px rgba(0, 0, 0, 0.25);     
      .menu-content{
        padding: 0;
        position: absolute;
        width: 100%;
    }
}
.nav .open>a{
  background-color:$primary-yellow-background;
}  

}
.dropdown-toggle.nav-active:focus{
background:none;
outline:2px solid $blue-colour-focus;
}


